<style>
    .h4 {
        color: #3F51B5;
        font-weight: 600 !important;
    }
    
    .cke_top {
        display: none !important;
    }
    
    p {
        padding: 0 !important;
        margin: 0 !important;
        line-height: 2 !important;
    }
    
    .cke_inner.cke_reset {
        height: 130px;
    }
    
    .cke_contents {
        height: 100px !important;
    }
    
    .cke_editable {
        font-size: 16px;
        line-height: 1 !important;
        -moz-line-height: 3;
        word-wrap: break-word;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="lis.antiobiotics.culture.lbl"></h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="backToList()">
        </div>
    </div>
</div>
<div class="row">
    <patientbanner patientid="currentcontext.pid"></patientbanner>
</div>

<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form" ng-submit="saveItem()">
        <div class="col-sm-12">
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="specimen" translate="lis.antiobiotics.specimen.lbl"></label>
                <div class="col-sm-12">
                    <ui-select ng-model="item.SpecimenId" ng-change="getSpecimenName($select.selected.Text)">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.SampleMaster | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <!-- <input type="text" class="form-control" name="specimen" ng-model="item.Specimen" placeholder="" required> -->
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="Site" translate="Site"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="Site" ng-model="item.Blood" placeholder="">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="microno" translate="Micro No."></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="microno" ng-model="item.MicroNo" placeholder="">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="colonycount" translate="Growth"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="colonycount" ng-model="item.ColonyCount" placeholder="">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="orgisolate" translate="lis.antiobiotics.orgisolate.lbl"></label>
                <div class="col-sm-9">
                    <ui-select ng-model="item.OrganismIsolatedId" ng-change="getOrganismIsolated($select.selected.Text)">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.OrgIsolation | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn-add" tabindex="-1" ng-click="addorganismmap()" uib-tooltip="{{ 'Add OrgnaismMap' }}" tooltip-placement="bottom">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="culturerprt" translate="Culture Report"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="culturerprt" ng-model="item.CultutreReport" placeholder="">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-12 h4">
                <span class="organism">{{OrganismIsolated}}</span>
            </div>
            <div class="col-sm-12 culture_lists">
                <div class="col-sm-6">

                    <table class="col-sm-12 table table-responsive table-bordered custom-table" border="0">
                        <thead>
                            <td class="cus-col tbl-header tab1">
                                <span>Antibiotics</span>
                            </td>
                            <td class="cus-col tbl-header tab2">
                                <span>Results</span>
                            </td>
                            <td class="cus-col tbl-header tab2">
                                <span>MIC</span>
                            </td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in antibiotics1">
                                <td class="cus-col tbl-header">
                                    <span>{{item.Antibiotics}}</span>
                                </td>
                                <td>
                                    <ui-select ng-model="item.ResultId" name="templatename">
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.CultureResult | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="mch" ng-model="item.MCH" placeholder="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <div class="col-sm-6">
                    <table class="col-sm-12 table table-responsive table-bordered custom-table">
                        <thead>
                            <td class="cus-col tbl-header tab1">
                                <span>Antibiotics</span>
                            </td>
                            <td class="cus-col tbl-header tab2">
                                <span>Results</span>
                            </td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in antibiotics2">
                                <td class="cus-col tbl-header">
                                    <span>{{item.Antibiotics}}</span>
                                </td>
                                <td>
                                    <ui-select ng-model="item.ResultId" name="templatename">
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.CultureResult | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="gramstain" translate="lis.antiobiotics.gramstain.lbl"></label>
                <div class="col-sm-12 rmk">
                    <react-component name="RichTextEditor" props="{ richtext: item.GramStain, onContentChange: onGramStainChange, height: 420 }"></react-component>
                    <!-- <input type="text" class="form-control" name="gramstain" ng-model="item.GramStain" placeholder=""> -->
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="remark" translate="Remarks"></label>
                <div class="col-sm-12 rmk">
                    <!-- <react-component name="RichTextEditor" props="{ richtext: null, onContentChange: onRemarksChange, height: 420 }"></react-component> -->
                    <react-component name="RichTextEditor" props="{ richtext: item.Remarks, onContentChange: onRteChange, height: 420 }"></react-component>
                    <!-- <input type="text" class="form-control" name="remark" ng-model="item.Remarks" placeholder=""> -->
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="pull-right">
        <button type="button" class="draftbutton" translate="common.saveaction.lbl" ng-click="save()"></button>
    </div>
</div>