<div class="row">
    <h4 class="col-sm-6" translate="lis.analyzer.pagetitle.lbl"></h4>
    <div class="col-sm-6">
        <button class="btn-add" tabindex="-1" ng-click="addNew()"
            uib-tooltip="{{ 'lis.analyzer.pagetitle.lbl' | translate }}" tooltip-placement="bottom">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>

        <!-- <button class="btn bt-color3 btn-xs pull-right btn-filter" ng-click="openAdvancedFilter()"
            uib-tooltip="{{ '  clinicalmaster.serviceitem-list.filter-tooltip.lbl' | translate }}"
            tooltip-placement="bottom"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;
            <span translate="clinicalmaster.serviceitem-list.filter.lbl"></span>
        </button> -->
        <!--<button class="btn prv-color12 btn-xs pull-right" ng-click="findAsset()"   uib-tooltip="{{ 'assetmanagement.assets.findasset-tooltip.lbl' | translate }}" tooltip-placement="bottom">
        <i class="fas fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<strong class="btn-fontsize" translate="assetmanagement.assettab.pickasset.lbl"></strong>
        </button>-->
        <!-- <button class="btn bt-color2 btn-xs pull-right btn-filter" ng-click="addNew()"
            uib-tooltip="{{ 'lis.analyzer.pagetitle.lbl' | translate }}" tooltip-placement="bottom">
            <i class="fa fa-plus" aria-hidden="true"></i><span
                translate="clinicalmaster.serviceitem-list.addnew.lbl"></span></button> -->
    </div>
</div>

<div class="row">
    <div class="col-sm-3 form-group">
        <label class="col-sm-12 control-label" translate="lis.analyzer.code.lbl"></label>
        <div class="col-sm-12">
            <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.Code" placeholder="">
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="col-sm-12 control-label"
            translate="lis.analyzer.equipmentname.lbl"></label>
        <div class="col-sm-12">
            <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.AssetName"
                placeholder="">
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="col-sm-12 control-label" translate="lis.analyzer.name.lbl"></label>
        <div class="col-sm-12">
            <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.Name" placeholder="">
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="col-sm-12 control-label" translate="lis.analyzer.status.lbl"></label>
        <div class="col-sm-12">
            <ui-select ng-model="currentfilter.ActiveStatusId" ng-change="getList()" class="filter-combo">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>