<style>
    #mainresponsivetablecontrol {
        height: 400px;
        overflow: auto;
    }

    .formRoot {
        min-height: 280px;
    }
    button.addbutton {
    margin-bottom: 9px !important;
    margin-top: 4px !important;
    position: relative;
    right: 7px;
}
td#dateformat table th {
    min-width: 10px;
    background-color: #ffffff !important;
    /* background-color: #01748b !important; */
    color: #ffffff !important;
    font-size: 14px;
    text-align: center !important;
    border: 1px solid #ffffff !important;
}
.uib-datepicker.ng-scope.ng-isolate-scope {
    width: 100%;
}
ul.uib-datepicker-popup.dropdown-menu.ng-scope {
    width: 21%;
}
</style>
<div class="">
    <div class="col-sm-12">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <!--<button class="btn bt-color3 btn-xs pull-right btn-filter" ng-click="" uib-tooltip="{{ 'appmanager.users.advancefilter-tooltip.lbl' | translate  }}"
                tooltip-placement="bottom"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;<span translate="clinicalmaster.serviceitem-list.filter.lbl"></span></button>-->
            <button class="btn-add" ng-click="addNew()"
                uib-tooltip="{{ 'assetmanagement.assetaccessories.tooltip.lbl' | translate}}"
                tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>


    <div id="">
        <div class="formRoot bg-pattern">
            <div class="col-sm-12">
                <table class="table table-hover table-responsive table-bordered">
                    <thead class="bg-subhead">
                        <tr>
                            <th class="col-sm-2"><span translate="assetmanagement.assetaccessories.accessoriesname.lbl"></span>
                                
                                    <span class="mandatory-asterix">*</span>
                            </th>
                            <th class="col-sm-2"><span translate="assetmanagement.assetaccessories.serialno.lbl"></span>
                            </th>
                            <th class="col-sm-2"><span
                                    translate="assetmanagement.assetaccessories.warrentyfrom.lbl"></span></th>
                            <th class="col-sm-1"><span
                                    translate="assetmanagement.assetaccessories.warrentyto.lbl"></span>
                                <span class="mandatory-asterix">*</span>
                            </th>
                            <th class="col-sm-1"><span translate="assetmanagement.assetaccessories.podate.lbl"></span>
                            </th>
                            <th class="col-sm-2"><span translate="assetmanagement.assetaccessories.cost.lbl"></span>
                                <span class="mandatory-asterix">*</span></th>
                            <th class="col-sm-2"><span
                                    translate="assetmanagement.assetaccessories.description.lbl"></span></th>
                            <th class="col-sm-1"><span translate="common.actions_col.lbl"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.items | filter:{Status:1}">
                            <td>
                                <input type="text" class="form-control" for="accessoriesname" name="accessoriesname"
                                    ng-model="item.AccessoriesName" placeholder="" required>
                            </td>
                            <td align="center">

                                <input type="text" class="form-control" name="serialno" ng-model="item.SerialNO"
                                    placeholder="">
                            </td>
                            <td id="dateformat">
                                <input type="text" class="form-control" name="warrentyfrom" ng-date-object
                                    datepicker-options="datePickerOptions"
                                    show-button-bar="{{datePickerOptions.showButtonBar}}"
                                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                                    placeholder="{{datePickerOptions.placeholder}}"
                                    ng-click="warrentyfromPopup = { opened: true }" is-open="warrentyfromPopup.opened"
                                    ng-model="item.WarrentyFrom">

                            <td id="dateformat">
                                <input type="text" class="form-control" name="warrentyto" ng-date-object
                                    datepicker-options="datePickerOptions"
                                    show-button-bar="{{datePickerOptions.showButtonBar}}"
                                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                                    placeholder="{{datePickerOptions.placeholder}}"
                                    ng-click="warrentytoPopup = { opened: true }" is-open="warrentytoPopup.opened"
                                    ng-model="item.WarrentyTo">
                            </td>
                            <td id="dateformat">
                                <input type="text" class="form-control" ng-date-object
                                    datepicker-options="datePickerOptions"
                                    show-button-bar="{{datePickerOptions.showButtonBar}}"
                                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                                    placeholder="{{datePickerOptions.placeholder}}"
                                    ng-click="poPopup = { opened: true }" is-open="poPopup.opened" ng-model="item.PO">
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" ng-model="item.Cost">
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" ng-model="item.Description">
                            </td>
                            <td>
                                <!--<td><button class="btn btn-success btn-xs" ng-click="">-->
                                <!--<i class="fa fa-pencil" aria-hidden="true"></i> -->
                                <button class="btn btn-danger btn-xs" style="margin-left:3px;"
                                    ng-click="deleteItem($index,item)">
                                    <img class="drhms-edit-button" src="assets/svg/delete.svg" alt="">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="fooder-bgs" style="margin-bottom: 36px !important;">
        <div class="row ">
            <div class="col-sm-12">
                <div class="col-sm-4 col-md-4">
                    <div class="pull-left">
                        <button type="button" class="btn pyr-color10 btn-sm" ng-click="backToList()"><i
                                class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;<strong class="btn-fontsize"
                                translate="common.backaction.lbl"></strong></button>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8">
                    <div class="pull-right">

                        <button type="button" class="draftbutton" translate="Save"
                            ng-click="saveItem()"></button>
                        <!-- <button id="btnCancelForm" type="button" class="draftbutton" ng-click="backToList()" translate="common.cancelaction.lbl"></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>