<style>
    .tabview {
        border: 1px solid gainsboro;
        margin-top: 0px;
        padding: 11px;
        position: absolute;
    }
</style>
<div class="row page-header" id="assets">
    <h3 class="col-sm-5 mt0 active" translate="patientportal.medicineorder.pagetitle.lbl"></h3>
    <div class="col-sm-7  ">
    </div>
</div>
<div class="row tablebox" id="tablebox">
    <div class="col-sm-12">
        <uib-tabset active="active" id="assettabs">
            <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="switchTab(tab)" disable="tab.canDisable">
            </uib-tab>
        </uib-tabset>
        <div ui-view class="tabview"></div>
        <div class="fooder-bgs"></div>
    </div>
</div>