<style>
    .form-horizontal .form-group {
        height: 62px;
    }
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    h4.header {
        color: #F44336;
        font-size: 14px !important;
        padding: 0px 10px;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" ng-module="currentcontext.patinfo">
           Discharge History
        </h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="backToList()">
        </div>
    </div>
</div>
<table>
    <tbody>
        <tr>
            <td>
                Admission Created By
                <br>
                Admission Created Date
            </td>
            <td>
                {{item.encounter.CreatedByUser.Title.Description}} {{item.encounter.CreatedByUser.FirstName}}
                <br>
                {{item.encounter.AdmissionDate | date:'short'}}
            </td>
        </tr>
        <tr>
            <td>
                Discharge Adviced By
                <br>
                Discharge Adviced Date
            </td>
            <td>
                {{item.dischargeEvent.FitFordischargeBy.Title.Description}} {{item.dischargeEvent.FitFordischargeBy.FirstName}}
                <br>
                {{item.dischargeEvent.FitFordischargedate | date:'short'}}
            </td>
        </tr>
        <tr>
            <td>
                Clinical Discharged By
                <br>
                Clinical Discharge Date
            </td>
            <td>
                {{item.dischargeEvent.ClicalDischargeBy.Title.Description}} {{item.dischargeEvent.ClicalDischargeBy.FirstName}}
                <br>
                {{item.dischargeEvent.ClinicalDischargeDate | date:'short'}}
            </td>
        </tr>
        <tr>
            <td>
                Financial Discharged By
                <br>
                Financial Discharge Date
            </td>
            <td>
                {{item.billdetails.BillGeneratedUser.Title.Description}} {{item.billdetails.BillGeneratedUser.FirstName}}
                <br>
                {{item.billdetails.BillDateTime | date:'short'}}
            </td>
        </tr>
        <tr>
            <td>
                Physical Discharged By
                <br>
                Physical Discharge Date
            </td>
            <td>
                {{item.dischargeEvent.PhysicalDischargeBy.Title.Description}} {{item.dischargeEvent.PhysicalDischargeBy.FirstName}}
                <br>
                {{item.dischargeEvent.PhysicalDischargeDate | date:'short'}}
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>