<style>
    #btnAddMember {
        margin-left: 15px;
        margin-top: -12px;
    }

    .panel-body {
        padding: 15px;
        margin-left: 0px;
        margin-top: -53px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(app/img/bg-body.jpg);
        background-repeat: repeat;
        overflow: auto;
    }

    .modal-content .panel-body {
        overflow: inherit;
    }

    /* .table-uigrid-members {
        height: 200px !important;
    } */

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 0px;
        border: 1px solid #ededed;
        border-radius: 4px;
        background: rgb(233, 246, 253);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(233, 246, 253, 1) 0%, rgba(211, 238, 251, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(233, 246, 253, 1) 0%, rgba(211, 238, 251, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, rgb(247, 252, 253) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb', GradientType=0);
        /* IE6-9 */
        box-shadow: 4px 2px 13px -7px rgba(0, 0, 0, 0.75);
    }

    .formactionbar {
        padding: 5px 15px;
        height: 40px;
        background-color: #ccecf5;
    }

    .custom-modal-header {
        margin-bottom: 10px;
        background-color: #597a9a;
        color: #fff;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: -1px 3px 20px 7px rgba(249, 244, 244, 0.5);
    }

    .modal-header {
        padding: 4px 10px;
        border-bottom: 1px solid #e5e5e5;

    }

    .grid-root {
        padding-right: 0px;
        padding-left: 0px;
    }

    .page-header h4 {
        padding-top: 2px;
        padding-left: 9px;
    }


    .padding-top1 {
        padding-top: 2px;
    }

    .filter-area {
        margin: 3px 11px 3px!important;
    }

    #purchaserequest .table-control {
        height: 468px !important;
    }

    /***/

    .fooder-bg {
        width: 87% !important;
    }

    .consumption_batch .dropdown-menu {
        min-width: 429px !important;
    }

    #mainresponsivetablecontrol>.table>tbody>tr>td>autosearch>.autosearch-div>.custom-popup-wrapper>.dropdown-menu {
        overflow-x: hidden;
    }

    table.table.table-bordered.table-condensed.dropdown-menu {

        max-height: 130px !important;
        height: auto !important;
    }

    #mainresponsivetablecontrol>.table>tbody>tr>td>autosearch>.autosearch-div>.custom-popup-wrapper>.dropdown-menu {
        /* margin-top:-81px !important; */
    }

    .adj_height {
        min-height: 200px;
    }
    .panel-footer.formactionbar {
    background-color: #ffffff !important;
    clear: both;
}
</style>
<div class="modal-header custom-modal-header">
    <h4 class="mt0 col-sm-11 text-white" translate="billing.receipt-list.manage_adjustments.lbl"></h4>
    <div class="col-sm-1">
            <button id="btnCancelForm" type="button" class="btn btn-danger btn-sm ng-scope"
            ng-click="cancelCallback()">
            <span class="ng-scope">X</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <div class=" table-control  bg-pattern">
                <div class="table-height formRoot adj_height" id="mainresponsivetablecontrol">
                    <table class="table table-hover table-responsive table-bordered">
                        <thead class="bg-subhead">
                            <tr>
                                <th class="fs-12 col-sm-2">
                                    <span translate="billing.receipt-list.receiptno.lbl"></span>
                                </th>
                                <th class="fs-12 col-sm-2">
                                    <span translate="billing.receipt-list.receiptdate.lbl"></span>
                                </th>
                                <th class="fs-12 col-sm-2">
                                    <span translate="billing.receipt-list.receiptamount.lbl"></span>
                                </th>
                                <th class="fs-12 col-sm-2">
                                    <span translate="billing.receipt-list.adjustedamount.lbl"></span>
                                </th>
                                <th class="fs-12 col-sm-2">
                                    <span translate="billing.receipt-list.availableamount.lbl"></span>
                                </th>
                                <th class="fs-12 col-sm-2">
                                    <span translate="billing.receipt-list.adjustamount.lbl"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="advanceitem in advanceDetails | filter:{Status:1}">
                                <td class="fs-12 col-sm-3">
                                    <span> {{ advanceitem.ReceiptNumber }}</span>
                                </td>
                                <td class="fs-12 col-sm-3">
                                    <span> {{ advanceitem.ReceiptDateTime &nbsp;|&nbsp; date : 'dd-MMM-yyyy' }}</span>
                                </td>
                                <td class="fs-12 col-sm-2 currency-align">
                                    <span> {{ advanceitem.AmountPaid }}</span>
                                </td>
                                <td class="fs-12 col-sm-2 currency-align">
                                    <span> {{ advanceitem.AmountAdjusted }}</span>
                                </td>
                                <td class="fs-12 col-sm-2 currency-align">
                                    <span> {{ advanceitem.AmountAvailable }}</span>
                                </td>
                                <td class="fs-12 col-sm-2">
                                    <input type="text" min="0" ng-keypress="numberonly($event)" ng-pattern="/^\d+(\.)?(\d+)?$/" class="form-control" ng-model="advanceitem.AdjustAmount"
                                        placeholder="0.00" ng-disabled="advanceitem.FullAmountAdjusted" ng-change="computeAdvance(advanceitem)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel-footer formactionbar mar0">
    <div class="pull-right">
          <!-- <button type="button" class="draftbutton" ng-click="cancelCallback()" translate="common.cancelaction.lbl"></button> -->
        <button type="button" class="btn dem-color4 text-white btn-sm" translate="common.advanceadjust-action.lbl" ng-click="AdjustAdvance()"></button>
    </div>
</div>