<style>
    .panel-footer {
        background-color: #ccecf5 !important;
    }

    .grid1485611170638 .ui-grid-coluiGrid-00AD {
        min-width: 163px;
        max-width: 163px;
    }

    .ui-select-match-text {
        width: 59px;
        white-space: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .filter-area {
        padding-bottom: 6px;
    }

    .priority {
        background-color: rgba(241, 208, 63, 0.34);
    }

    button {
        margin: 2px 3px;
    }

    .ui-grid-render-container-left .ui-grid-viewport {
        height: 300px !important;
    }

    .formactionbar {
        margin-bottom: 5px;
        padding: 5px 15px;
        height: 40px;
        background-color: #ccecf5;
        position: fixed;
        bottom: 0px;
    }

    .table-uigrid {
        height: 500px !important;
    }

    .ui-grid-render-container-body .ui-grid-viewport {
        height: 300px !important;
    }

    .ui-grid-canvas,
    .ui-grid-viewport {
        width: 102%!important;
    }

    .modal-lg {
        width: 1200px !important;
    }

    #patientsearchheight .table-uigrid {
        height: 399px !important;
    }

    #patientsearchheight .ui-grid-viewport {
        /* height: 369px !important; */
    }

    @media (device-width:100vh) and (device-width:100vw){
        #patientsearchheight .ui-grid-viewport{
            height:67vh;
            min-height:67vh;
         }
}

    .finance_total td span {
        float: right;
    }

    .finance_total td {
        padding: 0px 36px 8px 3px !important;
        width: 10%;
    }

    .finance_total th {
        width: 27%;
    }

    .finance_total .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        border: none;
    }

    .adj_innertotal {
        height: 39px;
        margin-left: 7px !important;
        /* width: 99%; */
        position: fixed;
        width: 86.5%;
        bottom: 39px;
        
    }
    #patientsearchheight .ui-grid-viewport{
        height:61vh !important;
        min-height: 61vh;
    }
    table.table.table-bordered.table-condensed.dropdown-menu thead tr{
        background-color:#0073bc !important
    }
    /* table#bannerdetails table.table.table-bordered.table-condensed.dropdown-menu{
        height: 243px !important;
    } */
    patientsearch table.table.table-bordered.table-condensed.dropdown-menu {
    width: 100% !important;
    overflow: auto;
    height: 243px !IMPORTANT;
}
patientsearch table thead tr td{
background-color:#0073bc !important
}
</style>

<div class="row filter-area">
    <div class="col-sm-12">
        <div class="row">
            <!--
            <div class="col-sm-4">
                <label class="col-sm-5 control-label" for="facility" translate="inventory.stockrequests.facility.lbl"></label>
                <div class="col-sm-7">
                    <ui-select ng-model="currentfilter.FacilityId" name="facility" class="filter-combo" required>
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
			-->
            <div class="col-sm-6">
                <label class="col-sm-3 control-label" translate="billing.patientadjustmentinfo.patientsearch.lbl"></label>
                <div class="col-sm-9">
                    <patientsearch controlid="'pid'" ng-keyup="moveHeaderFocus('pid')" patientid="currentfilter.PatientId" class="col-sm-8 logo"
                        name="txtpatientsearch" patientinfo="selectedPatient" patientchange="patientChange()" tabindex="tabindexmap.patienttabindex"
                        isdisabled="" filterconfig="patientfilterconfig"></patientsearch>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="fromdate" translate="billing.patientadjustmentinfo.fromdate.lbl"></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="fromdate" ng-change="getList()" ng-date-object uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                            placeholder="{{datePickerOptions.placeholder}}" ng-click="fromdatePopup = { opened: true }" is-open="fromdatePopup.opened"
                            ng-model="currentfilter.FromDate">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="todate" translate="billing.patientadjustmentinfo.todate.lbl"></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="todate" ng-change="getList()" ng-date-object uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                            placeholder="{{datePickerOptions.placeholder}}" ng-click="todatePopup = { opened: true }" is-open="todatePopup.opened"
                            ng-model="currentfilter.ToDate">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid onerow-filter" id="patientsearchheight">
    <div ui-grid="vm.gridConfig" class="table-uigrid height-control"></div>
    <!--
    <div class="col-sm-12">
        <div class="fooder-bgs">
            <div class="col-sm-8">
                <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                    ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
            </div>
            <div class="col-sm-4  padding-top5">
                <label>Total Bill Amount</label>&nbsp;:&nbsp;
                <span class="countbg">{{currentcontext.TotalBillAmount}}</span>
            </div>
        </div>
    </div>
    -->

</div>
<div class=" footerbar0">
    <div class="col-sm-11 well filter-area col-sm-12 adj_innertotal fullreg-profiles">

        <table class="table finance_total">

            <tr style="font-weight: bold; color:#fff;">
                <th colspan="5">Total</th>
                <td>
                    <span class="text-white">{{currentcontext.TotalBillAmount | displaycurrency}}</span>
                </td>
                <td>
                    <span class="text-white">{{currentcontext.TotalPaidAmount | displaycurrency}}</span>
                </td>
                <td>
                    <span class="text-white">{{currentcontext.TotalAdjustedAmount | displaycurrency}}</span>
                </td>
                <td>
                    <span class="text-white">{{currentcontext.TotalUnAdjustedAmount | displaycurrency}}</span>
                </td>
                <td>
                    <span class="text-white">{{currentcontext.TotalDueAmount | displaycurrency}}</span>
                </td>
            </tr>

        </table>
    </div>
</div>

<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>