<link href="app/css/checkbox-radiobuttons.css" rel="stylesheet">
<style>
    .modal-lg {
        width: 50% !important;
    }
    
    .appt-top-label {
        margin-top: 5px !important;
    }
    
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: -1px 3px 20px 7px rgba(249, 244, 244, 0.5);
    }
    
    .modal-header {
        padding: 4px 10px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .custom-modal-header {
        padding: -1px;
        background-color: #597a9a;
        color: #fff;
    }
    
    .panel-footer {
        padding: 4px 15px;
        background-color: #bdd8fb;
        border-top: 1px solid #bdd8fb;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    
    .panel-body {
        padding: 1px;
        height: 300px !important;
        overflow-y: auto;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(app/img/bg-body.jpg);
        background-repeat: repeat;
        overflow: auto;
    }
    
    .custom-modal-header {
        margin-bottom: 0px;
        padding-left: 19px !important;
    }
    
    @media (max-width: 768px) {
        .modal-dialog {
            margin: 90px 10px 10px 181px !important;
        }
        .custom-modal-header {
            padding: 0px;
            padding-top: 7px !important;
        }
    }
    
    @media (max-width: 1360px) {
        .custom-modal-header {
            padding: 0px;
            padding-top: 3px;
        }
    }
</style>

<div class="appt-root-div">
    <div class="col-sm-12 custom-modal-header">
        <h4>Print</h4>
    </div>
    <div class="panel-body">
        <div class="col-sm-12" id="boostraptablecontrol">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Print Template</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HousekeepRequest Form</td>
                        <td>
                            <div class="checkbox checkbox-success"><input id="checkbox1" type="checkbox" checked> <label for="checkbox1"></label></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Concern Form</td>
                        <td>
                            <div class="checkbox checkbox-success"><input id="checkbox2" type="checkbox" checked> <label for="checkbox2"></label></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Wrist Band</td>
                        <td>
                            <div class="checkbox checkbox-success"><input id="checkbox3" type="checkbox" checked> <label for="checkbox3"></label></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Barcode</td>
                        <td>
                            <div class="checkbox checkbox-success"><input id="checkbox4" type="checkbox" checked> <label for="checkbox4"></label></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="panel-footer formactionbar">
            <div class="pull-right">
                <button class="btn btn-inverse btn-sm ng-scope" translate="common.printaction.lbl"></button>
                <button id="btnCancelForm" type="button" class="draftbutton" ng-click="cancelCallback()" translate="common.cancelaction.lbl"></button>
            </div>
        </div>
    </div>
    </form>
</div>