<html>

<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        .under-line {
            border-bottom: 2px solid black;
            height: 20px;
        }

        .content * {
            font-size: 10px;
            font-family: sans-serif;
        }

        .border {
            border: 2px solid black;
        }

        .border tr>td {
            border-bottom: 2px solid black;
        }

        h3 {
            font-size: 14px !important;
            text-align: center;
        }

        td {
            vertical-align: top;
            padding: 05px;
            line-height: 0.8;
        }

        [noborder] {
            border-bottom: 0px !important;
        }

        [border-btm] {
            border-bottom: 2px solid black !important;
        }

        .tbno-border {
            border-top: 0px !important;
            border-bottom: 0px !important;
        }

        .tr-bot tr {
            border-bottom: 2px solid;
        }

        [vertical-btm] {
            vertical-align: bottom;
        }

        .box {
            border: 1px solid;
        }

        .small td {
            line-height: 1.7 !important;
            padding: 0;
            padding-left: 6px;
        }

        p {
            margin: 5px;
        }

        [no-pad] {
            padding: 0;
        }

        .box {
            margin-bottom: 4px;
        }
    </style>
</head>

<body>
    <div class="content">
        <h3>ANAESTHESIA RECORD</h3>
        <table class="border tr-bot">
            <tr>
                <td style="width: 10%;">Name </td>
                <td>: {{data.Patient.Title.Description}} {{data.Patient.FirstName}} {{data.Patient.MiddleName}}
                    {{data.Patient.LastName}}</td>
                <td style="width: 30%;">Sex/Age</td>
                <td>: {{data.Patient.Gender.Description}}/{{age data.Patient.DOB}}</td>
            </tr>
            <tr>
                <td>Ward/Bed</td>
                <td>:
                    {{data.Patient.Encounters.[0].WardMaster.WardName}}/{{data.Patient.Encounters.[0].WardRoomBedMaster.BedNo}}
                </td>
                <td>Admitted on</td>
                <td>: {{datetimeformat data.Patient.Encounters.[0].AdmissionDate}}</td>
            </tr>
            <tr>
                <td>IPD No</td>
                <td>: </td>
                <td>UHID No</td>
                <td>: {{data.Patient.MRN}}</td>
            </tr>
            <tr>
                <td>Diagnosis</td>
                <td>: </td>
                <td>Operation's Title</td>
                <td>: </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>: </td>
                <td>Relationship with the Patient</td>
                <td>: </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td style="width: 20%;" vertical-btm>Primary Consultant</td>
                <td border-btm></td>
            </tr>
        </table>
        <p>Allergies :</p>
        <table>
            <tr>
                <td style="width: 50%;">
                    <div class="box" style="height:60px">
                        <table>
                            <tr>
                                <td style="width:15%">ALERT</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>3</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="width: 50%;">
                    <div class="box" style="height:60px">
                        <table>
                            <tr>
                                <td>Diagnosis</td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Proposed operation</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width: 20%;">
                    <div class="box small">
                        <table>
                            <tr>
                                <td style="width:15%">Weight</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>BMI</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box small">
                        <table>
                            <tr>
                                <td style="width:15%">Hb/Hct</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%">TLCI</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%">DC</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%">Platelets</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%">BT/CT</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%">PT/INR</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%">APTTK</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box small">
                        <table>
                            <tr>
                                <td style="width:15%">Smoker</td>
                                <td>
                                    Y/N
                                </td>
                            </tr>
                            <tr>
                                <td>Alchol</td>
                                <td>
                                    Y/N
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box small">
                        <table>
                            <tr>
                                <td style="width:15%">HBSAg</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%">HIV</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:65%">Blood Group</td>
                                <td>
                                    <p style="border-bottom: 1px dotted; margin-top:15px;"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="box" style="height:75px">
                        <table>
                            <tr>
                                <td>Current Health</td>
                            </tr>
                            <tr>
                                <td>Anesthetic History</td>
                            </tr>
                            <tr>
                                <td>Exercise Tolerance</td>
                            </tr>
                        </table>
                    </div>
                    <table>
                        <tr>
                            <td style="width: 50%;">
                                <div class="box" style="height:126px">
                                    <table>
                                        <tr>
                                            <td>CVS</td>
                                        </tr>
                                        <tr>
                                            <td>ECG</td>
                                        </tr>
                                        <tr>
                                            <td>ECHO</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="box" style="height:126px">
                                    <table>
                                        <tr>
                                            <td>Nervous Systemy</td>
                                        </tr>
                                        <tr>
                                            <td>Carotids</td>
                                        </tr>
                                        <tr>
                                            <td>CT/MRI/USG</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td style="width: 50%;">
                                <div class="box" style="height:95px">
                                    <table>
                                        <tr>
                                            <td>R/s</td>
                                        </tr>
                                        <tr>
                                            <td>PFT/ABG</td>
                                        </tr>
                                        <tr>
                                            <td>CXR</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="box" style="height:90px">
                                    <table>
                                        <tr>
                                            <td>Diabetes</td>
                                        </tr>
                                        <tr>
                                            <td>Nil NIDOM IDOM </td>
                                        </tr>
                                        <tr>
                                            <td>F/PP/RBS</td>
                                        </tr>
                                        <tr>
                                            <td>Gryc Hb</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="box" style="height:65px">
                                    <table>
                                        <tr>
                                            <td>Urine</td>
                                        </tr>
                                        <tr>
                                            <td>Blood Urea</td>
                                        </tr>
                                        <tr>
                                            <td>Creatinine CR,CL</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="box" style="margin-left: 5px;">
            <table>
                <tr>
                    <td>Jaundice</td>
                    <td>Y/N</td>
                    <td>APD</td>
                    <td>Y/N</td>
                    <td>GI Bleed</td>
                    <td>Constipation</td>
                    <td></td>
                </tr>
                <tr>
                    <td>S. Bl</td>
                    <td></td>
                    <td>D/l</td>
                    <td></td>
                    <td>Albumin</td>
                    <td></td>
                    <td>Globulim</td>
                    <td>SGOT/PT</td>
                </tr>
                <tr>
                    <td>Alk Phos</td>
                    <td></td>
                    <td></td>
                    <td>NA/K/Ca/Me</td>
                    <td></td>
                    <td></td>
                    <td>Other</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <table>

            <td style="width:50%">
                <table>
                    <tr>
                        <td no-pad>
                            <div class="box">
                                <table>
                                    <tr>
                                        <td>AIRWAY ASSESSMENT</td>
                                    </tr>
                                    <tr>
                                        <td>Mounth opening</td>
                                    </tr>
                                    <tr>
                                        <td>TEETH</td>
                                    </tr>
                                    <tr>
                                        <td>Neck movements</td>
                                    </tr>
                                    <tr>
                                        <td>Soine</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td no-pad>
                            <div class="box">
                                <p>Anesthetic Plan</p>
                                <table>
                                    <tr>
                                        <td>MAC</td>
                                        <td>SEDN</td>
                                        <td>GA </td>
                                        <td>RA</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td no-pad>
                            <div class="box" style="height: 50px;">
                                <p>Current Medication</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>

            <td>

            </td>
        </table>
    </div>
</body>

</html>