<html>

<head>
    <style>
         .table1 {
            border: 1px solid black;
            border-bottom: 0px solid black;
            text-align: left;
            font-size: 13px;
        }




        .table3 {

            font-size: 13px;
            padding-top: 20px;
            margin-top: 30px;

        }

        .border {
            border-collapse: collapse;
            border-left: 1px solid black;
            font-size: 13px;
        }




        .size {
            border: 1px solid black;
            font-size: 13px;
            border-collapse: collapse;
            border-top: 0px solid black;
            border-bottom: 1px solid black;
        }

        .pageheader table tr td img {
            width: 100px;
            position: relative;
            bottom: 20px;
        }

        {{include '/Templates/assets/css/core.css'}}
    </style>
</head>

<body>
    <div id="pageHeader" class="pageheader">
        {{{include '/Templates/bewell-hospital/common/header.tpl.html' 'tpl'}}}
    </div>
    <div id="pageFooter">
        {{{include '/Templates/bewell-hospital/common/footer.tpl.html' 'tpl'}}}
    </div>
    <table class="table1" style="width:100%;">
        <tr>
            <td colspan="9" style="width:40%;"><b>PATIENT INFORMATION</td>  
        </tr>
        <tr>
            <td style="width:15%;"><b>Name</b></td>
            <td>:</td>
            <td style="width:30%;"><b>
                {{data.PatientABGChart.Patient.Title.Description}} {{data.PatientABGChart.Patient.FirstName}} {{data.PatientABGChart.Patient.MiddleName}}
                {{data.PatientABGChart.Patient.LastName}}</b></td>
            <td style="width:10%;"><b>DoctorName</b></td>
            <td>:</td>
            <td style="width:10%;">{{data.Encounter.Doctor.Title.Description}}
                {{data.Encounter.Doctor.FirstName}}
                {{data.Encounter.Doctor.LastName}}</td>
            <td style="width:15%;"><b>Ward</b></td>
            <td>:</td>
            <td style="width:20%;"><b>{{data.Encounter.WardMaster.WardName}}</b></td>

        </tr>
        <tr>
            <td><b>DOB</b></td>
            <td>:</td>
            <td>{{strtodate data.PatientABGChart.Patient.DOB}}</td>
            <td><b>UHID</b></td>
            <td>:</td>
            <td>{{data.PatientABGChart.Patient.MRN}}</td>
            <td><b>Room/Bed</b></td>
            <td>:</td>
            <td>{{data.Encounter.WardRoomMaster.RoomNo}} / {{data.Encounter.WardRoomBedMaster.BedNo}}</td>
            <!-- <td colspan="3"><img style="height: 30px; width: 100px;" src="{{barcode data.PatientVentilatorChart.Patient.MRN}}" /></td> -->
        </tr>
        <tr>
            <td ><b>Gender</b></td>
            <td>:</td>
            <td><b>{{data.PatientABGChart.Patient.Gender.Description}}</b></td> 
            <td colspan="3"><img style="height: 30px; width: 100px;"
                src="{{barcode data.PatientABGChart.Patient.MRN}}" /></td>
            <td><b></b></td>
            <td></td>
            <td><b></b></td>  
            
           
           </tr>
            <tr>
               <td style="width:14%;"><b>Age</b></td>
            <td>:</td>
            <td><b>{{data.PatientABGChart.Patient.Age}}</b></td>  
            <td><b></b></td>
            <td></td>
            <td><b></b></td> 
            <td><b></b></td>
            <td></td>
            <td><b></b></td> 
            </tr>
             <tr>
           
            <td><b>OP /IP No</b></td>
            <td>:</td>
            <td>{{data.PatientABGChart.Encounter.VisitIdentifier}}</td>
            <td><b></b></td>
            <td></td>
            <td><b></b></td> 
            <td><b></b></td>
            <td></td>
            <td><b></b></td> 
            
        </tr>

    </table>
    <table style="width:100%;">
        <tr>
            <td height="30" style="vertical-align:text-middle;font-size:10px;" align="center">
                <b>ABG Chart</b>
            </td>
        </tr>

    </table>

    <table border='1' class="size" style="width:100%;">
        <tr>
            {{#each data.ABGHeader}}
            <th style="width:10.8%" align="center">{{ABGParameters}}</th>
            {{/each}}
        </tr>
        {{#each data.ABGDetails}}
        <tr>
            {{#each ABGTimes}}
            {{setVariable 'ABGValues' ABGValues}} {{setVariable 'ABGQualifier' ABGQualifier}}
            {{#ifCond 'g.ABGQualifier' '==' 2}}
            <td style="width:10%;" class="textAlign">
                <div style="display:inline-block;color:red;">
                    <b>{{{getVariable 'g.ABGValues'}}}</b>
                </div>
            </td>
            {{/ifCond}} {{#ifCond 'g.ABGQualifier' '==' 3}}
            <td style="width:10%;" class="textAlign">
                <div style="display:inline-block;color:red;">
                    <b>{{{getVariable 'g.ABGValues'}}}</b>
                </div>
            </td>
            {{/ifCond}} {{#ifCond 'g.ABGQualifier' '==' 1}}
            <td style="width:10%;" class="textAlign">
                <div style="display:inline-block;">{{{getVariable 'g.ABGValues'}}}</div>
            </td>
            {{/ifCond}} {{#ifCond 'g.ABGQualifier' '==' null}}
            <td style="width:10%;" class="textAlign">
                <div style="display:inline-block;">{{{getVariable 'g.ABGValues'}}}</div>
            </td>
            {{/ifCond}}
            <!-- <td  style="width:4%"  align="center">{{ABGValues}}</td> -->
            {{/each}}
        </tr>
        {{/each}}
    </table>

    <table class="table3" style="width:100%;">
        <tr>
            <td style="width:80%;">
                <u>
                    <b></b>
                </u>
            </td>
            <td colspan="4" style="width:20%;">
                <b>Signature</b>
            </td>
        </tr>
    </table>
    <div style="width:100%; font-size:13px;">Printed On: {{now}}</div>
</body>

</html>