<link href="app/css/dashboard.css" rel="stylesheet">
<!DOCTYPE html>
<html>
<div class="row page-header second_nav">
    <h4 class="col-sm-12 mt0" translate="appointment.doctordashboard.pagetitle3.lbl"></h4>
</div>
<div id="cemr_dashboard">
    <div class="container">
        <div class="">

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" translate="appointment.doctordashboard.message.lbl"></h3>
                    </div>
                    <div class="panel-body">
                        you're braver than you, and strongerthan you seem, and smarter than you think
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 ">
                        <!-- small box -->
                        <div class="small-box batches" ng-click="approvallist()" ng-if="HasAccess('InsuranceDashboard', 'Approval_WorkLists')">
                            <div class="inner">
                                <h3 class="fs-40 text-white">{{Items.checkedincount}}</h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.approval.lbl"></p>
                            </div>
                            <div class="icon">

                                <i class="fa fa-file-text-o" style="color: white;" aria-hidden="true"></i>
                            </div>
                            <a class="small-box-footer" ng-click="approvallist()">More info &nbsp;
                                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-sm-4">
                        <!-- small box -->
                        <div class="small-box outpatient" ng-click="medicalaudit()" ng-if="HasAccess('InsuranceDashboard', 'Medical_Audits')">
                            <div class="inner">
                                <h3 class="fs-40 text-white"></h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.medicalaudits.lbl"></p>
                            </div>
                            <div class="icon">
                                    <span class="drhms-billing-btn drhms-outstandingbill-btn">
                                            <i class="fas fa-th-large" aria-hidden="true"></i>
                                        </span>

                                <!-- <img class="imgsrc" src="app/img/main/audit.png" style="margin-top: 1px; width:26px;margin-top: -7px;
                                width: 69px;font-size: 48px;position: absolute;right: 30px;top: 32px;transition: all .3s linear;"> -->
                            </div>
                            <a class="small-box-footer" ng-click="medicalaudit()">More info &nbsp;
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-sm-4 ">
                        <!-- small box -->
                        <div class="small-box medical-certificate" ng-click="claimprocess()" ng-if="HasAccess('InsuranceDashboard', 'Claim_Processes')">
                            <div class="inner">
                                <h3 class="fs-40 text-white">{{Items.checkedincount}}</h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.claimprocess.lbl"></p>
                            </div>
                            <div class="icon">
                                    <span class="drhms-billing-btn drhms-outstandingbill-btn">
                                            <i class="fas fa-th-large" aria-hidden="true"></i>
                                        </span>

                                <!-- <img class="imgsrc" src="app/img/main/claim(2).png" style="margin-top: 1px; width:26px;margin-top: -7px;
                                width: 69px;font-size: 48px;position: absolute;right: 30px;top: 32px;transition: all .3s linear;"> -->
                            </div>
                            <a ng-click="claimprocess" class="small-box-footer">More info &nbsp;
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="col-sm-4 ">
                        <!-- small box -->
                        <div class="small-box discount" ng-click="claimsubmission()" ng-if="HasAccess('InsuranceDashboard', 'Claim_Submissions')">
                            <div class="inner">
                                <h3 class="fs-40 text-white">{{Items.checkedincount}}</h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.claimsubmission.lbl"></p>
                            </div>
                            <div class="icon">
                                    <span class="drhms-billing-btn drhms-outstandingbill-btn">
                                            <i class="fas fa-th-large" aria-hidden="true"></i>
                                        </span>
                                <!-- <i class="fa fa-clone" style="color: white;" aria-hidden="true"></i> -->
                                <!-- <img class="imgsrc" src="app/img/main/claim.png" style="margin-top: 1px; width:26px;margin-top: -7px;
                                        width: 69px;font-size: 48px;position: absolute;right: 30px;top: 32px;transition: all .3s linear;"> -->
                            </div>
                            <a ng-click="claimsubmission()" class="small-box-footer">More info &nbsp;
                                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-sm-4 ">
                        <!-- small box -->
                        <div class="small-box billing" ng-click="claimjustification()" ng-if="HasAccess('InsuranceDashboard', 'Claim_Justifications')">
                            <div class="inner">
                                <h3 class="fs-40 text-white"></h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.claimjustification.lbl"></p>
                            </div>
                            <div class="icon">
                                    <span class="drhms-billing-btn drhms-outstandingbill-btn">
                                            <i class="fas fa-th-large" aria-hidden="true"></i>
                                        </span>
                                <!-- <img class="imgsrc" src="app/img/main/refund.png" style="margin-top: 1px; width:26px;margin-top: -7px;
                                        width: 69px;font-size: 48px;position: absolute;right: 30px;top: 32px;transition: all .3s linear;"> -->
                            </div>
                            <a ng-click="claimjustification()" class="small-box-footer">More info &nbsp;
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-sm-4 ">
                        <!-- small box -->
                        <div class="small-box bg-success" ng-click="insurancepolicies()" ng-if="HasAccess('InsuranceDashboard', 'Insurance_Policies')">
                            <div class="inner">
                                <h3 class="fs-40 text-white">{{Items.checkedincount}}</h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.insurancepolicies.lbl"></p>
                            </div>
                            <div class="icon">
                                    <span class="drhms-billing-btn drhms-outstandingbill-btn">
                                            <i class="fas fa-th-large" aria-hidden="true"></i>
                                        </span>
                                <!-- <i class="fa fa-users"  style="color: white;" aria-hidden="true"></i> -->
                                <!-- <img class="imgsrc" src="app/img/main/heart-insurance.png" style="margin-top: 1px; width:26px;margin-top: -7px;
                                        width: 69px;font-size: 48px;position: absolute;right: 30px;top: 32px;transition: all .3s linear;"> -->
                            </div>
                            <a ng-click="insurancepolicies()" class="small-box-footer">More info &nbsp;
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="col-sm-4 ">
                        <!-- small box -->
                        <div class="small-box worklist" ng-click="auditremarks()" ng-if="HasAccess('InsuranceDashboard', 'Create_AuditRemarks')">
                            <div class="inner">
                                <h3 class="fs-40 text-white">{{Items.checkedincount}}</h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.auditremarks.lbl"></p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-briefcase" style="color: white;" aria-hidden="true"></i>
                            </div>
                            <a ng-click="auditremarks()" class="small-box-footer">More info &nbsp;
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-sm-4 ">
                        <!-- small box -->
                        <div class="small-box medical-certificate" ng-click="medicalremarks()" ng-if="HasAccess('InsuranceDashboard', 'Medical_Remarks')">
                            <div class="inner">
                                <h3 class="fs-40 text-white">{{Items.checkedincount}}</h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.medicalremarks.lbl"></p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-md" style="color: white;" aria-hidden="true"></i>
                            </div>
                            <a ng-click="medicalremarks()" class="small-box-footer">More info &nbsp;
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-sm-4 ">
                        <!-- small box -->
                        <div class="small-box promotional" ng-click="report()" ng-if="HasAccess('InsuranceDashboard', 'insuranceReports')">
                            <div class="inner">
                                <h3 class="fs-40 text-white">{{Items.checkedincount}}</h3>

                                <p class="text-white" style="font-size: 17px;" translate="appointment.doctordashboard.reports.lbl"></p>
                            </div>
                            <div class="icon">
                                    <span class="drhms-billing-btn drhms-outstandingbill-btn">
                                            <i class="fas fa-th-large" aria-hidden="true"></i>
                                        </span>
                                <!-- <i class="fa fa-graduation-cap" style="color: white;" aria-hidden="true"></i> -->
                                <!-- <img class="imgsrc" src="app/img/main/medical-history.png" style="margin-top: 1px; width:26px;margin-top: -7px;
                                                            width: 69px;font-size: 48px;position: absolute;right: 30px;top: 32px;transition: all .3s linear;"> -->
                            </div>
                            <a ng-click="medicalaudit()" class="small-box-footer">More info &nbsp;
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- <div class="container">
                    <div class="col-sm-6">
                        <ul class="nav nav-tabs bb-0">
                            <li class="active"><a data-toggle="tab" translate="appointment.doctordashboard.appoinments.lbl">General </a></li>
                            <li><a data-toggle="tab">Patient</a></li>
                            <li><a data-toggle="tab">Staff</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="media"
                                style="margin-left: 0 !important;background-color: #3c8dbc;color: white;font-weight: 700;line-height: 35px;line-height: 35px;margin: 9px;padding: 10px;">
                                <div class="media-left">
                                    <span>03/15/2019</span>
                                </div>
                                <div class="media-body">

                                    <p class="mb-0">Summer Vacation</p>
                                    <p class="mb-0">Summer Vacation starts from 2 June</p>
                                </div>
                            </div>
                            <div class="media"
                                style="margin-left: 0 !important;background-color: #3c8dbc;color: white;font-weight: 700;line-height: 35px;line-height: 35px;margin: 9px;padding: 10px;">
                                <div class="media-left">
                                    <span>03/15/2019</span>
                                </div>
                                <div class="media-body">

                                    <p class="mb-0">Summer Vacation</p>
                                    <p class="mb-0">Summer Vacation starts from 2 June</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"> Birthday's</p>
                        <ul class="nav nav-tabs bb-0">
                            <li class="active"><a data-toggle="tab">Today's </a></li>
                            <li><a data-toggle="tab">Upcoming</a></li>

                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="fooder-bgs">
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="pull-left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>