<div class="row">
    <div class="col-sm-6">
        <h4 translate="inventory.itemrackmapping.pagetitle.lbl"></h4>
    </div>
    <div class="col-sm-6">
        <div class="filters">
            <autosearch itemid="currentfilter.ItemMasterId" iteminfo="" rowdata="" config="vm.itemcontrolconfig"
                itemchange="getList()"></autosearch> &nbsp;&nbsp;
            <button type="button" class="btn-add" ng-click="addNew()" uib-tooltip="{{ 'ItemRack' | translate }}"
                tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <span class="drhms-billing-btn drhms-home-btn" ng-if="Context =='inventory'" ng-click="backtoList()"
                uib-tooltip="Dashboard" tooltip-placement="bottom"><i class="fas fa-home"></i></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="col-sm-4" translate="inventory.itemrackmapping.store.lbl"></label>
        <div class="col-sm-8">
            <ui-select ng-model="currentfilter.StoreMasterId" name="fstore" ng-change="getList()" required>
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 25 : 0}}
                    <span ng-if="$select.selected.Text.length>25">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.UserStores | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-4">
        <label class="col-sm-4" translate="inventory.itemrackmapping.producttype.lbl"></label>
        <div class="col-sm-8">
            <ui-select ng-model="currentfilter.ProductTypeId" ng-change="getList()" class="filter-combo">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 25 : 0}}
                    <span ng-if="$select.selected.Text.length>25">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.ProductType | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="fooder-bgs">
    <div class="row">
        <custom-table config="vm.gridConfig"></custom-table>
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>