<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="drhms-list-filters">
            <div class="col-sm-4">
                <label class="col-sm-4" translate="billing.pharmacy-billdetails.fromdate.lbl"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="FromBillDate" ng-date-object datetime-picker="{{datePickerOptions.dateTimeFormat}}"
                        datepicker-append-to-body="true" placeholder="{{datePickerOptions.placeholder}}" ng-click="FromBillDatePopup = { opened: true }"
                        is-open="FromBillDatePopup.opened" ng-model="currentfilter.FromBillDate">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-4" translate="billing.pharmacy-billdetails.todate.lbl"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="ToBillDate" ng-date-object datetime-picker="{{datePickerOptions.dateTimeFormat}}"
                        datepicker-append-to-body="true" placeholder="{{datePickerOptions.placeholder}}" ng-click="ToBillDatePopup = { opened: true }"
                        is-open="ToBillDatePopup.opened" ng-model="currentfilter.ToBillDate">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-4" translate="billing.opbilling-list.patientsearch.lbl"></label>
                <div class="col-sm-8">
                    <patientsearch  patientid="currentfilter.PatientId" class="logo" name="txtpatientsearch" patientinfo="selectedPatient"
                        isdisabled="" filterconfig="patientfilterconfig"></patientsearch>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-4" translate="Bill Number"></label>
                <div class="col-sm-8">
                    <input type="text" tabindex="-1" class="form-control" ng-model="currentfilter.BillNo" placeholder="">
                </div>
            </div>
            <div class="col-sm-4">
                <button class="draftbutton" ng-click="getList()">
                    <i class="fas fa-search" aria-hidden="true"></i>&nbsp;&nbsp;
                    <span translate="Fetch"></span>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="table-control formRoot pharmacycollections">
            <table class="table table-hover table-responsive table-bordered">
                <thead class="bg-subhead">
                    <tr>
                        <th>
                            <span translate="billing.paymodechange.billdate.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.paymodechange.billno.lbl"></span>
                        </th>
                        <!-- <th>
                                <span translate="billing.paymodechange.receiptno.lbl"></span>
                            </th> -->
                        <th>
                            <span translate="billing.paymodechange.patientname.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.paymodechange.doctor.lbl"></span>
                        </th>
                        <th>
                            <span translate="Bill Amount"></span>
                        </th>
                        <th>
                            <span translate="Paid Amount"></span>
                        </th>
                        <th>
                            <span translate="billing.paymodechange.status.lbl"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="billInfo in OPBills">
                        <td class="text-left">
                            <span>
                                {{billInfo.BillDateTime | date : 'dd/MMM/yyyy' }}&nbsp; {{billInfo.BillDateTime | date:'HH:mm'}}
                            </span>
                        </td>
                        <td class="text-left">
                            <span> {{ billInfo.BillNumber }}</span>
                        </td>
                        <!-- <td class="text-left">
                                <span> {{ billInfo.ReceiptNumber }}</span>
                            </td> -->
                        <td class="text-left">
                            <span> {{ billInfo.Patient.Title.Description }}&nbsp;{{ billInfo.Patient.FirstName }}&nbsp;{{ billInfo.Patient.LastName
                                }}</span>
                        </td>
                        <td class="text-left">
                            <span> {{ billInfo.DoctorName }}</span>
                        </td>
                        <td class="text-right">
                            <span>{{ billInfo.BillAmount | displaycurrency }}</span>
                        </td>
                        <td class="text-right">
                            <span>{{ billInfo.PaidAmount | displaycurrency }}</span>
                        </td>
                        <td>
                            <button type="button" tabindex="-1" class="drhms-edit-button" ng-click="editPatBills(billInfo)">
                                <img src="assets/svg/edit.svg" alt="">
                                <!-- <i class="fas fa-pencil-square-o" aria-hidden="true"></i> -->
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="fooder-bgs"></div>