<!-- top navbar-->
<header ng-include="'app/views/partials/top-navbar-patientemr.html'" class="topnavbar-wrapper"
    ng-controller="patientEMRTopbarController"></header>

<!-- sidebar-->
<aside ng-include="'app/views/partials/sidebar-patientemr.html'" ng-controller="PatientEMRSidebarController"
    class="aside"></aside>

<!-- Main section-->
<section>
    <!-- Page content-->
    <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
</section>
<!-- Page footer-->
<!-- <footer ng-include="'app/views/partials/footer.html'"></footer> -->

<!-- custom templates -->
<script type="text/ng-template" id="actionTemplate.html">
    <div class="ui-grid-cell-contents">
        <span ng-repeat="item in col.colDef.actions">
            <a class="grid-action" ng-if="!item.icon&&item.actiontype!='edit'&&item.actiontype!='delete'&&item.actiontype!='view'&&item.actiontype!='cancel'&&item.actiontype!='print'"
                ng-click="grid.appScope.handleEvents(item.actiontype,row)" translate="{{item.display}}"></a>

            <a class="grid-action-icon" ng-if="item.icon" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa {{item.icon}} btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='cancel'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-ban btn btn-danger btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='view'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-sticky-note-o btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='edit'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-pencil btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='delete'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-times btn btn-danger btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='print'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-print btn btn-info btn-rounded" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</script>

<script type="text/ng-template" id="conditionActionTemplate.html">
    <div class="ui-grid-cell-contents">
        <span ng-repeat="item in col.colDef.actions" ng-if="grid.appScope.canShowAction(item.actiontype,row)">
            <a class="grid-action" ng-if="!item.icon&&item.actiontype!='edit'&&item.actiontype!='delete'&&item.actiontype!='view'&&item.actiontype!='cancel'&&item.actiontype!='print'"
                ng-click="grid.appScope.handleEvents(item.actiontype,row)" translate="{{item.display}}"></a>

            <a class="grid-action-icon" ng-if="item.icon" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="btn btn-rounded fa {{item.icon}}" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='cancel'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-ban btn btn-danger btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='view'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-sticky-note-o btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='edit'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-pencil btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='delete'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-times btn btn-danger btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='print'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-print btn btn-info btn-rounded" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</script>