<header ng-include="'app/views/partials/top-navbar-patientportal'" ng-controller="TopbarController" class="topnavbar-wrapper">
</header>
<!-- <aside ng-include="'app/views/partials/sidebar.html'" ng-controller="SidebarController" class="aside"></aside>
<aside ng-include="'app/views/partials/offsidebar.html'" class="offsidebar"></aside> -->
<section>
    <div id="divgifLoading">Loading<span class="lod"></span></div>
    <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
</section>
<script type="text/ng-template" id="actionTemplate.html">
    <div class="ui-grid-cell-contents">
        <span ng-repeat="item in col.colDef.actions">

            <a class="grid-action-icon" ng-if="item.icon" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa {{item.icon}} btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='cancel'" uib-tooltip="cancel"
                    tooltip-placement="bottom" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-times btn btn-danger btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='view'" uib-tooltip="Details"
                    tooltip-placement="bottom" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-indent btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='edit'" uib-tooltip="Edit"
                    tooltip-placement="bottom" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-pencil btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='schedule'" uib-tooltip="Interview Schedule"
                            tooltip-placement="bottom" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                 <i class="fa fa-calendar btn btn-info btn-rounded" aria-hidden="true"></i>
          </a>
            <a class="grid-action-icon" ng-if="!item.icon&&item.actiontype!='edit'&&item.actiontype!='delete'&&item.actiontype!='gl'&&item.actiontype!='view'&&item.actiontype!='cancel'&&item.actiontype!='print'&&item.actiontype!='schedule'&&item.actiontype!='setting'&&item.actiontype!='ordertat'
            &&item.actiontype!='profilemapping'&&item.actiontype!='profileusers'&&item.actiontype!='mapping'&&item.actiontype!='printconfig'"  ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-history btn btn-primary btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='delete'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="Delete"
                    tooltip-placement="bottom" >
                <i class="fa fa-trash btn btn-danger btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='setting'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-cog btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='print'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-print btn btn-info btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='gl'" ng-click="grid.appScope.handleEvents(item.actiontype,row)"  uib-tooltip="GL"
            tooltip-placement="bottom">
                <i class="fa fa-history btn btn-info btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='ordertat'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="OrderTAT" tooltip-placement="bottom">
                <i class="fa fa-list btn btn-info btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='profilemapping'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="Profile Mapping" tooltip-placement="bottom">
                    <i class="fa fa-pencil btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='printconfig'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="Print Setting" tooltip-placement="bottom">
                        <i class="btn btn-success btn-rounded fa fa-print" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='mapping'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="Mapping" tooltip-placement="bottom">
                            <i class="btn btn-primary btn-rounded fa fa-history" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='profileusers'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="Profile User Mapping" tooltip-placement="bottom">
                    <i class="btn btn-success btn-rounded fa fa-users" aria-hidden="true"></i>
            </a>

        </span>
    </div>
</script>
<script type="text/ng-template" id="conditionActionTemplate.html">
    <div class="ui-grid-cell-contents">
        <span ng-repeat="item in col.colDef.actions" ng-if="grid.appScope.canShowAction(item.actiontype,row)">
            <a class="grid-action" ng-if="!item.icon&&item.actiontype!='edit'&&item.actiontype!='delete'&&item.actiontype!='view'&&item.actiontype!='cancel'&&item.actiontype!='emr'&&item.actiontype!='call'&&item.actiontype!='dem'&&item.actiontype!='print'&&item.actiontype!='ordertat'"
                ng-click="grid.appScope.handleEvents(item.actiontype,row)" translate="{{item.display}}"></a>

            <a class="grid-action-icon" ng-if="item.icon" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="btn btn-rounded fa {{item.icon}}" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='cancel'" ng-click="grid.appScope.handleEvents(item.actiontype,row)"   uib-tooltip="{{ 'common.cancelaction.lbl' | translate }}" tooltip-placement="bottom" >
                <i class="fa fa-times btn btn-danger btn-rounded" aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='view'" uib-tooltip="View"
            tooltip-placement="bottom"  ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-sticky-note-o btn btn-success btn-rounded"  uib-tooltip="View"
                tooltip-placement="bottom"  aria-hidden="true"></i>
            </a>

            <a class="grid-action-icon" ng-if="item.actiontype=='edit'" ng-click="grid.appScope.handleEvents(item.actiontype,row)"  uib-tooltip="Edit" tooltip-placement="bottom" >
                <i class="fa fa-pencil btn btn-success btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='delete'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-trash btn btn-danger btn-rounded" aria-hidden="true"></i>
            </a>
             <a class="grid-action-icon" ng-if="item.actiontype=='emr'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="{{ 'appointment.appointment-list.emraction.lbl' | translate }}" tooltip-placement="bottom">
                <i class="fa fa-hospital-o btn-warning btn-rounded" aria-hidden="true"></i>
            </a>
             <a class="grid-action-icon" ng-if="item.actiontype=='call'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="{{ 'ordermanagement.token.pagetitle.lbl' | translate }}" tooltip-placement="bottom">
                <i class="fa fa-phone btn btn-info btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='ordertat'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="OrderTAT" tooltip-placement="bottom">
                <i class="fa fa-list btn btn-info btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='dem'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" uib-tooltip="{{ 'appointment.appointment-list.demaction.lbl' | translate }}" tooltip-placement="bottom">
                <i class="fa fa-ticket btn-primary btn-rounded" aria-hidden="true"></i>
            </a>
            <a class="grid-action-icon" ng-if="item.actiontype=='print'" ng-click="grid.appScope.handleEvents(item.actiontype,row)" >
                <i class="fa fa-print btn btn-info btn-rounded" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</script>
<footer ng-include="'app/views/partials/footer.html'"></footer>
<a class="grid-action"
    ng-if="!item.icon&&item.actiontype!='edit'&&item.actiontype!='delete'&&item.actiontype!='view'&&item.actiontype!='cancel'&&item.actiontype!='print'"
    ng-click="grid.appScope.handleEvents(item.actiontype,row)" translate="{{item.display}}"></a>