<style>
    .au-card.recent-report {
        position: relative;
        float: left;
        width: 100%;
        height: 366px;
        box-shadow: 0 0 6px 0 grey;
        margin-bottom: 23px;
        border-radius: 11px;
        padding: 15px;
        padding-top: 0px;
    }

    h3.title-2 {
        color: #004e77;
    }

    .table-stats.order-table.ov-h .table th {
        min-width: 10px;
        background-color: #eaeaea !important;
        color: #444141 !important;
        font-size: 14px;
        border: 1px solid #d6d4d4 !important;
        padding: 8px !important;
    }

    .table-stats.order-table.ov-h .table td {
        min-width: 10px;
        font-size: 14px;
        border: 1px solid #f5f5f5 !important;
        padding: 8px !important;
        white-space: nowrap;
    }

    td {
        font-size: 14px;
        font-weight: 500;
        font-family: Poppins, sans-serif !important;
    }

    tr.backgroundColor-propertity td {
        background: #f05050;
        color: #fff;
    }

    table th {
        padding: 6px !important;
        font-size: 13px;
        font-weight: 700;
        color: #01145f;
        white-space: nowrap;
        text-transform: capitalize;
        font-family: nunito, sans-serif;
        background: #0074d930;
        height: 40px;
    }

    .table-stats.order-table.ov-h {
        overflow: auto;
        height: 40vh;
    }

    .table>tbody>tr>td>* {
        white-space: nowrap;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }
</style>
<div class="row">
    <h4 class="text-themecolor">Document Dashboard</h4>
</div>
<div class="row">
    <div id="dash-board">
        <div class="col-lg-6 clearfix">
            <div class="au-card recent-report">
                <div class="au-card-inner">
                    <h3 class="title-2" translate="Document Expiry For This Month"></h3>
                    <div class="recent-report__chart">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th translate="Document Name"></th>
                                        <th translate="Type"></th>
                                        <th translate="Expiry date"></th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="doc in documentlist">
                                    <td> <span class="patientName">{{doc.DocumentName}}</span>
                                    </td>
                                    <td>
                                        <span>{{doc.DocumentAttachmentType.Description}}</span>
                                    </td>
                                    <td> {{doc.ExpiryDate | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 clearfix">
            <div class="au-card recent-report">
                <div class="au-card-inner">
                    <h3 class="title-2" translate="Summary"></h3>
                    <div class="recent-report__chart">
                        <div class="table-stats order-table ov-h">
                            <div class="table-stats order-table ov-h">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th translate="Document Type"></th>
                                            <th translate="No.of Document"></th>
                                            <!-- <th translate="Total"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="summary in groupedDocumentsArray">
                                            <td>{{summary.DocumentAttachmentType.Description}}</td>
                                            <td><span>{{summary.DocumentCount}}</span></td>
                                            <!-- <td><span>{{summary.TotalAmount}}</span></td> -->
                                        </tr>
                                    </tbody>
                                </table>                                                             
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fooder-bgs"></div>