<link href="app/css/regbilling.css" rel="stylesheet">

<div class="row">
    <div class="col-sm-3">
        <h4 class="mt0" translate="Manage Documents"></h4>
    </div>
    <div class="col-sm-3">
        <label class="col-sm-4 control-label filter-lbl" translate="Type"></label>
        <div class="col-sm-8">
            <ui-select ng-model="currentfilter.DocumentStatusId" ng-change="getList()" class="filter-combo">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 15 : 0}}
                    <span ng-if="$select.selected.Text.length>15">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.DocumentStatus | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-3">
        <label class="col-sm-4" translate="appmanager.users.filter_status.lbl"></label>
        <div class="col-sm-8">
            <ui-select ng-model="currentfilter.ActiveStatusId" ng-change="getList()" class="filter-combo">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 15 : 0}}
                    <span ng-if="$select.selected.Text.length>15">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="filters">
            <div class="search">
                <input type="text" id="pid" class="form-control" on-enter="getList()"
                    ng-model="currentfilter.GlobalWord" translate translate-attr-placeholder="code/Name">
                <div class="drhms-search-icon"><i class="fas fa-search" aria-hidden="true"></i></div>
            </div>
            <button type="button" tabindex="-1" class="btn-add" ng-click="addNew()"
                uib-tooltip="{{ 'Add Document' | translate}}" tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-4">
        <label class="col-sm-4 control-label" translate="From Date"></label>
        <div class="col-sm-8">
            <div class="datepicker">
                <input type="text" class="form-control" name="filter_fromdate" ng-date-object datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}" ng-click="filter_fromdatePopup = { opened: true }"
                    is-open="filter_fromdatePopup.opened" ng-model="currentfilter.StartDate" ng-change="getList()">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4">
        <label class="col-sm-4 control-label" translate="To Date"></label>
        <div class="col-sm-8">
            <div class="datepicker">
                <input type="text" class="form-control" name="filter_todate" ng-date-object datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}" ng-click="filter_todatePopup = { opened: true }"
                    is-open="filter_todatePopup.opened" ng-model="currentfilter.EndDate" ng-change="getList()">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>