<style>
    .aside-collapsed footer {
        display: none;
    }

    .footer-content {
        display: none;
    }

    footer {
        display: none;
    }

    #loginPage .login {
        margin: 100px auto !important;
    }

    iframe.mockheightcontroler {
        height: 100vh;
    }

    /* @media only screen and (min-width: 993px) {
        .mockheightcontroler {
            height: 95% !important;
        }
    }

    @media only screen and (min-width: 1224px) {
        .mockheightcontroler {
            height: 95% !important;
        }
    } */
</style>
<iframe width="100%" height="100%" class="mockheightcontroler" style ng-src="{{currentcontext.targetUrl}}"></iframe>
<!-- <div class="fooder-bgs">
    <div class="row ">
        <div class="col-sm-12">
            <div class="pull-left">
                <button class="text-white btn prv-color12 btn-sm " ng-click="backToList()"><i class="fa fa-tachometer"
                        aria-hidden="true"></i>&nbsp;&nbsp;<strong class="btn-fontsize"
                        translate="patientemr.mock.emrdashboard.lbl"></strong></button>
                <button class="btn pyr-color10 btn-sm" ng-href="#/app/external/DOCTOR_DASHBOARD" ><i class="fa fa-user-md" aria-hidden="true"></i>&nbsp;&nbsp;<strong class="btn-fontsize" ng-if="!item.heading" translate="patientemr.mock.doctordashboard.lbl"></strong></button>
							  <button class="btn pyr-color10 btn-sm" ng-if="!item.heading" ng-href="#/BED_BOARD" ><i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;<strong class="btn-fontsize"  translate="patientemr.mock.bedboard.lbl"></strong></button>
            </div>
        </div>
    </div>
</div> -->