#invoicetype th.Date {
    width: 5%;
}
#invoicetype th.Customer.Name {
    width: 11%;
}
#invoicetype th.Sales.Person.Name {
    width: 13%;
}
th.Gross.Ammount {
    width: 11%;
}
th.Discount {
    width: 7%;
}
div#invoiceform input.autosearch-input {
    width: 74% !important;
}

div#invoiceform .btn-sm,
.btn-group-sm>.btn {
    padding: 7px 11px !important;
}

div#invoiceform .col-sm-5 {
    border-right: 2px solid #80808054;
    height: 249px;
}

div#invoiceform img.kuttyiocns {
    width: 100%;
    margin-top: 17px;
    position: absolute;
    border-radius: 37px;
    border: 2px solid gainsboro;
}

div#invoiceform .col-sm-3.img {
    margin-right: 18px;
}

div#invoiceform .col-sm-6.font {
    margin-top: 19px;
}

div#invoiceform .col-sm-7 {
    border-bottom: 1px solid gainsboro;
    padding-top: 4px;
}

div#invoiceform .col-sm-5.bond {
    border-right: 2px solid gainsboro;
    height: 103px;
    background: #f0f8fd;
}

div#invoiceform label.col-sm-4.control-label.ng-scope {
    white-space: nowrap;
}

div#invoiceform .col-sm-5 {
    width: 39.666667%;
}

div#invoiceform .col-sm-7 {
    width: 60.333333%;
}
div#invoiceform .col-sm-8.pdr0 {
display: flex;
}
div#invoiceform .currency {
    color: black !important;
    font-size: 21px;
    padding-top: 4px;
}

div#invoiceform .col-sm-6.font3>div {
    letter-spacing: 0.5px;
    color: #a2a1a1;
}

div#invoiceform .col-sm-6.font3 {
    padding-top: 6px;
}

div#invoiceform .font1 {
    font-size: 17px;
    color: black;
    font-weight: 700;
}

div#invoiceform .font2 {
    font-size: 12px;
    color: #ada8a8;
}

div#invoiceform i.far {
    font-size: 13px;
    color: #0089ff;
    margin-left: 5px !important;
}

div#invoiceform i.icofont-building-alt {
    color: #a2a0a0;
    margin-right: 5px;
}

div#invoiceform .col-sm-6 {
    padding: 0px 9px;
}

div#invoiceform .col-sm-6.font4 {
    padding-top: 6px;
    text-align: end;
}

div#invoiceform .col-sm-7>div {
    padding-bottom: 4px !important;
}

div#invoiceform i.icofont-caret-right {
    color: #2196f3;
}

.tab {
    overflow: hidden;
border: 1px solid #ccc;
background-color: white;
border-right: unset;
border-left: unset;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    cursor: pointer;
    padding: 7px 16px;
    transition: 0.3s;
    font-weight: 100;
    color: #2990e8;
font-size: 12px;
font-weight: 500
}


/* Change background color of buttons on hover */
.tab button:hover {
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #fff;
}
.tab button.active>div {
border-bottom: 2px solid #0089ff;
color: black;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.row.invoice {
height: 276px;
position: relative;
top: 10px;
}
.row.custom {
    height: 398px;
    position: relative;
    top: 10px;
}
h3 {
color: #3c3b3b;
font-weight: bolder !important;
margin-top: 10px;
}
div#invoiceform i.icofont-file-document {
color: #23a923;
margin-right: 6px;
}
div#invoiceform i.icofont-truck-loaded {
color: #FF5722;
font-size: 26px;
position: relative;
top: 3px;
margin-right: 6px;
}
div#invoiceform .col-sm-7.contact {
width: 60.333333%;
height: 249px;
}
div#invoiceform table.table.table-hover.table-responsive.table-bordered>tbody>tr>td>input.form-control {
width: 75px !important;
text-align: end;
}
div#invoiceform #searchbox {
height: 36px;
background: #f7f7f7;
width: 303px !important;
border: 0px;
margin-top: -1px;
}
div#invoiceform input.custom-checkbox.bot {
width: 80px;
border: unset;    
text-align: end;
}
div#invoiceform input.custom-checkbox.shade {
border: unset;
width: 73px;
text-align: end;
}
div#invoiceform .btn-danger {
color: #ffffff;
background-color: #ffffff;
border-color: #f04b4b;
padding: 0;
border-radius: 47px;
width: 23px;
height: 23px !important;
color: black;
}
button.editbtn {
background-color: #ffffff;
border-color: #71bcf7;
padding: 0;
border-radius: 47px;
width: 23px;
height: 23px;
color: black;
border: 1px solid #4091d2;
}
i.fa.fa-ellipsis-h {
position: relative;
top: 0px;
font-size: 12px;
}
button.cancelbtn {
background: #f14c4c;
color: white;
width: 82px;
border-radius: 4px;
border: 1px;
height: 33px;
}
div#invoiceform label.col-sm-12.control-label.ng-scope {
font-weight: 600;
}
div#invoiceform .form-horizontal .form-group {
height: 38px;
display: contents;
}
div#invoiceform textarea#w3mission {
height: 56px;
border: 1px solid gainsboro;
}
div#invoiceform textarea#w3mission {
height: 56px;
border: 1px solid gainsboro;
font-size: 11px;
font-family: 'Poppins', sans-serif;;
font-size: 13px !important;
font-weight: 600;
height: 86px;
}
div#invoiceform label.col-sm-12.control-label.ng-scope {
margin-bottom: 6px;
}
div#invoiceform p {
color: #bdb7b7;
}
div#selectborders {
display: flex;
width: 86.666667%;
}
button.uploadbtn {
display: flex;
width: 239px;
margin-left: 7px;
height: 31px;
border: 1px solid #c5c3c3;
border-radius: 4px;
}
.icoup {
border-right: 1px dashed #b1a9a9;
height: 27px;
padding: 0px 3px;
}
i.icofont-upload-alt {
font-size: 15px;
font-weight: 100 !important;
margin-right: 3px;
color: #888585;
position: relative;
top: 3px;
}
.up {
margin-left: 8px;
top: 1px;
position: relative;
margin-right: 24px;
}
input.adjust {
width: 97px;
height: 31px;
border: 1px dashed #c1bfbf;
}
div#invoiceform #bannerdetails tr td:nth-child(odd) {
padding: 12px 16px !important;
}
input.ip {
width: 97px;
height: 31px;
margin-top: 0px;
margin-left: 24px;
}
span.mark {
border: 1px solid;
background: white;
margin-left: 12px;
border-radius: 24px;
height: 23px;
width: 23px;
padding: 0px 7px;
color: black;
margin-top: 3px;
}
span.dis {
position: relative;
bottom: 14px;
margin-right: 61px;
}
div#invoiceform #bannerdetails span.btn.btn-default.form-control.ui-select-toggle {
width: 117px !important;
border: 1px solid #b1abab !important;
margin-top: 5px;
height: 32px !important;
}
div#invoiceform #bannerdetails tr td:nth-child(even) {
width: 28%;
}
td.fontbolder {
color: black !important;
font-weight: 500
}
div#invoiceform i.fa.fa-search {
margin-left: -30px;
}
/* button.addbutton {
background: #ffffff;
color: white;
width: 28px;
border: 1px;
border-radius: 3px;
height: 28px;
padding: 4px;
position: relative;
left: 10px;
bottom: 6px;
border: 1px solid #0c33a0;
color: black;
} */
i.fa.fa-cog {
position: relative;
left: 15px;
top: 8px;
color: #0f65a2;
}
div#invoiceform button.draftbutton {
background: #2196F3;
color: white;
width: auto;
margin-right: 2px;
border: 1px;
border-radius: 3px;
height: 33px;
width: 95px;
}
div#invoiceform label.col-sm-4.control-label.ng-scope {
white-space: nowrap;
margin-bottom: 17px;
}
div#invoiceform div#sales {
border: 1px solid #ebecec;
padding-top: 19px;
padding-bottom: 9px;
background: #fafbfb;
}
div#invoiceform div#sales>div>.col-sm-8 {
margin-bottom: 20px;
}
div#invoiceform div.custom-checkbox.bot {
float: right;
color: #908a8a;
font-weight: 700;
}
div#invoiceform div#sales>div>.col-sm-8>span.ng-scope {
color: #3e3c3c;
}
button.backbutton {
background: #e1e2e2;
color: #545151;
width: 83px;
padding: 3px;
border: 1px;
height: 33px;
border-radius: 4px;
font-weight: 100 !important;
}
div#invoiceform button.btn.btn-success {
background: #e1e2e2 !important;
border: 1px solid #e1e2e2;
color: #403f3f !important;
}
div#invoiceform button.btn.btn-success.clr {
background: #2faf7a !important;
color: white !important;
}
div#invoiceform button.btn.btn-success.clr2 {
background: #2faf7a !important;
color: white !important;
width: 1px;
position: relative;
right: 5px;
height: 35px;
border-radius: unset !important;
padding: 6px 14px !important;
border-top-right-radius: 4px !important;
border-bottom-right-radius: 4px !important;
}
div#invoiceform button.btn.btn-success.clr2>i.icofont-caret-up {
position: relative;
right: 8px;
color: white;
}
div#invoiceform button.addbutn {
border: unset;
background: white !important;
}
div#invoiceform i.icofont-plus-square {
color: #1a2da0;
font-size: 26px;
position: relative;
left: 6px;
}
div#invoiceform i.lni.lni-cog {
color: #1a2da0;
font-size: 16px;
position: relative;
left: 19px;
}
div#invoiceform .table>thead>tr>th {
padding: 7px 14px;
background: #e2f6fb !important;
color: #0e0e0ed6;
}
.red {
    color: #da1f1f !important;
}
#invoicetype span.btn.btn-default.form-control.ui-select-toggle {
    border: unset !important;
    border-bottom: 1px solid #c1b5b5 !important;
    width: 170px !important;
    height: 32px !important;
    background: white !important;
}
#invoicetype input.form-control {
    border: unset !important;
    border-bottom: 1px solid #c1b5b5 !important;
    width: 185px !important;
}
input.text-box.form-control {
    border: 1px solid gainsboro !important;
}
#selectborder span.btn.btn-default.form-control.ui-select-toggle {
    border: 1px solid #ded9d9 !important;
}
button.icosearch {
    height: 34px;
    border-color: gainsboro;
    border: 1px;
    background: #59cc78;
    padding: 0px 8px;
    color: white !important;
}
i.icofont-search {
    color: white;
}
#statement .col-md-4.form-group {
    display: block !IMPORTANT;
}
#statement span.btn.btn-default.form-control.ui-select-toggle {
    border: unset !important;
    border-bottom: 1px solid #c1b5b5 !important;
    width: 129px !IMPORTANT;
    height: 32px !important;
    background: white !important;
}
#statement input.form-control {
    border: unset !important;
    border-bottom: 1px solid #c1b5b5 !important;
    width: 138px !important;
    border: unset !important;
    border-bottom: 1px solid #c5bebe !important;
}
#statement .col-sm-10.bond {
    height: 103px;
    background: #f0f8fd;
}
.col-sm-12.bond {
    background: #f5f5f5a8;
    height: 194px;
}
/* div#invoiceform {
    overflow-y: scroll;
    height: 85vh;
} */
div#thcolor .table>thead>tr>th {
    background: #133686 !important;
    color: white;
}
.togradio {
    display: flex;
}