legend.legendStyle {
    font-size: 90%;
    color: #fff;
    background-color: #1ea9d0;
    font-weight: 700;
    box-shadow: 1px 3px 5px -1px #756f6f;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin: 69px !important;
}
#startdate table {
    margin: 0px !important;
    margin-bottom: 0px !important;
    table-layout: unset !important;
    width: 97%;
    max-width: 100%;
    padding: 15px !important;
}
#Enddate table {
    margin: 0px !important;
    margin-bottom: 0px !important;
    table-layout: unset !important;
    width: 97%;
    max-width: 100%;
    padding: 15px !important;
}
#startdate td {
    border: unset !important;
    padding: 0px;
}
#Enddate td {
    border: unset !important;
    padding: 0px;
}
#startdate table {
    border-collapse: collapse;
    border: unset !important;
}
#Enddate table {
    border-collapse: collapse;
    border: unset !important;
}
td.jqx-scheduler-time-column.jqx-widget-header.jqx-cell.jqx-grid-cell.jqx-item.jqx-center-align.jqx-scheduler-time-column-header-cell {
    background: white !important;
    border: 1px solid white !important;
    color: black !important;
}
td.jqx-cell.jqx-grid-cell.jqx-item.jqx-grid-cell-alt.jqx-center-align.jqx-top-align.jqx-scheduler-all-day-cell {
    border-radius: 108px;
    height: 38px !important;
    padding: 16px !important;
    /* margin: 8px 32px !important; */
    margin-top: 62px !important;
    color: black !important;
}
td.jqx-scheduler-time-column.jqx-widget-header.jqx-cell.jqx-grid-cell.jqx-item.jqx-center-align.jqx-grid-cell-nowrap {
    background: white !important;
    border: 1px solid white !important;
    color: black !important;
}
td.jqx-cell.jqx-grid-cell.jqx-item.jqx-center-align.jqx-grid-cell-nowrap.jqx-scheduler-middle-cell.jqx-scheduler-not-work-time-cell.jqx-scheduler-cell-focus {
    border-radius: 108px;
    height: 38px !important;
    padding: 16px !important;
    /* margin: 8px 32px !important; */
    margin-top: 62px !important;
    color: black !important;
}
button#datepicker-1995-4191-title {
    margin-left: 50px !important;
    border: unset;
    font-size: 30px;
    font-weight: 100 !important;
    font-family: unset;
    margin-top: -68px;
}
td, th {
    padding: 0;
    border: 1px solid #c1b9b9 !important;
    border: unset !important;
}

.vl {
    border-left: 2px solid gray;
    height: 722px;
    float: inherit;
    margin-top: 9px;
}
  /* #doctorid table.table.table-bordered.table-condensed.dropdown-menu {
    width: 57% !important;
    overflow: scroll;
} */
button.listbutton.ng-scope {
    margin-top: -75px;
}
input.form-control.text-center.ng-pristine.ng-untouched.ng-valid.ng-valid-maxlength {
    border: 1px dashed;
    width: 100%;
}

  