.pay_eligiblity label>span{
    width:25%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.clr_both {
    clear:both;
}
.pay_eligiblity .form-group label{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.form-group label{
    margin-bottom:10px;
}
.paymentdetail_footer div,label{
    padding:0px;
}
.specail_cash input{
    width: 44%;
    float: left;
    margin-right: 9px;
}
.specail_cash .form-group label{
    padding:1px 10px;
}
.deductable_amount input{
width:30%;
float:left;
}
.amountdetails .form-group label{
    clear: unset;
}
fieldset {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
.text-white span{
    color:#fff !important;
}
.bill_opbilling thead {
    background-color: #b77e1b;
}
fieldset.fsStyle{
    border: 1px solid #ffb83e;
}
.bill_visit{
    background: red !important;
}
.bill_insurance{
    background: indigo !important;
}
.bill_eligiblity{
    background: #e402bc !important;
}
.name_search{
    padding-top:10px;
}
.bgfoot .col-sm-12{
    background: #ccc;
} 
.custom_searchh{position: absolute;
    opacity: 1;
    top: 44px;
    left: 31%;
    z-index: 9999999999;}