.alertbtn,
.alertbtn>a {
    display: block;
    position: absolute
}

.profile-header {
    height: 29px
}

.page-header input[type=text] {
    width: 100%;
    height: 25px;
    /* margin: 6px 0px 4px 0px !important; */
}

.input-group[class*=col-] {
    float: left;
    padding-left: 0;
    padding-right: 1px
}

.footerbar {
    background-image: url(app/img/patterns-bg/paper-fibers.png) !important;
    height: auto;
    margin-top: 6px
}

/*.fullreg-profiles{min-height:22px;padding-top:1px;background:linear-gradient(to bottom,#ececec 0,#e8e4e4 50%,#cec0cc 100%,#fff 100%);border:1px solid #ccc;box-shadow:none}*/

.mt0 {
    margin-top: 5px !important;
    /* font-size: 20px */
}

.countbg {
    /* background-color: #fff; */
    background: #f71131;
    color: #fff;
    padding: 0 1px;
    border: 1px solid #d4c8c8;
    border-radius: 6px;
    /* margin-left: 6px */
}

/* fieldset {
    padding-bottom: 0;
    margin-bottom: 0
} */

/* .table {
    margin-bottom: 1px;
    border-top: 0px solid #808080a6;
    margin-top: 0px !important;
} */

.well {
    box-shadow: 4px 2px 13px -7px rgba(0, 0, 0, .75);
    margin-bottom: -8px;
    /* background-color: rgba(253, 255, 228, .75) !important */
}

.forpadd span {
    padding: 1px 5px
}

.bgfoot .ui-select-match-text {
    width: 155px;
    overflow: hidden;
    text-overflow: ellipsis
}

#textcontrol .form-control {
    padding: 1px
}

.listcontrol {
    padding-top: 4px
}

.listcontrol ul li {
    list-style: none;
    padding-top: 2px;
    font-weight: 700
}

.listcontrol .num {
    padding-left: 0;
    color: #0a9c8f;
    margin-bottom: 0
}

/* .filter-area .form-group {
    margin-bottom: 7px !important
} */

.fsStyle .form-group {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

/* .form-group {
    margin-bottom: 2px !important
} */


.bg-pattern1,
.bg-pattern2 {
    background-repeat: repeat;
    margin: 0;
    overflow: auto
}

.form-control {
    height: 25px;
    padding: 2px 16px
}

/* #opbillingcontrol .formRoot {
    height: 350px;
    overflow: unset !important;
    overflow-x: hidden !important;
} */

.input-group .form-control {
    width: 100%;
    /* height: 25px!important */
    height: 32px !important;
}

#textcontrol .input-group .form-control {
    width: 100%;
    height: 22px !important
}

.input-group-addon {
    padding: 3px !important
}

input[type=search],
input[type=text],
input[type=email] {
    height: 32px !important;
    /* margin-bottom: 1px !important; */
    border-radius: 0px;
}

.filter-area {
    /* box-shadow: 1px 4px 18px -10px rgba(0, 0, 0, .75); */
    padding-bottom: 4px;
}

#calendercontrol .form-group .input-group-addon {
    border: 1px solid #d5dbdc !important
}

#purchaserequest .formRoot {
    height: 398px
}

#purchaseorder .formRoot {
    height: 389px
}

#purchasegrn .formRoot {
    height: 391px
}

#purchaseose .formRoot {
    height: 414px
}

.footerbar .well {
    padding: 13px
}

.padding-top10 {
    padding-top: 10px
}

.bg-pattern1 {
    background-image: url(../../app/img/patterns-bg/patter3.png)
}

.bg-pattern2 {
    background-image: url(../../app/img/patterns-bg/patter2.png)
}

.filter-area {
    background-image: url(../../app/img/patterns-bg/patter2.png) !important
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #f9f9f9 !important
}

.bgfoot .col-sm-12 {
    padding-left: 0;
    padding-right: 0
}

/* .bgfoot .form-group {
    margin-bottom: 2px !important
} */

.bgfoot .well {
    padding: 3px
}

#opbillingcontrol .footerbar {
    margin-top: 0
}

.col6control .col-sm-6 {
    padding-left: 3px;
    padding-right: 3px
}

.bgfoot {
    background-image: url(../../app/img/billing/cheque-bg.jpg);
    background-size: cover;
    /* background-size:contain;  */
    /* overflow: auto; */
    margin: 0
}

.bgfoot fieldset.fsStyle {
    border: 1px solid #d8c2c2
}

.bgfoot .col-sm-9 {
    padding-left: 1px;
    padding-right: 1px
}

.bgfoot .col-sm-3 {
    padding-left: 2px;
    padding-right: 2px
}

.bgfoot .custom-checkbox {
    margin-top: 0 !important
}

/* .nav-tabs>li>a {
    background: #fff !important;
    text-align: center;
    padding: 7px !important;
    border-color: white !important;
} */

@media (device-height: 100vh) and (device-width: 100vw) {
    #purchasegrn .table-control {
        height: 494px !important
    }

    #purchaserequest .table-control {
        height: 554px !important
    }

    #purchaseorder .table-control {
        height: 587px !important
    }

    #purchaseose .table-control {
        height: 550px !important
    }

    #stocktransfer .formRoot {
        height: 537px !important
    }
}

@media only screen and (min-width: 1360px) {

    #purchaserequest .table-control {
        height: 452px;
        overflow: auto
    }

    #purchaseorder .table-control {
        height: 400px;
        overflow: auto
    }

    #purchasereturn .table-control {
        height: 387px;
        overflow: auto
    }

    #purchasegrn .table-control {
        height: 391px;
        overflow: auto
    }
}

.autosearch-div>input,
.form-group patientsearch.logo {
    background: url(../../app/img/patterns-bg/search.png) 102.2% center no-repeat #fff;
    background-size: 10.7% !important;
}

.typeahead-demo>input[type=text] {
    background-color: transparent;
    border: 0 solid #ccc
}

.alertbtn {
    height: 21px;
    top: 2px;
    width: 22px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #da4f49;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25)
}

.alertbtn>a {
    top: -7px;
    left: 19px;
    right: 2px;
    background-color: #fff;
    width: 13px;
    height: 19px;
    padding-left: 2px;
    color: #333;
    border-radius: 1px
}

.alertbtn>span>i {
    position: absolute;
    top: 3px;
    left: 4px;
    color: #fff
}

#opbillingcontrol>.mt1>.page-calendar>.b-greensea>.tooltip.in {
    white-space: nowrap;
    position: absolute;
    background-size: cover
}

#opbillingcontrol>.mt1>.page-calendar>.b-greensea>.tooltip>.tooltip-inner {
    max-width: 500px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.page-calendar1 .col-sm-3,
.page-calendar1 .col-sm-4,
.page-calendar1 .col-sm-5,
.page-header>.col-sm-1,
.page-header>.col-sm-3,
.page-header>.col-sm-4,
.page-header>.col-sm-5,
.page-header>.col-sm-7,
.page-header>.col-sm-7>.col-sm-3,
.page-header>.col-sm-7>.col-sm-9,
.page-header>.col-sm-9 {
    padding-left: 5px;
    padding-right: 5px
}

.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
    margin-top: 0px;
}

/* .dropdown-menu {
    min-width: 159px;
} */

a {
    font-weight: 400;
    color: #3F51B5;
}

input[type=search],
input[type=text]:focus {
    border: 2px solid #66afe9 !important;
}
.form-control:focus {
    border: 2px solid #66afe9 !important;
}
.draftbutton:focus {
    border: 2px solid #66afe9 !important;
}
/* #referraltab .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu {
    margin-left: -348px !important;
} */