.pl-15 {
    padding-left: 15px !important;
}

.h3 {
    color: black !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.outpatient {
    background-color: #5d9cec;
    height: 150px;
    padding: 15px;
    margin-top: -9px;
}

.bg-success {
    background-color: #36bc9b !important;
    height: 150px;
    padding: 15px;
}

.medical-certificate {
    background-color: #ff902c;
    height: 150px;
    padding: 15px;
}

.batches {
    background-color: #f05050;
    height: 150px;
    padding: 15px;
}

.small-box>.small-box-footer {
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: right;
    text-decoration: none;
    color: white;
    z-index: 10;
    margin-top: -24px;
    /* display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
    z-index: 10;
    margin-left: -5%;
    width: 109.6%;
    margin-top: -24px; */
}

.small-box {
    margin-top: 9px;
}

.small-box .icon>i {
    font-size: 60px;
    color: white;
}

.fs-40 {
    font-size: 40px;
    height: 0px;
}

i.fa.fa-user {
    color: white !important;
}

.bb-0 {
    border-bottom: none !important;
}

.tab-content {
    border: none !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.nav-tabs>li>a {
    background-color: #e6e0e0 !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:active {
    background: #5a9ce9 !important;
}

.small-box.Doctor.Consultation {
    background-color: #ff902c;
    height: 150px;
    padding: 15px;
}

.small-box.Diagnostics {
    background-color: #8c5be4e8;
    height: 150px;
    padding: 15px;
}

.small-box.Physiotherapy {
    background-color: #9E9E9E;
    height: 150px;
    padding: 15px;
}

.small-box.Tele-Consultation {
    background-color: #36b9f5;
    height: 150px;
    padding: 15px;
}

.small-box.My.Wellness {
    background-color: #d45ae8;
    height: 150px;
    padding: 15px;
}

.small-box.Medicines {
    background-color: #e84646;
    height: 150px;
    padding: 15px;
}

.small-box.leaveform {
    background-color: #ff902c;
    height: 150px;
    padding: 15px;
}

.small-box.billing {
    background-color: #e91e63cc;
    height: 150px;
    padding: 15px;
}

.small-box.Second.Opinion {
    background-color: #ff9800;
    height: 150px;
    padding: 15px;
}

.small-box.tempregistraion {
    background-color: #8c5be4e8;
    height: 150px;
    padding: 15px;
}

.small-box.promotional {
    background-color: #36b9f5;
    height: 150px;
    padding: 15px;
}

.small-box.Family.Doctor {
    background-color: #e91e63cc;
    height: 150px;
    padding: 15px;
}

.small-box.Nursing {
    background-color: #8BC34A;
    height: 150px;
    padding: 15px;
}

.small-box.My.calendar {
    background-color: brown;
    height: 150px;
    padding: 15px;
}

.small-box.discount {
    background-color: #d45ae8;
    height: 150px;
    padding: 15px;
}

.small-box.worklist {
    background-color: #e84646;
    height: 150px;
    padding: 15px;
}

.small-box.charges {
    background-color: #ff9800;
    height: 150px;
    padding: 15px;
}



.text-white {
    color: #000000 !important;
    margin-bottom: 13%;

}

.pdl0 {
    padding-left: 0px;
}

.countdetails {
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #cdcaca;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .small-box {
        width: 100%;
    }

    .row {
        padding: 0px;
    }
}

/* section.ng-scope {
    overflow: scroll;
} */
.nopad {
    padding: 0px;
}

input#pid {
    width: 100% !important;
}