.drhms-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.drhms-header-name span {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

#drhms-search-box {
    border: 1px solid #D9D9D9;
    width: 240px;
}

.drhms-common-header {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: space-evenly;
}

.drhms-header-table {
    border: 1px solid #B6B6B6;
    width: 100%;
    margin: 4px;
}

.drhms-header-table>div {
    display: flex;
    align-items: center;
    height: 40px;
    /* padding-top: 3px; */
}

.drhms-header-table>div:nth-child(odd) {
    background: #F8F8F8;
}

input[type=search],
input[type=text] {
    max-height: 32px !important;
}

.form-horizontal input,
input[type=text] {
    border: 1px solid #D9D9D9 !important;
    border-radius: 0px;
    background: #f8f8f8 !important;
}

span.btn.btn-default.form-control.ui-select-toggle {
    height: 32px !important;
    background: #FFFFFF !important;
    border: 1px solid #D9D9D9 !important;
}

table#tblData {
    margin-left: 0px;
}

.custom-table.table-striped.table-bordered {
    min-height: 50px !important;
    padding: 0 !important;
}

.drhms-footer-item {
    padding: 3px;
}

.drhms-footer-item .custom-table table#tblData th {
    background: #EFEFEF !important;
    border: 1px solid #D9D9D9 !important;
    color: #373737 !important;
}

span.btn.btn-default.form-control.ui-select-toggle {
    padding-top: 4px !important;
}

.fa {
    font-size: 18px !important;
}

.datepicker i.fa.fa-calendar {
    top: 8px;
}

.drhms-filters {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.drhms-patinet-search-box {
    background: #fafafa;
    height: 32px;
    border-radius: 6px;
}

.drhms-table-top-header {
    display: flex;
    margin: 5px;
}

.drhms-table-head-border {
    border: 1px solid #B6B6B6;
    padding: 10px 0px;
    width: 100%;
}

.drhms-table-top-header .drhms-table-head-border {
    margin: 0px 5px 0px 0px;
}

.drhms-table-head-border>div:nth-child(odd) {
    background: #dddddd1f;
}

.drhms-table-head-border>div {
    display: flex;
    align-items: center;
    padding: 3px;
    height: 40px;
}

table {
    width: 100%;
}

.drhms-refund-table table tbody td {
    font-size: 12px;
    font-weight: 500 !important;
    color: #71839B !important;
}

.drhms-refund-table table tbody tr td:nth-child(odd) {
    background: #f9fafc;
}

.drhms-bill-cancel-btn {
    background: transparent;
    color: #f05050;
    border: 0;
    width: 24px;
    height: 22px;
    border-radius: 4px;
    padding: 3px;
}

table.drhms-responsive-table thead th {
    background: #EFEFEF;
    border: 1px solid #D9D9D9;
    color: #000;
    padding: 3px;
    font-size: 13px;
    font-weight: 600;
}

/* .drhms-table-height {
    max-height: auto;
    overflow: auto;
} */

.drhms-due-amount {
    color: #f05050;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

a.drhms-pending-order-link {
    color: #ff902b;
    text-decoration: underline;
}

textarea.form-control {
    border: 1px solid #D9D9D9 !important;
}

table#opbillingfooter tbody tr:nth-child(odd) {
    background: #f9fafc;
}

tbody tr td {
    font-size: 14px;
    /* color: #71839B; */
}

.drhms-currency-align {
    text-align: right;
}

.drhms-special-count {
    color: #f05050;
}

td.drhms-special-count {
    color: #f05050 !important;
}

.drhms-common-btn {background: linear-gradient(270deg, #7b8700 0%, #c6321f 100%);;#1F94C6 100%);
    border-radius: 0px;
    border: 0;
    color: #fff;
    padding: 0px 10px;
    height: 30px;
    margin: 0px 3px;
}

.drhms-receipt {
    background: #fafafa;
    border-radius: 6px;
    height: 80px;
    width: 50%;
    overflow: auto;
    border: 1px solid #D9D9D9 !important;
    margin-top: 10px;
}

.drhms-edit-icon {
    background: none;
    border: 0;
    width: 19px;
    /* color: black; */
}

i.fas.fa-pencil-square-o {
    font-weight: 100;
}

.drhms-delete-icon {
    background: none;
    border: 0;
    width: 18px;
    /* color: #f05050; */
}

.footerbars {
    margin-top: 18px;
}

span.drhms-auto-search {
    width: 85%;
    display: inline-block;
}

.billing-list-icon a {
    margin-right: 16px;
    display: inline-block;
    font-size: 18px;
}

.page-header-list {
    display: flex;
    justify-content: space-between;
    margin: 8px 5px 0px;
}

.search-list-right {
    display: flex;
}

.billing-status {
    width: 214px;
    color: #0073bc;
}

.billing-update {
    color: #f44336;
}

.drhms-summary-collapse {
    width: 90%;
    display: inline-block;
    padding: 0px 5px;
    color: #fff;
    background: #0073bc;
    margin: 7px 0px;
    font-size: 13px;
    font-weight: 500;
}

.drhms-unhide-content {
    background: #0073bc;
}

.drhms-unhide-content button {
    background: unset;
    border: 0;
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
    float: right;
}

.drhms-unhide-content .btn-info:active:hover {
    border: 0px;
}

.drhms-collapse-btn {
    background: none;
    border: 0;
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
    float: right;
}

.drhms-common-back-btn {
    height: 30px;
    border: 1px solid #5C5C5C;
    border-radius: 0px;
    background: #fff !important;
    padding: 0px 10px;
    margin: 0px 3px;
}

.pd0 {
    padding: 0;
}

/* Drhms table css start */

table#bannerdetails {
    WIDTH: 100%;
    margin-bottom: 6px;
}

#print .dropdown-menu {
    top: initial;
    margin-bottom: 6px;
    bottom: 100%;
    background-color: #5894c3 !important;
    left: -41px;
    min-width: 160px;
}

#print .dropdown-menu>li {
    border-bottom: 1px solid #fff;
}

#print .dropdown-menu>li>a {
    color: #000000 !important;
}

/* .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #ad1414 !important;
    text-decoration: none;
    color: #fff;
} */


#opbillingcontrol .table-control {
    height: 100% !important;
    overflow: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    padding: 14px;
    margin: 16px 5px;
}

.table th {
    background: #EFEFEF !important;
    border: 1px solid #D9D9D9 !important;
    color: #000 !important;
    padding: 6px !important;
    font-size: 13px !important;
}

/* .table>thead>tr>th {
    font-weight: 500;
} */

/* .bg-pattern {
    height: 291px;
} */

/* .table-control {
    height: 67vh;
    min-height: 66vh !important;
} */

#opbillingcontrol .formRoot {
    height: 50vh;
    min-height: 50vh;
}

#opbillingcontrol .table-control {
    height: 100% !important;
    overflow: auto;
}

/* .btn:active,
.btn.active {background: linear-gradient(270deg, #7b8700 0%, #c6321f 100%);;#1F94C6 100%);
    border: 0;
} */


div#demo1 {
    margin-top: 10px;
}

table td {
    text-align: left;
    /* overflow: hidden; */
    white-space: nowrap;
}

.bgfoot {
    overflow: initial !important;
}

td,
th {
    border: 1px solid #e2e2e2 !important;
}

#unlock {
    color: #fff;
    background: #7dce5c;
    padding: 10px;
    font-size: 12px;
    border-radius: 27px;
}

#lock {
    color: #fff;
    background: #ff5f5f;
    padding: 10px;
    font-size: 12px;
    border-radius: 27px;
}

.summary-table-data-list {
    overflow: auto;
    max-height: 360px;
    margin-bottom: 10px;
}

button.pull-right.pending {
    color: #fff;
    background: #ff902b;
    padding: 7px 11px;
    border: 0;
    font-size: 12px;
    border-radius: 27px;
}

.drhms-backage-details {
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    color: #27c24c !important;
}

/* Drhms table css end */

.summary-bill-lock {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 12px;
}

.pending-order {
    padding: 17px 0px;
}

button.pull-right.attachment {
    background: #ff5722;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    border-radius: 20px;
    padding: 0px 7px;
}
.clearence-btn {
    background: #27c24c;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    border-radius: 20px;
    padding: 0px 7px;
    margin-left: 10px
}

.drhms-discharge-btn {
    background: #f68055;
}

.drhms-checkout-btn {
    background: #f44336;
}

.drhms-remark-btn {
    background: #607d8b;
}

.drhms-barcode-btn {
    background: #03a9f4;
}

.drhms-dayone-btn {
    background: #ECB287;
}

.drhms-undo-btn {
    background: #DBB133;
}
.drhms-dayone-btn {
    background: #ffc107;
}
#print .dropdown-menu>li>a:hover {
    color: black !important;
}