/* Shiva EMR CSS  */
text#txtTooth1 {
    fill: #fff;
}
text#txtTooth2 {
    fill: #fff;
}

text#txtTooth3 {
    fill: #fff;
}
text#txtTooth4 {
    fill: #fff;
}
text#txtTooth5 {
    fill: #fff;
}

text#txtTooth6 {
    fill: #fff;
}
text#txtTooth7 {
    fill: #fff;
}
text#txtTooth8 {
    fill: #fff;
}
text#txtTooth9 {
    fill: #fff;
}

text#txtTooth10 {
    fill: #fff;
}
text#txtTooth11 {
    fill: #fff;
}
text#txtTooth12 {
    fill: #fff;
}
text#txtTooth13 {
    fill: #fff;
}

text#txtTooth14 {
    fill: #fff;
}
text#txtTooth15 {
    fill: #fff;
}
text#txtTooth16 {
    fill: #fff;
}
text#txtTooth17 {
    fill: #fff;
}
text#txtTooth18 {
    fill: #fff;
}

text#txtTooth19 {
    fill: #fff;
}
text#txtTooth20 {
    fill: #fff;
}
text#txtTooth21 {
    fill: #fff;
}
text#txtTooth22 {
    fill: #fff;
}
text#txtTooth23 {
    fill: #fff;
}
text#txtTooth24 {
    fill: #fff;
}

text#txtTooth25 {
    fill: #fff;
}
text#txtTooth26 {
    fill: #fff;
}

text#txtTooth27 {
    fill: #fff;
}
text#txtTooth28 {
    fill: #fff;
}
text#txtTooth29 {
    fill: #fff;
}
text#txtTooth30 {
    fill: #fff;
}

text#txtTooth31 {
    fill: #fff;
}
text#txtTooth32 {
    fill: #fff;
}
text#txtTooth33 {
    fill: #fff;
}
text#txtTooth34 {
    fill: #fff;
}
text#txtTooth35 {
    fill: #fff;
}
text#txtTooth36 {
    fill: #fff;
}




text#lbl1 {
    fill: #fff;
}
text#lbl2 {
    fill: #fff;
}

text#lbl3 {
    fill: #fff;
}
text#lbl4 {
    fill: #fff;
}
text#lbl5 {
    fill: #fff;
}

text#lbl6 {
    fill: #fff;
}
text#lbl7 {
    fill: #fff;
}
text#lbl8 {
    fill: #fff;
}
text#lbl9 {
    fill: #fff;
}

text#lbl10 {
    fill: #fff;
}
text#lbl11 {
    fill: #fff;
}
text#lbl12 {
    fill: #fff;
}
text#lbl13 {
    fill: #fff;
}

text#lbl14 {
    fill: #fff;
}
text#lbl15 {
    fill: #fff;
}
text#lbl16 {
    fill: #fff;
}
text#lbl17 {
    fill: #fff;
}
text#lbl18 {
    fill: #fff;
}

text#lbl19 {
    fill: #fff;
}
text#lbl20 {
    fill: #fff;
}
text#lbl21 {
    fill: #fff;
}
text#lbl22 {
    fill: #fff;
}
text#lbl23 {
    fill: #fff;
}
text#lbl24 {
    fill: #fff;
}

text#lbl25 {
    fill: #fff;
}
text#lbl26 {
    fill: #fff;
}

text#lbl27 {
    fill: #fff;
}
text#lbl28 {
    fill: #fff;
}
text#lbl29 {
    fill: #fff;
}
text#lbl30 {
    fill: #fff;
}

text#lbl31 {
    fill: #fff;
}
text#lbl32 {
    fill: #fff;
}
text#lbl33 {
    fill: #fff;
}
text#lbl34 {
    fill: #fff;
}
text#lbl35 {
    fill: #fff;
}
text#lbl36 {
    fill: #fff;
}
/* ul.nav.nav-tabs {
    margin-top: -29px;
} */

polygon#Tooth11 {
    fill: #a7a3dd;
}

path#Tooth12 {
    fill: #a7a3dd;
}

polygon#Tooth13 {
    fill: #a7a3dd;
}

polygon#Tooth14 {
    fill: #a7a3dd;
}

polygon#Tooth15 {
    fill: #a7a3dd;
}

path#Tooth16 {
    fill: #a7a3dd;
}

polygon#Tooth17 {
    fill: #a7a3dd;
}

polygon#Tooth18 {
    fill: #a7a3dd;
}

polygon#Tooth33 {
    fill: #a7a3dd;
}

polygon#Tooth34 {
    fill: #a7a3dd;
}

polygon#Tooth22 {
    fill: #a7a3dd;
}

polygon#Tooth23 {
    fill: #a7a3dd;
}

polygon#Tooth35 {
    fill: #a7a3dd;
}

polygon#Tooth24 {
    fill: #a7a3dd;
}

polygon#Tooth25 {
    fill: #a7a3dd;
}

polygon#Tooth26 {
    fill: #a7a3dd;
}

polygon#Tooth27 {
    fill: #a7a3dd;
}

polygon#Tooth28 {
    fill: #a7a3dd;
}

polygon#Tooth31 {
    fill: #a7a3dd;
}

polygon#Tooth32 {
    fill: #a7a3dd;
}

path#Tooth36 {
    fill: #a7a3dd;
}

polygon#Tooth37 {
    fill: #a7a3dd;
}

polygon#Tooth38 {
    fill: #a7a3dd;
}

polygon#Tooth41 {
    fill: #a7a3dd;
}

polygon#Tooth42 {
    fill: #a7a3dd;
}

polygon#Tooth43 {
    fill: #a7a3dd;
}

path#Tooth44 {
    fill: #a7a3dd;
}

polygon#Tooth45 {
    fill: #a7a3dd;
}

polygon#Tooth46 {
    fill: #a7a3dd;
}

polygon#Tooth47 {
    fill: #a7a3dd;
}

polygon#Tooth48 {
    fill: #a7a3dd;
}

polygon#Tooth21 {
    fill: #a7a3dd;
}

path#Tooth31 {
    fill: #a7a3dd;
}

path#XMLID_162_ {
    fill: #a7a3dd;
}

button.previousbutton {
    margin-top: -4px;
    background-color: #dce512;
    border: 1px;
    padding: 4px 11px;
    color: white;
    border-radius: 4px;
}

.panel.panel-info.portlet-panel {
    margin-bottom: 0px;
}

div#familycon_toogle {
    /* background: #1155cce6; */
    background: #3a89bb !important;
    padding: 5px 15px;
}

.panel-info>.panel-heading {
    cursor: pointer;
    background: #3a89bb !important;
    background: #bbb;
    padding: 5px 15px;
    color: white !important;
}

.panel-heading.portlet-panel-heading0 strong.ng-scope {
    color: #f2f2f3;
}

.panel-heading.portlet-panel-heading0 i.fa.fa-pencil-square-o {
    color: black;
    height: 1px !important;
    font-size: 17px;
    margin-top: 4px !important;
}

.col-sm-4.decoration.ng-binding.ng-scope {
    background: gainsboro;
    margin-top: 9px;
    padding: 11px;
    width: 24%;
    white-space: normal;
    border-radius: 5px;
    color: #3b599e;
    margin: 2px;
}

.col-sm-2.decoration.ng-binding.ng-scope {
    background: gainsboro;
    margin-top: 9px;
    padding: 11px;
    width: 24%;
    white-space: normal;
    border-radius: 5px;
    color: #3b599e;
}

div#patientsearchheight table#table1 {
    /* width: 84% !important; */
}

img.img-responsive.icon_emrboard {
    height: 32px;
    margin: 0px -9px;
}

/* .btn-group.col-sm-12 {
    width: 107%;
} */

.text-color span {
    color: #225fb5 !important;
}

#visitinfo #bannerdetails tr td {
    height: 50px;
    PADDING: 5px 10px;
    border: 1px solid !important;
    border: 1px solid #225fb5 !important;

}

/* Shiva EMR CSS  */

/* #vendorsearch table.table.table-bordered.table-condensed.dropdown-menu {
    width: 17% !important;
    overflow: scroll;
}

#vendorsearchprice table.table.table-bordered.table-condensed.dropdown-menu {
    width: 17% !important;
    overflow: scroll;
    margin-left: -11% !important;
} */

#datepicker .btn.btn-default {
    white-space: nowrap !important;
    width: 32px;
    height: 28px;
}

#datepicker table tr td {
    height: 4px;
    PADDING: 2px 2px !important;
}

#datepicker .btn-sm,
.btn-group-sm>.btn {
    padding: 2px 7px;
    font-size: 12px;

    line-height: 1.5;
    border-radius: 3px;
}

#datepicker button.btn.btn-default.btn-sm.uib-title {
    width: 173px !important;
}

#datepicker .uib-datepicker.ng-scope.ng-isolate-scope {
    width: 307px !important;
}

#datepicker ul.uib-datepicker-popup.dropdown-menu.ng-scope {
    left: -23px !important;
}

#datepicker button.btn.ng-binding.ng-scope.btn-sm.btn-default {
    width: 46px !important;
    margin: 2px;
    margin-top: -6px;
}

/* #datepicker .dropdown-menu {
    height: 311px;
} */
/* #search table.table.table-bordered.table-condensed.dropdown-menu {
    width: 84% !important;
    overflow: scroll !important;
    margin-left: -239px;
}

#referralname table.table.table-bordered.table-condensed.dropdown-menu {
    width: 47% !important;
    overflow: scroll;
}

#Diagnosis table.table.table-bordered.table-condensed.dropdown-menu {
    width: 66% !important;
    overflow: scroll;
    margin-left: -9%;
} */

button.printcolor {
    background: #0d0d75;
    border: 1px;
    width: 60px;
    color: white;
    height: 30px;
    border-radius: 4px;
}

i.fas.fa-notes-medical {
    font-size: 20px;
    color: #e42c1e;
}

table#table1.table>tbody>tr>td {
    text-align: center !important;
    padding: 0px !important;
}

button.infosummary {
    border: 1px;
    background: white;
}

i.fas.fa-info-circle {
    font-size: 20px;
    color: #f05050;
}
a.infosummary i {
    padding: 0px 7px;
}
h4.control-label.section-lable.pdl15.ng-binding {
    /* font-size: 17px;
    color: black;
    font-weight: 600; */
}

span.col-sm-3.lefcol1 {
    margin-left: unset !important;
    color: #1d6090 !important;
    font-size: 12px !important;
    width: 125px !important;
    margin-left: 11% !important;
}

h4.control-label.section-lable.pdl15.ng-binding {
    /* text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 1px; */
}

/* #bedsearch table.table.table-bordered.table-condensed.dropdown-menu {
    width: 76% !important;
    overflow: scroll;
    margin-left: -39%;
} */

#patientlabresult {
    overflow-y: scroll;
    height: 310px;
    color: black;
}

#datepicker .dropdown-menu {
    ''
    min-width: 159px;
}

#datepicker input.form-control.text-center {
    padding-left: 7px;
}

/* #doctortable table.table.table-bordered.table-condensed.dropdown-menu {
    width: 49% !important;
    overflow: scroll;
} */

/* #proceduretable table.table.table-bordered.table-condensed.dropdown-menu {
    width: 40% !important;
    overflow: scroll;
} */

/* #diagnosistable.autosearch-div .custom-popup-wrapper>.dropdown-menu {
    width: 58% !important;
} */
/* #diagnosistable table.table.table-bordered.table-condensed.dropdown-menu {
    width: 59% !important;
    overflow: scroll;
} */

/* #staffbills table.table.table-bordered.table-condensed.dropdown-menu {
    width: 78% !important;
    overflow: scroll;
    margin-left: -17%;
} */

i.fa.fa-retweet {
    font-size: 12px;
    color: #20af42;
}

span.amend {
    background: #b07327;
    padding: 4px 5px;
    border: 1px;
    color: white;
    border-radius: 3px;
}

table.table.table-striped tr:hover td {
    background-color: #f4e6a1;
}

#bannerdetails tr td {
    border: 1px solid #bfbcbc !important;
}

table#reportslist {
    width: 98%;
    margin-left: 9px;
}

table#reportsdetails {
    width: 98%;
    margin-left: 10px;
}

#reportsdetail table td {
    border: 1px solid #b3afaf !important;
    text-align: center;
}

#reportsdetails th {
    background: #FF5722 !important;
    padding: 5px;
    border: 1px solid black !important;
    text-align: center;
}

button.homebtn {
    background: white;
}

input.custom-checkbox {
    margin-bottom: 15px;
}

td.ris_result {
    width: 95%;
    margin-top: 8px;
    padding: 19px !important;
    margin-bottom: 7px;
    margin-left: 3%;
}

td#rischeck {
    padding: 8px 29px !important;
}

span.risinput {
    padding: 8px 5px;
    background: #4488ef;
    color: white;
    width: auto !important;
    height: auto !important;
    border-radius: 4px;
}

.col-sm-12.testid {
    border: 1px solid;
    padding: 5px;
    height: 41px;
    background-color: #dce512;
    color: white !important;
}

td.text-center>input {
    width: 53px;
}

/* #hospitaltab table.table.table-bordered.table-condensed.dropdown-menu {
    width: 152% !important;
    overflow-y: scroll;
} */

#tablecontrols.table.table.table-hover.table-responsive.table-bordered {
    margin-top: 5px;
    width: 190vh;
}

img.imgsrc {
    float: left;
    margin-right: 10px;
}

button#printbtnsubmit {
    border-radius: 4px;
    width: 105px;
    color: #333333;
    text-decoration: none;
    background-color: #d9d9d97a;
    background-position: 0 -15px;
    padding: 4px 6px;
    font-size: 13px;
    line-height: 17px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #c1bbbb;
}




/* Emr Notes And Consultation Css 14/4/2020 */

#summarynotes h4.control-label.section-lable.pdl15.ng-binding {
    /* text-transform: uppercase;
    margin-top: 4px !important;
    margin-bottom: 6px !important;
    margin-left: -8px !important; */
}

.history {
    text-transform: none;
    margin-top: 4px !important;
    margin-bottom: 6px !important;
    margin-left: -8px !important;
    color: #c70808 !important;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    margin-left: 0% !important;
    font-size: 17px;
}

.col-sm-12.symptoms {
    /* margin-left: -103px;
    margin-bottom: -7px; */
}

.col-sm-6.lefcol2.innerdata {
    margin-left: -38px !important;
    color: #1a1a8e !important;
}

.concept-lable {
    margin-left: 35px;
    margin-top: -7px;
}

span.btnspan3 {
    color: #1a1a8e;
}

.col-sm-3.lefcol1 {
    font-weight: 600;
    color: #585555;
    font-size: 15px;
}

#summarynotes span.col-sm-3.lefcol1 {
    margin-left: unset !important;
    color: #7d6165 !important;
    font-size: 12px !important;
    width: 23% !important;
    margin-left: 5% !important;
    margin-right: 128px;
    white-space: normal;
}

/* #summarynotes h4.align-left.control-label.mar_z.category-lable.mg0.ng-binding {
    margin-left: -43px !important;
    color: #c70808 !important;
    font-weight: 600;
    font-style: normal;
} */

/* .col-sm-12.summarynotes {
    background: #ffffff !important;
    border-bottom: 2px solid black;
    margin-bottom: 11px;
} */

.res_button button {
    margin-left: 4px;
}

/* #notestabs .nav-tabs>li {
    width: 10% !important;
} */
.nav-tabs>li>a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span.customhead.ng-binding {
    /* margin-left: -43px !important;/ */
    color: #c70808 !important;
    font-weight: 600;
    background: none;
    border: unset !important;
    font-style: normal;
}

/* #notestabs .nav-tabs>li>a {
    border: unset !important;
    background: #dedede !important;
    border-radius: 4px !important;
    height: 34px !important;
    margin-right: 4px;
    padding: 4px 12px !important;
    margin-bottom: 12px;
} */

.nav-tabs>li {
    float: left;
    /* margin-bottom: -2px !important; */
}

.nav-tabs>li>a:hover {
    border-color: none !important;
}

/* #notestabs .nav-tabs>li.active>a,
#notestabs .nav-tabs>li.active>a:hover {
    color: black !important;
    border-top: 2px solid #272a75 !important;
    border-left: 1px solid #d8d1d1 !important;
    border-right: 1px solid #dedede !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: #fff !important;
    width: 98% !important;
    height: 42px !important;
    z-index: 999;
} */
/* .col-sm-12.tab-content-div {
    margin-top: -12px;
} */
div#notestabs {
    margin-top: 13px;
}

.col-sm-8.cust_vitalsbtn label.btn.btn-default.category-button {
    width: 16%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cheif_compliants label.btn.btn-default.category-button {
    width: 16%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.col-sm-8.cust_vitalsbtn label.btn.btn-default.category-button.active {
    background: red;
}


.form-group.col-sm-12.chief_compliants.ng-scope {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.btn-primary {
    /* background: #95ce95 !important; */
    border: 1px solid #ccc;
    color: #fff;
}

/* .cust_btnouter {
    background: #f3f3f3;
    vertical-align: unset;
} */

button.btn.btn-mini {
    padding: 3px 10px;
}

.custlbl {
    color: #6d6565 !important;
}

.contheight {
    height: auto;
    overflow: visible;
}

.cheif_compliants {
    height: 423px !important;
    overflow: auto;
}

.col-sm-10.cust_vitalsbtn {
    overflow: inherit;
}

label.col-sm-2.control-label.custlbl.ng-binding {
    padding: 0px;
}

.term_name label {
    margin-bottom: 8px;
    margin-right: 3px;
}

textarea.notes-textarea {
    border: 1px solid #9c9595;
    background: url(mock/assets/img/notes_textarea_bg.jpg) repeat top #FFF;
    resize: none;
    margin: 6px auto;
    /* line-height: 16px; */
    outline: none !important;
    -webkit-appearance: none !important;
    -moz-outline-style: none;
    /* margin-bottom: 2px; */
    /* width: 49vh; */
}

input {
    margin-bottom: 5px;
}

.date_cal {
    position: absolute;
    top: 15px;
    right: 20px;
}

.cn_mainhead span {
    /* background:#1ea9d0; */
    width: 10%;
    color: #000;
    font-style: normal;
    font-weight: 500;
    box-shadow: 1px 3px 5px -1px #756f6f;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.panel {
    margin-bottom: 0px;
}

.test label {
    font-size: 12px;
    font-variant-caps: petite-caps;
    color: red;
}

.btn:focus {
    border: none !important;
}

.term-opt {
    float: left;
}

.term-cmt {
    background: #f3f3f3;
    border: none;
    width: 26px;
    margin-left: -2px;
    margin-top: 2px;
    height: 29px;
}

.ip_casesheetemr {
    background: #3e5fd6c4;
}

label.btn.btn-sm.btn-custom-radio.btn-default {
    border: 1px solid #ccc;
}


/* #pastnotes .dropdown-menu>li {
    border-bottom: 1px solid #fff;
}

#pastnotes .dropdown-menu>li>a {
    color: #000000 !important;
}

#pastnotes .top>li {
    margin-bottom: 0px !important;
} */

span.dr_name0.ng-binding {
    font-weight: 600;
}

span.dr_profile0.ng-binding {
    background-color: #0a97f4;
    /* border: 1px solid gainsboro !important; */
    padding: 1px 5px;
    border-radius: 5px;
    color: #fff;
}

button.previousbtn {
    background: #c56f32;
    color: #fff;
    border: 1px;
    border-radius: 5px;
}

/* .toprighttext1 .dropdown-menu {
    top: -115px !important;
    left: 15px !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #f05050 !important;
    text-decoration: none;
    color: #fff;
}

#pastnotes .dropdown-menu {
    top: initial;
    bottom: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    background-clip: none;
}

#pastnotes .top>li {
    margin-bottom: 5px;
} */

button.dropdown-toggle.btn-btnpast.text-white.btn-sm {
    background: #ff902b !important;
}

/* .nav-tabs>li>a {
    background: #eadfb5 !important;
    color: #000;
} */
/* 
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover {
        background: crimson !important;
    } */

input[type=search],
input[type=text] {
    /* height: 30px !important;
    margin-top: -1px; */
}

.btn-group>.btn:hover,
.btn-group-vertical>.btn:hover,
.btn-group>.btn:focus,
.btn-group-vertical>.btn:focus,
.btn-group>.btn:active,
.btn-group-vertical>.btn:active,
.btn-group>.btn.active,
.btn-group-vertical>.btn.active {
    z-index: 2;

}

/* .btn.active,
.btn:active {
    background: #50aae3 !important;
    color: black !important;
} */

i.fa.fa-print {
    font-size: 12px;
    margin-left: -2px;
}

/* .btn.active,
.btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
} */

.btn-group>.btn:hover,
.btn-group>.btn:focus,
.btn-group>.btn:active,
.btn-group>.btn.active {
    z-index: 2;
}

/* button.btn.btn-mini {
    border: 1px solid #8080807a !important;
    margin-right: 1px;
} */

span.customhead {
    /* border: 1px solid #c5bdbd; */
    box-shadow: unset;
    font-size: 12px;
    /* margin-left: -16px; */
    /* box-shadow: -2px 1px 11px 1px #80808080; */
    font-weight: 600 !important;
    padding: 4px;
    color: #031680e0 !important;
}

button.btn.btn-mini.side {
    margin-right: 7px;
}

/* .form-group.col-sm-12.ng-scope {
    margin-left: -26px !important;
} */

label.col-sm-3.control-label.ng-binding {
    font-size: 12px;
    color: black;
}

label.col-sm-4.control-label.ng-binding {
    font-size: 12px;
    color: black;
}

button.btn.btn-mini.side {
    border: 1px solid;
}

.col-sm-9.term_name {
    margin-top: -2px;
}

img.cmtimg {
    width: 14px;
}

.col-sm-3 {
    margin-bottom: 4px;
}

.term-opt {
    float: left;
    margin-bottom: 4px;
}

textarea.notes-textarea {
    border: 1px solid #9c9595;
    background: url(mock/assets/img/notes_textarea_bg.jpg) repeat top #FFF;
    resize: none;
    line-height: 16px;
    outline: none !important;
    -webkit-appearance: none !important;
    -moz-outline-style: none;
    margin-bottom: 2px;
    /* width: 49vh; */
}

.cust_btnouter {
    margin: 4px;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6) !important;
    background: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle !important;
    cursor: pointer;
    background-color: #f5f5f5 !important;
    background-repeat: repeat-x !important;
    border: 1px solid #bbbbbb !important;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2 !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    /* background: #ccc; *button-color-overwrite*/
}

/* .cust_btnouter {
    background: #f3f3f3;
    border: 1px solid #ccc;
    vertical-align: unset;
    margin-bottom: 10px;
} */

span.dotred.ng-binding {
    color: #2196F3;
}

/* #pastnotes .dropdown-menu>li>a {
    color: #000 !important;
}

*/
#pastnotes .dropdown-menu {
    top: initial;
    margin-bottom: 6px;
    bottom: 100%;
    border: 1px solid #ccc !important;
}

/* .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #f5f5f5 !important;
    text-decoration: none;
    color: #000000 !important;
} */



/* Prescription Css */
/* body {
      padding: 20px;
   } */

span.control {
    color: #a5a0a0;
}

span.drugname.ng-binding {
    color: black;
    font-weight: 600;
}

span.times {
    color: red;
}

/* .opt-selected {
    font-variant: small-caps;
    font-size: 16px;
    border: 1px solid #000;
    color: #424141 !important;
    background-color: #9e9e9e3d !important;
    height: 36px;
    border-left: 2px solid #4583d0 !important;
    border-right: 2px solid #3F51B5 !important;
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
    border-top: 1px solid blue !important;
    border-bottom: 1px solid white !important;
    /* border: 1px solid #3e3737 !important; *
    border-bottom-color: #fdfdfd !important;
    margin-bottom: -1px;
    border-bottom: unset;
} */

.accordion_icon {
    float: right;
}

span.description.ng-binding {
    color: red;
}

span.prescribe.ng-binding {
    color: black;
}

.sec-tab td .fa-edit {
    color: #f3f5f3 !important;
    margin-top: 4px;
}

button.editbtn {
    color: blue !important;
    background: #0a68f3;
    border-radius: 19px;
    padding: 2px 5px;
    border: 1px;
    margin: 0px 5px;
    float: right;
}

span.dosage.ng-binding {
    font-weight: 600;
    color: #464444;
}

span.before.ng-scope {
    color: red;
}

span.after.ng-scope {
    color: red;
}

button.deletebtn {
    background: red;
    border-radius: 19px;
    padding: 1px 6px;
    border: 1px;
    float: right;
}

i.fa.fa-times {
    color: #f3f5f3 !important;
    margin-top: 4px;
}

#prescription table.table tr {
    border: unset !important;
}

#prescription table.table {
    border: unset;
}

.btn-round {
    border-radius: 0px;
}

.panel-body p {
    Color: blue;
}

.panel-default>.panel-heading {
    background-color: #d9edf7;
}

/* .nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: black !important;
    background-color: #b4d7e8;
} */

/* .nav-pills>li>a {
    margin-left: -25px;
    background: #c5c5c5;
    text-align: center;
    border-radius: 5px !important;
} */

.nav-pills>li+li {
    margin-left: 0px;
}

/* .nav-pills>li.active>a {
    color: black;
    background-color: #b4d7e8;
    border-bottom: 2px solid #d28410;
    text-align: center;
    border-radius: unset;
} */

/* .btn-success {
    border-radius: 7px !important;
    width: 106px;
    height: 31px;
} */

.btn-group .btn-select {
    color: #333;
    background-color: #ccc;
    border-color: #999;
}

a.btn.btn-select:focus,
a.btn.btn-select:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-group-justified {
    top: 5px;
}

span {
    cursor: pointer;
}

.number {
    display: flex;
}

.number .minus,
.plus {
    background: #d9edf7;
    border-radius: 0px;
    padding: 6px 14px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.number input {
    height: 34px;
    /* width: 70px; */
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 0px;
    display: inline-block;
    vertical-align: middle;
}

.sec-tab th h4 {
    margin-top: -3rem;
}

.sec-tab th h6 {
    color: red;
    text-decoration: underline;
}

.sec-tab th h5 {
    color: #0a0a0a;
    font-weight: 600;
}

.sec-tab td h4 {
    color: orange
}

.sec-tab td h5 {
    color: #000
}

.sec-tab td .fa-trash {
    color: red
}

.sec-tab td .fa-edit {
    color: #449d44
}

.form-control {
    height: 40px;
    padding: 6px 16px;
    margin-bottom: 10px;
}

/* .table th {
    min-width: 10px;
    background-color: #193b82 !important;
} */

table.table td {
    border: 0px;
}

table.table {
    border: 1px solid;
}

table.table tr {
    border: 1px solid #dddddd;
}

/* button.btn.btn-success {
    background-color: #0072b7 !important;
    border-radius: 7px;
    width: 86px;
    height: 31px;
} */

/* button.btn.btn-success:hover {
    background-color: #0072b7 !important;
    border-radius: 7px;
    width: 86px;
    height: 31px;
} */

.table>thead>tr>th {
    padding: 10px 1px;
    color: #888;
}

h4.title {
    color: #477694;
    font-size: 15px;
}

h4.status {
    color: #9e2c2c;
    font-size: 15px;
}

/* a:hover,
a:focus {
    color: black !important;
    text-decoration: underline;
} */

#newtab.nav.nav-pills .active>a {
    background-color: #f1f0f0 !important;
}

.vl {
    border-left: 3px solid gray;
    height: 100%;
}

i.fa.fa-times.icon {
    height: 21px;
    background: red;
    width: 25px;
    padding: 2px;
    border-radius: 5px;
    color: white;
}

div#accordion {
    width: 96%;
    margin-left: 2%;
    margin-top: 11px;
}

.col-md-6.section1 {
    border: 1px solid gainsboro;
    background: white;
    border-radius: 4px;
    width: 50%;
    margin-left: 1%;
    padding: 27px;
}

.col-md-6.sec-tab {
    border: 1px solid gainsboro;
    background: white;
    border-radius: 4px;
    width: 47%;
    margin-left: 1%;
    padding: 27px;
    height: 71vh;
    overflow-y: auto;
}

button.btn.btn-round.ng-binding {
    background: #b3adad;
    color: white;
}

#section1 .tab-content {
    padding: 10px 20px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #dde6e9;
    border: unset !important;
}

ul.nav.ng-scope {
    /* margin-top: -27px !important; */
    margin-bottom: -19px !important;
}

button.addmed {
    border: 2px solid #2fc110;
    color: #2fc110;
    padding: 5px 10px;
}





/* Medical History Css */
span.sub-lef1 {
    border: 1px solid #b5aaaa;
    padding: 2px 15px;
    background: #de0e0ede;
    color: #ffffff;
    border-radius: 5px;
}

td.lefcol6.test {
    color: #0e0e0e !important;
}

td.form-group.uib-time.hours {
    border: unset !important;
}

td.uib-separator {
    border: unset !important;
}

td.form-group.uib-time.minutes {
    border: unset !important;
}

td.uib-separator {
    border: unset !important;
}

td.form-group.uib-time.hours>input {
    /* width: 53px; */
    border: 0.9px dashed !important;
}

#datepicker .uib-datepicker.ng-scope.ng-isolate-scope {
    width: 265px !important;
}

span.sub-lef2.ng-binding {
    color: black !important;
}

td.lefcol3.text {
    color: #dc5809 !important;
}

.text-highlight3 {
    background-color: #000000 !important;
    border-radius: 2px;
    color: #080808 !important;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 600;
    er !important;
}

span.values {
    color: black;
    font-weight: 600;
}

/* // previous ul css  // */

/* #pastnotes .dropdown-menu>li {
    border-bottom: 1px solid gainsboro;
}

#pastnotes .top>li {
    margin-bottom: 5px;
    color: black !important;
    height: 8vh;
}

#pastnotes .dropdown-menu>li>a {
    color: black !important;
    height: 8vh;
}

#pastnotes .top>li {
    margin-bottom: 0px !important;
} */

.toprighttext1 .dropdown-menu {
    top: -115px !important;
    left: 15px !important;
}

/* .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #3c8bc3 !important;
    text-decoration: none;
    color: black !important;
} */



/* Discharge summary css */

tr.dischargetr {
    background: #377daf;
    color: #ffffff;
    width: 139%;
}

#questionsec .btn-xl {
    padding: 0px 11px !important;
}

#questionsec span.icon-remove {
    margin-left: -5px;
    margin-top: 4px;
}

i.fa.fa-trash {
    COLOR: WHITE;
}

.hidencontent {
    overflow: hidden;
    white-space: nowrap;
}

.previoucolor {
    background: #bdbdc3;
    color: #1414ab;
    margin-top: 4px !important;
    padding: 4px;
}

button.btn.btn-default.btn-xs {
    border-radius: 30px !important;
}

#notestabs ul.nav.nav-tabs {
    margin-left: unset !important;
}

div#notestabs>div {
    margin-bottom: 0px;
}

button.administered {
    padding: 6px 16px;
    border-radius: 4px;
    background: green;
    color: white;
    border: 1px;
    /* margin-left: 29%; */
}

button.currentdose {
    padding: 6px 16px;
    border-radius: 4px;
    background: #f19e23;
    color: white;
    border: 1px;
    /* margin-left: 29%; */
}

button.futuredose {
    padding: 6px 16px;
    border-radius: 4px;
    background: #ff71d39e;
    color: white;
    border: 1px;
    /* margin-left: 29%; */
}

button.discontinued {
    padding: 6px 16px;
    border-radius: 4px;
    background: #737270;
    color: white;
    border: 1px;
    /* margin-left: 29%; */
}

button.hold {
    padding: 6px 16px;
    border-radius: 4px;
    background: #16a99b;
    color: white;
    border: 1px;
    /* margin-left: 29%; */
}

button.clinicalmani {
    padding: 6px 13px;
    border-radius: 4px;
    background: #6372bbe8;
    color: white;
    border: 1px;
    /* margin-left: 29%; */
}

button.refusal {
    padding: 6px 16px;
    border-radius: 4px;
    background: #ff050582;
    color: white;
    border: 1px;
    /* margin-left: 29%; */
}

button.notadmin {
    padding: 6px 13px;
    border-radius: 4px;
    background: #ff0000bf;
    color: white;
    border: 1px;
    /* margin-left: 29%; */
}

/* .col-sm-12.tab-content-div {
    border: 1px solid gainsboro;
    padding-left: 39px;
} */

.nav-tabs {
    border-bottom: unset !important;
}

.tab-content {
    border: unset !important;
}

/* .nav-tabs>li {
    width: 10% !important;
} */
.nav-tabs>li>a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* .nav-tabs>li>a {
    border: unset !important;
    background: #dedede !important;
    border-radius: 4px !important;
    height: 34px !important;
    margin-right: 4px;
    padding: 4px 12px !important;
    margin-bottom: 12px;
} */

.nav-tabs>li {
    float: left;
    /* margin-bottom: -2px !important; */
}

.nav-tabs>li>a:hover {
    border-color: none !important;
}

/* .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
    color: black !important;
    border-top: 2px solid #272a75 !important;
    border-left: 1px solid #d8d1d1 !important;
    border-right: 1px solid #dedede !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: #fff !important;
    width: 98% !important;
    height: 42px !important;
    z-index: 999;
} */
/* .tabview {
    border: 1px solid gainsboro;
    padding-left: 12px;
    margin-top: -4px;
} */

/* #notestabs .nav-tabs>li {
    width: 10% !important;
} */
#notestabs .nav-tabs>li a {
    padding: unset;
    height: 35px;
    text-align: center;
    background: #0000001f !IMPORTANT;
    margin: 0 !IMPORTANT;
    border: unset;
    font-weight: 500;
    color: #1d6090;
}

/* #notestabs .nav-tabs>li.active:after {
    content: "______";
    position: absolute;
    font-weight: 900;
    color: #2196f3;
    bottom: -5px;
    margin-left: 29%;
    font-size: 13px;
} */
.nav-tabs>li.active:after {
    bottom: -4px;
}

/* .nav-tabs>li>a {
    height: 35px;
} */
/* .nav-tabs>li.active:after {
    content: "______";
    position: absolute;
    font-weight: 900;
    color: #2196f3;
    bottom: -2px !IMPORTANT;
    margin-left: 32%;
    font-size: 14px;
} */
.nav-tabs>li.active {
    background: transparent;
}

.active .act-bot {
    padding: inherit;
}

/* .sidebar>.nav>li>a>span {
    font-weight: 500;
    text-transform: none;
} */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
    height: 32px;
    width: auto !IMPORTANT;
}

/* .cheif_compliants0.emr_consultationslist {
    margin-left: 4%;
} */
.btn-group.cust_btnouter.btn-primary {
    background: #50aae3 !important;
    color: #000;
    position: relative;
}

.btn-group.cust_btnouter.btn-primary button.btn.btn-default.cust_termbtn {
    color: white;
    background: #50aae3 !important;
}

.consult_cmnt {
    color: #000000;
}

.consult_txt {
    margin: 6px 0px 4px 0px !important;
}