/* nav.navbar.topnavbar.ng-scope{display: none;}
.layout-fixed .wrapper > .aside{display: none;}
.layout-fixed .wrapper>section{margin:0px;height:100%;} */
.layout-fixed .wrapper>section{height: 100vh;overflow: scroll;overflow: scroll;
    overflow-x: hidden; }
html{overflow-x:hidden;}
.border_shadow{border: 1px solid #ccc;
    box-shadow: 5px -2px 3px 1px #ccc}
    .dashcontent .col-md-3{margin:0px 10px 18px 9px;padding: 19px 0px;color:#000;}
    @media (min-width:1190px){.dashcontent .col-md-3{margin:0px 10px 18px 9px;padding: 19px 0px;width:14.6%;color:#000;}}
    /* .dashcontent .col-md-4{width:30.33%;}
    @media (min-width:992px){.dashcontent .col-md-4{width:33.33%;}} */
    body{overflow: scroll;}
    .hlp_badge{
        position: relative;
    right: -47px;
    background: #ef26c3;
    width: 24px;
    height: 18px;
    top:-14px;
    }
    /* .hlpdeffered{border:1px solid #00ff7f; }
    .hlppending{border:1px solid #4682b4;}
    .hlpclose{border:1px solid #663399;}
    .hlpresolve{border:1px solid  #ff8c00;}
    .hlpprog{border:1px solid #ff7f50;}
    .hlpopen{border:1px solid #9acd32;} */

    .hlpdeffered i{color: #00ff7f; }
    .hlppending i{color: #4682b4;}
    .hlpclose i{color: #663399;}
    .hlpresolve i{color:  #ff8c00;}
    .hlpprog i{color: #ff7f50;}
    .hlpopen i{color: #9acd32;}
    .dashcontent .col-md-3 p{font-size:16px;padding:0px;}
    .dashcontent .col-md-3 h3{margin: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: initial;
        overflow: hidden;
    }
    .hlptbl tbody th{border:1px solid #ccc;}
    .table-bordered{background:#cec7c770;color:#000; }
    .hlphdr{border-bottom:1px solid #9dbffd;}
   
    .hlphdr p{margin: 0px;}
    .hlphdr em{padding-left:10px;}
    .hlpsearch{
        position: absolute;
        padding: 5px;
        pointer-events: none;
        right: 15px;
    }
    .hlptbl thead tr th{color:#000;}
    thead{background: #778899;}
    /* .hlp_procbadge{background: #20a5b2;} */
    .ml2p{margin-left: 2%;}
    .font_initial{font-family: initial;}
    ::-webkit-scrollbar{display: none;}
    @media (max-width:768px){.layout-fixed .wrapper > section{margin-top:64px !important;}.nav > li > a{padding:5px 18px;}}
    @media (max-width:810px){.nav > li > a{padding:10px 10px;}
    .hlphdr em{display: none;}
}
.hlpicn li{display: block;}
@media (max-width:536px){
    .hlphead{font-size:14px;}
    .hlp_badge{position: relative;
        right: -34px;
       
        width: 20px;
        height: 16px;
        top: -8px;}
        .hlphdr i{font-size:1.5em;}
}
