.panel-footer {
    background-color: #ccecf5 !important;
}

.multiselect-parent.btn-group.dropdown-multiselect {
    width: 100%;
}

button.dropdown-toggle.ng-binding.btn.btn-default {
    width: 100%;
    height: 32px;
    background-color: #f9f9f9 !important;
    border-radius: 0px;
    margin-bottom: 0px !important;
    background: #f8f8f8;
    border: 1.5px solid #aaa;
    overflow: hidden;
}

.filter-area {
    background-color: #ffffff !important;
    padding-bottom: 15px !important;
}

/* #mainresponsivetablecontrol .bg-subhead, .ui-grid-header-viewport {
background: #66c4ca;
} */
.ui-grid-header-cell .sortable {
    cursor: pointer;
    padding: 10px;
}

.table-uigrid.ui-grid .ui-grid-column-menu-button {
    top: 7px;
}

#im_purreqhg .ui-grid-viewport {
    height: 100%;
    min-height: 253px;
    margin-bottom: 20px;
}

.table-uigrid {

    height: 310px !important;
}

.bt-color2.pull-right {
    background: #009688;
    border: 1px solid #e4e0e0;
    box-shadow: inset 0 1px 0 #ffffff33, 0 1px 2px #0000000d;
    text-shadow: 0 1px 1px #ffffffbf;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    padding: 8px 10px;
}

/* .page-header button {
    margin: 0 2px;
    padding: 7px 7px;
} */

#patientidentitiesheight .table-uigrid {
    height: 320px !important;
}

#patientidentitiesheight .ui-grid-viewport {
    height: 100% !important;
    min-height: 253px;
    margin-bottom: 20px;
}

/* #purchaseorder .table {
    margin-bottom: 1px;
    min-width: 90%;
    left: -1px;
} */

/* div#purchaseorder #mainresponsivetablecontrol .table>thead>tr>th {
    padding: 12px 2px !important;
    color: #000000 !important;

} */

div#purchaseorder #mainresponsivetablecontrol .table>tbody {
    background-color: #f5f9ee;
    box-shadow: unset !important;
}

input[type=text] {
    margin-bottom: 2px;
}

#purchaseorder .table-control {
    height: 100% !important;
    overflow: auto;
}

.fsStyle .form-group {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

#mainresponsivetablecontrol .table>thead>tr>th {
    white-space: nowrap;
}

.page-header h4 {
    padding-top: 0px;
    margin-top: auto;
}

.page-header {
    color: #000000 !important
}

.padding-top1 {
    padding-top: 2px;
}

.filter-area {
    margin: 3px 11px 3px !important;
    box-shadow: 1px 9px 10px -13px rgba(0, 0, 0, .75);
    padding-bottom: 7px;
}

.autosearch-div>input,
.form-group patientsearch.logo {
    background-size: 12.7% !important;
}

#mainresponsivetablecontrol>.table>tbody>tr:nth-child(1)>td>autosearch>.autosearch-div>.custom-popup-wrapper>.dropdown-menu {
    background-color: rgba(245, 249, 238, 0) !important;
    border: 0px solid #ccc !important;
}

#purchaseorder .formRoot {
    /* height: 332px !important; */
    height: 303px !important;
}



.aside-collapsed .fooder-bg {
    position: sticky;
    bottom: 0;
    /* right: 19px; */
    width: 99.5% !important;
    /* left: 15px!important; */
}

.fooder-bg {
    width: 87%;
    text-align: center;
    margin: 0px auto;
    /* position: fixed; */
    bottom: 0;
    /* left: 0px; */
}

.aside-collapsed .fooder-bg {
    position: sticky;
    bottom: 0;
    /* right: 19px; */
    width: 97.5% !important;
    /* left: 15px!important; */
}

/* .commnet {
    padding: 20% 0px;
    float: left;
    width: 100%;
} */

.wrapper>section {
    position: relative;
    z-index: 111;
    background-color: #ffffff;
    margin-bottom: 0 !important;
}

/* .pull-left {
    padding-left: 1% !important;
} */

#mainresponsivetablecontrol>.table>tbody>tr>td>autosearch>.autosearch-div>.custom-popup-wrapper>.dropdown-menu {
    overflow-x: hidden;
}

/* table.table.table-bordered.table-condensed.dropdown-menu {
    height: 200px;
} */

.formRoot {
    overflow-x: scroll;
}

.footerbar {
    margin-top: 0px;
}

@media (device-height:100vh) and (device-width:100vw) {
    #purchaseorder .formRoot {
        height: 438px !important;
    }
}

.billingbanner table {
    border-collapse: collapse;
    border: 1px solid #164360;
}

.billingbanner table th,
.billingbanner table td {
    border: 1px solid #164360;
    padding: 0px 9px;
}

.billingbanner table,
#bannerdetails {
    table-layout: fixed;
    /* width: 100%; */
}

/* .billingbanner table td,
#bannerdetails tr td {
    background: white !important;
}

.billingbanner table tr td,
#bannerdetails tr td {
    height: 40px;
    PADDING: 0px 10px;
    word-break: break-all;
}

#bannerdetails tr td div.dropdown {
    PADDING: 5px 10px;
} */



table#bannerdetails+.col-sm-12 {
    padding: 0px !important;
}

.page-header button {
    margin: 0 2px;
    /* margin-right: auto; */
    /* padding-left: 10px; */
    /* padding-top: 2px; */
}

.autosearch-div>input {
    background: #ff00001c !important;
}

.netamount_bg .well {
    background-color: #000000 !important;
    /* background-image: none; */
}

#purchaseorder .table-control {
    height: 407px;
    overflow: auto;
}

label.btn.btn-sm.btn-custom-radio.ng-not-empty.active.btn-success {
    width: 100px;
}

.panel-footer {
    background-color: #ccecf5 !important;
}

.grid1485611170638 .ui-grid-coluiGrid-00AD {
    min-width: 163px;
    max-width: 163px;
}

.custom_marbot {
    margin-bottom: 10px;
}

ul.uib-datepicker-popup.dropdown-menu.ng-scope {
    /* left: -30px !important; */
}

/* .pl-3 {
    padding-left: 3%;
} */
.pl-3 {
    display: inherit;
    text-align: right !important;
}

.status {
    background-color: rgba(241, 208, 63, 0.34);
}

.m_bottom {
    margin-bottom: 7px;
}

@media (min-height: 675px) and (min-width: 1360px) {
    #patientidentitiesheight .ui-grid-viewport {
        min-height: 445px;
    }
}

.grid1523344667022 .ui-grid-render-container-body .ui-grid-viewport {
    width: 1164px;
    height: 393px !important;
}

.grid1523345293160 .ui-grid-render-container-body .ui-grid-viewport {
    width: 1164px;
    height: 400px !important;
}

.ui-grid-viewport {
    height: 387px !important;
}

.ui-grid-viewport {
    height: 62vh !important;
}

@media (device-width:100vw) and (device-height:100vh) {
    .ui-grid-viewport {
        height: 67vh !important;
    }
}

.autosearch-div>input {
    background: #ff00001c !important;
}

.textbox-search {
    background: #ff00001c !important;
}

/* .custom-table.table-striped .table th {
    min-width: 10px;
    background-color: #193b82 !important;
    color: white !important;
    font-size: 13px;
    text-align: center !important;
    border: 1px solid #ffffff !important;
    padding: 11px 8px;
} */

.table th {
    background: #EFEFEF;
    border: 1px solid #D9D9D9 !important;
    color: #373737 !important;
    font-size: 13px;
}

/* #mainresponsivetablecontrol .bg-subhead span {
    color: white !important;
} */

.pager-msg.ng-binding {
    margin-top: 0px !important;
    color: #383232 !important;
}

.pagpagination .pagination-smination {
    display: inline-block;
    padding-left: 0;
    margin: 37px 0 0 !important;
    border-radius: 4px;
    padding-bottom: 0 !important;
    box-shadow: 1px 3px 6px -3px rgba(0, 0, 0, .75);
}

.wrapper>footer {
    height: 30px !important;
    padding: 5px 5px 5px 5px !important;
    background-color: #afee61 !important;
    color: white;
    text-align: center;
}

.pofooter {
    margin-left: 0px;
    margin-right: 0px;
    /* border-left: 1px solid; */
    border: 1px solid;
}

.col-sm-12.footerbar0.pd0.total_footer {
    margin-top: 10px;
}

/*
.custom-table.table-striped.table-bordered {
    min-height: 250px !important;
} */

/* .fooder-bgs {
    margin-bottom: 130px !important;
} */

/* .fooder-bgs .pager-div {
    position: relative !important;
    margin-top: 0px !important;
} */

.container-fluid.single-filter.ng-scope {
    padding-bottom: 20px !important;
    margin-bottom: 60px !important;
}

/* i.fa.fa-pencil-square-o {
    font-weight: 500;
    color: #ffffff;
    background: #f05050de;
    padding: 5px;
} */
i.fa.fa-files-o {
    font-weight: 500;
    color: white;
    background: #23b7e5;
    padding: 5px;
}

span.btn.btn-default.form-control.ui-select-toggle {
    height: 32px;
    /* border-bottom: 1px solid #cccccc30; */
    border: 1px solid #e5e7eb;
    padding: 9px;
}

.foot {
    padding: 4% 0px !important;
}

.foot input {
    PADDING: 9px 10px !important;
}

#purchaseorder.grn #mainresponsivetablecontrol .table>thead>tr>th {
    white-space: nowrap;
    width: 100px !important;
    min-width: 100px;
}

#purchaseorder.grn .formRoot {
    overflow: scroll !important;
}

#purchaseorder.grn .billingbanner table tr td,
#bannerdetails tr td {
    height: 40px;
    PADDING: 5px 10px;
}

.wrapper>section {
    position: relative;
    z-index: 111;
    background-color: #ffffff;
    margin-bottom: 0 !important;
}

.topborder {
    border-top: 1px solid #968a8a4d;
}

.astrict {
    color: red;
}

button.cancelbtn {
    background-color: #dc242c !important;
    background-color: #dc242c !important;
    color: white;
    border: 0px;
    border-radius: 7px;
    height: 37px;
    padding: 10px 12px !important;
}

.addbutton {
    background-color: #4962a4 !important;
    padding: 10px 13px !important;
    color: white;
    float: right;
    border: 0px;
    margin: -4px 1px !important;
    border-radius: 7px !important;
    height: 40px !important;
    float: left;
}

/* div#mainresponsivetablecontrol {
    min-height: 280px;
} */

/* div#mainresponsivetablecontrol table tbody tr td input {
    border-radius: 0px !important;
    height: 40px !important;
    margin-bottom: 10px !important;
} */

/* div#mainresponsivetablecontrol {
    min-height: 280px;
    margin-top: 15px;
} */

/* div#mainresponsivetablecontrol table tbody tr td {
    padding: 0px 10px !important;
} */

/* div#mainresponsivetablecontrol table tbody tr td input {
    border-radius: 0px !important;
    height: 40px !important;
    margin-bottom: 0px !important;
    border-color: #80808054;
} */


/* #mainresponsivetablecontrol .table>thead>tr>th {
    padding: 6px 8px!important;
    white-space: nowrap;
    padding: 10px !important;
} */

/* #mainresponsivetablecontrol .table>tbody {
    background-color: #ffffff !important;
    box-shadow: 1px 1px 16px -3px rgba(0, 0, 0, .75);
} */

/* #mainresponsivetablecontrol .bg-subhead,
.ui-grid-header-viewport {
    background: #164360;
} */

.footerbars input {
    height: 40px !important;
    border-radius: 0px !important;
}

.footerbars span.btn.btn-default.form-control.ui-select-toggle {
    border-radius: 0px !important;
}

.footerbars label.col-sm-12.control-label.ng-scope {
    text-align: left;

}

.ui-datepicker {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
}


.datepicker input[type="text"] {
    padding-left: 37px;
}

.datepicker {
    position: relative;
}

.datepicker i.fa.fa-calendar {
    position: absolute;
    left: 7px;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
}

.datepicker input[type="text"]:focus+i {
    color: dodgerBlue;
}

.datepicker.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

.datepicker.inputIconBg input[type="text"]:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}

footer.ng-scope {
    color: black;
}



td.vendorhigh.ng-binding {
    font-size: 16px;
    font-weight: 500;
    color: black;

}

fas fa-sync-alt {
    font-weight: 500;
    color: #ffffff;
    background: chocolate;
    padding: 5px;
}

.footerbars input {
    height: 40px !important;
    border-radius: 0px !important;
}

.footerbars span.btn.btn-default.form-control.ui-select-toggle {
    border-radius: 0px !important;
}

.footerbars label.col-sm-12.control-label.ng-scope {
    text-align: left;

}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.52857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}

.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    background-color: #2196f3c4;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #2196f3c4;
}

.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #2196f3c4;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #2196f3c4;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #2196f3c4;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #2196f3c4;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #2196f3c4;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #2196f3c4;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #2196f3c4;
}

.billingbanner table {
    border-collapse: collapse;
    border: 1px solid #164360;
}

.billingbanner table th,
.billingbanner table td {
    border: 1px solid #164360;
    padding: 0px 9px;
}

.billingbanner table,
#bannerdetails {
    table-layout: fixed;
    width: 100%;
}

/* .billingbanner table td,
#bannerdetails tr td {
    background: white !important;
} */

.returnbutton {
    background-color: #8f58d6 !important;
    border-radius: 7px;
    padding: 6px 5px !important;
    color: white;
    border: 0px;
    height: 37px;

}

.bgfoot #textboxctrlmaster .ui-select-match-text {
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis
}

#discountdrp>.ui-select-container>.dropdown-menu {
    top: 27px !important;
}

.red {
    color: #ff0000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 41px;
}

td.patname.ng-binding {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.defaultdata {
    color: #f30505;
    font-weight: 500;
    font-size: 16px;
}

.defaultdata1 {
    color: #f30505;
    font-weight: 500;
    font-size: 12px;
}

.wrapper>section {
    background-color: #ffffff !important;
}

#purchaseorder ul.uib-datepicker-popup.dropdown-menu.ng-scope {
    left: 50% !important;
    right: 0;
    width: 380px !important;
}

.wrapper>footer {
    position: fixed !important;
}

/* div#mainresponsivetablecontrol table tbody tr td {
    padding: 5px 10px !important;
}

#stocktransfer #mainresponsivetablecontrol .bg-subhead,
.ui-grid-header-viewport {
    background: #65c4ca !important
} */

#stocktransfer #patientidentitiesheight .table-uigrid {
    height: auto !important;
    min-height: 340px !important;
}

#stocktransfer .filter-area {

    padding: 10px 0px !important;
}

#stocktransfer i.fa.fa-search {
    padding: 7px 1px;
}

@media only screen and (min-width: 1360px) {
    #stocktransfer #patientidentitiesheight .ui-grid-viewport {
        width: 100%;
        height: 300px !important;
    }
}

#purchaseorder.stocktrans .formRoot {
    overflow: hidden !important;
}

#purchaseorder.stocktrans .commnet {
    padding: 10% 0px !important;
}

.row {
    margin-top: 4px;
    padding: 4px;
}

button.cancelbutton.pull-right {
    margin-left: 233px;
}

/* input#pidreg {
    background: #ff902b38 !important;
} */

.alignright.btn {
    display: flex;
    /* text-align: right !important; */
    /* float: right; */
    /* width: 45%; */
    /* margin-right: -163px; */
}

.alignright {
    display: flex;
    /* text-align: right !important; */
    /* float: right; */
    width: 100%;
    margin-left: 21%;
}

autosearch.ng-isolate-scope {
    width: 100% !important;
}

.addbutton {
    background-color: #4962a4 !important;
    padding: 8px 12px !important;
    color: white;
    float: right;
    border: 0px;
    margin: -4px 1px;
    border-radius: 7px !important;
    height: 37px;
}

.findbillbutton {
    background-color: #ff1981 !important;
    border-radius: 7px;
    padding: 6px 5px !important;
    color: white;
    border: 0px;
    height: 37px;

}

.printbutton {
    background-color: #285579 !important;
    border-radius: 7px;
    height: 31px;
    color: white;
    border: 1px;
    width: auto;
    padding: 4px !important;
}

.printbutton:before {
    content: "\f02f ";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin: 0px 6px;
}

.billlinkbutton {
    background-color: #01934c !important;
    border-radius: 7px;
    height: 37px;
}

/* .draftbutton {background: linear-gradient(270deg, #7b8700 0%, #c6321f 100%);;#1F94C6 100%);
    border-radius: 0px;
    border: 0;
    color: #fff;
    padding: 0px 30px;
    height: 30px;
    margin: 0px 3px;
} */

.outsatandingbutton {
    background-color: #ee9021 !important;
    border-radius: 7px;
    height: 37px;
}

.deactivebutton {
    background-color: #0177fe !important;
    border-radius: 7px;
    height: 37px;
}

/* .btn-success {background: linear-gradient(270deg, #7b8700 0%, #c6321f 100%);;#1F94C6 100%);
    border-radius: 30px !important;
    border: 0;
    color: #fff;
    padding: 0px 10px;
    height: 32px;
    margin: 0px 3px;
} */

.btn-warning {
    border-radius: 7px !important;
    width: auto;
    height: auto;
}

.pyr-color10 {
    height: 30px !important;
    border: 1px solid #5C5C5C;
    border-radius: 30px !important;
    background: #fff !important;
    padding: 0px 10px;
    width: auto;
    margin: 0px 3px;
}

/* .layout-fixed .wrapper > section {
      margin-top: 45px !important;
    } */
footer.ng-scope {
    z-index: 9999;
    background: #90baef !important;
}

/* .content-wrapper.ng-scope.ng-fadeInUp {
    margin-bottom: 14px !important;
} */

/* .pager-div {
    position: relative !important;
    margin-top: -35px !important;
} */

.col-sm-4.pager-msg.ng-binding {
    margin-top: -18px;
}

h4.page-header.mt0.ng-scope {
    height: 26px;
}

th.col-sm-1 {
    text-align: center;
}

td.col-sm-1 {
    white-space: normal !important;
}

.lbl-profile {
    font-weight: 400 !important;
    color: black;
}

button.pull-right.text-white.draftbutton.hidden-md.hidden-sm.btn-xs {
    padding: 0px 12px;
    font-size: 25px;

}

.row.page-header.mt1 button {
    margin: auto 1px !important;
}

h3,
.h3 {
    font-size: 20px;
    color: red;
}

/* th.col-sm-4 {
    text-align: center;
    padding: 10px !important;
} */

th.col-sm-2 {
    text-align: center;
    padding: 10px !important;
}

th.col-sm-1 {
    text-align: center;
}

i.fa.fa-eye {
    color: black;
    padding: 3px;
    font-size: 18px;
}

button.btn.btn-eye.btn-xs {
    background: #23b7e5;
}

.btn-comment {
    color: #ffffff;
    background-color: #50a2f0 !important;
    border-color: #f04b4b;
    padding: 7px !important;
    /* width: 86px; */
    height: 31px !important;
}

input.photofile {
    width: 203px !important;
}

input.autosearch-input {
    /* background: #ff902b38 !important; */
    background-color: #dce51224 !important
}

.alignright.btn {
    display: flex;
    /* text-align: right !important; */
    /* float: right; */
    /* width: 45%; */
    /* margin-right: -163px; */
}

.homebutton {
    background-color: #b925b8ba !important;
    padding: 0px 14px !important;
    color: white;
    float: right;
    border: 0px;
    margin: -1px 1px;
    border-radius: 7px !important;
    height: 33px !important;
}

/* .content-wrapper.ng-scope.ng-fadeInUp {
    background: white;
    height: -webkit-fill-available;
    position: absolute;
    border: unset;
    overflow: -moz-scrollbars-none;
    overflow: auto;
    overflow-x: hidden;
} */

.content-wrapper.ng-scope.ng-fadeInUp::-webkit-scrollba {
    background: white;
    display: none;
}

.filter-area,
.filter-area.row,
.fooder-bg,
.panel-footer.formactionbar {
    background-image: none !important;
    /* background: white; */
}

a.btn.btn-sm.ng-scope {
    color: black !important;
    font-weight: 500
}

/* .filter-lbl.report {
    margin-top: 4px !important;
    font-weight: 400;
    font-size: 15px;
    color: #5d9cec;
} */

.search.report i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 1px 0px;
    color: #aaa;
    transition: 0.3s;
    margin: 0 -5px;
}

i.fa.fa-calculator {
    color: green;
    background: #00000029;
}

button.btn.btn-danger.btn-xs.delete {
    width: 31px !important;
}

/* .table {
      margin: 17px;
    } */
.row.filter-area.ng-scope {
    margin: 1px;
}

button.btn.btn-danger.no {
    background: red !important;
}

.alignright.close {
    /* display: flex;
      text-align: right;
      float: right;
      width: 0% !important;
      margin-right: 12px; */
    background: red !important;
}

.draftbutton.out {
    background-color: #0072b7 !important;
    border-radius: 7px;
    width: 32px;
    height: 38px;
}

/* button.text-white.btn.prv-color12.btn-sm {
    border-radius: 7px;
    width: 44px;
    height: 36px !important;
} */

button.btn.btn-success.btn-xs.pull-right {
    padding: 7px 9px;
    height: 37px !important;
    width: 36px !important;
}

button.pencilbutton {
    background-color: #27c24c;
    border-radius: 7px !important;
    /* width: 86px; */
    height: 31px;
    border: 1px solid #27c24c;
    color: white;
}

button.trash {
    color: #ffffff;
    background-color: #50a2f0 !important;
    border-color: #f04b4b;
    padding: 4px 8px !important;
    border-radius: 0px;
}

button.dropdown-toggle.btn.btn-inverse.btn-sm {
    background: #d4cccc61;
    color: black !important;
    width: 118px;
    border: 1px solid #a79d9d !important;
    margin-right: 4px;
    margin-left: 4px;
    height: 28px;
}

.search {
    position: relative;
}

.search i {
    position: absolute;
    left: 0px;
    top: 0px;
    /* padding: 9px 18px; */
    padding: 10px 13px;
    color: #aaa;
    transition: 0.3s;
}

.search input[type="text"]:focus+i {
    color: dodgerBlue;
}

.search.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

.search.inputIconBg input[type="text"]:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}

span.mandatory-asterix {
    color: red !important;
}

button.cancelbutton.pull-right {
    margin-left: 233px;
}

button#btnApprovalForm {
    float: right;
    padding: 0px 6px;
    height: 35px;
}

/* .custom-modal-title {
    line-height: 1 !important;
    padding: 8px;
} */

/* button.btn.btn-info.btn-xs.ng-scope {
      margin-bottom: -131px;
      margin-left: -63px !important;
  } */
.form-horizontal .control-label {
    text-align: left !important;
}

.panel-title {
    color: #000;
    font-weight: 500
}



button.btn.btn-expand.btn-xs.ng-scope {
    background-color: turquoise;
    color: #fff;
}

.mandatory-asterix {
    color: red;
}

/* .pull-left {
    float: left;
    padding: 0px;
} */

/* .custom-table.table-striped.table-bordered {
    min-height: 250px !important;
    padding: 6px;
} */

td.td-code {
    height: 31px;
}

/* table.table.table-bordered.table-condensed.dropdown-menu {
    height: 200px;
    width: 100% !important;
    overflow: auto;
} */

#purchasereturn .ui-select-bootstrap .ui-select-match-text {
    width: 100%;
    padding-right: 1em;
    overflow: hidden !important;
}

#purchasereturn .ui-select-container.ui-select-bootstrap span.ui-select-match-text.pull-left {
    padding: 0px !important;
}

#purchasereturn .datepicker i {
    left: 13px !important;
}

#purchaseorder.pcreturn .fooder-bgs {
    clear: both !important;
}

.formRoot {
    overflow: visible !important;
}

.manselect {
    width: 100%;
    height: 40px;
    background: #fcf7f3;
    border-radius: 4px;
    padding: 10px;
}

.fooder-bgs {
    clear: both !important;
}

/* .pager-div {
    position: relative !important;
    margin-top: -15px !important;
} */

.col-sm-12.panel-footer.formactionbar {
    margin-top: 6px;
    margin-bottom: 0px;
}

.modal-dialog.modal-lg .ui-grid-viewport {
    height: 100% !important;
    min-height: 120px !important;
}

/* #purchaseorder #mainresponsivetablecontrol .table>thead>tr>th {
    white-space: nowrap;
    width: 100px !important;

}

#purchaseorder #mainresponsivetablecontrol {
    overflow: scroll !important;
} */

.ui-select-bootstrap .ui-select-match-text span {
    /* display: inline-block; */
    width: 100%;
    overflow: hidden;
}

.row.page-header.mt1 button i {
    padding: 10px 10px !important;
    border-radius: 10px !important;
}

.row.page-header.mt1 button {
    padding: 0px 0px !important;
}


.nprint {
    color: #ffffff !important;
    background-color: #405568 !important;
    border-color: #405568 !important;
}

.noprint {
    color: #ffffff !important;
    background-color: #55E6C1 !important;
    border-color: #55E6C1 !important;
}

td.wrap {
    white-space: nowrap;
}


.defaultdata1.col-sm-1 {
    padding: 8px;
    width: 77px;
}

/* table#mainresponsivetablecontrol .table>tbody>tr>td,
#mainresponsivetablecontrol .table>thead:first-child>tr:first-child>td {
    height: auto !important;
    background: #18387d !important;
    color: white !important;
} */

/* table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu td:nth-child(odd) {
    background: transparent !important;
    color: black !important;
    height: 20px !important;
    width: 0% !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu thead {
    height: auto !important;
    background: #18387d !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu thead tr td {
    height: auto !important;
    background: #18387d !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu thead tr {
    height: auto !important;
    background: #18387d !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu tr:hover {
    background: #efb141 !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu tr:hover td {
    background: #efb141 !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu {
   
} */

.col-sm-8.autosearch {
    float: right;
}

button.btn.btn-xs.btn-danger {
    height: 27px !important;
}

.btn_history {
    background: white;
    border: 1px;
}

td.namebold {
    width: 16%;
    color: #000 !important;
}

input.form-control.textbox-search {
    /* background: #ff902b38 !important; */
    background: #e8f0fe !important;
    border: 1.5px solid #aaa;
}

button.bed-btn {
    background: white;
    border: 1px;
    text-decoration: underline;
    color: blue;
}

.visualize ul.visualize-key {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.2em;
    margin-top: -6px;
}

.visualize ul,
.visualize li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.visualize ul.visualize-key li {
    padding: 0;
    margin: 0;
    float: left;
    /* margin-right: 8px;    */
    padding-left: 10px;
    position: relative;
    left: 14px;
    white-space: normal;
    text-overflow: ellipsis;
    padding-right: 7px;
    color: #fff;
}

.visualize ul.visualize-key .visualize-key-color {
    width: 10px;
    height: 10px;
    left: -4px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    border-radius: 6px;
}

.visualize ul.visualize-key .visualize-key-label {
    /* color: #000; */
    color: #fff;
    font-size: 13px;
}

.fullreg-profiles {
    height: 20px;
}





/* AUTO SEARCH TABLE */

/* .autosearch-div .custom-popup-wrapper {
    position: absolute;
    width: 600px;
} */

.autosearch-div .custom-popup-wrapper>.message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.autosearch-div .custom-popup-wrapper>.dropdown-menu {
    position: absolute;
    float: none;
    display: block;
    width: 100%;
    max-height: 306px;
    overflow: auto;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.custom-popup-wrapper>table>thead {
    display: run-in !important;
}

.custom-popup-wrapper>.table>thead>tr>td:nth-child(1) {
    width: 1% !important;
}

.custom-popup-wrapper>.table>thead>tr>td:nth-child(2) {
    width: 1% !important;
}

.custom-popup-wrapper>.table>thead>tr>td:nth-child(3) {
    width: 1% !important;
}

.custom-popup-wrapper>.table>thead>tr>td:nth-child(4) {
    width: 1% !important;
}

.custom-popup-wrapper>.table>thead>tr>td:nth-child(5) {
    width: 1% !important;
}

.custom-popup-wrapper>.table>thead>tr>td:nth-child(6) {
    width: 1% !important;
}

.custom-popup-wrapper>table>tbody>tr>td {
    padding: 2px 6px !important;
}

autosearch-input::plceholder {
    opacity: 0.5;
}

button.btn-history {
    background: white;
    border: 1px;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu td:nth-child(odd) {
    background: transparent !important;
    color: black !important;
    height: 20px !important;

}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu thead {
    height: auto !important;
    background: #18387d !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu thead tr td {
    height: auto !important;
    background: #18387d !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu thead tr {
    height: auto !important;
    background: #18387d !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu tr:hover {
    background: #efb141 !important;
}

table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu tr:hover td {
    background: #efb141 !important;
}

.findpo {
    background-color: #daae30 !important;
    padding: 8px 12px !important;
    margin: 5px;
    margin-top: 5px;
    color: white;
    /* float: right; */
    border: 0px;
    margin: -4px 1px;
    border-radius: 7px !important;
    height: 37px;
}

/* input.form-control.textbox-search {
            width: 300px !important;
        } */
/* .autosearch-div>input, .form-group patientsearch.logo {

            width: 280px !important;
        } */

/* div#assets {
    height: 1px;
} */

button.addlink.ng-scope {
    background: white;
    border: 1px;
    color: blue;
    text-decoration: underline;
    font-weight: 500
}

i.fa.fa-check {
    background: green;
    border-radius: 16px;
}

button.saveactive {
    background: #F44336;
    color: white;
    border: 1px;
    height: 29px;
    border-radius: 7px;
}

button.btn.btn-xs.btn-search {
    background: #1cde1cd9;
    width: 64px;
    height: 30px;
    border-radius: 7px;
}

div#mainresponsivetablecontrolstock {
    /* border-bottom: 2px solid #01748b !important;
    margin-bottom: 20px !important;
    border: 1px solid #01748b;
    box-shadow: 0 0 8px 2px #868382; */
    min-height: 280px;
    margin-top: 15px;
    overflow: scroll !important;
}
/* 
#stockentry table.table.table-bordered.table-condensed.dropdown-menu {
    height: auto !important;
    width: 72% !important;
    overflow: scroll !important;
}

#purchaserequest table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu {
    margin-left: -403px !important;
    width: 575px !important;
} */

/* .ng-binding.ng-scope {
    white-space: normal;
    color: gray !important;
} */

.panel-favorite .btn-fetch {
    padding: 1px 5px;
    background-color: #27c24c;
    margin-top: 2px;
    float: right;
    margin-right: 17px;
    height: 33px;
}

td.ng-binding {
    white-space: normal;
    /* color: #71839B; */
    color: #000;
}

td.td-name {
    width: 100% !important;
}

i.btn-rounded.fa.fa-users {
    font-weight: 500;
    color: black;
    background: #2196F3;
    font-size: 17px !important;
    /* padding: 0px 7px; */
    margin-top: 7px !important;
    width: 25px;
    height: 25px;
    border-radius: 14px;
}

i.btn.btn-danger.btn-rounded.fa.fa-times {
    width: 20px;
    font-size: 17px !important;
    margin-top: -5px !important;
    width: 25px;
    height: 25px;
    border-radius: 14px;
    padding: 0px;
}

/* span.ui-select-choices-row-inner {
                width: 129px;
            } */
/* span.btn.btn-default.form-control.ui-select-toggle {
                width: 114px;
            } */
/* #update table.table.table-bordered.table-condensed.dropdown-menu {
    width: 18% !important;
    overflow: auto;
}

button.pull-right.text-white.btn.dem-color4.hidden-md.hidden-sm.btn-xs {
    height: 37px;
    width: 36px;
    font-size: x-large;
}

#sales table#bannerdetails .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu {
    margin-left: -904px !important;
    WIDTH: 16% !IMPORTANT;
} */

/* .col-sm-12.pager-div {
    display: inline-block;
    padding-left: 0;
    margin: 14px 0 0 !important;
    border-radius: 4px;
    padding-bottom: 0 !important;
    box-shadow: 1px 3px 6px -3px rgba(0, 0, 0, .75);
    background: #e4e4e4 !important;
    height: 41px;
    margin-top: -17px !important;
} */


a.fa.fa-arrow-circle-left.ng-binding {
    font-size: 19px;
    /* color: gray !important; */
}

a.fa.fa-arrow-circle-right.ng-binding {
    font-size: 19px;
    /* color: gray !important; */
}

a.fa.fa-angle-double-left.ng-binding {
    font-size: 19px;
    /* color: gray !important; */
}

a.fa.fa.fa-angle-double-right.ng-binding {
    font-size: 19px;
    /* color: gray !important; */
}

.cke_contents cke_reset {
    height: 465px !important;
}

td.fontbold.ng-binding {
    font-weight: 600 !important;
    font-size: 17px !important;
}

/* #purchaserequest table.table.table-bordered.table-condensed.dropdown-menu {
    overflow: auto !important;
}



#grn table.table.table-bordered.table-condensed.dropdown-menu {
    width: 18% !important;
    overflow: auto;
} */



.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #efb141 !important;
    color: black !important;
}

/* #grnform table.table.table-bordered.table-condensed.dropdown-menu {
    width: 62% !important;
    overflow: auto;
    color: black !important;
} */

.fooder-bgss {
    margin-bottom: 0px !important;
    height: 0% !important;
    margin-top: 0px !important;
}


i.fa.fa-check {
    background: green;
    border-radius: 16px;
    color: beige;
}



/* IP Pharmacy Sales Css */
/* #ippharmacysale table.table.table-bordered.table-condensed.dropdown-menu {
    width: 84% !important;
} */

#ippharmacysale ul.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu.ng-scope {
    width: 207px !important;
}

button.pendingbutton {
    background: red;
    border: 1px;
    color: white;
    padding: 9px;
    border-radius: 7px;
    margin-top: -2px !important;
    height: 38px;
}

/* .draftbutton:focus {
    border: 1px solid black;
} */

/* i.fa.fa-times {
    background: red;
    height: 25px;
    width: 25px;
    padding: 4px 5px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
} */
img.imgsrcs {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin-top: 4px;
}

/* #doctorview table.table.table-bordered.table-condensed.dropdown-menu {
    width: 45% !important;
    overflow: auto;
} */

div#mainresponsivetablecontrolappnmnt {
    min-height: 380px;
    margin-top: 6px;
}


/* #docsearch table.table.table-bordered.table-condensed.dropdown-menu {
    width: 65% !important;
    overflow: auto;
} */

td.fontbold {
    font-weight: 500;
    color: black;
    font-size: 15px;
}

/* #referral table.table.table-bordered.table-condensed.dropdown-menu {
    width: 56% !important;
    overflow: scroll;
} */

#backid input.autosearch-input.ng-pristine.ng-valid.ng-empty.ng-valid-required.ng-touched {
    BORDER: 1PX SOLID WHITE;
    BACKGROUND: WHITE !IMPORTANT;
}

/* #vendorpayment table.table.table-bordered.table-condensed.dropdown-menu {
    width: 61% !important;
    overflow: scroll;
} */

#dischargebilling .row.filter-area {
    padding-top: 10px !important;
}

#dischargebilling .ui-grid-viewport {
    height: 310px !important;
}

#dischargebilling .table-uigrid {
    height: 350px !important;
}


#dischargebilling #depsheight>.table-uigrid {
    height: 350px !important;
}

#dischargebilling .table-uigrid.table-uigrid-tab.ui-grid.ng-isolate-scope.grid1573297891634 {
    min-height: 390px !important;
}


#inpatientbill .row.filter-area {
    padding-top: 10px !important;
}

#inpatientbill .ui-grid-viewport {
    height: 310px !important;
}

#inpatientbill #depsheight>.table-uigrid {
    height: 350px !important;
}

#inpatientbill .table-uigrid.table-uigrid-tab.ui-grid.ng-isolate-scope.grid1573297891634 {
    min-height: 390px !important;
}

#inpatientbill .ui-grid-header-cell .sortable {
    padding: 0px;
}

button.pull-right.lock {
    border: 0;
    background: none;
}

/* #mainresponsivetablecontrol .bg-subhead span.mandatory-asterix {
    color: red !important;
} */

ul.nav.ng-scope {
    margin-top: 0px !important;
}

#paymenttype ul.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu {
    width: 154px;
}

section.ng-scope {
    /* overflow: scroll !important; */
}


.highcharts-menu {
    background: #aab4ef;
}

#banner td,
th {
    padding: 0;
    border: 1px solid #c1b9b9;
    /* border: 1px; */
}

#patientbanners table#bannerdetails {
    width: 98%;
}

/* #patientbanners #bannerdetails tr td {
    height: 52px;
    PADDING: 5px 10px;
} */

/* #doctinvoice table.table.table-bordered.table-condensed.dropdown-menu {
    width: 56% !important;
    overflow: scroll;
} */

/* i.fa.fa-times {
    background: red;
    height: 25px;
    width: 25px;
    padding: 4px 5px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
} */
/* table#bannerdetails {
    WIDTH: 98%;
} */

/* #reg_consultationfltr0 table.table.table-bordered.table-condensed.dropdown-menu {
    margin-left: -323px !important;
}

#itemname table.table.table-bordered.table-condensed.dropdown-menu {
    width: 16% !important;
    overflow: scroll;
} */

i.fa.fa-times.trash {
    color: #ffffff;
    background-color: #f05050 !important;
    border-color: #f04b4b;
    padding: 4px 8px !important;
    border-radius: 0px;
}

/* #itemmasters table.table.table-bordered.table-condensed.dropdown-menu {
    width: 13% !important;
    overflow: scroll;
} */

#itemmaster th.Generic {
    width: 20%;
}

#itemmaster th.Item.Name {
    width: 15%;
}

button.text-white.btn.prv-color12.btn-sm {
    border-radius: 7px;
    width: 63px;
    height: 32px !important;
    margin-top: -7px;
    color: white !important;
}

button.closebutton.ng-scope {
    color: #ffffff;
    background-color: #f04b4b !important;
    border-color: #f04b4b;
    padding: 3px 9px !important;
    border-radius: 6px;
}

/* #expirymovement table.table.table-bordered.table-condensed.dropdown-menu {
    width: 12% !important;
    overflow: scroll;
}

td#warp .autosearch-div table.table.table-bordered.table-condensed.dropdown-menu {
    margin-left: -404px !important;
} */

/* .form-group.col-sm-4.ng-scope {
    margin-bottom: -4px !important;
} */
i.fa.fa-times.icon {
    height: 24px;
    background: red;
    width: 23px;
    padding: 4px;
    border-radius: 5px;
    color: white;
}

.ivh-treeview-node-content.ng-scope {
    margin-top: 11px;
}

#quickregistration-height .btn-sm,
.btn-group-sm>.btn {
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#quickregistration-height .th,
td {
    padding: 4px 6px !important;
    /* text-align: center !important; */
}

#quickregistration-height table {
    margin: 15px;
    margin-bottom: 7px !important;
    table-layout: fixed;
    width: 93% !important;
    max-width: 100%;
    padding: 15px !important;
}

/* #mainresponsivetablecontrol .bg-subhead span {
    color: #373737 !important;
    font-weight: 500
} */

#doctorinvoice table.uib-daypicker {
    margin-left: 3%;
    width: 48% !important;
}

#doctorinvoice .uib-datepicker {
    width: 357px !important;
}

#datefil table.uib-daypicker {
    margin-left: 6px;
}

button.btn.btn-default.btn-sm.pull-left.uib-left {
    padding: 3px;
}

button.btn.btn-default.btn-sm.pull-right.uib-right {
    padding: 3px;
}

.term-opt {
    float: left;
    border-width: 0.1px;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/*
.cust_btnouter {
    margin: 2px;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    /* background-image: linear-gradient(to bottom, #ffffff, #e6e6e6) !important; *
    background: none;
    text-shadow: 0 1px 1px #ffffffbf;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-color: #aaa !important;
    background-repeat: repeat-x !important;
    border: 1px solid #bbbbbb !important;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2 !important;
    box-shadow: inset 0 1px 0 #ffffff33, 0 1px 2px #0000000d;
    /* background: #ccc; *button-color-overwrite*
} */

.Selected {
    background-color: #dc143c !important;
    color: white !important;
    /* padding: 0px; */
}

.Bookeditem {
    background-color: #ff1800 !important;
    color: black;
    margin-right: 10px;
}

.Available {
    background-color: #04cc0c !important;
    color: black !important;
}

.Holidayitem {
    background-color: #861802 !important;
    color: black !important;
}

.Breakitem {
    background-color: #2b4379 !important;
    color: black !important;
}

#appointmentgrp .btn-group.col-sm-12 {
    width: 200%;
}

#appointmentgrp label.btn.btn-sm.btn-custom-radio.ng-not-empty.active.btn-success {
    width: 155px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* #statemaster table.table.table-bordered.table-condensed.dropdown-menu {
    width: 72% !important;
    overflow: scroll;
} */

#previousbill .custom-table.table-striped.table-bordered {
    height: 322px;
    overflow: scroll;
    overflow-x: hidden !important;
}

/* #servicename table.table.table-bordered.table-condensed.dropdown-menu {
    width: 17% !important;
    overflow: scroll;
} */




/* Shiva EMR CSS  */
polygon#Tooth11 {
    fill: white;
}

path#Tooth12 {
    fill: white;
}

polygon#Tooth13 {
    fill: white;
}

polygon#Tooth14 {
    fill: white;
}

polygon#Tooth15 {
    fill: white;
}

path#Tooth16 {
    fill: white;
}

polygon#Tooth17 {
    fill: white;
}

polygon#Tooth18 {
    fill: white;
}

polygon#Tooth33 {
    fill: white;
}

polygon#Tooth34 {
    fill: white;
}

polygon#Tooth22 {
    fill: white;
}

polygon#Tooth23 {
    fill: white;
}

polygon#Tooth35 {
    fill: white;
}

polygon#Tooth24 {
    fill: white;
}

polygon#Tooth25 {
    fill: white;
}

polygon#Tooth26 {
    fill: white;
}

polygon#Tooth27 {
    fill: white;
}

polygon#Tooth28 {
    fill: white;
}

polygon#Tooth31 {
    fill: white;
}

polygon#Tooth32 {
    fill: white;
}

path#Tooth36 {
    fill: white;
}

polygon#Tooth37 {
    fill: white;
}

polygon#Tooth38 {
    fill: white;
}

polygon#Tooth41 {
    fill: white;
}

polygon#Tooth42 {
    fill: white;
}

polygon#Tooth43 {
    fill: white;
}

path#Tooth44 {
    fill: white;
}

polygon#Tooth45 {
    fill: white;
}

polygon#Tooth46 {
    fill: white;
}

polygon#Tooth47 {
    fill: white;
}

polygon#Tooth48 {
    fill: white;
}

polygon#Tooth21 {
    fill: white;
}

path#Tooth31 {
    fill: white;
}

path#XMLID_162_ {
    fill: white;
}

button.previousbutton {
    margin-top: -4px;
    background-color: #dce512;
    border: 1px;
    padding: 4px 11px;
    color: white;
    border-radius: 4px;
}

.panel.panel-info.portlet-panel {
    margin-bottom: 0px;
}

div#familycon_toogle {
    /* background: #1155cce6; */
    background: #bbb !important;
    padding: 5px 15px;
}

.panel-info>.panel-heading {
    cursor: pointer;
    background: #bbb !important;
    background: #bbb;
    padding: 5px 15px;
}

.panel-heading.portlet-panel-heading0 strong.ng-scope {
    color: #515182;
}

.panel-heading.portlet-panel-heading0 i.fa.fa-pencil-square-o {
    color: black;
    height: 1px !important;
    font-size: 17px;
    margin-top: 4px !important;
}

.col-sm-4.decoration.ng-binding.ng-scope {
    background: gainsboro;
    margin-top: 9px;
    padding: 11px;
    width: 24%;
    white-space: normal;
    border-radius: 5px;
    color: #3b599e;
    margin: 2px;
}

.col-sm-2.decoration.ng-binding.ng-scope {
    background: gainsboro;
    margin-top: 9px;
    padding: 11px;
    width: 24%;
    white-space: normal;
    border-radius: 5px;
    color: #3b599e;
}

div#patientsearchheight table#table1 {
    /* width: 84% !important; */
}

img.img-responsive.icon_emrboard {
    height: 40px;
    margin: 0px -9px;
}

/* .btn-group.col-sm-12 {
    width: 107%;
} */

.text-color span {
    color: #225fb5 !important;
}

/* #visitinfo #bannerdetails tr td {
    height: 50px;
    PADDING: 5px 10px;
    border: 1px solid !important;
    border: 1px solid #225fb5 !important;

} */


/* Shiva EMR CSS  */

/* #vendorsearch table.table.table-bordered.table-condensed.dropdown-menu {
    width: 17% !important;
    overflow: scroll;
}

#vendorsearchprice table.table.table-bordered.table-condensed.dropdown-menu {
    width: 17% !important;
    overflow: scroll;
    margin-left: -11% !important;
} */

#datepicker .btn.btn-default {
    white-space: nowrap !important;
    width: 32px;
    height: 28px;
}

#datepicker table tr td {
    height: 4px;
    PADDING: 2px 2px !important;
}

#datepicker .btn-sm,
.btn-group-sm>.btn {
    padding: 2px 7px;
    font-size: 12px;

    line-height: 1.5;
    border-radius: 3px;
}

#datepicker button.btn.btn-default.btn-sm.uib-title {
    width: 173px !important;
}

/* #datepicker .uib-datepicker {
    width: 265px !important;
} */

/* #datepicker ul.uib-datepicker-popup.dropdown-menu.ng-scope {
    left: -23px !important;
} */

#datepicker button.btn.ng-binding.ng-scope.btn-sm.btn-default {
    width: 46px !important;
    margin: 2px;
    margin-top: -6px;
}

/* #datepicker .dropdown-menu {
    height: 311px;
} */
/* #search table.table.table-bordered.table-condensed.dropdown-menu {
    width: 84% !important;
    overflow: scroll !important;
    margin-left: -239px;
}

#referralname table.table.table-bordered.table-condensed.dropdown-menu {
    width: 47% !important;
    overflow: scroll;
}

#Diagnosis table.table.table-bordered.table-condensed.dropdown-menu {
    width: 66% !important;
    overflow: scroll;
    margin-left: -9%; 
}*/

button.printcolor {
    background: #0d0d75;
    border: 1px;
    width: 60px;
    color: white;
    height: 30px;
    border-radius: 4px;
}

i.fas.fa-notes-medical {
    font-size: 20px;
    color: #e42c1e;
}

table#table1.table>tbody>tr>td {
    text-align: center !important;
    padding: 0px !important;
}

button.infosummary {
    border: 1px;
    background: white;
}

i.fas.fa-info-circle {
    font-size: 19px;
    color: #f05050;
}

h4.control-label.section-lable.pdl15.ng-binding {
    color: #004E77 !important;
    font-weight: 500 !important;
    border: unset !important;
    font-style: normal;
    font-size: 15px !important;
}

h4.align-left.control-label.mar_z.category-lable.mg0.ng-binding {
    color: #F44336 !important;
    font-weight: 500 !important;
    border: unset !important;
    font-style: normal;
    font-size: 13px !important;
}

span.col-sm-3.lefcol1 {
    margin-left: unset !important;
    color: #1d6090 !important;
    font-size: 14px !important;
    width: 125px !important;
    margin-left: 11% !important;
}



/* #bedsearch table.table.table-bordered.table-condensed.dropdown-menu {
    width: 76% !important;
    overflow: scroll;
    margin-left: -39%;
} */

#patientlabresult {
    overflow-y: inherit;
    height: 100% !important;
    color: black;
}

#datepicker .dropdown-menu {
    min-width: 159px;
}

#datepicker input.form-control.text-center {
    padding-left: 7px;
}

/* #doctortable table.table.table-bordered.table-condensed.dropdown-menu {
    width: 49% !important;
    overflow: scroll;
}

#proceduretable table.table.table-bordered.table-condensed.dropdown-menu {
    width: 40% !important;
    overflow: scroll;
} */

/* #diagnosistable.autosearch-div .custom-popup-wrapper>.dropdown-menu {
    width: 58% !important;
} */

/* #diagnosistable table.table.table-bordered.table-condensed.dropdown-menu {
    width: 59% !important;
    overflow: scroll;
}

#staffbills table.table.table-bordered.table-condensed.dropdown-menu {
    width: 78% !important;
    overflow: scroll;
    margin-left: -17%;
} */

i.fa.fa-retweet {
    border: 1px solid;
    font-size: 14px;
    color: #af2020;
    padding: 2px;
    border-radius: 3px;
    position: relative;
    bottom: 4px;
}

/* span.amend {
    background: #b07327;
    padding: 4px 5px;
    border: 1px;
    color: white;
    border-radius: 3px;
} */

table.table.table-striped tr:hover td {
    background-color: #f4e6a1;
}

/* #bannerdetails tr td {
    border: 1px solid #bfbcbc;
    background: #dddddd1f !important;
    border: unset !IMPORTANT;
    border-top: 1px solid gainsboro !important;
    border-bottom: 1px solid gainsboro !important;
} */

table#reportslist {
    width: 98%;
    margin-left: 9px;
}

table#reportsdetails {
    width: 98%;
    margin-left: 10px;
}

#reportsdetail table td {
    border: 1px solid #b3afaf !important;
    text-align: center;
}

#reportsdetails th {
    background: #0073bc !important;
    padding: 5px;
    border: 1px solid black !important;
    text-align: center;
}

button.homebtn {
    background: white;
}

/* input.custom-checkbox {
    margin-bottom: 15px;
} */

td.ris_result {
    width: 95%;
    margin-top: 8px;
    padding: 19px !important;
    margin-bottom: 7px;
    margin-left: 3%;
}

span.risinput {
    padding: 8px 5px;
    background: #4488ef;
    color: white;
    width: auto !important;
    height: auto !important;
    border-radius: 4px;
}

.col-sm-12.testid {
    border: 1px solid;
    padding: 5px;
    height: 41px;
    background-color: #dce512;
    color: white !important;
}

td.text-center>input {
    width: 100%;
}

/* #hospitaltab table.table.table-bordered.table-condensed.dropdown-menu {
    width: 152% !important;
    overflow-y: scroll;
} */

#tablecontrols.table.table.table-hover.table-responsive.table-bordered {
    margin-top: 5px;
    width: 100%;
}

img.imgsrc {
    float: left;
    width: 26px;
    margin-right: 10px
}

button#printbtnsubmit {
    border-radius: 4px;
    width: 105px;
    color: #333333;
    text-decoration: none;
    background-color: #d9d9d97a;
    background-position: 0 -15px;
    padding: 4px 6px;
    font-size: 13px;
    line-height: 17px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #c1bbbb;
}

div#opbillingcontrol input#pid {
    font-weight: 600;
    letter-spacing: 0.4px;
}

/* tbody tr td {
    font-weight: 300 !important;
    color: #000;
} */