@charset "utf-8";
body, p, h1, h2, h3, h4, h5, h6, span, ul, ol, li, dl, dt, dd, form {
    padding: 0;
    margin: 0;
}
html, body {
    padding: 0;
    margin: 0;
}
input {
    border:none;
    outline:none;
}
textarea {
    border:none;
    outline:none;
    ;
    overflow:auto;
}
input.button {
    border:none;
    outline:none;
}
input[type=checkbox] {
    border:none;
    outline:none;
}
img {
    outline:none;
    border:none;
}
li {
    list-style:none;
}
a {
    text-decoration:none;
}
a:focus {
    outline: none;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'DephionSlanted';
    src: url('DephionSlanted.eot');
    src: url('DephionSlanted.eot?#iefix') format('DephionSlanted'), url('DephionSlanted.woff') format('woff'), url('DephionSlanted.ttf') format('truetype'), url('DephionSlanted.svg#DephionSlanted') format('svg');
}
body{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'MyriadPro-Semibold';
    letter-spacing: 0.5px;
}
.content-wrapper{
    background: url(/www/app/img/patientservices/2.png)no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    overflow: scroll;
    height: 100%;
}
.card_border{
    border:1px solid #fff;
    padding: 5px;
    margin: auto 15px;
    border-radius: 14px;
    border: 1px solid sandybrown;
}
.card .icon{
    text-align: center;
}
.pd0{
    padding:0px;
}
.button_content{
    clear: both;
    padding-top:3%;
}
.button_content button{
    width: 85%;
    float: none;
    margin: 14px;
}
.details{
    border:1px solid #fff;
    padding: 5px;
    margin: auto 15px;
    border-radius: 14px;
    margin-top: 30px;
}
.main_box{
    margin-bottom:45px;
}
.bodycontent iframe{
    width:100%;
    height:300px;
}
.header{
    background: #fff;
}
nav{
    background:#fff;
}
.footer{
    position: fixed;
    bottom:0px;
    width:100%;
    background: #ccc;
}
nav h2{
    color:#fff;
    font-style: oblique;
}
.icon h3{
    color:#fff;
    margin-top:11%;
}
.icon h3:hover{
    color:crimson;
    cursor: pointer;
}
.icon h3:hover .card_border{
    border:1px solid cyan;
}
.icon i{
    color:#fff;
    margin-top:11%;
}
header .navbar{
    margin-bottom:4%;
    background: #0d5b9a87;
    border:0px;
}
.head h2{
    margin:7px;
}
.navbar-brand{
    padding: 3px 15px;
}
.logout{
    margin-top:10px;
}

footer a{
    color:#000;
}
.button_content{
    margin: 0px auto;
    text-align: center;
    float:none;
}
.srvc_appointment .card{
    background: yellowgreen;
}
.srvc_registeration .card{
    background: violet;
}
.srvc_pay .card{
    background: turquoise;
}
.srvc_results .card{
    background: tomato;
}
.srvc_feedback .card{
    background: steelblue;
}
.srvc_appointment{
    background: yellowgreen;
}
.srvc_registeration{
    background: violet;
}
.srvc_pay{
    background: turquoise;
}
.srvc_results{
    background: tomato;
}
.srvc_feedback{
    background: steelblue;
}
.back img{
    width: 6%;
    right: 16px;
    bottom: 33px;
}
.back img:hover{
    cursor:pointer;
    /* border:1px solid #ccc; */
}
.navbar-header.col-sm-3{
    background: #fff;
}
.layout-fixed .wrapper>section{
    margin: 0px;
}
.layout-fixed .wrapper > .aside,nav.navbar.topnavbar.ng-scope{
    display: none;
}
.wrapper>section{
    height:100%;
}

.back img{
    position: absolute;
    right: 2%;
    bottom: 4%;
}
.fooder-bg{
    width:100% !important;
    left:0px;
    bottom: 3%;
}
.upload input[type=file]{
    display: none;
}
.inputfile-1+label {
    color: #f1e5e6;
    width: 77%;
    border-radius: 3px;
    margin: 1px 18px;
    cursor: pointer;
    background-color: #d3394c;
}
.refresh {
    background-color: rgba(115, 153, 216, 0.77);
    border-color: #e6a151;
    color: #fff;
}
.uploadicons{
    margin: 28px auto;
}
.search form.example input[type=text] {
    padding: 26px;
    font-size: 26px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    font-style: oblique;
}
.search form.example button {
    float: left;
    width: 6%;
    padding: 14px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.search form.example button:hover {
    background: #0b7dda;
}
.search form.example::after {
    content: "";
    clear: both;
    display: table;
}
.search h3{
    width: 20%;
    float: left;
    margin: 11px auto;
    text-align: center;
    font-weight: 700;
}
.search{
    background: #cccccc96;
    padding: 62px 0px;
}
.search form.example input[type=text]:focus{
    border: 2px solid rebeccapurple;
}
.glyphicon-chevron-right:before {
    content: "\e080" !important;
}
@media (min-width:768px) and (max-width:992px){
    .card_border{
        margin: 0px auto;
    }
    .button_content button{
        width:100%;
    }
    .back img{
        bottom:10%;
    }
    .search h3{
        width: 50%;
        text-align: left;
    }
    .search form.example input[type=text]{
        padding: 16px;
        width:85%;
        font-size: 22px;
    }
    .search form.example button{
        padding:19px;
        font-size:18px;
        width:10%;
    }
    .navbar-header{
        width: auto;
    }
    .layout-fixed .wrapper>section{
        margin-top:0px !important;
    }
    .doctlist_time p,.bookingconfirmation .doctlist_time p{
        top:22px;
        font-size: medium;
    }
    .ps_dravailablity button{
        width:17% !important;
        font-size: 16px !important;
    }
}
 .bodycontent i{
     position: absolute;
     right:21%;
     margin-top:2px;
    font-size:x-large;
}
.app_box{
   
    margin-bottom: 1.5%;
    /* background: #2a00d4d9; */
    background: #663399;
    background: #2173da;
    /* box-shadow: 10px 10px #5a24dca6; */
    box-shadow: 10px 10px #2183d894;
    /* background: #2a00d4a6; */
}
.app_box img{
    float: left;
    width:9%;
    background: #fff;
    border-radius: 50%;
}
.app_box h3{
    margin:9px;
    display: inline-block;
    
}
.app_box:hover{
    /* cursor: pointer;
    background-color: #e74e84;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    color: #fff; */
}
.app_box h3,p{
    color:#fff;
    font-weight: 500;
    font-style: oblique;
}
.app_box p{
    /* margin-left:17%; */
    color:lawngreen;
}
.detailss h3{
    margin-left: 18%;
}
.detailss p{
    margin-left: 8%;
    float: left;
}
.doctlist_time p{
    position: absolute;
    top: 29px;
    font-size: x-large;
    color: #ffd600;
}
.doctlist_book{
    position: relative;
    top: 33px;
   
}
.doctorlistcontent{
    margin-top: 2%;
    padding: 1%;
}
.doctorapp_box{
    box-shadow: 7px -7px #5a24dca6;
    background: #663399;
}
.doctorlistcontent  .app_box {
    /* margin-bottom: 1.5%; */
    box-shadow: 7px -7px #5a24dca6;
    background: #663399;
}
.psdrname p{
    margin:0px;
    color:lawngreen;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.5px;
}
.psdrname h3{
    margin: 18px 3px 11px;
}
.psappointment{
    margin-top: 5%;
    padding: 3%;
}
.psappointment .app_box{
    margin-bottom: 5.5%;
}
.psappointment .app_box img{
    float: left;
    width: 15%;
    background: #fff;
   
}
.bookingconfirmation .app_box img{
    width: 5%;
}
.bookingconfirmation .app_box{
    box-shadow:none;
    margin:0px;
}
.bookingconfirmation .psdrname h3 {
    margin: 8px 3px;
    font-weight: 500
}
.bookingconfirmation .doctlist_time p{
    top:14px;
    margin:0px;
}
.availableslots{
    background: #fff;
}
.availableslots p{
    color:crimson;
    font-size: 19px;
}
.availableslots h3{
    color:blue;
}
.fa .fa-clock-o{
    margin-right:10px;
}
.psappointment .app_box:active{
    border:1px solid #ccc;
    background: #0f47c7;

}
.ps_bookform .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.ps_bookform .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.ps_bookform .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.ps_bookform .input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.ps_bookform .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 65%;
    opacity: 0.9;
    margin:1% 26%;
}

.ps_bookform .btn:hover {
    opacity: 1;
}
.ps_bookform i{
    color:#fff !important;
}
.ps_bookform input[type=text],input[type=number]{
    height: 40px;
    font-style: oblique;
    font-weight: 800;
    font-size: 17px;
}
.ps_bookform label{
    margin:auto;
    font-weight: 500;
    font-size: 16px;
}
.ps_bookform{
    background: #fff;
    padding:4px 10px;
    margin-top:20px;
}
.ps_bookform h2{
    padding:1%;
}
.ps_note p{
    color:#000;
    text-align: center;
}
.ps_note a{
    cursor: pointer;
}
.ps_bookappsearch {
    background: #cccccc96;
    padding: 22px 0px;
}
.ps_name{
    font-size: 22px;
    color: #E91E63;
    font-weight: 700;
}
.reg_back img{
    right: 2%;
    bottom: 10%;
    position: fixed;
    width: 4%;
}
.ps_home{
    bottom:24% !important;
}
.ps_docthead{
    background: #d0771b;
    font-size: 25px;
}
.ps_docthead span{
    color:#fff;
}
.ps_doctfilter tbody span{
    font-size: 30px;
    font-weight:bolder;
}
.ps_doctfilter{
    background: #fff;
}
.ps_docthead th,.psdrbody td{
    text-align: center;
}
.ps_dravailablity input[type=text]{
    width:65% !important;
}
.ps_dravailablity button{
    width:10% !important;
    font-size: 18px !important;
}
tbody.view_disp.psdrbody{
    background: #581c94;
}
tbody.view_disp.psdrbody tr{
    color:#fff;
}
tbody.view_disp.psdrbody tr:hover{
   
    background: #d20d0dc7;
    cursor: pointer;
}
tbody.view_disp.psdrbody tr td b:hover{
    color:#fff;
}
.drfilter_name{
    color:#ffe200;
}
.drfilter_time{
    color:#00f5e0;
}
.fdbklist{
    margin: 0px !important;
}
.gnrlfdbk{
    width:30% !important;
    margin: 0px auto !important;
}
.fdbkouter{
    padding: 92px 11px;
}
button.btn.gnrlfdbk.save{
    background: green;
}
button.btn.gnrlfdbk.cancel{
    background: red;
}
.ipfdbk button{
    display: inline-block;
    width:14% !important;
    margin: 0px 6px !important;
    font-size: 16px;
}
.ipfdbk{
    padding: 2%;
    background: #fff;
    border-bottom: 1px solid #4bff00;
}
.ipfdbk_body{
    margin-top: 3%;
    padding: 11px 26px !important;
}