.table th {
    min-width: 10px;
    background-color: #586cd899 !important;
    background-color: #65c4ca !important;
    color: #101010 !important;
    font-size: 14px;
    text-align: center !important;
    border: 1px solid #101010 !important;
}
#mainresponsivetablecontrol .table>tbody>tr>td {
    border: 1px solid #ccc !important;
    background: #c5b4b4cc !important;
}