 /* .btn:hover,
    .btn:focus,
    .btn.focus {
        color: #152638 !important;
        text-decoration: none;
    } */

 #print .dropdown-menu {
     top: initial;
     margin-bottom: 6px;
     bottom: 100%;
     background-color: #1e7d9a !important;
     left: -41px;
     min-width: 160px;
 }

 #print .dropdown-menu>li {
     border-bottom: 1px solid #fff;
 }

 #print .dropdown-menu>li>a {
     color: #000000 !important;
 }

 #print .top>li {
     margin-bottom: 0px !important;
 }

 .dropdown-menu>li>a:hover,
 .dropdown-menu>li>a:focus {
     background-color: #00125a !important;
     text-decoration: none;
     color: #fff;
 }

 #print .dropdown-menu {
     top: initial;
     bottom: 100%;
     background-color: transparent;
     border: none;
     box-shadow: none;
     background-clip: none;
 }

 #print .top>li {
     margin-bottom: 5px;
 }

 .filter-area.row {
     clear: both;
 }

 textarea.form-control.notes-textarea.ng-pristine.ng-valid.ng-empty.ng-touched {
     border: 1px solid #808080;
 }

 .box1 .inputfile {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: relative;
     z-index: -1;
 }

 input[type="file"] {
     display: block;
     width: 100%;
 }

 input[type="file1"] {
     display: none;
     width: 100%;
 }

 .refresh {
     background-color: #013fefc4;
     color: #fff;
     margin-left: -96px;
 }

 /* .table>thead>tr>th {
     padding: 8px;
 } */



 thead {
     /* background: #0287a5b8; */
     color: #fff;
     font-weight: 600;
     font-size: 14px;
 }

 /* .table>thead>tr>th {
     color: #fff;
     background: #0287a5b8;
 } */

 /*
    span.btn.btn-default.form-control.ui-select-toggle {
        padding-top: 8px;
    } */

 /* .table-bordered>tbody>tr>td,
 .table>thead>tr>th {
     border: 1px solid #ccc;
 } */


 #lefcol7 span {
     background: #0095ffe0 !important;
     color: #000000 !important;
 }

 .text-white span {
     color: #000000 !important;
 }

 .btn_cam {
     margin: 1px 9px;
 }



 label.text-black {
     color: #000;
 }

 /* .fooder-bgs button {
        /* border-radius: 0px !important;
    } */

 .iconbtn {
     right: 30%;
     text-align: center;
     position: relative;
     margin: 0;
     float: none;
     float: left;
     width: 100%;
     bottom: 25px;
 }

 .btn2 .box1,
 .btn3 .box1 {
     width: 58%;
     display: block;
     float: left;
     margin-left: 46%;
 }

 .panel .panel-heading,
 .unhide-content {
     background: #164360;
     clear: both;
     padding: 0px 19px 1px 11px;
 }

 span.btn.btn-default.form-control.ui-select-toggle,
 .form-horizontal input,
 input[type=text],
 .input-group .form-control {
     height: 32px !important;
 }

 span.btn.btn-default.form-control.ui-select-toggle:focus,
 .form-horizontal input:focus,
 input[type=text]:focus,
 .input-group .form-control:focus {
     border: 2px solid #66afe9 !important;
 }

 fieldset.fsStyle {
     border: none;
 }

 .panel-headin h4 {
     width: 90%;
     display: inline-block;
     margin: 0px;
     padding: 10px;
     color: #000000 !important;
 }

 .user_image img {
     width: 184px !important;
     height: 184px !important;
     border-radius: 1%;
     float: right;
     border: 1px solid #0000009e;
     background: #fff;
     border-style: dashed;
     border-radius: 100px;
 }

 .empty_content {
     position: relative;
     /* top: 67px; */
     right: -25%;

     font-weight: 700;
     font-size: 16px;
 }

 .inputfile-1+label,
 .uploadlbl {
     color: #f1e5e6;
     width: 12%;
     border-radius: 3px;
     margin: 0px;
     top: 1px;
     padding: 7px 10px;
     cursor: pointer;
     background-color: #d3394c;
     position: relative;
 }

 .text-center0.pull-right0.iconbtn.btn2 label.uploadlbl {
     width: 18%;
 }

 .text-center0.pull-right0.iconbtn.btn3 label.uploadlbl {
     width: 18%;
 }

 i.pull-right.glyphicon.ng-scope.glyphicon-chevron-right {
     margin-top: 10px;
 }

 .text-center0.pull-right0.iconbtn.btn2 button.btn.refresh.btn-xs {
     top: 40px;
     position: relative !important;
 }

 .text-center0.pull-right0.iconbtn.btn3 button.btn.refresh.btn-xs {
     top: 40px !important;
     position: relative;
 }

 .col-sm-12.right_content {
     position: relative;
     /* right: 6%; */
 }

 /* .fooder-bgs {
        background: transparent;
        padding: 10px;
        margin-top: 20px;
    } */
 /* .fooder-bgs {
    background: transparent;
    padding: 10px;
    margin-top: 20px !important;
} */
 /* .btn-warning {
        color: #ffffff;
        padding: 7px 10px;
        background-color: #ff4988 !important;
        border-color: #ff4988 !important;
    } */

 .dem-color4 {
     background-color: #558f5f !important;
 }

 footer.ng-scope {
     position: fixed;
     bottom: 0px;
     padding: 15px 10px !important;
     height: 40px !important;
     /* background: #152638 !important; */
     z-index: 999999;
 }

 .bt-color10,
 .bt-color11,
 .bt-color12,
 .bt-color13,
 .bt-color14,
 .bt-color3,
 .bt-color4,
 .bt-color5,
 .bt-color6,
 .bt-color7,
 .bt-color9 {
     border-color: #ff4988 !important;
 }

 .layout-fixed .wrapper {
     /* overflow-y: scroll; */
     /* height: 94vh;
        min-height: 82vh; */
 }

 /* section.ng-scope {
        overflow: scroll !important;
    } */

 .form-horizontal .control-label {
     text-align: left !important;
     /* margin-bottom: 5px; */
     margin-top: 5px;
 }

 .btn:hover,
 .btn:focus,
 .btn.focus {
     /* color: #000000 !important; */
     text-decoration: none;
 }

 i.pull-right.glyphicon.ng-scope.glyphicon-chevron-right {
     color: white !important;
     transform: rotate(90deg);
 }

 i.pull-right.glyphicon.ng-scope.glyphicon-chevron-down {
     color: white !important;
     transform: rotate(180deg);
     top: 10px;
 }

 /* .alignright button {
        background: unset !important;
    } */

 /*
    form#item_form {
        padding: 20px;
        padding-top: 10px !important;
    } */

 .filter-area,
 .filter-area0 {
     background: #ffffff00 !important;
 }

 .col-sm-12.bdr-right10.mgt10 {
     padding: 0px 1px !important;
 }

 /* .btn-warning {
        color: #ffffff;
        padding: 7px 10px;
        background-color: #164360 !important;
        border-color: #164360 !important;
    } */

 /* .fooder-bgs .btn-warning {
        color: #ffffff;
        padding: 7px 10px;
        background-color: #ff4988 !important;
        border-color: #ff4988 !important;
    } */

 .imgpho {
     width: 100px !important;
     height: 100px !important;
     border-radius: 56% !important;
     /* float: right; */
     border: 1px solid #0000009e;
     background: #c1c1c1;
     margin: auto;
 }

 .imgpho img {
     width: 100px !important;
     height: 100px !important;
     border-radius: 0% !important;
     float: unset;
     padding: 20px;
     border: unset !important;
     background: none !important;
     position: relative;
 }

 .refresh {
     background-color: #558f5f;
     color: #fff;
     padding: 7px 10px;
     margin-left: -96px;
 }

 /* .fooder-bgs {
        background: transparent;
        padding: 10px;
        margin-top: 20px;
    } */

 /* .fooder-bgs {
     padding-bottom: 30px !important;
 } */

 /* .btn-warning {
        color: #ffffff;
        padding: 7px 10px;
        background-color: #ff4988 !important;
        border-color: #ff4988 !important;
    } */

 .dem-color4 {
     background-color: #558f5f !important;
 }

 /*newcss ends*/
 /* .col-sm-12.opvisitcon .btn-warning {
        color: #ffffff;
        padding: 7px 10px;
        background-color: #164360 !important;
        border-color: #164360 !important;
    } */

 address.upercase.ng-isolate-scope .form-group label.col-sm-4.control-label.ng-scope {
     width: 100% !important;
 }

 address.upercase.ng-isolate-scope .form-group .col-sm-8 {
     width: 100% !important;
 }

 label {
     display: inline-block;
     max-width: 100%;
     font-family: 'Poppins', sans-serif !important;
     font-weight: 500 !important;
 }

 .fullreg-profiles {
     margin-bottom: 20px;
     padding: 15px;
     background: #7fdcdc8c !important;
 }

 .fontctrl {
     color: #ffffff;
     text-shadow: unset !important;
 }

 .panel .panel-heading,
 .unhide-content {
     background: #3fa9a06b !important;
     clear: both;
     padding: 0px 19px 1px 11px;
 }

 .btn:hover,
 .btn:focus,
 .btn.focus {
     /* color: #164360 !important; */
     text-decoration: none;
 }

 i.pull-right.glyphicon.ng-scope.glyphicon-chevron-right {
     color: #164360 !important;
     transform: rotate(90deg);
 }

 i.pull-right.glyphicon.ng-scope.glyphicon-chevron-down {
     color: #164360 !important;
     transform: rotate(180deg);
     top: 10px;
 }

 /*
    .fooder-bgs {
        background: transparent !important;
        padding: 10px;
        margin-top: 20px;
    } */

 /* .custom-modal-header {
     margin-bottom: 2px !important;
     background: #006c9a !important;
     color: white !important;
     padding: 10px !important;
 } */

 /* .custom-modal-header .mt0 {
     color: white;
 } */

 .table>tbody>tr>td,
 .table>thead>tr>th {
     padding: 4px 10px !important;
     font-size: 13px;
     color: #363333;
     font-weight: 300;
 }

 /* .alignright {
        display: flex;
        text-align: right;
        float: right;
    } */

 h3 {

     color: #164360;
     margin: 15px 0px;
 }

 button.btn.bt-color2.btn-xs.pull-right.btn-filter {
     /* padding: 0px; */
     background: unset !important;
     box-shadow: unset;
     border: 0px !important;
 }

 button.btn.bt-color2.btn-xs.pull-right.btn-filter i.fa.fa-plus {
     background: #43b749;
     padding: 10px 13px;
 }

 button.btn.bt-color3.btn-xs.pull-right,
 button.btn.btn-success.btn-xs.pull-right.btn-filter {
     background: unset !important;
     border: 0px !important;
     padding: 0px;
     box-shadow: unset;
 }

 button.btn.bt-color3.btn-xs.pull-right i.fa.fa-search {
     background: #ff0978;
     padding: 10px;
 }

 button.btn.btn-success.btn-xs.pull-right.btn-filter i.fa.fa-usd {
     background: #639;
     padding: 10px 15px;
 }

 patientsearch.logo.ng-isolate-scope .form-group {
     margin-bottom: 0px !important;
 }

 .alignright i.fa.fa-hospital-o.fa-lg {
     background: red;
     padding: 10px 13px;
     color: white;
     border: 0px !important;
     border-radius: 7px;
 }


 .alignright i.fa.fa-sign-out {
     color: #ffffff;
     background: blue;
     padding: 10px 12px;
     border: 0px !important;
     border-radius: 7px;
 }

 .alignright i.fa.fa-close {
     background: orange;
     padding: 10px 13px;
     color: #ffffff;
     border: 0px !important;
     border-radius: 7px;
 }

 .alignright i.fa.fa-paperclip.fa-xs.ng-binding {
     color: white;
     background: #164360;
     padding: 10px 8px;
     border: 0px !important;
     border-radius: 7px;
 }

 .alignright i.fa.fa-calculator.fa-lg {
     background: cyan;
     padding: 10px 13px;
     border: 0px !important;
     border-radius: 7px;
 }

 .alignright i.fa.fa-heartbeat.fa-lg {
     background: red;
     padding: 10px;
     border: 0px !important;
     border-radius: 7px;

 }

 span.btn.btn-default.form-control.ui-select-toggle {
     background: #c77a340f;
     /* width: 382px !important; */
 }

 /* input.ng-touched.ng-invalid:not(.ng-valid), select.ng-touched.ng-invalid:not(.ng-valid), textarea.ng-touched.ng-invalid:not(.ng-valid) {
    border: 2px solid #bd6718;
    width: 381px !important;
} */

 .btn:focus {
     border: 0px solid #000 !important;
     box-shadow: unset;
 }

 /* section.ng-scope {
        overflow: unset !important;
    } */
 .prv-color12 {
     background-color: #C51162;
 }

 button.dropdown-toggle.btn.btn-inverse.btn-sm {
     height: 31px;
     border-radius: 5px;
 }

 .alignright {
     display: flex;
     text-align: right;
     float: right;
     width: 106% !important;
 }

 /* .search i {
     position: absolute;
     left: 6px;
     top: 0px;
     padding: 7px 8px !important;
     color: #aaa;
     transition: 0.3s;
 } */

 button.btn.bttn_red.btn-sm.ng-scope {
     background: #fafafa !important;
 }

 .prv-color12 {
     background-color: #fafafa !important;
 }

 .btn-primary {
     color: #ffffff;
     background-color: #fafafa !important;
     /* border-color: #5899eb; */
 }

 .page-header button {
     margin: 0 2px;
     /* padding: 4px 0px !important; */
 }

 button.addbutton.bt-color2.btn-xs.pull-right.btn-filter {
     margin-top: 4px !important;
 }

 .search {
     position: relative;
     padding: 0px;
     width: 100%;
     margin-right: 10px;
 }

 .col-sm-5.user_image {
     width: 267px;
     top: 9px;
 }

 .box1 .inputfile {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
 }

 .inputfile-1+label {
     color: #5d9cec;
     width: 100%;
     border-radius: 13px;
     margin: 1px 18px;
     cursor: pointer;
     background-color: #fafafa;
     height: 31px;
     border: 2px solid #ff8d26;
     padding: 5px;
     width: 46px;
 }

 .refresh {
     /* background-color: #558f5f;
    color: #fff;
    padding: 7px 10px; */
     /* margin-left: -96px; */
     float: left;
     height: 31px;
     margin-top: 2px;
 }

 .col-sm-12.outer_ilayer {
     right: -25px;
     margin-top: 10px;
 }

 .btn_cam {
     margin: 1px 9px;
     margin: 1px 9px;
     border-radius: 13px !important;
     width: 47px;
     height: 31px;
     color: #164360;
     background-color: white;
     border-color: #ff8d26;
 }

 /* fieldset#textboxctrlmaster {
    width: 525px;
} */
 /* input#pidreg {
     height: 32px !important;
     background: #f8f8f8 !important;
     width: 100% !important;
     margin-top: 2px;
     margin-right: auto;
     font-weight: 400 !important;
     border: unset !important;
 } */

 button.cnlbutton {
     background: #fafafa;
     color: #f05050;
     border: 2px solid #ff902b;
     border-radius: 13px;
     height: 30px;
     width: 34px;
     margin-top: 0px;
     padding: 5px;
     width: 46px;
 }

 /* .autodrop.table.table.table-bordered.table-condensed.dropdown-menu {
     width: 50% !important;
 } */

 td.namebold {
     color: black;
     font-weight: 500
 }

 i.fa.fa-check {
     background: green;
     border-radius: 16px;
 }

 #bannerdetails ul.dropdown-menu.dropdown-menu-left.datetime-picker-dropdown.ng-pristine.ng-untouched.ng-valid.ng-scope.ng-empty.ng-valid-date-disabled {
     margin-left: -180px;
 }

 h4.subheader {
     height: 11px;
     padding: 0px 11px;
     margin-top: 2px;
 }

 button.checkout {
     height: 34px;
     width: 34px;
     border-radius: 20px;
     border: 2px solid gray;
     margin: 1px 5px;
 }

 button.paper {
     height: 34px;
     width: 67px;
     border-radius: 20px;
     border: 2px solid gray;
     margin: 3px 5px;
 }

 button.deactivate {
     height: 34px;
     width: 34px;
     border-radius: 20px;
     border: 2px solid gray;
     margin: 1px 5px;
 }

 button.barcode {
     height: 34px;
     width: 34px;
     border-radius: 20px;
     border: 2px solid gray;
 }

 button.billings {
     width: 40px;
     height: 40px;
     margin: 4px;
     border-radius: 6px;
     background: #F44336;
     border: 1px;
     margin: 4px 5px;

 }

 #datepick ul.uib-datepicker-popup.dropdown-menu.ng-scope {
     left: -42px !important;
     width: 1;
     /* height: 252px; */
 }

 button.admissionbutton {
     width: 83px;
     height: 31px;
     background: #2196F3;
     color: white;
     border: 1px;
     padding: 6px 2px !important;
     /* margin-top: 4px; */
     border-radius: 7px;
 }

 #datefixer .uib-datepicker.ng-scope.ng-isolate-scope {
     width: 397px !important;
 }




 .accordion {
     width: 100%;
     margin: auto;
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .number {
     color: #ced4da;
 }

 .icon {
     width: 30px;
     height: 30px;
     stroke: #042e71;
     cursor: pointer;
     /* background: #042e71; */
     border-radius: 100px;
     padding: 6px;
     border: 1px solid;
 }

 .hidden-box {
     grid-column: 2;
     display: none;
 }

 .hidden-box p {
     line-height: 1.6;
     margin-bottom: 24px;
 }

 .hidden-box ul {
     color: #868e96;
     display: flex;
     flex-direction: column;
     gap: 12px;
     margin-left: 20px;
 }

 .open .hidden-box {
     display: block;
     border-top: 1px solid #072a6247;
     margin-top: -30px;
     padding-top: 15px;
 }

 .icon-rotate {
     transform: rotate(180deg);
     transition: 0.3s;
 }

 .item {
     display: flex;
     align-items: center;
     column-gap: 24px;
     row-gap: 32px;
     justify-items: stretch;
     justify-content: space-between;
     align-content: stretch;
     flex-wrap: wrap;
     color: #042e71;
     border-bottom: 1px solid #072a6247;
     padding-bottom: 6px;
 }

 textarea {
     height: 30px;
 }

 .ui-select-container.ui-select-bootstrap.dropdown {
     width: 100%;
     display: grid !important;
 }

 .filters {
     display: flex;
     float: left;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: flex-end;
     align-content: center;
     margin: 0px;
     width: 100%;
 }

 .filters button {
     padding: 8px !important;
     color: #fff;
     float: right;
     border: 0px;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     /* margin-right: 10px; */
     font-size: 14px;
 }

 /* .hidden-box [class*="col-"]>[class*="col-"],
 .hidden-box .row [class*="col-"] {
     padding: 0;
     padding-right: 17px;
 }

 .hidden-box [class*="col-"]>[class*="col-"]>[class*="col-"]>*>[class*="col-"] {
     padding: 0;
     padding-right: 17px;
 } */

 /* .fooder-bgs {
     padding: 15px;
 } */

 .filters-right {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     float: right;
 }

 .filters-right button {
     background: #0073bc;
     color: white;
     border: unset !important;
     width: 30px;
     height: 30px;
     margin-right: 13px;
     margin-top: 15px;
     border-radius: 50%;
 }

 .badge-count {
     position: absolute;
     background: red;
     padding: 0px;
     border-radius: 100px;
     margin-top: -14px;
     right: 64px;
     color: white;
     width: 20px;
     font-size: 13px;
     height: 20px;
 }

 .filters button {
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     flex-wrap: nowrap;
     flex-direction: row;
     margin-right: 5px;
 }

 .search input.form-control.pid {
     height: 32px !important;
     font-weight: 400 !important;
 }

 .drhms-list-filters label {
     margin-top: 4px;
     height: 22px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }