.content-wrapper {
    height: 93vh;
    /* overflow: scroll; */
    overflow-x: hidden;
}

.img-responsive {
    display: block !important;
    max-width: 35% !important;
    height: auto !important;
    margin-top: 10px;
}

.selecteditem {
    background-color: #2792c4 !important;
    color: white !important;
}

.unselecteditem {
    /* background-color: #188c94d5 !important;
    color: white !important; */
}

tr:nth-child(odd) {
    /* background-color: #9ac7bf !important;
    color: black !important; */
}

tr {
    color: black !important;
}

.btnselected {
    background-color: #260cb5 !important;
    color: #ffffff !important;
}
.col-sm-5.ng-scope {
    margin-bottom: 12px;
}
.whitebox {
    margin: 2.4px;
    background-color: #fff;
    text-align: center;
    padding: 8px;
    margin: 10px 10px 10px 10px;
    border-radius: 2px;
    min-height: auto;
    box-shadow: -2px 0px 10px #332d2da3;
    color: #747474;
    font-size: 14px;
}

@media (min-width:1026px) {
    .whitebox {
        width: 18%;
    }
}

@media (max-width:414px) {
    .function-btn button {
        margin: 4px;
    }
}

@media (max-width:1024px) {
    .box3 {
        clear: both;
    }
}

.totalbg {
    color: #ff0000 !important;
    background: #d3d3d3;
    font-weight: 500;
    font-family: -webkit-body;
}

.function-btn button {
    background: #bbeedd3d !important;
    color: #000;
    border-radius: 0px !important;
    padding: 8px !important;
    width: 80% !important;
    margin: 10px auto !important;
    border: 1px solid #54667a !important;
}

.function-btn button.btnselected {
    background-color: #54667a !important;
    color: #ffffff !important;
}

.function-btn button:hover {
    background: #54667a !important;
    color: #000000 !important;
    border-radius: 0px !important;
    padding: 8px !important;
    border: 1px solid #54667a !important;
}

#emrdashboard .fooder-bg,
.aside-collapsed .fooder-bg,
.fooder-bg {
    position: relative !important;
    bottom: 0px !important;
    left: 0px !important;
}

.tablebox.ng-scope .autosearch-div {
    display: flex;
    border: 1px solid !important;
    border-radius: 10px !important;
}

#commontbl table {
    overflow-x: auto;
}

#commontbl table th {
    padding: 2px;
}

/* .commontbl table span{white-space: nowrap;} */

.function-btn button {
    margin-left: 5px;
    overflow: hidden;
}

.function-btn button {
    background: #f1a9d1fc;
    color: #000;
}

.function-btn button:active {
    background-color: #0faad89e !important;
}

.well {
    padding: 0px;
}

.btn:focus {
    border: 1px solid #000;
}

.btn {
    border-radius: 9px !important;
    font-size: 16px;
    border-color: transparent;
    -webkit-appearance: none;
    outline: none !important;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    margin-bottom: 10px !important;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 4px !important;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
}

button.btn.btn-search.btn-sm {
    background-color: #e02b2bc7;
    color: white;
}

button.btn.btn-print.btn-sm.ng-scope {
    background-color: #333333b8;
}

.row.well {
    border: 0px !important;
    clear: both;
}

span.ui-select-match-text.pull-left {
    padding: 0px !important;
}

span.ui-select-match-text.pull-left span {
    padding: 0px !important;
}

.filter-area span {
    padding: 10px 0px !important;
}

button.btn.btn-search.btn-sm {
    /* background-color: #65c4ca !important; */
    color: white !important;
    padding: 7px 16px !important;
    margin-right: 15px !important;
}

button.btn.btn-print.btn-sm {
    padding: 7px 20px !important;
    background: #54667a !important;
    color: white !important;
}

button.btn.btn-print.btn-sm span.ng-scope,
button.btn.btn-search.btn-sm span.ng-scope {
    color: white !important;
}

.tablebox.ng-scope {
    background: white !important;
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    /* margin: unset !important; */
}

button#btnsubmit {
    margin-right: 212px !important;
}
.billingbanner table tr td, #bannerdetails tr td {
height: 33px !important;
PADDING: 0px 10px;
word-break: break-all;
}
/* .wrapper>section
{
    margin-left: unset !important;
} */
div#reportslist {
    margin-bottom: 100px;
}
button {
    background: white;
}
.content-wrapper.ng-scope.ng-fadeInUp {
    height: 100% !important;
}
.content-wrapper.ng-scope.ng-fadeInUp {
    margin-bottom: 50vh !important;
}

/* //tabs css// */

i.lni.lni-checkmark {
    margin-left: -16px;
    margin-right: 13px;
    color: #4545ef;
}
#dynamic-tab .tabs {
    padding-left: 12px;
}
#dynamic-tab .w3-red, .w3-hover-red:hover {
    color: black !important;
    border-top: 2px solid #272a75 !important;
    border-left: 1px solid #d8d1d1 !important;
    border-right: 1px solid #dedede !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: white !important;
    width: 17% !important;
    padding: 4px;
    border-bottom: unset !important;
    height: 39px;
    white-space: nowrap;
    font-weight: 700;
}
#dynamic-tab button.w3-bar-item.w3-button.tablink {
    background: #e4e3e3;
    text-align: center;
    border: unset;
    border-radius: 4px;
    border-radius: 4px;
    position: relative;
    bottom: 5px;
    width: 191px;
    padding: 5px;
    color: gray;
    font-weight: 700;
}
#dynamic-tab .w3-black, .w3-hover-black:hover {
    color: #000!important;
    background-color: #fff!important;
    margin-bottom: -6px;
}
#dynamic-tab .tabs.ng-scope {
    padding-left: 29px;
    height: auto;
}
#dynamic-tab .tab-view {
    border: 1px solid gainsboro;
    height: 75vh;
    margin-top: -2px !IMPORTANT;
    padding-top: 18px;
    overflow-y: scroll;
}
table#reportdetails tr td {
    border: unset !important;
    text-decoration: underline;
    display: inline-block;
    /* color: #676363 !important;
    border: unset !important;
    padding: 3px 0px !IMPORTANT;
    font-size: 16px;
    text-decoration: underline;
    padding-left: 42px !IMPORTANT; */
}
.tab-view::-webkit-scrollbar-thumb {
    background-color: #6f6a6a;
}

.tab-view::-webkit-scrollbar {
    width: 2px !important;
    background: #e4e2e2;
    border-radius: 16px;
}
/* //tabs css// */
.fontbolder {
    font-weight: bolder !important;
    color: black;
    position: relative;
    right: 60px;
    text-decoration: unset !important;
}