
<html>

  <head>
      <style>
          .center {
              text-align: center;
              font-size: 13px !important;
          }

          .left {
              text-align: left;
              font-size: 13px !important;
              padding: 5px 0 5px 0;
              margin: 10px 0 10px 0;
          }

          .right {
              text-align: right;
              font-size: 13px;
          }

          .heading {
              margin-bottom: 10px;
          }

          .headerline {
              border-top: 1px solid;
              border-bottom: 1px solid;
              padding-bottom: 10px;
          }

          .size {
              padding-top: 5px;
              font-size: 13px;
          }


          table.size.bot td {
              border: 1px solid;
          }

          table.size.bot {
              border: 1px solid;
          }

          table.size.bot td {
              border: 1px solid;
              text-align: center;
          }

          table.size {
              border-collapse: collapse !important;
          }

          .left.Investigation,
          .PROVISIONAL.DIAGNOSIS,
          .Final.Diagnosis,
          .Advice.On.Discharge {
              color: rgb(202, 29, 165) !important;
          }

          table.size.top {
              position:relative;
              bottom: 0px;
          }

          .content {
              position: relative;
              top: 10px;
          }

          td, th {
              font-size: 13px !important;
              vertical-align:top;
          }

          .headline td {
              padding: 4px;
          }

          {{include '/Templates/assets/css/core.css'}}
      </style>

  </head>

  <body style="padding:10px;padding-left:45px;">
          <div id="pageHeader-2" style='font-size:11px;'>
             {{{include '/Templates/equitas/common/header.tpl.html' 'tpl'}}}


<div class="pat-info" style="position:relative;top:120px;">
           <table class="size"style="font-size:8px;">
               <tr>
                <td style="width:10%;padding-left:45px;">
                    <b> Name</b>
                </td>
                <td>:</td>
                <td style="width:30%;">
                    <b>{{data.CurrentConsultation.Patient.Title.Description}} {{data.CurrentConsultation.Patient.FirstName}} {{data.CurrentConsultation.Patient.MiddleName}} {{data.CurrentConsultation.Patient.LastName}}</b>
                </td>
                <td style="width:12%;">
                    <b>Age / Sex</b>
                </td>
                <td>:</td>
                <td style="width:18%;">
                    <b>{{age data.CurrentConsultation.Patient.DOB}} / {{data.CurrentConsultation.Patient.Gender.Description}}</b>
                </td>
                <td style="width:15%;">
                    <b>OP / IP NO</b>
                </td>
                <td>:</td>
                <td style="width:15%;">
                    <b>{{data.CurrentConsultation.Encounter.VisitIdentifier}}</b>    
                </td>
            </tr>
        </table>
</div>
        <div style="width:100%;position:relative;top:120px;">
            <hr style="border-top:solid 1px;" />
        </div>
    </div>




          </div>
          </br>
          <div id="pageHeader-3" style='font-size:13px;'>
               {{{include '/Templates/equitas/common/header.tpl.html' 'tpl'}}}

              <div class="pat-info" style="position:relative;top:120px;">
           <table class="size"style="font-size:8px;">
               <tr>
                <td style="width:10%;padding-left:45px;">
                    <b> Name</b>
                </td>
                <td>:</td>
                <td style="width:30%;">
                    <b>{{data.CurrentConsultation.Patient.Title.Description}} {{data.CurrentConsultation.Patient.FirstName}} {{data.CurrentConsultation.Patient.MiddleName}} {{data.CurrentConsultation.Patient.LastName}}</b>
                </td>
                <td style="width:12%;">
                    <b>Age / Sex</b>
                </td>
                <td>:</td>
                <td style="width:18%;">
                    <b>{{age data.CurrentConsultation.Patient.DOB}} / {{data.CurrentConsultation.Patient.Gender.Description}}</b>
                </td>
                <td style="width:15%;">
                    <b>OP / IP NO</b>
                </td>
                <td>:</td>
                <td style="width:15%;">
                    <b>{{data.CurrentConsultation.Encounter.VisitIdentifier}}</b>    
                </td>
            </tr>
        </table>
</div>
        <div style="width:100%;position:relative;top:120px;">
            <hr style="border-top:solid 1px;" />
        </div>
    </div>

          </div>
          </br>
          <div id="pageHeader-4" style='font-size:13px;'>
                 {{{include '/Templates/equitas/common/header.tpl.html' 'tpl'}}}

<div class="pat-info" style="position:relative;top:120px;">
           <table class="size"style="font-size:8px;">
               <tr>
                <td style="width:10%;padding-left:45px;">
                    <b> Name</b>
                </td>
                <td>:</td>
                <td style="width:30%;">
                    <b>{{data.CurrentConsultation.Patient.Title.Description}} {{data.CurrentConsultation.Patient.FirstName}} {{data.CurrentConsultation.Patient.MiddleName}} {{data.CurrentConsultation.Patient.LastName}}</b>
                </td>
                <td style="width:12%;">
                    <b>Age / Sex</b>
                </td>
                <td>:</td>
                <td style="width:18%;">
                    <b>{{age data.CurrentConsultation.Patient.DOB}} / {{data.CurrentConsultation.Patient.Gender.Description}}</b>
                </td>
                <td style="width:15%;">
                    <b>OP / IP NO</b>
                </td>
                <td>:</td>
                <td style="width:15%;">
                    <b>{{data.CurrentConsultation.Encounter.VisitIdentifier}}</b>    
                </td>
            </tr>
        </table>
</div>
        <div style="width:100%;position:relative;top:120px;">
            <hr style="border-top:solid 1px;" />
        </div>
    </div>
              


          </div>
          </br>
          <div id="pageHeader-5" ;style='font-size:13px;'>
                {{{include '/Templates/equitas/common/header.tpl.html' 'tpl'}}}

<div class="pat-info" style="position:relative;top:120px;">
           <table class="size"style="font-size:8px;">
               <tr>
                <td style="width:10%;padding-left:45px;">
                    <b> Name</b>
                </td>
                <td>:</td>
                <td style="width:30%;">
                    <b>{{data.CurrentConsultation.Patient.Title.Description}} {{data.CurrentConsultation.Patient.FirstName}} {{data.CurrentConsultation.Patient.MiddleName}} {{data.CurrentConsultation.Patient.LastName}}</b>
                </td>
                <td style="width:12%;">
                    <b>Age / Sex</b>
                </td>
                <td>:</td>
                <td style="width:18%;">
                    <b>{{age data.CurrentConsultation.Patient.DOB}} / {{data.CurrentConsultation.Patient.Gender.Description}}</b>
                </td>
                <td style="width:15%;">
                    <b>OP / IP NO</b>
                </td>
                <td>:</td>
                <td style="width:15%;">
                    <b>{{data.CurrentConsultation.Encounter.VisitIdentifier}}</b>    
                </td>
            </tr>
        </table>
</div>
        <div style="width:100%;position:relative;top:120px;">
            <hr style="border-top:solid 1px;" />
        </div>
    </div>



          </div>
          </br>

      </div>
      <div id="pageFooter">
          {{{include '/Templates/equitas/common/footer.tpl.html' 'tpl'}}}
      </div>

      <div id="pageHeader" style="margin-top:20px;">
<span>
          {{{include '/Templates/equitas/common/header.tpl.html' 'tpl'}}}
</span>
</div>
      <div class="content">
          <table class="size headline" style="width:100%;padding-left:45px;position:relative;bottom:20px;">
    <tr>
        <td style="width:20%">Name</td>
        <td style="width:30%">
            : <b>{{data.CurrentConsultation.Patient.Title.Description}} {{data.CurrentConsultation.Patient.FirstName}}
                {{data.CurrentConsultation.Patient.MiddleName}} {{data.CurrentConsultation.Patient.LastName}}</b>
        </td>
        <td>UHID</td>
        <td>
            <b>: {{data.CurrentConsultation.Patient.MRN}}</b>
        </td>
    </tr>
    <tr>
        <td>Age/Gender</td>
        <td>: {{specifiedage data.CurrentConsultation.Patient.DOB}}/ {{data.CurrentConsultation.Patient.Gender.Description}}</td>
        <td>OP No</td>
        <td>
            <b>: {{data.CurrentConsultation.Encounter.VisitIdentifier}}
                <b>
        </td>
    </tr>
    <tr>
        <td>Mobile No</td>
        <td>: {{data.CurrentConsultation.Patient.Mobile}}</td>
        <td>Primary Consultant</td>
        <td>: {{data.CurrentConsultation.Encounter.DoctorName}}
        </td>
    </tr>

    </tr>
    <tr>
        <td>Status</td>
        <td><b>: {{data.CurrentConsultation.ProgressNoteStatus.Description}}</b></td>
    </tr>

</table>
   <div style="width:100%;">
            <hr style="border-top:solid 1px;" />
        </di
          <div>
              <div class="center header4"><b> OP CONSULTATION NOTES</b></div>

             <!-- <div class="left" style="background-color: lightgrey;"><b>Visit Information</b></div>
              <table class="size" style="width:100%">
                  <tr>
                      <td style="width:25%">Attended By</td>
                      <td>:</td>
                      <td class="sub-color" style="width:25%"><b>{{data.CurrentConsultation.Encounter.DoctorName}}</b></td>
                      <td style="width:25%">Type</td>
                      <td>:</td>
                      <td style="width:25%" class="sub-color">{{data.CurrentConsultation.VisitType.Description}}</td>
                  </tr>
                  <!--   <tr>
                      <td style="width:25%">Referred By</td>
                      <td>:</td>
                      <td style="width:25%">{{data.CurrentConsultation.Encounter.ReferralName}}</td>
                      <td style="width:25%">Last Consultation Note</td>
                      <td>:</td>
                      <td style="width:25%"></td>
                  </tr>
                  <tr>
                     <td style="width:25%">Ref</td>
                      <td>:</td>
                      <td style="width:25%">{{data.CurrentConsultation.ReferenceNo}} </td>
                      <td style="width:25%">Reason for visit</td>
                      <td>:</td>
                      <td style="width:25%">{{data.CurrentConsultation.Encounter.VisitReason.Remarks}}</td>
                  </tr>--
              </table>-->
              <div>{{#if data.SectionValues.Questions}} {{#each data.SectionValues.Questions}}
              </div>
              <div class="left"><b>{{sectionName}}</b></div>
              {{#each cat}}
              <div class="left"> <b>{{CategoryName}}</b></div>
              <table class="size" style="width:100%">
                  {{#each concepts}} {{#if Result}}
                  <tr>
                      <td style="width:20%" class="left {{ConceptName}}">{{ConceptName}}</td>
                      <td style="width:5%">:</td>
                      <td style="width:75%" class="left {{ConceptName}} sub-color">{{{Result}}}</td>
                  </tr>
                  {{/if}} {{/each}}
              </table>
              {{/each}} {{/each}} {{/if}}

              <div>{{#if data.SectionValues.Chiefcomplaint.Data}}
                  <div class="left"><b>Chief Complaint</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:20%" align="left">Date</th>
                          <th style="width:80%" align="left">Chief Complaint</th>
                      </tr>
                      {{#each data.SectionValues.Chiefcomplaint.Data}}
                      <tr>
                          <td style="width:20%" class="sub-color">{{datetimeformat StartDate}}</td>
                          <td style="width:80%" class="sub-color">{{ChiefComplaint}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Order.Data}}
                  <div class="left"><b>Order</b></div>
                  <table class="size" style="width:100%">
                      {{#each data.SectionValues.Order.Data}}
                      <tr>
                          <td style="width:20%" class="sub-color">{{TESTMASTERTYP.Description}}</td>
                      <td style="width:5%">:</td>
                          <td style="width:75%" class="sub-color">
                              {{#each PatientOrderDetails}}
                              {{TestName}}({{TestCode}});{{/each}}
                          </td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Allergy.Data}}
                  <div class="left" style="background-color: lightgrey;"><b>Allergy</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:33%" align="left">Name</th>
                          <th style="width:33%" align="left">Type</th>
                          <th style="width:33%" align="left">Date</th>
                      </tr>
                      {{#each data.SectionValues.Allergy.Data}}
                      <tr>
                          <td style="width:33%" class="sub-color">{{AllergyName}}</td>
                          <td style="width:33%" class="sub-color">{{AllergyType.Description}}</td>
                          <td style="width:33%" class="sub-color">{{datetimeformat StartDate}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Prescription.Data}}
                  <div class="left" style="background-color: lightgrey;"><b>Prescription</b></div>
                  <table class="size bot" style="width:100%">
                      <tr>
                          <th style="width:20%" align="center">Drug</th>
                          <th style="width:20%" align="center">Dosage</th> 
                          <th style="width:20%" align="center">Frequency</th>
                          <th style="width:20%" align="center">Duration</th>
                          <th style="width:20%" align="center">DrugInstruction</th>
                      </tr>
                      {{#each data.SectionValues.Prescription.Data}} {{#each PrescriptionDetails}}
                      <tr>
                          <td style="width:20%">{{DrugName}}</td>
                          <td style="width:20%">{{Dosage}}</td> 
                          <td style="width:20%">{{#if  Morning}} {{Morning}} - {{/if}} {{#if  Noon}} {{Noon}} -{{/if}} {{Night}}</td>
                          <td style="width:20%">{{Duration}} {{DurationPeriod.Description}}</td>
                          <td style="width:20%">{{DrugInstruction.Description}}</td>

                      </tr>
                      {{/each}} {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Condition.Data}}
                  <div class="left"><b>Condition</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:20%" align="left">Condition Type</th>
                          <th style="width:80%" align="left">Name</th>
                      </tr>
                      {{#each data.SectionValues.Condition.Data}}
                      <tr>
                          <td style="width:20%" class="sub-color">{{ConditionType.Description}}</td>
                          <td style="width:80%" class="sub-color">{{DiagnosisName}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Vital.Data}}
                  <div class="left"><b>Vital</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:20%" align="left">Vital</th>
                          <th style="width:80%" align="left">Value</th>
                      </tr>
                      {{#each data.SectionValues.Vital.Data}}
                      <tr>
                          <td style="width:20%">{{VitalName}}</td>
                          <td style="width:80%" class="sub-color">{{VitalValue}}&nbsp&nbsp{{UOM}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Procedure.Data}}
                  <div class="left"><b>Procedure</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:20%" align="left">Type</th>
                          <th style="width:80%" align="left">Name</th>
                      </tr>
                      {{#each data.SectionValues.Procedure.Data}}
                      <tr>
                          <td style="width:30%" class="sub-color">{{ProcedureType.Description}}</td>
                          <td style="width:40%" class="sub-color">{{Procedure.ProcedureName}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Documents.Data}}
                  <div class="left"><b>Documents</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:20%" align="left">Date</th>
                          <th style="width:80%" align="left">Name</th>
                      </tr>
                      {{#each data.SectionValues.Documents.Data}}
                      <tr>
                          <td style="width:20%" class="sub-color">{{datetimeformat CreatedDate}}</td>
                          <td style="width:80%" class="sub-color">{{Name}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Familyconditions.Data}}
                  <div class="left"><b>Family Condition</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:30%" align="left">Name</th>
                          <th style="width:30%" align="left">Type</th>
                          <th style="width:30%" align="left">Relationship</th>
                      </tr>
                      {{#each data.SectionValues.Familyconditions.Data}}
                      <tr>
                          <td style="width:30%" class="sub-color">{{DiagnosisName}}</td>
                          <td style="width:30%" class="sub-color">{{ConditionType.Description}}</td>
                          <td style="width:30%" class="sub-color">{{Relationship.Description}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Socialhistory.Data}}
                  <div class="left"><b>Social History</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:20%" align="left">Type</th>
                          <th style="width:80%" align="left">Frequency</th>
                      </tr>
                      {{#each data.SectionValues.Socialhistory.Data}}
                      <tr>
                          <td style="width:20%" class="sub-color">{{SocialType.Description}}</td>
                          <td style="width:80%" class="sub-color">{{SocialFrequency.Description}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Familysocialhistory.Data}}
                  <div class="left"><b>Family Social History</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:20%" align="left">Type</th>
                          <th style="width:80%" align="left">Frequency</th>
                      </tr>
                      {{#each data.SectionValues.Familysocialhistory.Data}}
                      <tr>
                          <td style="width:20%" class="sub-color">{{SocialType.Description}}</td>
                          <td style="width:80%" class="sub-color">{{SocialFrequency.Description}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.Immunization.Data}}
                  <div class="left"><b>Immunization</b></div>
                  <table class="size" style="width:100%">
                      <tr>
                          <th style="width:20%" align="left">Name</th>
                          <th style="width:80%" align="left">Route</th>
                      </tr>
                      {{#each data.SectionValues.Immunization.Data}}
                      <tr>
                          <td style="width:20%" class="sub-color">{{ImmunizationName}}</td>
                          <td style="width:80%" class="sub-color">{{Route.Description}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
              <div>{{#if data.SectionValues.PatientAdviceMedications.Data}}
                  <div class="left">
                      <b>Advice On Discharge</b>
                  </div>
                  <table class="size bot" style="width:100%">
                      <tr>
                          <th style="width:20%" align="center">Drug</th>
                          <th style="width:20%" align="center">Dosage</th>
                          <th style="width:20%" align="center">Frequency</th>
                          <th style="width:20%" align="center">Duration</th>
                          <th style="width:20%" align="center">Drug Instruction</th>
                      </tr>
                      {{#each data.SectionValues.PatientAdviceMedications.Data}}
                      <tr>
                          <td style="width:20%">{{DrugName}}</td>
                          <td style="width:20%">{{Dosage}}</td>
                          <td style="width:20%">
                              {{MorningFrequency}}&nbsp;-&nbsp; {{AfterNoonFrequency}}&nbsp;-&nbsp; {{EveningFrequency}}&nbsp;-&nbsp; {{NightFrequency}}
                          </td>
                          <td style="width:20%">{{Duration}}</td>
                          <td style="width:20%">{{DrugInstruction.Description}}</td>
                      </tr>
                      {{/each}}
                  </table>
                  {{/if}}
              </div>
          </div>
          <table style="width:100%;">
              <tr>
                  <td style="width:60%;"></td>
                  <td style="width:10%;">
                      <td style="width:30%; font-size:13px;" ><b>
                       </b></td>
              </tr>
              <tr>
                  <td style="width:60%;"></td>
                  <td style="width:10%;">
                      <td style="width:30%; font-size:13px;" align="right">
  <div align="center"> <img style="height: 30px; width: 100px;" src="{{include data.CurrentConsultation.ApprovedUser.SignPath 'fullpath-img'}}"/>

  <div align="center">( {{data.CurrentConsultation.Encounter.Department.DepartmentName}} )</div>
  </div>
  <div>Approved By</div></td>
              </tr>
          </table>
      </div>
  </body>

  </html>
