<style>
    .table>thead>tr>th {
        padding: 5px 8px !important;
        color: #000000 !important;
    }
    
    .table>tbody>tr>td {
        border: 1px solid #ccc !important;
        background: #fff !important;
    }
    /* .typeahead-demo .custom-popup-wrapper>.dropdown-menu {
    min-width: 700px !important;
    min-height: 93vh !important;
} */
    
    .table>tbody {
        box-shadow: 1px 1px 16px -3px rgba(0, 0, 0, 0.75);
    }
    /* .autosearch-div .custom-popup-wrapper {
        width: 390% !important;
    } */
    /* table {
        margin: 0px;
        margin-bottom: 7px !important;
        table-layout: fixed;
        width: 97%;
        max-width: 100%;
        padding: 19px !important;
    } */
    /* #doublepage-editor {
        height: auto !important;
        overflow: scroll;
        overflow-x: hidden !IMPORTANT;
    } */
    
    .autosearch input.form-control {
        background: #ff902b38 !important;
    }
    
    button.btn.btn-secondary {
        float: right;
        margin: 7px;
        color: white;
        background: #193b82;
    }
</style>
<div class="modal-header custom-modal-header">
    <h4 class="col-sm-3" translate="pickdispenselist.pagetitle.lbl"></h4>
    <div class="col-sm-8 page-calendar ">
        <div class="" ng-module="currentcontext.patinfo" ng-if="selectedPatient.MRN.length > 0">
            <strong tooltip-placement="bottom" style="font-size: 15px;color: #fff700;position: relative;top: 12px;right: 45px;" uib-tooltip="{{ selectedPatient.Title.Description }} {{selectedPatient.FirstName}} | {{selectedPatient.MRN}} | {{selectedPatient.Gender.Description}} | {{selectedPatient.Age}} Years | {{selectedPatient.DOB | date : 'dd/MMM/yyyy' }}">
                {{selectedPatient.Title.Description}} {{selectedPatient.FirstName}}
                <span>
                    <span ng-click="patientprofiledetails()">
                        <!-- <i class="icon-info-sign"></i> -->
                    </span> | {{selectedPatient.MRN}} | {{selectedPatient.Gender.Description}} | {{selectedPatient.Age}}
                    Years
                </span>
            </strong>
        </div>
    </div>
    <div class="col-sm-1">
        <button type="button" id="btnCancelForm" class="draftbutton" translate="X" ng-click="cancelCallback()"></button>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-4">
        <label class="col-sm-12 control-label" for="name" translate="Name"></label>
        <div class="col-sm-12 autosearch">
            <patientsearch patientid="currentcontext.PatientId" patientinfo="selectedPatient" patientchange="patientChange()" style="width:100%;"></patientsearch>
        </div>
    </div>
    <div class="col-sm-4">
        <label class="col-sm-12 control-label" for="frmdate" translate="From Date"></label>
        <div class="col-sm-12">
            <div class="datepicker" id="datepicker">
                <input type="text" class="form-control" tabindex="-1" name="fromdate" ng-date-object uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}" ng-click="fromdatePopup = { opened: true }" is-open="fromdatePopup.opened"
                    ng-model="currentcontext.FromDate" id="disabledInput">
                <i class="fa fa-calendar" aria-hidden="true" style="padding: 0px 0px;"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label class="col-sm-12 control-label" for="todate" translate="To Date"></label>
        <div class="col-sm-12">
            <div class="datepicker" id="datepicker">
                <input type="text" class="form-control" name="todate" datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}" uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                    ng-click="todatePopup = { opened: true }" is-open="todatePopup.opened" ng-model="currentcontext.ToDate">
                <i class="fa fa-calendar"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <button type="button" class="btn btn-secondary btn-sm" translate="Fetch" ng-click="getPatientDispensedItems()"></button>
    </div>
</div>

<div id="">
    <table class="table table-hover table-responsive table-bordered">
        <thead class="bg-subhead">
            <tr>
                <th class="col-sm-1">
                    <span translate="">
                        <input type="checkbox" class="custom-checkbox" ng-model="currentcontext.selectallchk"
                            ng-click="SelectAll(currentcontext.selectallchk)" />
                    </span>
                </th>
                <th class="col-sm-1">
                    <span translate="pickdispenselist.itemname.lbl"></span>
                </th>
                <th class="col-sm-1">
                    <span translate="pickdispenselist.billedquantity.lbl"></span>
                </th>
                <th class="col-sm-1">
                    <span translate="pickdispenselist.returnedquantity.lbl"></span>
                </th>
                <th class="col-sm-1">
                    <span translate="pickdispenselist.returntransitquantity.lbl"></span>
                </th>
                <th class="col-sm-1">
                    <span translate="pickdispenselist.returnquantity.lbl"></span>
                </th>
                <th class="col-sm-1">
                    <span translate="pickdispenselist.batchid.lbl"></span>
                </th>
                <th class="col-sm-1">
                    <span translate="pickdispenselist.expirydate.lbl"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="billitem in PatientBillDetails | filter:{Status:1}">
                <td>
                    <input type="checkbox" class="custom-checkbox" ng-model="billitem.select" ng-click="selectionChangedCal()" />
                </td>
                <td>
                    <span> {{ billitem.ItemName }} </span>
                </td>
                <td>
                    <span> {{ billitem.SoldQuantity }} </span>
                </td>
                <td>
                    <span> {{ billitem.ReturnedQuantity }} </span>
                </td>
                <td>
                    <span> {{ billitem.ReturnTransitQuantity }} </span>
                </td>
                <td>
                    <input type="text" min="0" ng-keypress="numberonly($event)" ng-pattern="/^\d+$/" class="form-control" ng-model="billitem.ReturnQuantity" ng-change="ChangeReturnQty(billitem)" placeholder="">
                </td>
                <td>
                    <span> {{ billitem.BatchId }} </span>
                </td>
                <td>
                    <span> {{billitem.ExpiryDate &nbsp;|&nbsp; date : 'dd-MMM-yyyy'}} </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="fooder-bgs" style="margin-bottom: 44px !important;">
    <div class="footer-right">
        <button type="button" id="loadbtnsubmit" class="draftbutton" translate="pickdispenselist.load.lbl" ng-click="Load()"></button>
    </div>
</div>