<style>
	.td-action {
		text-align :right !important;
	}
	.lnk-portlet-action {
		margin-left : 10px !important;
		text-decoration: none;
	}
	.lnk-portlet-header-action {
		margin-left : 15px !important;
		color : white;
	}
	.dashboard-div {
		overflow: auto !important;
	}
	.portlet-panel-heading {
		height : 30px !important;
		padding : 5px 10px !important;
		/*background : #90CBEF !important;*/
	}
	.portlet-tr td {
		padding-top : 0px !important;
		padding-bottom : 0px !important;
	}
	.portlet-panel-body {
		height : 120px !important;
		overflow : auto !important;
		margin-bottom:10px;
	}
	/* new style */
.panel-primary .panel-heading, .partition-primary .panel-heading {
    background-color: #23b7e5;
}
.panel-body-bg .panel-white, .partition-white {
    background-color: #ffffff;
    position: relative;
    color: #5b5b60;
    border: 1px solid rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.34);
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.34);
}
.panel{
        margin-bottom: 5px;
        box-shadow: 1px -1px 12px -3px rgba(109, 98, 98, 0.5);
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    border-bottom: 2px solid #fff !important;
    color: #5b5b60 !important;
    border-top: none;
}
.table > tbody > tr > td {
    padding: 0px 5px !important;
    border-bottom: 1px solid #e2e2e4;
	    line-height: 1.228571;
}
.table td {
    background: #f3f0f1;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f0f1', endColorstr='#eeeeee',GradientType=0 );
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    position: relative;
}
.table td:first-child {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 10px;
    border-left: none;
}
.table td:last-child {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 10px;
	 border-right: none;
}
.table td:last-child:before { width: 0px;}
.table td:before {
    content: '';
    width: 1px;
    background: #e2e2e4;
    right: 0;
    top: 5px;
    bottom: 5px;
    position: absolute;
}
.btn-rounded {
  width: 17px;
    height: 17px;
    text-align: center;
    padding: 0px 2px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 3px;
}
/*.btn-circle {
    width: 17px;
    height: 17px;
    text-align: center;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 1.428571429;
    padding: 1px 2px;
	color:#ccc !important;
	background-color:#fff !important;
}*/
.dashboard-div {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(app/img/bg-body.jpg);
        background-repeat: repeat;
        overflow: auto;
        padding-top: 7px;
        height:530px !important; max-height:530px !important;
    }
.panel-footer {
    padding: 0px;
    background-color: #ccecf5;
    border-top: 1px solid #ccecf5;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.formactionbar {
    padding: 5px 15px;
    height: 40px;
    background-color: #ccecf5;}
.page-header{margin-bottom:0px;}
@media screen and (max-width:1024px) and (orientation:landscape)
{.layout-fixed .wrapper>section{margin-top:99px;}}
@media screen and (max-width:768px) and (orientation:portrait)
{.wrapper>.aside .aside-inner{padding-top:75px;}
.layout-fixed .wrapper>section{margin-top:75px;}
.sum_margin{width:100%;}
}
@media screen and (max-width: 414px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 69px;
}
}
@media screen and (max-width: 360px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 65px !important;
}}


    /* new style */
   /**********D_M**********/
@media screen and (max-width: 360px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 73px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    .pat_details td.td_age_1 {
    padding-left: 55px !important;
}
}
@media screen and (max-width: 640px) and (orientation: landscape)
{
.layout-fixed .wrapper>section {
    margin-top: 74px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    td.td_age_1 {
    padding-left: 62px !important;
}

}
@media screen and (max-width: 375px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 75px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    .pat_details td.td_age_1 {
    padding-left: 52px !important;
}
}
@media screen and (max-width: 667px) and (orientation: landscape)
{
.layout-fixed .wrapper>section {
    margin-top: 74px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    td.td_age_1 {
    padding-left: 62px !important;
}
}
@media screen and (max-width: 414px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 74px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    .pat_details td.td_age_1 {
    padding-left: 37px !important; 
}
}
@media screen and (max-width: 736px) and (orientation: landscape)
{
.layout-fixed .wrapper>section {
    margin-top: 74px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    td.td_age_1 {
    padding-left: 43px !important;
}
}
@media screen and (max-width: 768px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top:65px !important;
}}
@media screen and (max-width:320px) and (orientation:portrait){.pat_details td.td_age_1 {
   padding-left: 12px !important; 
}}
.wrapper{
    overflow-y: scroll;
}
/************custom_nav*****/

</style>
<div class="row page-header add_bar">
    <h4 class="col-sm-12 mt0" translate="e Health Summary" style="width:60%; display: block;float: left">  </h4>
         <button type="button" class="btn bt-color2 btn-xs pull-right back_but" >
        <a href="/www/index.html#/patientportal/patientportal/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;<span class="ng-scope">Back</span></a>
      </button>
       
         
    <!---------- <a href="/www/index.html#/patientportal/patientportal/">
     <i class="fa fa-arrow-left pull-right" style="font-size:25px;color:#fff;position: relative;top: -20px;right: 8px;"></i>
     </a>------>
    
         
</div>

<div class="col-sm-12 col-md-12 col-lg-12 cus_bud">
    <ul class="sum_bc breadcrumb">
 <li><a href="#">PXMH</a></li>
  <li><a href="#">OP EMR</a></li>
  <li><a href="#">IP EMR</a></li>
   <li><a href="#">Clinical ALerts</a></li>
  
</ul>

</div>


<!--------------dashboard content---------------->
<div class=" col-md-12 col-sm-12 col-lg-12 container-fluid summary_top">
    <div class=" col-sm-12 col-md-9 col-lg-9">
        <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-user fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Patient Information</h4>
            
           
            </div>
        </div>
         <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-soccer-ball-o fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Allergies</h4>
           
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-table fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Face Sheet & Timeline</h4>
            
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-plus-square fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Problems</h4>
            
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-clipboard fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Medication</h4>
           
           
            </div>
        </div>
         <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-flag-o fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Past Procedures</h4>
           
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-flag fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Past Vitals</h4>
          
           
            </div>
        </div>
         <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-calendar-plus-o fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Family Condition</h4>
           
          
            </div>
        </div>
         <div class="summary_db_outer sum_margin col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-history fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Family Social History</h4>
          
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin  col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-history fa-2x  "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Surgical History</h4>
            
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin  col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-history fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Social History</h4>
            
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin  col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-folder-open fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Documents</h4>
            
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin  col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-calendar-o fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Appointment List</h4>
            
            
            </div>
        </div>
         <div class="summary_db_outer sum_margin  col-xs-12 col-sm-5 col-md-5 col-lg-5 clearfix ">
            <div class=" col-xs-3 col-sm-4 col-md-4 col-lg-2">
                <i class="summary_icon fa fa-user-md fa-2x "></i>
            </div>
            <div class=" col-xs-9 col-sm-8 col-md-8 col-lg-10">
            <h4>Allergies</h4>
            
            
            </div>
        </div>
    </div>

   
        
<!--------------ad---------->
        <div class="content2 col-sm-3 col-md-3 col-lg-3">
             <p>
               
                <img src="app/EHR-style/assets/add.jpg" class="img-responsive cus_ad" alt="ad">
                
            </p>

           
               <!-- <p>
                    <a href="#"><img src="app/EHR-style/assets/add2.jpg" width="200px" class="img-responsive ">
                    </a>
                </p>-->
            
        </div>
        <!----ad ends------>

       <div class="fooder-bg ng-scope set_footer">
               <div class="col-sm-12 col-md-12 col-lg-12">
                 <p class="summary_footer">&copy 2017 <a href="http://www.gloomsoft.com/">Gloomsoft Technologies</a>
               </div>
              </p>
            </div>





    </div>




