<link href="app/css/regbilling.css" rel="stylesheet">
<style>
    #list {
        flex-wrap: wrap;
        display: flex;
    }

    .ipform-btn {
        position: relative;
        display: inline-block;
        margin: 5px;
        padding: 4px;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0px;
        text-decoration: none;
        color: #999999;
        background: #ffffff;
        border: 2px solid #999999;
        cursor: pointer;
        transition: ease-out 0.5s;
        -webkit-transition: ease-out 0.5s;
        -moz-transition: ease-out 0.5s;
    }

    .ipform-btn::after,
    .ipform-btn::before {
        position: absolute;
        content: "";
        width: 0%;
        height: 0%;
        visibility: hidden;
    }

    .ipform-btn::after {
        bottom: -3px;
        right: -3px;
        border-left: 3px solid #222222;
        border-bottom: 3px solid #222222;
        transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
    }

    .ipform-btn::before {
        top: -3px;
        left: -3px;
        border-top: 3px solid #222222;
        border-right: 3px solid #222222;
        transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
    }

    .ipform-btn:hover {
        animation: pulse 1s ease-out .4s;
        color: #222222;
    }

    .ipform-btn:hover::after,
    .ipform-btn:hover::before {
        width: calc(100% + 6px);
        height: calc(100% + 3px);
        visibility: visible;
        transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
    }

    .ipform-btn:hover::after {
        transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
    }

    .ipform-btn:hover::before {
        transition: width .1s ease, height .1s ease .1s;
    }
    .content-wrapper {
        padding: 5px !important;
    }
</style>
<div class="row">
    <div class="col-sm-9">
        <h4 class="mt0" translate="Ip Forms"></h4>
    </div>
    <div class="col-sm-3">
        <div class="filters">
            <div class="search">
                <input type="text" id="searchbar" onkeyup="search_ipforms()" class="form-control"
                    placeholder="Search ipforms..">
                <div class="drhms-search-icon"><i class="fas fa-search" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</div>
<div id='buttons'>
    <div id='list'>
        <button class="ipform-btn" id="1">Admission History</button>
        <button class="ipform-btn" id="2">Anaesthesia Record</button>
        <button class="ipform-btn" id="3">Anesthetic check list</button>
        <button class="ipform-btn" id="4">Blood Requisition</button>
        <button class="ipform-btn" id="5">Checklist for discharge of patient</button>
        <button class="ipform-btn" id="6">Clinical chart</button>
        <button class="ipform-btn" id="7">Consent for Anesthesia</button>
        <button class="ipform-btn" id="8">Consent Form</button>
        <button class="ipform-btn" id="9">Consent for surgical</button>
        <button class="ipform-btn" id="10">Consulting page</button>
        <button class="ipform-btn" id="11">CTScan requisition</button>
        <button class="ipform-btn" id="12">D&C notes</button>
        <button class="ipform-btn" id="13">Daily order form</button>
        <button class="ipform-btn" id="14">Discharge against medical advice</button>
        <button class="ipform-btn" id="15">Doctor visit chargesheet</button>
        <button class="ipform-btn" id="16">Intraoperative monitoring</button>
        <button class="ipform-btn" id="17">Medication sheet</button>
        <button class="ipform-btn" id="18">Patient Data</button>
        <button class="ipform-btn" id="19">Discharge Clearance</button>
        <button class="ipform-btn" id="20">ICU Initial Assessment</button>
        <button class="ipform-btn" id="21">Informed Consent for Anaesthesia</button>
        <button class="ipform-btn" id="22">Patient Registration</button>
        <button class="ipform-btn" id="23">PDF 1</button>
        <button class="ipform-btn" id="24">PDF 2</button>
        <button class="ipform-btn" id="25">Consent For Admission</button>
    </div>
</div>

<script>
    // JavaScript code
    function search_ipforms() {
        let input = document.getElementById('searchbar').value
        input = input.toLowerCase();
        let x = document.getElementsByClassName('ipform-btn');

        for (i = 0; i < x.length; i++) {
            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display = "none";
            }
            else {
                x[i].style.display = "list-item";
            }
        }
    }

</script>