<style>
  .facilityname {
    font-size: 13px;
text-align:center;margin:0px auto;
  }
.address1 {
font-size: 10px !important;
text-align:center;margin:0px auto;
}
.head-tb .header1{
position:relative;
right: 10px;
text-align:center;margin:0px auto;
}
.qrcode{position:absolute;top:10px;right:5px;}
</style>
<table align="center" class="head-tb" style="width:100%;text-align:center;">
  <tr>
    <td style="width:15%;">
      <img class="print-img" style="width:70px;" src="data:image/png;base64,{{data.Preferences.Facilitylogo}}" />
    </td>
    <h3>
      <td style="width:85%;">
        <div class="header1" >
          {{{data.Preferences.printheader}}}
        </div>
      </td>
    </h3>
   <!-- <td style="width:10%;">
      <img class="qrcode" src="https://chart.googleapis.com/chart?chs=90x90&cht=qr&chl={{data.QrInfo}}" />
    </td>-->
  </tr>
</table>
<span class="watermark">{{data.watermark}}</span>
