<style>
    .tabview {
        border: 1px solid gainsboro;
        margin-top: 0px;
        padding: 11px;
        position: absolute;
    }

    @media only screen and (min-width: 768px) {

        .aside-collapsed .wrapper>section,
        .aside-collapsed .wrapper>footer {
            margin-left: 2px !important;
        }
    }

    .layout-fixed.aside-collapsed #assettabs .nav-tabs>li.active>a {
        background: white !important;
        height: 46px;
        border-radius: 6px !important;
    }

    li.uib-tab.ng-scope.ng-isolate-scope.active {
        margin: -3px 27px -1px -13px;
    }

    .nav-tabs>li>a {
        background: #f3f3f3 !important;
        text-align: center;
        padding: 7px !important;
        border-color: #f3f3f3 !important;
    }

    .nav-tabs>li>a {
        background: #8dc51fbf;
        color: #afa3a3;
        font-weight: 500;
    }

    .tabview {
        border: 1px solid #f3f3f3;
        margin-top: 0px;
        padding: 11px;
        position: absolute;
        width: 96%;
    }

    .main-content.ng-scope {
        width: 100%;
    }

    .row {
        padding: 0px;
        margin-top: 0;
    }

    h3.col-sm-5.mt0.active.ng-scope {
        margin: 0;
    }

    .page-header {
        background-color: #f3f3f3 !important;
    }

    .content-wrapper.ng-scope.ng-fadeInUp {
        background: #f3f3f3 !important;
    }

    @media only screen and (min-width: 768px) {

        .aside-collapsed .wrapper>section,
        .aside-collapsed .wrapper>footer {
            margin-left: 2px !important;
        }
    }

    @media screen and (max-width: 500px) and (min-width: 300px) {
        .nav-tabs>li>a>span {
            display: block !important;
        }
    }

    @media (max-width: 768px) {

        .aside-collapsed .wrapper>section,
        .aside-collapsed .wrapper>footer {
            margin-left: 2px !important;
        }

        .nav-tabs>li {
            width: 48%;
        }

        .main-content.ng-scope {
            margin-left: 0% !important;
        }

        .layout-fixed .wrapper>section {
            margin-top: 69px !important;
        }

        li.uib-tab.ng-scope.ng-isolate-scope,
        li.uib-tab.ng-scope.ng-isolate-scope.active {
            width: 44%;
        }

        li.uib-tab.ng-scope.ng-isolate-scope.active {
            margin: 0px 0px 0px -14px;
            display: flex !important;
        }

        .nav-tabs>li>a {
            display: flex !important;
        }
    }

    .col-sm-12.pager-div {
        background: transparent !important;
    }

    ul.pagination.pagination-sm a {
        background: transparent !important;
    }

    .nav-tabs>li.active:after {
        content: unset !important;
    }

    .layout-fixed .wrapper>.aside {
        display: none;
    }

    .layout-fixed .wrapper>section {
        margin-top: 69px;
    }

    .row.ng-scope {
        padding-top: 19px;
        padding-left: 16px;
    }

    .tabview {
        position: relative;
    }

    header.topnavbar-wrapper>header {
        padding-top: 16px !important;
    }

    span.page-path:after {
        content: "\f054 ";
        font: normal normal normal 10px /1 FontAwesome;
        font-weight: 100 !important;
        padding: 10px;
    }

    span.page-path {
        font-size: 14px;
    }

    .col-sm-12.delivery {
        height: 42vh !important;
        margin-top: 16px !important;
    }

    .card {
        min-height: 114px !important;
        margin-top: 10px !important;
    }

    .card:hover {
        background: #a7f5ea;
    }

    div,
    span,
    a,
    button,
    b,
    strong {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    .page-path.active {
        color: #00bda6 !important;
    }
</style>
<div class="row page-header" id="assets">
    <h3 class="col-sm-5 mt0 active" translate="patientportal.medicineorder.pagetitle.lbl"></h3>
    <div class="col-sm-7  ">
        <!-- <button class="btn pull-right btn-xs bgportalbk" id="backbut" ng-click="back()" uib-tooltip="Back" tooltip-placement="bottom">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default portal_btn btn-xs pull-right" id="homebut" ng-click="home()" uib-tooltip="Dashboard" tooltip-placement="bottom">
                        <span class="fa fa-home" aria-hidden="true"></span>
                    </button> -->

    </div>
</div>
<div class="row tablebox" id="tablebox">
    <div class="col-sm-12">
        <uib-tabset active="active" id="assettabs">
            <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="switchTab(tab)"
                disable="tab.canDisable">
            </uib-tab>
        </uib-tabset>
        <div ui-view class="tabview"></div>
    </div>
</div>
<div class="fooder-bgs"></div>