<style>
    .orderreview .box {
        margin: 1px;
        padding: 2px 2px 2px 10px;
        background: white;
        -webkit-box-shadow: 1px 2px 7px 3px rgba(0, 0, 0, .17);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .17);
        border-radius: 3px;
        width: 100%;
        height: 74vh;
    }

    h3.order-address {
        font-weight: 400 !important;
        padding: 25px;
        color: #a9a6a6;
        font-size: 20px !important;
    }

    h3.order-address:before {
        content: "\f192";
        font: normal normal normal 14px/1 fontawesome;
        position: relative;
        right: 20px;
        bottom: 1px;
        color: #00689f;
    }

    .add-info {
        border: 1px solid gainsboro;
        height: 90px;
        padding: 13px;
        border-radius: 5px;
        width: 95%;
    }

    .col-sm-12.order-info {
        margin-top: 20px;
    }

    .orderreview textarea.txt {
        width: 100%;
        height: 80px;
    }

    .col-sm-3.conform {
        background: #d8eaeaa6;
        height: 61vh;
        margin-top: 4px;
        width: 24%;
        border-radius: 9px;
    }

    .col-sm-12.delivery {
        border: 1px solid gainsboro;
        height: 37vh;
        padding: 17px 2px 11px 35px;
        border-radius: 7px;
    }

    .delivery .form-group.col-sm-4 {
        height: 84px;
        padding-top: 18px;
    }

    .col-sm-12.delivery {
        width: 85%;
        position: relative;
        left: 8%;
    }

    .col-sm-12.grand-total .col-sm-6 {
        font-weight: 600 !important;
    }

    .col-sm-12.grand-total .label {
        font-weight: bolder;
    }

    .pharm-img img {
        width: 75px;
        height: 62px;
        border: 2px solid skyblue;
        border-radius: 11px;
        position: relative;
        top: 7px;
    }

    .pharma-details .card.ng-scope {
        min-height: 100% !important;
        padding: 0px 0px 0px 0px;
        height: 97px;
        border-radius: 15px !important;
        margin-top: 16px;
        background: #f3f3f3;
        border: 1px solid #d4e0e4;
    }

    .pharma-details>.col-sm-12 {
        padding-left: 76px;
        padding-right: 119px;
    }

    .pharma-details.ng-scope .col-sm-12.pharamname.ng-binding {
        font-weight: 600;
        font-size: 15px;
        margin-top: 6px;
    }

    .col-sm-12.pharmname.ng-binding {
        color: #b5aeae;
    }

    .col-sm-12.delivery {
        background: white;
    }

    .pharma-details .card:hover {
        background: #a3cddf;
        color: #463f3f !important;
    }

    .km {
        padding: 30px;
        color: #F44336;
    }

    @media (max-width : 767px) {
        .pyr-color10 {
            background-color: #eae6e6 !important;
            color: black !important;
            width: 83px;
            height: 30px !important;
            display: flex;
        }

        .col-sm-12.pharmman.ng-binding {
            padding: 0;
        }

        .d-flex.align-items-center.justify-content-between.b {
            display: flex;
        }

        .pharma-details.ng-scope {
            background: white;
            height: 55vh;
            overflow-y: auto;
            width: 100%;
            margin-left: 0%;
            border-radius: 9px !important;
        }

        .pharma-details>.col-sm-12 {
            padding-left: 11px;
            padding-right: 11px;
        }

        .pharma-details.ng-scope .col-sm-12.pharamname.ng-binding {
            font-weight: 600;
            font-size: 10px;
            margin-top: 6px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .col-sm-12.ava {
            font-size: 10px;
        }

        .col-sm-12.time {
            font-size: 10px;
        }

        .pharma-details .card.ng-scope {
            min-height: 100% !important;
            padding: 0px 0px 0px 0px;
            height: 114px;
            border-radius: 15px !important;
            margin-top: 16px;
            background: #f3f3f3;
            border: 1px solid #d4e0e4;
        }

        .col-sm-12.pharmname.ng-binding {
            color: #b5aeae;
            font-size: 10px;
        }
    }



    .col-sm-4 {
        padding: 0;
    }

    label.col-sm-12.control-label.ng-scope {
        padding: 0;
    }

    .col-sm-4 .col-sm-12 {
        padding: 0;
    }

    .header h3,
    .h3 {
        font-size: 17px !important;
        color: #afafaf;
        margin-top: 9px;
    }

    span.label {
        color: #b1a8a8;
        font-size: 11px;
    }

    .pay-details label.control-label.ng-scope {
        border: 1px solid gainsboro;
        padding: 6px;
        width: 100%;
        padding: 7px;
        margin-top: 6px;
        border-left: unset;
        border-right: unset;
    }

    .pay-details .col-sm-12,
    .col-sm-6 {
        padding: 4px 0px 0px 0px;
    }

    .col-sm-6 {
        text-align: end;
    }

    .col-sm-12 .col-sm-6:nth-child(1) {
        text-align: left;
    }

    .col-sm-12.grand-total {
        padding: 5px 0px 3px 0px;
        border: 1px solid gainsboro;
        border-right: unset;
        border-left: unset;
        margin-top: 11px;
    }

    .col-sm-12.btns {
        margin-top: 0px;
    }

    .item-logo-img {
        width: 165px !important;
        height: 150px !important;
        margin-bottom: 35px;
    }

    .orderreview.ng-scope {
        padding-left: 65px;
        padding-right: 65px;
    }

    .col-sm-9.address .col-sm-6 {
        text-align: left;
    }

    .content-wrapper.ng-scope.ng-fadeInUp {
        background: #f3f3f3 !important;
    }

    .down-over:hover:before {
        content: "\f019";
        font: normal normal normal 37px/1 fontawesome;
        position: absolute;
        top: 38%;
        color: #e3e5eb;
        right: 41%;
    }

    .down-over:hover {
        background: #0000004a;
    }

    .down-over {
        position: absolute;
        width: 86%;
        height: 50%;
        /* background: white; */
    }

    button.deliverycancel {
        width: 100%;
        padding: 8px;
        border: 1px;
        background: #f05050;
        color: white;
        border-radius: 4px;
    }

    .col-xs-12.pull-right.mob-view {
        display: none;
    }

    .col-xs-12.pull-right.mob {
        display: block;
    }

    @media (max-width: 765px) {
        span.page-path.ng-scope {
            display: flex !important;
        }

        .orderreview.ng-scope {
            padding-left: 0px;
            padding-right: 0px;
        }

        .orderreview div {
            padding: 0;
        }

        .tabview {
            border: 1px solid #f3f3f3;
            margin-top: 0px;
            padding: 0px;
            position: absolute;
        }

        .orderreview .box {
            margin: 1px;
            padding: 0px 0px 0px 17px;
            background: white;
            -webkit-box-shadow: 1px 2px 7px 3px rgb(0 0 0 / 17%);
            box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 17%);
            border-radius: 3px;
            width: 96%;
            height: 176vh !important;
            margin-left: -3%;
        }

        .col-sm-3.conform {
            background: #d8eaeaa6;
            height: 61vh;
            margin-top: 4px;
            width: 99%;
            border-radius: 9px;
            margin-left: -2%;
        }

        label.col-sm-12.control-label.ng-scope {
            margin-top: 12px;
        }

        span.label {
            color: #b1a8a8;
            font-size: 11px;
            text-align: inherit;
        }

        .col-xs-12.pull-right.mob-view {
            display: block !important;
        }

        .col-xs-12.pull-right.mob {
            display: none !important;
        }

        .draftbutton {
            background-color: #0072b7 !important;
            border-radius: 7px;
            height: 31px;
            width: 100%;
            margin-top: 50px;
        }

        span.page-path:after {
            padding: 5px 13px;
        }
    }

    .orderreview .box {
        height: 66vh !important;
    }

    .col-sm-3.conform {
        height: 64vh !important;
    }

    .fooder-bgs {
        margin-bottom: 49px !important;
        height: 1% !important;
        margin-top: 2px;
    }

    .col-sm-6.col-xs-7.col-lg-7.col-md-7 {
        text-align: initial;
        padding-left: 22px;
    }
</style>
<div class="path">
    <span class="page-path" ng-click="DeliveryAddress()">Attach Precription </span>
    <span class="page-path" translate="patientportal.medicineorder.delivaryaddress.lbl"> </span>
    <span translate="patientportal.medicineorder.nearpharmacy.lbl" class="page-path" ng-click="backToList()"> </span>
    <span translate="patientportal.medicineorder.orderreview.lbl" class="page-path active"></span>
</div>
<div class="orderreview">
    <div class="col-sm-12 col-xs-12">
        <div class="box">
            <div class="col-sm-9 col-xs-12 address">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="order-address">Delivery Address</h3>
                    <div class="add-info">
                        {{item.DeliveryAddress}}<br>{{item.LandMark}}<br>{{item.PhoneNo}}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h3 class="order-address">Pharmacy</h3>
                    <div class="">
                        <i class="fa fa-hospital" aria-hidden="true"></i> {{item.PharmacyName}}
                        <br>{{item.PharmacyAddress1}}<br>{{item.PharmacyAddress2}}<br>{{item.PharmacyNo}}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 order-info">
                    <div class="col-sm-4 col-xs-6">
                        <label class="col-sm-12 control-label" for="itemcode" translate="Order Date"></label>
                        <div class="col-sm-12 col-xs-12">
                            <displaydate date-val="item.MedicineOrderDate"></displaydate>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label class="col-sm-12 control-label" for="itemcode" translate="Schedule Date"></label>
                        <div class="col-sm-12 col-xs-12">
                            <displaydate date-val="item.DeliveryDate"></displaydate>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label class="col-sm-12 control-label" for="itemcode" translate="Order Ref"></label>
                        <div class="col-sm-12 col-xs-12">
                            <displaydate date-val="item.MedicineOrderNo"></displaydate>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label class="col-sm-12 control-label" for="itemcode" translate="Comments"></label>
                        <div class="col-sm-12 col-xs-12">
                            <textarea class="txt" ng-model="item.OrderComments"></textarea>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-xs-12 btns">
                    <div class="pull-left">
                        <div class="col-sm-12 col-xs-12" ng-show="item.MedicineOrderStatusId==2">
                            <div class="col-sm-4 col-xs-4">
                                <label class="col-sm-12 control-label" for="itemcode" translate="Delivery Date"></label>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-12 col-xs-12">
                                        <label class="control-label" style="color: black;" for="itemcode"></label>
                                        <displaydate date-val="item.DeliveryDate"></displaydate>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <label class="col-sm-12 control-label" for="itemcode"
                                    translate="Delivery Person"></label>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-12 col-xs-12">
                                        <label class="control-label" style="color: black;" for="itemcode"></label>
                                        {{item.DeliveryPerson}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-2">
                                <label class="col-sm-12 control-label" for="itemcode" translate="Amount"></label>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-12 col-xs-12">
                                        <label class="control-label" style="color: black;" for="itemcode"></label>
                                        {{item.DeliveryAmount}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <label class="col-sm-12 col-xs-12 control-label" for="itemcode"
                                    translate="Upload"></label>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-12 col-xs-12">
                                        <!-- <label class="control-label" style="color: green;" for="itemcode"></label> -->
                                        <button class="" translate="View Image" ng-click="downloadFile(item)"
                                            aria-hidden="true"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 pull-right mob">
                        <button type="button" class="draftbutton pull-right" translate="Confirm Order"
                            ng-click="saveandApprove()"></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 conform">
                <div class="header">
                    <h3 translate="patientportal.medicineorder.precsriptionuploaded.lbl"></h3>
                    <div class="note">Click on Image to View</div>
                </div>
                <div class="up-img">
                    <div class="imgs" align="center">
                        <div class="down">
                            <div class="down-over" ng-click="getprescriptionImages(item)"></div>
                            <img class="item-logo-img small" ng-show="!!currentcontext.file"
                                ngf-thumbnail="currentcontext.file" />
                            <img class="item-logo-img small" ng-show="item.PrescriptionAttachment"
                                data-ng-src="data:image/png;base64,{{currentcontext.Image}}" />
                        </div>
                    </div>
                </div>
                <div class="pay-details">
                    <label class="control-label" translate="Payment Details"></label>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 col-xs-6">
                            <span class="label">MRP Total</span>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <span>To be decided</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 col-xs-6">
                            <span class="label">Delivery Charges</span>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <span>To be decided</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 grand-total">
                        <div class="col-sm-6 col-xs-6">
                            <span class="label">Total</span>
                        </div>
                        <div class="col-sm-6 col-xs-6">To be decided</div>
                    </div>
                </div>
                <div class="col-xs-12 pull-right mob-view">
                    <button type="button" class="draftbutton pull-right" translate="Confirm Order"
                        ng-click="saveandApprove()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fooder-bgs"></div>