<style>
  .header1
  {
    font-size: 12px !important;
    position: absolute;
    bottom: 0px;
    margin-left: 0px;
    top: 20px;
  }
  .print-img {
    width: 70px;
    position: absolute;
    left: 60px;
    bottom: 10px;
  }
  .facilityname {
    font-size: 20px;
  }
  </style>
  <table align="center" class="head-tb" style="width:70%;text-align: center;">
    <tr>
      <td style="width:20%;">
      <img class="print-img" src="data:image/png;base64,{{data.Preferences.Facilitylogo}}" />
      </td>
      <h3>
      <td class="header1">
      	{{{data.Preferences.pharmacyprintheader}}}
      </td>
    </h3>
      <td style="width:10%;"></td>
    </tr>
    </table>
    <span class="watermark">{{data.watermark}}</span>

