@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
.btn-group > .btn-mini {
font-size: 12px;
}
.well a.dropdown-toggle{ font-size:1.2em; font-weight:bold;}
.well .label{ font-size:.9em; font-weight:normal; letter-spacing:1px;}
a.title-dropmenu{ font-size:.9em !important; font-weight:normal !important;}
a.title-dropmenu-large{ font-size:1.2em !important; font-weight:normal !important;}

.btn-term-float{ float:left; overflow:hidden;}
.btn-term .btn-small{ width:134px;}
.btn-term .btn-moretext{ width:170px;}
.btn-group + .btn-group {
margin-left: 0px;
}
.btn-group .btn-small {
padding: 2px 8px;
font-size: 12px;
line-height: 18px;
}

.btn.active, .btn:active {
background-color: #95ce95;
background-color: #D9D9D9 9;
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-boolean .btn.active, .btn-boolean .btn:active{background-color:#666;}

.container{ border:1px solid #EFEFEF; width:auto; background:#FFF; margin:18px auto; padding:15px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.navbar { /*margin-bottom:5px;*/}
.well{ /*background:#08C;*/ margin-bottom:0;}
.well h5{ color:#FFF; margin:0;}
.table th, .table td{ padding:4px;}
.table-noborder th, .table-noborder td{ border:none; padding:0px;}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
background-color: #EFEFEF;
}
.table-padding td{ padding:0 5px;}
.radio.inline, .checkbox.inline {
display: inline-block;
padding-top:0px;
}
.inline-icon{ visibility:hidden;}
.highlight-chbox .inline-icon{ visibility:visible;}
.highlight-chbox{ color:#090;}
.highlight-chbox.radio.inline, .highlight-chbox.checkbox.inline{
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

label, input, button, select, textarea {
font-size: 13px;
font-weight: normal;
line-height: 20px;
}
input[type="text"]{ width:100px; padding: 1px 4px;}
.input-small{width:40px !important; padding: 1px 4px;}

.inline-select{ width:70px; padding:0; height:20px; margin-bottom:0px;}
.navbar-inner { padding-left:10px;}
textarea.notes-textarea{ border:none; background:url(../img/notes_textarea_bg.jpg) repeat top #FFF; resize:none; line-height:16px; outline:none !important;
-webkit-appearance: none !important;
-moz-outline-style: none;
}


.ui-spinner {position: relative; border: 0px solid white; }
.ui-spinner-buttons {position: absolute}
.ui-spinner-button {overflow: hidden}
.li-hover:hover{ background-color:#CCC; cursor:pointer;}

.navbar-affix.affix{ margin-top:-34px; width:980px;}
.affix-fix{ position:absolute; margin-top:-7em;}
.pastnotes-dropmenu{ width:400px; padding:10px;}
.visitinfo-dropmenu, .em-dropmenu{ width:500px; padding:10px;}

.dropdown-menu .form-horizontal .control-group{ margin-bottom: 4px;}
.dropdown-menu .form-horizontal input[type="text"]{ width:206px; padding: 4px 6px;}

.recentlyViewed li {
    border-bottom: 1px solid #CCCCCC;
    list-style: none outside none;
}

.label-value{ padding:4px 6px;}
.em-dropmenu .form-horizontal .control-label {
float: left;
width: 100px;
padding-top: 5px;
text-align: left;
}
.em-dropmenu .form-horizontal .controls {
margin-left: 130px;
}

.navbar-action{ width:100%; margin:auto; margin-bottom:-5px; border: 1px solid #A0A0A0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.navbar-action .navbar-inner{ padding:5px 10px; text-align:right;}


.slide-out-div {
   padding: 0 20px 20px 20px;
	width: 500px;
	height:520px;
	background: #f2f2f2;
	border: #29216d 1px solid;
	z-index:499;
}
.handle{ /*border:1px solid #999;*/ width:520px; height:38px; right:0px;}
.rot-neg-90 {
    -moz-transform:rotate(-270deg); 
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(-270deg);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(-270deg);
    -o-transform-origin:  bottom left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.handle .nav-tabs {
border-bottom: none;
}
.handle .nav-tabs > ul{ margin-left:-40px;}
.handle .nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
border: 1px solid solid;
-webkit-border-radius: 0 0 4px 4px;
-moz-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;
background:#CCC;
overflow:auto; 
}
.handle .nav {
margin-bottom: 20px;
margin-left: -38px;
*margin-left: 0px;
margin-left: 0px\0/;
list-style: none;
}
.handle .nav-tabs > .active > a, .handle .nav-tabs > .active > a:hover {
color: #FFF;
font-weight:bold;
cursor: default;
background-color: #0088cc;
border: none;
border-bottom-color: none;
}
.slide-out-div .tab-content > .active{ height:520px; overflow:auto;}
.tab-content {
overflow: inherit;
}

h5 a{ font-weight:normal; font-size:.9em;}
.tab-header{ border-bottom:1px solid #CCC; overflow:hidden; margin-bottom:8px;}
.tab-header .close{ margin-top:6px;}
.tab-header h3{ margin:0 0;}

.form-modalwindow .form-horizontal .control-group{ margin-bottom: 4px !important;}
.form-modalwindow .form-horizontal input[type="text"]{ width:206px; padding: 4px 6px;}
.form-modalwindow .form-horizontal .control-label {
float: left;
width: 50px;
padding-top: 5px;
text-align: left;
}
.form-modalwindow .form-horizontal .controls {
margin-left: 60px;
}
#laborder-modal, #radiologyorder-modal, #printpreview-modal, #finishnote-modal, #em-calculation, #edit-laborder-modal{/*  width:850px; margin-left:-425px; */}

#laborder-modal .btn-group h6, #edit-laborder-modal .btn-group h6, #radiologyorder-modal .btn-group h6{ background:#0088cc; color:#FFF; margin:0; padding:3px 5px; text-transform:uppercase; display:block; width:200px;}
#laborder-modal .btn-group .btn, #edit-laborder-modal .btn-group .btn, #radiologyorder-modal .btn-group .btn{ text-align:left; padding:2px 5px; width:119px; font-size:12px;}
.popover { z-index:1060;}
.a-popover.btn{ width:8px !important; height:8px !important;}
.a-popover.btn .caret {
margin-top: 4px;
margin-left: 0;
}
.btn-popover .btn-small {
width: 60px;
}
#show_cc{ display:none;}

.outer-container{ width:980px; background:#FFF; margin:10px auto; padding:0px; margin-bottom:0px;}
.outer-container .accordion {
margin-bottom: 0px;
}

#finishnote-modal .dl-horizontal dt {
text-align: left;
}

#printpreview-modal .tab-content{ height:340px; padding-left:0px; overflow:hidden;}
/*#printpreview-modal .nav-tabs { width:150px; float:left; border:none;}
#printpreview-modal .tab-content{ width:620px; height:380px; padding-left:0px; border:1px solid #CCC; overflow:hidden;}
#printpreview-modal .nav-tabs > li {
float: none;
}
#printpreview-modal .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
border: 1px solid #DDD;
border-right-color: #FFF;
margin-right:-1px;
}
#printpreview-modal .nav-tabs > li > a {
-webkit-border-radius: 4px 0px 0 4px;
-moz-border-radius:4px 0px 0 4px;
border-radius: 4px 0px 0 4px !important;
}

#printpreview-modal span.cke_skin_kama {
border: 0px solid lightGrey;

}*/

.testresult-table, .orderhistory-table{ width:480px;}
.testresult-table td{ text-align:center;}
#testresult th{}
.td-indent{ padding-left:10px !important; text-align:left !important;}

.select-header{ font-weight:bold;}
.navheader-inner{ border:1px solid #A0A0A0;}
.navbar .navheader-inner .nav > .active > a,  .navbar .navheader-inner .nav > .active > a:hover, .navbar .navheader-inner .nav > .active > a:focus {
	color:#000 !important;
}
 .navbar .navheader-inner .nav > li > a {
	color:#333;
	font-weight:bolder;
	font-size:1em;
}
.navbar .brand{
	font-size:16px;
	font-weight:bold;
}
.section-headerbar .navbar-inner{
min-height: 35px !important;
height:35px;
padding-right: 20px;
padding-left: 0px;
background-color: #FAFAFA;
background-image: none !important;
background-repeat: repeat-x;
border:none;
border-bottom: 3px solid #000;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.nav-tabs-main{
	margin-bottom:2px;
}
.nav-tabs-main > .active > a, .nav-tabs-main > .active > a:hover {
font-weight:bold;
font-size:14px;
}
.comments-text{ width:250px !important;}



/*div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}*/
/*div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}*/
div.tagsinput span.tag { display: block; float: left; margin-right: 5px; margin-bottom:5px; margin-top:2px;}
div.tagsinput span.tag a { font-weight: 700; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:2px; font-size: 12px; border:1px solid transparent; padding:3px; background: transparent; outline:0px;   }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}


.btn-ch-drop > ul > li > a{ text-align:left;}
.btn-ch-drop .caret{}
.popover{ width:380px; z-index:2052;}
.popover-content .control-label{ width:90px;}
.popover-content .controls{ margin-left:100px;}
.popover-content .control-group{ margin-bottom:5px;}

.other-terms{ margin:3px 0 0 0;}

.control-label-large{ width:150px !important;}
.controls-large{ margin-left:165px !important;}

/*JQUERY MOBILE FIX*/
.ui-body-c .ui-link {
color: inherit /*{c-body-link-color}*/;
font-weight: inherit;
}
a.btn.ui-link{ color:#000 !important;}
a.btn-danger.ui-link, a.btn-inverse.ui-link, a.btn-success.ui-link, a.label.ui-link{ color:#FFF !important;}
.ui-body-c, .ui-overlay-c {
color: #333 /*{c-body-color}*/;
text-shadow: none;
}
a.subheader-title{ font-size:1.2em; font-weight:bold !important; padding-top:10px; display:inline-block;}

.custom-fixed-footer {
position: fixed !important;
left: 0px !important;
right: 0px !important;
bottom: 0px !important;
z-index: 999 !important;
}
.content-section-progressnotes{ padding:0px 10px;}
.btn-group-wrapper{ overflow:hidden;}
.btn-group-wrapper div.btn-group{ margin-right:5px; float:left; margin-bottom:4px;}
.btn-group-wrapper div.btn-group .btn{ width:120px; white-space:nowrap; text-overflow: ellipsis; overflow:hidden; text-align:center;}
.btn-group-wrapper div.btn-group .btn.btn-xl{ width:200px;}
#ros-tab .btn-group-wrapper div.btn-group .btn.btn-xl, #cc-tab .btn-group-wrapper div.btn-group .btn.btn-xl{ width:120px;}
#pe-tab .btn-group-wrapper div.btn-boolean button.btn-small{min-width:50px; width:auto}
#pe-tab .btn-group-wrapper div.btn-group .btn.btn-xl{ width:150px;}

.btn-group-wrapper div.btn-group .btn.btn-small{ width:14px;}
.btn-group-wrapper div.btn-group .btn.btn-addon{ width:26px; padding-left:4px; padding-right:4px;white-space:nowrap; }


.tab-content-right{ float:left; width:98%;}
.slider-outer-wrapper{
	float:right; 
	border:1px solid #999; 
	background:#444; 
	width:45px; 
	height:100%;
	right:0;
	position:absolute;
}

.quicknotes-wrap{ overflow:hidden; margin-bottom:12px;}
.quicknotes-wrap-textarea{overflow:hidden; margin:12px 0px;}
.quicknotes-comments{
padding:5px;
color: #000;
text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
background-color: #faf5c2;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faf5c2), to(#eee36c));
background-image: -webkit-linear-gradient(top, #faf5c2, #eee36c);
background-image: -o-linear-gradient(top, #faf5c2, #eee36c);
background-image: linear-gradient(to bottom, #faf5c2, #eee36c);
background-image: -moz-linear-gradient(top, #faf5c2, #eee36c);
background-repeat: repeat-x;
/*border-color: #d4c844 #d4c844 #d4c844;*/
border:1px solid #d4c844;
/*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.quicknotes-pointer{
	margin-top:-8px;
	padding-left:12px;
}

span.label a{ color:#FFF; cursor:pointer;}
span.label a .caret{ margin-top:4px; margin-left:4px;} 
input[class="input-mini"] {width: 30px;}
