@charset "utf-8";
/* CSS Document */

html, body{ height:100%}
.page {
	width:100%; height:100%;
	position:relative;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:box;
	
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-o-box-orient:horizontal;
	box-orient:horizontal;

}
.text-black{ color:#000; font-weight:bold;}
.fc-header-title h2{ font-size:1.6em;}
/*////////////////////////////////////////////////////////////BOOTSTRAP CSS////////////////////////////////////////////////////////////*/
.brand-logo{
	margin-top:6px;
}
.navbar-pagetitle .navbar-inner, .navbar-subheader .navbar-inner{
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;	
padding-right: 10px;
padding-left: 10px;
}
.navbar-pagetitle .btn{ padding:4px 8px;}
.navbar-pagetitle, .navbar-subheader{ z-index:500; position:relative;}
.navbar {
margin-bottom: 0px;
}
.form-search {
margin: 4px 0 0px;
}

.navbar-subheader h4{ margin-left:10px; font-size:1.6em;}
.navpanel{
	background:#444;
	height:100%;
	position:relative;
	z-index:600;
}
.span3.navpanel{ margin:0;}
.navpanel ul{
	margin: 0;
	padding: 0;
}

.navpanel ul li{
	list-style:none;	
	border-top: 1px solid #4E4E4E;
	border-bottom: 1px solid #393939;	
}

.navpanel ul li a{
	padding: 10px 0 10px 10px;
	display: block;
	color: #AAA;
	text-decoration:none;
	cursor:pointer;
}
.navpanel > ul > li.active {
background-color: #3A3A3A;
background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#000), to(#3F3F3F));
background-image: -webkit-linear-gradient(top, #333 0%, #3F3F3F 100%);
background-image: -moz-linear-gradient(top, #333 0%, #3F3F3F 100%);
background-image: -ms-linear-gradient(top, #333 0%, #3F3F3F 100%);
background-image: -o-linear-gradient(top, #333 0%, #3F3F3F 100%);
background-image: linear-gradient(top, #333 0%, #3F3F3F 100%);
}
.navpanel ul li i{
	margin-right:4px;
}

.content-section{
	position:relative;
	height:100%;	
	background: url(../assets/img/content-bg2.png) repeat #EFEFEF;
	padding:15px 15px 0;
	-webkit-overflow-scrolling: touch;
	padding-bottom:0;
}
.scrollable-content{
/*	height:500px;*/
	overflow:hidden;
}
.scrollable-content-vitals, .scrollable-content-newnotes, .addLabResults, .add-labresults-history{
padding: 20px 15px;
margin-right: 0px;
list-style: none;
border: 1px solid #CCC /*{c-bup-border}*/;
background: #EEE /*{c-bup-background-color}*/;
color: #222 /*{c-bup-color}*/;
text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ white /*{c-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( white /*{c-bup-background-start}*/), to( #F1F1F1 /*{c-bup-background-end}*/));
background-image: -webkit-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -moz-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -ms-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -o-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
}
.scrollable-content-vitals .control-label, {
	text-align:left;
	width:350px;
}
.scrollable-content-vitals .form-horizontal .control-group, .addLabResults .form-horizontal .control-group {
margin-bottom: 5px;
border-bottom:1px solid #CCC;
}
.scrollable-content-newnotes .control-label{
	text-align:left;
	width:180px;
}
.stat-wrapper{
	text-align:center;
}
.stat-wrapper ul{
	margin:0; padding:0;
}
.stat-wrapper ul li{
	list-style:none;
background-color: #F6F6F6;
background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));
background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
border: 1px solid #D5D5D5;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 1px 0 0 white inset, 0 1px 0 rgba(255, 255, 255, 1.0);
display: inline-block;
line-height: 18px;
margin: 0 10px 10px;
padding:18px 0 0 0;
min-width:170px;
height:58px;
vertical-align:middle;
}
.stat-wrapper ul#tabSelector.bi li{ padding:8px 0 0 0; height:70px;}
.stat-date{}
.text-value{
	font-size:2.4em;
	font-weight:bold;
	margin-bottom:10px;
	display:block;
}
.content-list{ padding:0; margin:0;}
.content-list li a{ display:block; cursor:pointer; overflow:hidden; text-decoration:none; font-weight:normal;}
.content-list h4{ margin:0px;}

.content-list li{
	padding:10px 10px;
margin-right:0px;
list-style:none;
border: 1px solid #CCC /*{c-bup-border}*/;
background: #EEE /*{c-bup-background-color}*/;
font-weight: 700;
color: #222 /*{c-bup-color}*/;
text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ white /*{c-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( white /*{c-bup-background-start}*/), to( #F1F1F1 /*{c-bup-background-end}*/));
background-image: -webkit-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -moz-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -ms-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -o-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
}
.info-li{ margin:0;}
.info-li span.text-info{ text-align:right; margin-right:20px;}


.patient-header h4{
	margin:0;
}
.patient-header-info{ margin-left:10px;}


.patient-header {
padding: 7px 10px;
/*overflow:hidden;	*/
height:76px;
border: 1px solid #044062 /*{b-bup-border}*/;
background: #396B9E /*{b-bup-background-color}*/;
color: white /*{b-bup-color}*/;
text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194B7E /*{b-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #5F9CC5 /*{b-bup-background-start}*/), to( #396B9E /*{b-bup-background-end}*/));
background-image: -webkit-linear-gradient( #5F9CC5 /*{b-bup-background-start}*/, #396B9E /*{b-bup-background-end}*/);
background-image: -moz-linear-gradient( #5F9CC5 /*{b-bup-background-start}*/, #396B9E /*{b-bup-background-end}*/);
background-image: -ms-linear-gradient( #5F9CC5 /*{b-bup-background-start}*/, #396B9E /*{b-bup-background-end}*/);
background-image: -o-linear-gradient( #5F9CC5 /*{b-bup-background-start}*/, #396B9E /*{b-bup-background-end}*/);
background-image: linear-gradient( #5F9CC5 /*{b-bup-background-start}*/, #396B9E /*{b-bup-background-end}*/);
}
user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
.patient-header .dropdown-menu a{
	text-shadow:none;
}
a.patient-header-link h4{
	text-decoration:none;
	color:#FFF;
}
a.patient-header-link:hover{
	text-decoration:none;
	color:#FFF;
}

.patient-header-small{ height:40px;}



.profilepic-list{ margin-right:12px;}
.profile-edit-popover{ height:71px !important; width:82px !important; display:block; border:2px solid #666; background: #666;}

.accordion-group {
padding:5px 5px;
margin-right:0px;
list-style:none;
border: 1px solid #CCC /*{c-bup-border}*/;
background: #EEE /*{c-bup-background-color}*/;
color: #222 /*{c-bup-color}*/;
text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ white /*{c-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( white /*{c-bup-background-start}*/), to( #F1F1F1 /*{c-bup-background-end}*/));
background-image: -webkit-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -moz-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -ms-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -o-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);	
}
.accordion-toggle{
	font-weight:bold;
}
.accordion-inner table td{ padding: 3px;}




.btn-term .btn.active, .btn-term .btn:active {
background-color: #95CE95;
background-color: #D9D9D9 9;
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-term .btn-small {
width: 134px;
height:44px;
margin-right:8px;
margin-bottom:5px;
}
.btn-group + .btn-group {
margin-left: 0px;
}
.btn-group-billing .btn{ margin-bottom:4px;}
.label-value {
padding: 4px 6px;
}
.popover-content .control-label {
width: 60px;
}
.popover-content .controls {
margin-left: 70px;
}
.popover {
width: 380px;
z-index: 2052;
}
.btn-term .btn-small .moreinfo-popover .label{ padding: 10px;}
.td-indent {
padding-left: 10px !important;
text-align: left !important;
}

.labresults-list{
margin-right:0px;
list-style:none;
border: 1px solid #CCC /*{c-bup-border}*/;
background: #EEE /*{c-bup-background-color}*/;
color: #222 /*{c-bup-color}*/;
text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ white /*{c-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( white /*{c-bup-background-start}*/), to( #F1F1F1 /*{c-bup-background-end}*/));
background-image: -webkit-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -moz-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -ms-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: -o-linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
background-image: linear-gradient( white /*{c-bup-background-start}*/, #F1F1F1 /*{c-bup-background-end}*/);
}
.labresults-list-header{
	padding:5px 10px;
	border-bottom: 1px solid #EFEFEF;
	overflow:hidden;
}
.labresults-list-content{
	padding:5px 10px;
	overflow:hidden;
}
.text-value-width{ width:200px;}
/*DASHBOARD*/
	.dashboard-bg{ background:url(../img/striped_lens.png) repeat top #FFF;}
	.dashboard-wrapper{ overflow:hidden;}
	.column{ margin:0 20px 0 0;}
	/*.column { width: 250px; float: left; padding-bottom: 100px; }*/
	/*.portlet { margin: 0 1em 1em 0; }*/
	/*.portlet{ margin: 0 0 20px 0; border:1px solid #e5e5e5; background:#FFF; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}*/
	.portlet{ margin: 0 0 20px 0; border:1px solid #e5e5e5; background:#FFF; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
	.portlet-header { padding: 8px 10px; background:#e9e9e9;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid #D5D5D5;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
	background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
}
	.portlet-header h5{ padding:0; margin:0; }
	.portlet-header .ui-icon { float: right; cursor:pointer;}
	.portlet-content { padding: 0.8em; }
	.ui-sortable-placeholder { border: 2px dashed #CCC; visibility: visible !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
	.ui-sortable-helper .portlet-header{ background:#0088cc; color:#FFF;}
	



.navbar-pagetitle .navbar-inner {
	background:url(../assets/img/header-bg.jpg) repeat-x left top;
	border:none;
	border-bottom:1px solid #2787a2;
/*background-color: #1B1B1B;
background-image: -moz-linear-gradient(top, #222, #111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#111));
background-image: -webkit-linear-gradient(top, #222, #111);
background-image: -o-linear-gradient(top, #222, #111);
background-image: linear-gradient(to bottom, #222, #111);
background-repeat: repeat-x;
border-color: #252525;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);*/
}
.btn-action-row{ margin-bottom:5px; overflow:hidden;}
.cds-popup{ text-shadow:none;}

.login-wrapper{
	/*border:1px solid #666;*/
	overflow:hidden;
	margin:60px 0 0 0;
}
.login-content{ background:#d4eef5; /*height:250px; */padding:10px 10px 0px 10px;
	font-family: "Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
	font-size:1.4em;	
}
.logo-footer{ position:relative; bottom:0; margin-left:1px;}
.login-content p{
	padding:20px;
	height:100px;
	line-height:1.6em;
}
.login-box{ padding-top:20px;}
.login-box .form-horizontal .control-label{ width:90px;}
.login-box .form-horizontal .controls{ margin-left:100px;}

textarea.notes-textarea {
border: none;
background: url(notes_textarea_bg.jpg) repeat top white;
resize: none;
line-height: 16px;
outline: none !important;
-webkit-appearance: none !important;
-moz-outline-style: none;
}

.labresults-wrapper .btn.active, .labresults-wrapper .btn:active {
background-color: #95CE95;
background-color: #D9D9D9 9;
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
	
/*////////////////////////////////////////////////////////////JQUERYMOBILE CSS////////////////////////////////////////////////////////////*/
.ui-body-b .ui-link {
color: #2489CE /*{b-body-link-color}*/;
font-weight: normal;
}
.btn.ui-link{ color:#FFF !important;}
.input-append .btn.ui-link{ color:#000 !important;}
/*////////////////////////////////////////////////////////////JQUERYMOBILE CSS////////////////////////////////////////////////////////////*/

.quicknotes-wrap{ overflow:hidden; margin-bottom:12px;
text-shadow: none;
}
.quicknotes-wrap-textarea{overflow:hidden; margin:12px 0px;}
.quicknotes-comments{
padding:5px;
color: #000;
text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
background-color: #faf5c2;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faf5c2), to(#eee36c));
background-image: -webkit-linear-gradient(top, #faf5c2, #eee36c);
background-image: -o-linear-gradient(top, #faf5c2, #eee36c);
background-image: linear-gradient(to bottom, #faf5c2, #eee36c);
background-image: -moz-linear-gradient(top, #faf5c2, #eee36c);
background-repeat: repeat-x;
/*border-color: #d4c844 #d4c844 #d4c844;*/
border:1px solid #d4c844;
/*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.quicknotes-pointer{
	margin-top:-8px;
	padding-left:12px;
}
.billing-selected{
	height:300px;
}


/*!
 * jQuery UI Bootstrap (0.22)
 * http://addyosmani.github.com/jquery-ui-bootstrap
 *
 * Copyright 2012, Addy Osmani
 * Dual licensed under the MIT or GPL Version 2 licenses.
 *
 * Portions copyright jQuery UI & Twitter Bootstrap
 * Modified by Xlab - slider only!
 */


/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* SLIDER
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ctl=themeroller
 */


/* Component containers
----------------------------------*/
.ui-widget {   font-family: 'Poppins', sans-serif;; font-size:13px; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: 'Poppins', sans-serif;; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x; color: #404040; }
.ui-widget-content a { color: #404040; }
.ui-widget-header {
  font-weight:bold;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border:1px solid #666;

 }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);

  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear background-image;
  -moz-transition: 0.1s linear background-image;
  -ms-transition: 0.1s linear background-image;
  -o-transition: 0.1s linear background-image;
  transition: 0.1s linear background-image;
   overflow: visible;

 }


.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;


 }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa;  font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }



/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*
 * jQuery UI Resizable 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*

/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; width:200px;}
.ui-slider a { outline: none; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0;

  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
 
 #tab-prescription .content-list li{font-weight:normal}
 
.message .content-section {padding-left:0; padding-right:0; position:relative}
.message-list{width: 30%; margin-right: 1%; border: 1px solid #cacaca; background-color: #ebebeb; padding: 0;}
.message .content-section > ul{margin-left:15px; margin-right:15px;}
.message-list ul{width: 100%; margin:0;}
.message-list ul li a{color:#666;}
.message-list h6{margin:0;}
.message-list h5{color:#666;}
.message-list ul li{border-bottom:1px solid #cacaca; padding:10px;}
.message-list ul li:hover{background-color:#ebebeb;}
.message-list ul li.active{background-color:#dfefef; border-color:#aed6e0;}
ul.message-buttons ul > li{margin-right:10px;}
ul.message-buttons div > ul > li{list-style:none; float:left !important}
.message-list h5, #inbox h4{margin:0}
.unread h5{color:#0088cc; font-weight:bold;}
li.unread{background-color:#fff;}
.message-list ul li.unread a {color:#555;}
.message-list i.icon-share-alt, .tab-content i.icon-share-alt{opacity: 0.5;filter:Alpha(Opacity=50);}
.message-list i.icon-share-alt:hover, .tab-content i.icon-share-alt:hover{opacity: 0.8;filter:Alpha(Opacity=80);}
.message-list ul li div.text-info{padding-bottom:5px;}
#inbox .content-list ul{margin:0}
#inbox .tab-content .active{width:100%}
#inbox h4{margin-bottom:10px;}
h5.message-from{margin:0;  color:#555;}  
.message_header_left{ color:#999;}
.bg-white{background-color:#FFF;}
.message-from{margin-bottom:0;}
.message-content{font-family:Tahoma, Geneva, sans-serif; font-size:13px;}
.border_1px hr{margin:10px 0;}

.modal hr{margin:0}
ul.typeahead {
    z-index: 2051 !important;
}
li.active hr{margin:10px 0}
.message-buttons .btn-group.open .btn.dropdown-toggle{color:#000;}
form.message_drop{margin:0; padding:20px 10px; background: url(../assets/img/content-bg2.png) repeat #EFEFEF;}


.content_actions_bar{margin:0 10px;}
.content_actions_bar li.dropdown > a{background-color: #fff; border: 1px solid #ccc; color: #333;}
.content_actions_bar li.dropdown > a .caret{border-top-color:#666;}
.white_box{background-color:#fff; border:1px solid #ccc; margin:0 1%; padding:1%; margin-bottom:1%;}
.white_box h5{ margin:0; padding:0; margin-bottom:5px;}
.current_weight{font-size:30px; font-weight:bold; color:#696;}
.l_h_10{line-height: 16px; color:#999;}
.unit{color:#333; font-weight:bold;}
.white_box hr{ margin-top:0; margin-bottom:10px;}
tr.error{font-weight:bold;}
.scrollable-content span.dropdown ul.dropdown-menu.pull-right.more.span4{z-index:500; width:210px; position: absolute;right: 0;}
.scrollable-content.labOrders{height:500px;}
table>a>i{margin-right:10px;}

/*.dl-horizontal{font-size:12px;}
.dl-horizontal dt{text-align:left; line-height:24px;}
.dl-horizontal dd{line-height:24px;}*/
/*#placeLabOrder{font-size:12px;}
#placeLabOrder .accordion-heading a{color:#000;}
#placeLabOrder label{display:inline-block; width:150px; font-size:12px; color:#0088cc;}*/
#finish .table th, #finish .table td{border:0; line-height:16px;}
#finish{font-size:12px;}
#finish .span7{}
#finish h5{margin:0; padding-bottom:5px; border-bottom:1px solid #CCC;}
ul.lab-menu{list-style:none}
ul.lab-menu li{float:left; margin-right:10px;}
#selectLabOrder-modal ul{list-style:none; margin:0;}
#selectLabOrder-modal ul li div{float:left}
#selectLabOrder-modal ul li{padding:10px 0; border-bottom:1px solid #CCC;}
#selectLabOrder-modal ul li.heading:hover{background-color:#FFF;}
#selectLabOrder-modal ul li:hover{background-color:#f6f6f6;}
#selectLabOrder-modal ul li a{color:#000;}
#selectLabOrder-modal ul li.heading{font-weight:bold}
#selectLabOrder-modal ul li div.id{width:20%}
#selectLabOrder-modal ul li div.lab-order{width:40%}
#selectLabOrder-modal ul li div.date{width:20%}
#selectLabOrder-modal ul li div.priority{width:20%}
.scrollable-content.addLabResults{height:540px;}
.labOrders .btn-group {float: left;margin: 0 10px 10px 0;}
.addLabResults form{margin:10px}

span.dropdown.list-actions .dropdown-menu{display:none}
span.dropdown.list-actions.open .dropdown-menu{display:block;}
span.dropdown.list-actions.open ul.dropdown-menu.pull-right.more.span4.single{min-width:100px;width: 100%;}
span.dropdown.list-actions.open ul.more.dropdown-menu li{width:90px;} 
span.dropdown.list-actions>a{z-index:0; display:block; width: 8px;}

/*
.placelaborders ul{list-style:none;padding:0; margin:0; margin-bottom:-1px;}
.placelaborders ul li{float:left; background-color:#ddd; border:1px solid #CCC; border-bottom:none; padding:8px 14px; margin-right:5px;}
.placelaborders ul li.active{background-color:#FFF; font-weight:bold;}
.placelaborders form .control-group{float:left; margin-right:30px; margin-bottom:10px;}
.placelaborders form .control-label{text-align:left; width:120px; color:#3a87ad; font-size:12px;}
.placelaborders form .controls.span3, .placelaborders form .controls.span6{margin-left:0px; width:220px;}
.placelaborders form .controls.span3 select, .placelaborders form .controls.span6 select{width:100%;}
.placelaborders form .controls.span6{width:440px;}
.placelaborders form .controls{margin-left:0; float:left}
.insurance_details{margin-top:10px;font-size:12px; color:#666; border:1px solid #c7e1f4; background-color:#e5f4ff; padding:10px;}
.insurance_details label{display:inline-block; color:#3a87ad; font-size:12px;}
tr.even{background-color:#f3f3f3;}
#testDetails th{background-color:#555; color:#FFF;}
*/

/* Place lab orders */
.placelaborders .control-group{margin-bottom:0px;}
.btn-group-wrapper.test-group .btn-group.test {margin-right: 5px;float:left;}
.test{padding-bottom:5px; }
.panel-set{padding-top:5px; border-bottom:1px solid #e0e0e0;}
.btn-group button.btn-addon {width: 26px; padding-left: 4px; padding-right: 4px; white-space: nowrap;}
.btn-group button.btn-xl{width:150px;font-size:13px !important;}
.panel-name button{max-width: 100%;}
.placelaborders .nav-tabs-main > .active > a, .placelaborders .nav-tabs-main > .active > a:hover {font-weight: 700; font-size: 14px;}
.placelaborders .nav > li > a:hover {background-color:transparent}
#modal-orderDetails .control-group {margin-bottom: 0px;}
#modal-orderDetails span {line-height:normal !important}
#modal-orderDetails #appendedInput{width:180px;}
.footerActionsBar{margin-top:10px;}
#AOE .scrollable-content .row-fluid{margin-top:5px;}
.tooltip-inner ul.custom{list-style:none; margin:5px;}
.tooltip-inner ul.custom li{text-align:left;}
#AOE .scrollable-content .row-fluid [class*="span"] select, #AOE .scrollable-content .row-fluid [class*="span"] input{width:95%; margin-bottom:0;}
.tooltip-inner ul.custom li.head{text-align:center; font-weight:bold;font-size: 13px;border-bottom: 1px solid #ccc;}
#finish th, #finish td{padding:0 5px;}
#finish th{text-align:left; border-bottom:1px solid #e0e0e0;}
#finish td.name{font-weight:bold}
#finish tr.even{background-color:#f6f6f6;}
#finish table.AOE tr.even{background-color:#FFF; border-bottom:1px solid #e0e0e0; margin-bottom:5px;}
#finish table.AOE td{line-height:18px;}
#finish label{margin-bottom:0; line-height:20px;}


/* Lab Orders */
.scrollable-content.labOrders{padding:10px;}


/* lab result History */
.add-labresults-history, #analyte-Detail-Add{font-size:12px; line-height:30px;}
.scrollable-content.add-labresults-history .form-horizontal .control-group{border-bottom:none; float:left;}
.gynec .form-horizontal .control-label, .labOrders .row-fluid .controls, .form-horizontal .labOrders .row-fluid .control-label, .add-labresults-history .form-horizontal .control-label, .add-labresults-history .form-horizontal .controls{margin:0; padding:0; height:30px; line-height:30px; text-align:left}
.labOrders .row-fluid .controls, .add-labresults-history label, .placelaborders label, .placelaborders  input, .placelaborders  select, .placelaborders, #modal-orderDetails label, #modal-orderDetails select, #modal-orderDetails input, #modal-orderDetails span{font-size:12px !important; line-height:30px;}
.placelaborders label {height: 30px; overflow:hidden}
.gynec .form-horizontal input#appendedInput, .add-labresults-history input#appendedInput, .placelaborders input#appendedInput{width:180px;}
.add-labresults-history hr, .placelaborders hr{margin:10px 0 0}
.add-labresults-history .section-headerbar .navbar-inner, .placelaborders .section-headerbar .navbar-inner{
min-height: 35px !important; height:35px; padding-right: 20px; padding-left: 0px; background-color: #FAFAFA; background-image: none !important; background-repeat: repeat-x; border:none; border-bottom: 3px solid #000; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0); -webkit-box-shadow: none; -moz-box-shadow:none; box-shadow: none; padding:0; }
.add-labresults-history .navbar .brand, .placelaborders .navbar .brand{font-size:16px; font-weight:bold}
.add-labresults-history .test-result{margin-top:5px;}
.add-labresults-history .test-result .test-header, .add-labresults-history .test-name, .add-labresults-history .analyte-set {border-bottom:1px solid #e0e0e0;}
.add-labresults-history .test-name, .add-labresults-history .test-result .analyte-set {padding:5px 0;}
.add-labresults-history .test-result .row-fluid{line-height:30px; height:30px;}
.add-labresults-history .test-result .row-fluid [class*="span"] input, .add-labresults-history .test-result .row-fluid [class*="span"] select, #analyte-Detail-Add .row-fluid [class*="span"] input, #analyte-Detail-Add .row-fluid [class*="span"] select, .quickAdd .row-fluid [class*="span"] select, .quickAdd .row-fluid [class*="span"] input, .quickAdd  input[type="text"]{width:100%}
.add-labresults-history .form-horizontal .control-group, select{margin-bottom:5px;}
.add-labresults-history .navbar .brand, .placelaborders .navbar .brand {padding:0; margin:0; line-height: 38px; margin-right: 10px;}
.add-labresults-history .test-set .analyte-set .span4:first-child {padding-left:15px;}
.add-labresults-history form{margin:0;}
.add-labresults-history{padding-bottom: 0;}
.add-labresults-history a.pull-right.last{margin-right:10px;}



/* Radiology Result (history) */
.radiologyreslts-list {font-size:12px; margin-bottom:-1px;}
.radiology-set{margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #e0e0e0;}
.add-labresults-history .radiology-set .row-fluid{height:auto;}
.radiologyreslts-list sup, .radiology-set sup{background-color:#333; padding:1px 4px; color:#FFF; font-size:11px; font-weight:normal; font-family:'Poppins', sans-serif;; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;top: -0.7em; left: -0.3em;}
.radiologyreslts-list i.icon-paper-clip, .radiology-set .row-fluid i.icon-paper-clip{font-size:140%; display:inline-block; padding:0px;}
.labresults-list textarea,  .radiologyreslts-list textarea{font-size:12px;}


/*.scrollable-content-vitals.labresults-edit .form-horizontal .control-group{border-bottom:none; float:left;}
 .labresults-edit hr{margin:10px 0}
.labresults-edit .form-horizontal .control-group label, .labresults-edit .form-horizontal .control-group .controls{float:left}
.labresults-edit .form-horizontal .control-group .controls{margin:0;}
.labresults-edit .form-horizontal .control-group label{text-align:left}
.labresults-edit .form-horizontal .control-group .span3 {margin-left:20px;}
.labresults-edit .form-horizontal .control-label{width:130px;}
.labresults-edit .form-horizontal input, .labresults-edit .form-horizontal .input-append{width:180px;}
.labresults-edit .form-horizontal .span5{width:330px;}
.labresults-edit .form-horizontal .input-append input {width:153px;}
.labresults-edit .form-horizontal select{width:194px;}
.labresults-edit .form-horizontal .row-fluid [class*="span"] input, .labresults-edit .form-horizontal .row-fluid [class*="span"] select{width:100%;}
.labresults-edit .row-fluid{font-size:90%}
.labresults-edit .row-fluid.heading{ color:#0088cc;border-top:1px solid #e0e0e0; line-height:30px;}
.labresults-edit .row-fluid.test-title{font-weight:bold;}
.labresults-edit .row-fluid.result{color:#666;margin-bottom: 5px; line-height:16px;}
.icon-paper-clip{zoom:120%}
.labresults-edit .row-fluid.result a{ padding:9px;}
.labresults-edit form{margin-bottom:0;}
.row-fluid.last{border-bottom:1px solid #e0e0e0; margin-bottom:10px;}
.labresults-edit .row-fluid.observations .set{margin-bottom:10px;}
.labresults-edit .row-fluid.documents .set{font-size:110%}
#AOE .row-fluid{font-size:85%;}
span.seperator{padding:0 10px;}
#AOE .row-fluid [class*="span"] input{width:98%;}
.labresults-edit table{font-size:90%;}
.labresults-edit th{color:#0088cc; font-weight:normal; text-align:left}
.labresults-edit th.name, .labresults-edit td.name{width:25%}
.labresults-edit th.value, .labresults-edit td.value{width:15%}
.labresults-edit th.range, .labresults-edit td.range{width:15%}
.labresults-edit th.loinc, .labresults-edit td.loinc{width:15%}
.labresults-edit th.qualifier, .labresults-edit td.qualifier{width:15%}
.labresults-edit th.status, .labresults-edit td.status{width:15%}
.labresults-edit td.title {font-size:110%; font-weight:bold; color:#666;}
.labresults-edit input.value, .labresults-edit input.range, .labresults-edit input.loinc, .labresults-edit select.qualifier, .labresults-edit select.status{width:100px;}
.labresults-edit td i{font-size:100%; font-weight:bold}
.labresults-edit tr{line-height:30px;}
.labresults-edit td.heading{border-bottom:1px solid #d6d6d6; vertical-align:bottom}
.labresults-edit .test-group i{opacity: 0.6; filter:Alpha(Opacity=60);}
.labresults-edit .form-horizontal .test-group .control-group label{float:none}
.labresults-edit .even{background-color:#f0f0f0; border-top:1px solid #CCC; border-bottom:1px solid #CCC; margin-top:10px; padding:10px 0;}
.labresults-edit .accordion-group, .labresults-edit .accordion-inner{padding:0;}
.labresults-edit .accordion-inner .heading{padding:0 10px;border-bottom: 1px solid #ccc;}
.labresults-edit .accordion-heading h6{padding-left:10px;}
.labresults-edit .accordion-inner .heading .pull-right{margin-top: 8px;}
[id*="result-set"] label{float:left !important; width:80px !important;}
.test-values{margin-top:10px;}
.labresults-edit .span11 .controls{width: 86%;float: right;}
.modal-body .span5{width:500px;}*/



/* Gynec Antepartum */
.gynec .form-horizontal .control-label{text-align:left}		
		/* Menstrual History*/
		.menstrualHistory-content label.checkbox{padding-left:22px; margin-bottom:0; min-height:30px; line-height:30px;}
		.menstrualHistory-content label.checkbox input[type="checkbox"]{margin-left:-22px; margin-top:8px;}
		.menstrualHistory-content label, .menstrualHistory-content input, .menstrualHistory-content button, .menstrualHistory-content select, .menstrualHistory-content textarea{font-size:12px;}
		.menstrualHistory-content .form-horizontal .row-fluid, .PastPregnancies-content .form-horizontal .row-fluid, #review-tab .form-horizontal .row-fluid, .gynec_PE .form-horizontal .row-fluid, .gynec_ROS .form-horizontal .row-fluid, .pastVisit-content .form-horizontal .row-fluid, .newVisit-content .form-horizontal .row-fluid{border-bottom: 1px solid #dddddd; padding: 5px 0;}
		.gynec .form-horizontal input#appendedInput{height: 22px; padding-bottom: 5px;}

.PastPregnancies-content label, #cc-tab label, #review-tab label, .gynec_ROS label, .gynec_PE label, .pastVisit-content label, .newVisit-content label{font-size:12px;}
.PastPregnancies-content .form-horizontal .row-fluid input[type*="text"], .PastPregnancies-content .form-horizontal .row-fluid select{width: 200px;}
#ACOG-modal iframe{width:100%; border:0;}

/* common bootstrap modal styles */ 
.border_1px{border:1px solid #CCC;}
.p_0{padding:0;}
.m_b_0, #review-tab .form-horizontal .row-fluid label, .menstrualHistory-content .form-horizontal .row-fluid label, .form-horizontal .row-fluid label {margin-bottom:0 !important;}
.p_10{padding:10px;}
.m_r_10{margin-right:10px;}
.m_r_15{margin-right:15px;}
.m_r_18{margin-right:18px;}
.m_r_20{margin-right:20px;}
.m_r_30{margin-right:30px;}
.m_l_0{margin-left:0 !important;}
.m_b_5{margin-bottom:5px !important;}
.m_b_10{margin-bottom:10px !important;}
.m_l_10{margin-left:10px !important;}
.p_l_10{padding-left:10px !important;}
.l_h_12{line-height:12px;}

.dropdown-menu ul.recentlyViewed > li a:hover{text-decoration:none!important}
#linkEpisode-modal h6{display: inline-block; padding: 0; margin: 0;}
#linkEpisode-modal td{height:30px; line-height:30px;}
#linkEpisode-modal span.label{margin-top:6px;}

#calculator td input{padding:4px 6px;}



.scrollable-content-ACOG table, .scrollable-content-ivf table{background-color:#fff; margin-bottom:5px;}
.datepicker {font-size:12px;}
.modal .btn.active, .btn:active {
background-color: #95ce95;
background-color: #D9D9D9 9;
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.modal .btn-boolean .btn.active, .modal .btn-boolean .btn:active{background-color:#666;}
.ACOG_Form a, .ivf_Form a{color:#000; text-decoration:none}
.ACOG_Form .table th, .ivf_Form .table th{text-align:center}
.ACOG_Form table.zoom, .EDD_Confirmation th, .ivf_Form table.zoom{border:2px solid #333; color:#444}
.ACOG_Form table.zoom .header, .ivf_Form table.zoom .header{line-height:20px;}
.ACOG_Form table.zoom th, .ivf_Form table.zoom th {border-bottom:2px solid #333; color:#000; line-height:12px;}
.ACOG_Form table.zoom .underline, .ivf_Form table.zoom .underline{border-bottom:1px solid #333;}
.ACOG_Form table.zoom .value, .ivf_Form table.zoom .value{color:#000;}
.pastPregnancy table td, .pastPregnancy table th, .pastMedicalHistory table td, .pastMedicalHistory table th, .symptomsSinceLMP table td, .symptomsSinceLMP table th, .geneticScreeening table td, .geneticScreeening table th, .infectionHistory table td, .infectionHistory table th, .initialPE table td, .initialPE table th, .visitChart table th, .visitChart table td, .ACOG_formD td, .formE td, .general td {border:1px solid #000}
.pastPregnancy table tr.sub th, .pastMedicalHistory table tr.sub th, .visitChart table tr.sub th{color:#444; line-height:12px;}
span.comment{display:block}
.ACOG_Form td, .ivf_Form td{padding-left:5px;}
span.num_list{width:12px; display:inline-block}
table.sub th, table.AP table.sub, table.AP table.sub > table > th, table.AP table.sub > table > td, table.AP table.sub td{border:0 !important;}
div.w_60{width:60px; float:left}
table.AP th{border-bottom:2px solid #333}
table.AP table.sub table th, table.AP table.sub table td, .EDD_Confirmation td{border:1px solid #333 !important;}
.sub>table {border:0;}
span.phone{width:120px;}
#calculator.modal{font-size:12px;}
.modal .input-append input{width:180px !important;}
.table-noborder td{border:0}

ul#tabSelector.bi [class^="icon-"], #tabSelector [class*=" icon-"]{line-height:40px;}
ul#tabSelector.bi small{font-size:16px}
ul#tabSelector.bi .stat-wrapper ul li{padding-top:5px;}
ul#tabSelector.bi{width:1582px;}

.text-yellow {
  color: #F90 !important;
  }
.td_bor_r td, .td_bor_r th{border-right:1px solid #dddddd}
.td_bor_r a{text-decoration:none;}

.add-labresults-history.manage_prescription input#appendedInput{width:77%}
.icon-prescribe{background: url(../assets/img/rx.png) no-repeat; height:20px; width:20px;}