<style>
    .footerbar {
        height: auto;
        margin-top: 6px;
        background-image: url(app/img/patterns-bg/paper-fibers.png);
    }

    .durationtxt {
        width: 50px !important;
        float: left;
        margin-right: 5px;
    }

    .ui-select-grid {
        width: 100% !important;
        max-width: 100% !important;
    }

    /* element.style {
        height: 353px !important;
    } */

    /* .cust_pat_req_ftr {
    height: 308px !important;
} */

    .header-panel {
        margin-bottom: 5px !important;
    }

    .header-second-row {
        margin-bottom: -7px !important;
    }

    .application-table {
        width: 100%;
    }

    .application-table>thead>tr>th,
    .application-table>tbody>tr>th,
    .application-table>tfoot>tr>th,
    .application-table>thead>tr>td,
    .application-table>tbody>tr>td,
    .application-table>tfoot>tr>td {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: none;
    }

    .page-header {
        padding-top: 6px;
        padding-bottom: 2px;
        padding-left: 0;
    }

    .page-header h4 {
        padding-top: 2px;
        padding-left: 9px;
    }

    .application-table {
        margin-top: 1px;
    }

    .application-table thead tr th,
    .application-table tbody tr td {
        border: 1px solid #CFCFCF;
    }

    .application-table.borderless tbody tr td,
    .borderless {
        border: none;
    }

    #fullregistrationheight2 .formRoot {
        height: 485px;
        overflow: auto;
    }

    #fullregistrationheight2 .well {
        min-height: 423px;
    }

    .panel-footer {
        background-color: #ccecf5 !important;
    }

    .header-panel-body {
        padding: 3px !important;
        background-color: #e3ecef;
    }

    .bg-subhead {
        background-color: #597a9a;
        color: #fff;
        font-size: 14px;
        width: 100%;
    }



    /* .profile-header {
        height: 0px;
    } */

    .mt0 {
        font-size: 15px;
        margin-top: 5px !important;
    }

    .field-height {
        height: 20px;
    }

    .autosearch-div .custom-popup-wrapper {
        position: absolute;
        width: 820px !important;
    }

    /* .autosearch-div .custom-popup-wrapper>.dropdown-menu {
        width: 78% !important;
    } */

    .custom-popup-wrapper>.table>thead>tr>td:nth-child(2) {
        width: 18% !important;
    }

    .custom-popup-wrapper>.table>thead>tr>td:nth-child(3) {
        width: 13% !important;
    }



    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 30px !important;
        background-color: #ffffff;
        border: 1px solid #ededed;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    @media (device-width:100vw) and (device-height:100vh) {
        /* .cust_pat_req_ftr {
            height: 480px;
        } */
        .formRoot.bg-pattern.cust_pat_req_ftr {
        height: 56vh !important;
        }
        }

    /* table.table.table-bordered.table-condensed.dropdown-menu {
        height: 151px;
        min-height: 150px;
        overflow-x: hidden;
        border: 1px solid #ccc;
        width: auto !important;
    } */
    .formRoot.bg-pattern.cust_pat_req_ftr{
        height:50vh;
    }

    td.td-generic, td.td-genericname{
        display: table-cell;
    }
    .cstm_generic span{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 150px;
        display: block;
        float: left;
        cursor: pointer;

    }
    .cstm_generic{
        text-overflow: ellipsis;
        white-space: nowrap !important;
    }
    label.btn.btn-secondary.top-option {
    border: unset !important;
    background: #dedede !important;
    border-radius: 4px !important;
    height: 34px !important;
    margin-right: 4px;
    padding: 4px 12px !important;
    margin-bottom: 12px;
}
    label.btn.btn-secondary.top-option.active, label.btn.btn-secondary.top-option.opt-selected {
    color: black !important;
    border-top: 2px solid #272a75 !important;
    border-left: 1px solid #d8d1d1 !important;
    border-right: 1px solid #dedede !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: #fff !important;
    width: 9% !important;
    height: 33px !important;
    z-index: 999;
}
.tabs {
    padding: 18px;
    height: 56px;
}
</style>

<div class="row page-header">
    <!-- <h4 class="col-sm-2  page-header" ng-hide="context=='emr'" translate="patientrequest.pagetitle.lbl"></h4> -->
    <h4 class="col-sm-2  page-header" translate="Medicine Request"></h4>
    <div class="col-sm-10 ">
        <div class="page-calendar1 col-sm-8">
            <div class="col-sm-4">
                <div class="event-name b-greensea  ">
                    <span class="forpadd" uib-tooltip=" {{item.PatientRequestDateTime | date : 'dd-MMM-yyyy'}}&nbsp;  {{item.PatientRequestDateTime | date : 'HH:mm'}}"
                        tooltip-placement="bottom">
                        <span translate="patientrequest.date.lbl"></span> :
                        <span> {{item.PatientRequestDateTime | date : 'dd-MMM-yyyy'}}&nbsp; {{item.PatientRequestDateTime | date
                            : 'HH:mm'}} </span>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="event-name b-greensea  ">
                    <span class="forpadd" uib-tooltip="{{item.PatientRequestNumber}}" tooltip-placement="bottom">
                        <span translate="patientrequest.requestno.lbl"></span>:
                        <span> {{item.PatientRequestNumber}} </span>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="event-name b-greensea  ">
                    <span class="forpadd" uib-tooltip=" {{item.RequesterComments}} " tooltip-placement="bottom">
                        <span translate="inventory.grns.status1.lbl"></span>:
                        <span> {{item.DisplayRequestStatus}} </span>
                    </span>
                </div>
            </div>
        </div>
        <div class=" col-sm-4">
            <button class="btn bt-color2 btn-xs pull-right  btn-filter" ng-click="addNew()" ng-if="HasPrivilege('MedicineRequest', 'AddNew')"
                ng-hide="currentcontext.ismodal" uib-tooltip="{{ 'inventory.purchaserequests.addnew-patient_request.lbl' | translate }}"
                tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <strong class="btn-fontsize" translate="common.addnewaction.lbl"></strong>
            </button>
        </div>
    </div>
</div>
<div class="" ng-hide="context=='emr'">
    <patientbanner patientid="item.PatientId" delegatefn="setBannerDelegate(cmp)"></patientbanner>
</div>
<div class="tabs">
    <label class="btn btn-secondary top-option" ng-repeat="option in options" ng-model="currentcontext.option" uib-btn-radio="option.key">{{option.name}}</label>
    <!-- <label ng-if="currentcontext.isPatientHasAllergy" class="allergyAlert">Patient has Drug Allergy</label> -->
</div>
<div class="row " ng-show="canShowDetailsArea()">
    <div class="col-sm-12">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <table id="bannerdetails">
<tr>
    <td>
        <label class="control-label" for="type" translate="patientrequest.facility.lbl"></label>
    </td>
    <td>
        <ui-select ng-model="item.FacilityId" name="facility" ng-disabled="item.CanDisableHeader">
                                    <ui-select-match>
                                        {{$select.selected.Text | limitTo : 20 : 0}}
                                        <span ng-if="$select.selected.Text.length>20">...</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
    </td>
    <td>
         <label class="control-label" for="tostore" translate="patientrequest.tostore.lbl"></label>
    </td>
    <td>
         <ui-select ng-model="item.ToStoreId" name="tostore" ng-disabled="item.CanDisableHeader" required>
                                    <ui-select-match>
                                        {{$select.selected.Text | limitTo : 20 : 0}}
                                        <span ng-if="$select.selected.Text.length>20">...</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ToStore | filter: { Text: $select.search }">
                                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
    </td>
    <td>
        <label class="control-label" for="ward" translate="patientrequest.ward.lbl"></label>
    </td>
    <td>
           <ui-select ng-model="item.WardId" name="ward" ng-disabled="true" required>
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Ward | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
    </td>
</tr>
<tr>
    <td>
        <label class="control-label" for="room" translate="patientrequest.room.lbl"></label>
    </td>
    <td>
           <ui-select ng-model="item.RoomId" name="room" ng-disabled="true" required>
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Room | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
    </td>
    <td>
        <label class="control-label" for="priority" translate="patientrequest.priority.lbl"></label>
    </td>
    <td>
         <ui-select ng-model="item.PatientRequestPriorityId" name="priority" ng-disabled="item.CanDisableHeader">
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.PatientRequestPriority | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
    </td>
    <td>
         <label class="control-label" ng-hide="context=='emr'" for="patient" translate="patientrequest.patient.lbl"></label>
    </td>
    <td>
        <span ng-hide="context=='emr'">
             <autosearch itemid="item.EncounterId" iteminfo="item.SelectedItem" rowdata="item" config="vm.patientcontrolconfig" itemchange="getEncounterInfo()"
            name="patientname" candisable="item.CanDisableHeader" isrequired="true"></autosearch>
</span>
         </td>
</tr>
            </table>
            <div class="panel panel-default header-panel">
                <div class="formRoot  bg-pattern cust_pat_req_ftr" style="height:341px;" ng-hide="context=='emr'">
                    <!-- grid area starts -->
                    <table class="editable-table table-striped table-bordered">
                        <thead class="bg-subhead">
                            <tr>
                                <th>
                                    <span translate="inventory.purchaserequest.sno.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.itemname.lbl"></span>&nbsp;*</th>
                                <th>
                                    <span translate="patientrequest.genericname.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.qty.lbl"></span>&nbsp;*</th>
                                <th>
                                    <span translate="patientrequest.uom.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.availableqty.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.price.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.amount.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.action.lbl"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-show="item.EncounterId > 0">
                            <tr ng-repeat="patientstockrequest in PatientStockRequestDetails | filter:{Status:1}">
                                <td class="fs-12">
                                    <span>{{ patientstockrequest.SNo }}</span>
                                </td>
                                <td class="fs-12">
                                    <autosearch itemid="patientstockrequest.ItemStoreMapId" iteminfo="patientstockrequest.SelectedItem" rowdata="patientstockrequest"
                                        config="vm.pharmacyitemcontrolconfig" itemchange="onItemSelected($index, patientstockrequest)"
                                        class="inputsearchlogo" candisable="patientstockrequest.CanDisableDetails" isrequired="true"
                                        tabindex="patientstockrequest.tabindex"></autosearch>
                                </td>
                                <td class=" fs-12 ">
                                    <span class="medreq_gnric" uib-tooltip="{{patientstockrequest.GenericName}}" tooltip-placement="bottom"> {{patientstockrequest.GenericName}}</span>
                                    <button ng-if="patientstockrequest.GenericId" class="drhms-edit-button" type="button" class="drhms-edit-button" tabindex="-1" ng-click="alternateDetails($index, patientstockrequest)"
                                        ng-disabled="patientstockrequest.CanDisableDetails">
                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td class="fs-12">
                                    <input type="number" min="0" class="form-control" ng-model="patientstockrequest.RequestedQuantity" name="requestedquantity"
                                        ng-disabled="patientstockrequest.CanDisableDetails" ng-change="computeAmount(patientstockrequest)"
                                        tabindex="patientstockrequest.tabindex" placeholder="" ng-pattern="/^\d+$/" ng-keypress="numberonly($event)">
                                </td>
                                <td class=" fs-12">
                                    <span> {{patientstockrequest.SaleUomCode}}</span>
                                </td>
                                <td class="fs-12 text-center">
                                    <span>{{patientstockrequest.QuantityOnHand}}</span>
                                </td>
                                <td class="fs-12 text-center">
                                    <span>{{(patientstockrequest.Mrp | displaycurrency)}}</span>
                                </td>
                                <td class="fs-12 text-center">
                                    <span>{{patientstockrequest.NetAmount | displaycurrency}}</span>
                                </td>
                                <td class="text-center">
                                    <button type="button" cclass="drhms-edit-button" tabindex="-1" ng-click="editPrescriptionDetail(patientstockrequest)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="drhms-edit-button" uib-tooltip="History" tooltip-placement="top" ng-click="History(patientstockrequest, $index)">
                                         <img class="imgsrc" src="app/img/main/history.png" style="margin-top: 1px; width:26px;">
                                    </button>
                                    <button type="button" class="drhms-edit-button" uib-tooltip="Stock" tooltip-placement="top" ng-click="Stock(patientstockrequest, $index)">
                                        <i class="fa fa-database fa-xs" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="drhms-edit-button" uib-tooltip="Delete" tooltip-placement="top" ng-click="deletePatientRequestDetail(patientstockrequest,$index)"
                                        ng-disabled="patientstockrequest.CanDisableDetails">
                                        <img  src="assets/svg/delete.svg" alt="">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- grid area ends -->
                </div>
                <div class="formRoot  bg-pattern cust_pat_req_ftr" style="height: 305px" ng-show="context=='emr'">
                    <!-- grid area starts -->
                    <table class="editable-table table-striped table-bordered">
                        <thead class="bg-subhead">
                            <tr>

                                <th>
                                    <span translate="inventory.purchaserequest.sno.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.itemname.lbl"></span>&nbsp;*</th>
                                <th>
                                    <span translate="patientrequest.genericname.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.qty.lbl"></span>&nbsp;*</th>
                                <th>
                                    <span translate="patientrequest.uom.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.availableqty.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.price.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.amount.lbl"></span>
                                </th>
                                <th>
                                    <span translate="patientrequest.action.lbl"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-show="item.EncounterId > 0">
                            <tr ng-repeat="patientstockrequest in PatientStockRequestDetails | filter:{Status:1}">
                                <td class="fs-12">
                                    <span>{{ patientstockrequest.SNo }}</span>
                                </td>
                                <td class="fs-12">
                                    <autosearch itemid="patientstockrequest.ItemStoreMapId" iteminfo="patientstockrequest.SelectedItem" rowdata="patientstockrequest"
                                        config="vm.pharmacyitemcontrolconfig" itemchange="onItemSelected($index, patientstockrequest)"
                                        class="inputsearchlogo" candisable="patientstockrequest.CanDisableDetails" isrequired="true"
                                        tabindex="patientstockrequest.tabindex"></autosearch>
                                </td>
                                <td class=" fs-12 ">
                                    <span> {{patientstockrequest.GenericName}}</span>
                                    <button ng-if="patientstockrequest.GenericId" type="button" class="drhms-edit-button" tabindex="-1" ng-click="alternateDetails($index, patientstockrequest)"
                                        ng-disabled="patientstockrequest.CanDisableDetails">
                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td class="fs-12">
                                    <input type="number" min="0" class="form-control" ng-model="patientstockrequest.RequestedQuantity" name="requestedquantity"
                                        ng-disabled="patientstockrequest.CanDisableDetails" ng-change="computeAmount(patientstockrequest)"
                                        tabindex="patientstockrequest.tabindex" placeholder="" ng-pattern="/^\d+$/" ng-keypress="numberonly($event)">
                                </td>
                                <td class=" fs-12 ">
                                    <span> {{patientstockrequest.SaleUomCode}}</span>
                                </td>
                                <td class="fs-12 ">
                                    <span>{{patientstockrequest.QuantityOnHand}}</span>
                                </td>
                                <td class="fs-12 ">
                                    <span>{{(patientstockrequest.Mrp | displaycurrency)}}</span>
                                </td>
                                <td class="fs-12 ">
                                    <span>{{patientstockrequest.NetAmount | displaycurrency}}</span>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="drhms-edit-button" tabindex="-1" ng-click="editPrescriptionDetail(patientstockrequest)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="drhms-edit-button" uib-tooltip="History" tooltip-placement="top" ng-click="History(patientstockrequest, $index)">
                                         <img class="imgsrc" src="app/img/main/history.png" style="margin-top: 1px; width:26px;">
                                    </button>
                                    <button type="button" class="drhms-edit-button" uib-tooltip="Stock" tooltip-placement="top" ng-click="Stock(patientstockrequest, $index)">
                                        <i class="fa fa-database fa-xs" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="drhms-edit-button" uib-tooltip="Delete" tooltip-placement="top" ng-click="deletePatientRequestDetail(patientstockrequest,$index)"
                                        ng-disabled="patientstockrequest.CanDisableDetails">
                                        <img  src="assets/svg/delete.svg" alt="">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- grid area ends -->
                </div>
                <div class="footerbar">
                    <div class="col-sm-12 well ">
                        <div class="col-sm-4 pull-left">
                            <span class="col-sm-4 control-label" for="comments" translate="inventory.stockadjustments.comments.lbl"></span>
                            <div class="col-sm-8">
                                <input type="text" class="form-control field-height inputheightctrl" ng-disabled="commentsDisabled" name="comments" ng-model="item.RequesterComments"
                                    placeholder="">
                            </div>
                        </div>
                        <!-- <div class="col-sm-4 pull-left" ng-show="canShowApprovedComments">
                            <span class="col-sm-4 control-label" for="comments" translate="inventory.stockadjustments.comments.lbl"></span>
                            <div class="col-sm-8">
                                <input type="text" class="form-control field-height inputheightctrl" ng-disabled="commentsDisabled" name="comments" ng-model="item.ApproverComments"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4 pull-left" ng-show="canShowAuthorizedComments">
                            <span class="col-sm-4 control-label" for="comments" translate="inventory.stockadjustments.comments.lbl"></span>
                            <div class="col-sm-8">
                                <input type="text" class="form-control field-height inputheightctrl" ng-disabled="commentsDisabled" name="comments" ng-model="item.AuthorizerComments"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4 pull-left" ng-show="canShowCancelledComments">
                            <span class="col-sm-4 control-label" for="comments" translate="inventory.stockadjustments.comments.lbl"></span>
                            <div class="col-sm-8">
                                <input type="text" class="form-control field-height inputheightctrl" ng-disabled="commentsDisabled" name="comments" ng-model="item.CancelledComments"
                                    placeholder="">
                            </div>
                        </div> -->
                        <div class="col-sm-4">
                            <label class="col-sm-4 control-label" for="remarks" translate="appointment.appointment-form.remarks.lbl"></label>
                            <div class="col-sm-8">
                                <ui-select ng-model="item.RemarkId" name="remarks" ng-change="remarkChange($select.selected)" ng-disabled="canDisableRemarksDiv()">
                                    <ui-select-match>
                                        {{$select.selected.Text | limitTo : 15 : 0}}
                                        <span ng-if="$select.selected.Text.length>15">...</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Remark | filter: { Text: $select.search }">
                                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="col-sm-4 pull-right">
                            <span class="col-sm-4 control-label" for="comments" translate="inventory.purchaserequest.totalamount.lbl"></span>
                            <div class="col-sm-8">
                                <input type="text" value="{{(item.TotalNetAmount | displaycurrency)}}" class="inputbox form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fooder-bgs">
                    <div class="pull-left">
                        <button type="button" class="btn pyr-color10 btn-sm" ng-click="backToList()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="btn-fontsize"> &nbsp; Back</span>
                        </button>
                        <button type="button" class="draftbutton" uib-tooltip="Attachments" tooltip-placement="top"
                            ng-click="openAttachments()">
                            <i class="fa fa-paperclip fa-xs" aria-hidden="true">&nbsp;&nbsp;(0)</i>
                        </button>
                        <button type="button" class="btn btn-info texthover btn-sm ng-scope" uib-tooltip="History" tooltip-placement="top" ng-show="canShowHistoryBtn"
                            ng-click="history()">
                             <img class="imgsrc" src="app/img/main/history.png" style="margin-top: 1px; width:26px;">
                        </button>
                        <button type="button" class="draftbutton" ng-show="canShowCancelBtn" ng-click="CancelRequest()" translate="patientrequest.cancelrequest.lbl"></button>
                    </div>
                    <div class="pull-right">
                        <button type="button" id=""  class="draftbutton" ng-if="HasPrivilege('MedicineRequest', 'Print')"
                            ng-show="canShowPrintBtn" ng-click="print()"> <i class="fa fa-print"></i> Preview Print</button>
                        <button type="button" id="savebtnsubmit" class="draftbutton" translate="common.saveaction.lbl" ng-if="HasPrivilege('MedicineRequest', 'Save')"
                            ng-show="canShowSaveBtn" ng-click="SaveandDraft()"></button>
                        <button type="button" id="approvebtnsubmit" class="draftbutton" translate="common.saveapprove-action.lbl"
                            ng-show="canShowSaveandApproveBtn" ng-if="HasPrivilege('MedicineRequest', 'Approve')" ng-click="SaveandApprove()"></button>
                        <button type="button" id="authorizebtnsubmit" class="btn btn-info btn-sm" translate="common.authorize.lbl" ng-if="HasPrivilege('MedicineRequest', 'Authorize')"
                            ng-show="canShowAuthorizeBtn" ng-click="SaveandAuthorize() "></button>
                        <button type="button" id="clearbtnsubmit" class="btn btn-warning btn-sm" translate="common.clearaction.lbl" ng-show="canShowClearBtn"
                            ng-click="Clear()"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-show="canShowTickSheetArea()">
    <ticksheetcontrol config="ticksheetconfig" storeid="item.PharmacyId" addclick="addTickSheet()" saveclick="saveTickSheets()"></ticksheetcontrol>
</div>