<!-- <style>
    .pager-div {
        float: right;
        right: 0;
        box-sizing: border-box;
        position: fixed;
        box-sizing: border-box;
    }

    .mty_box {
        padding-left: 9%;
    }

    .single-filter .ui-grid-render-container-body .ui-grid-viewport {
        height: 348px !important;
    }
</style> -->
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <!-- <div class="col-sm-12"> -->
        <div class="col-sm-6">
            <label class="col-md-8 col-md-6 control-label" translate="Antibiotics"></label>
            <div class="col-sm-9 col-sm-6 ">
                <autosearch itemid="item.AntibioticMasterId" iteminfo="item.SelectedItem" rowdata="item"
                    config="vm.antibioticcontrolconfig" itemchange="onAntibioticSelected(item.SelectedItem)"
                    isrequired="true"></autosearch>
            </div>
        </div>
        <div class="col-sm-6">
            <button class="btn-add" ng-click="saveItem()"
                uib-tooltip="{{ 'lis.testmasters.addnew-tooltip.lbl' | translate }}" tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <!-- <span translate="lis.containertypes.addnew.lbl"></span> -->
            </button>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </form>
</div>
<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <!-- <div ui-grid="vm.gridConfig" class="table-uigrid height-control"></div> -->
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>