<link rel="stylesheet" href="app/css/drhms.css">
<style>
    .drhms-receipt span {
        font-size: 12px;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="Bill Detail Info"></h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>
<div class="row">
    <ippatientbanner patientid="currentfilter.PatientId" encounterid="currentfilter.EncounterId">
    </ippatientbanner>
</div>
<div class="col-sm-12">
    <div class="drhms-refund-table">
        <table>
            <tr ng-repeat="bill in BillDetails | filter:{Status:1}" ng-class="{ipbilltoopbill: bill.isCompleted}">
                <td>
                    <input type="checkbox" class="custom-checkbox" ng-model="bill.isSelected"
                        ng-change="" ng-disabled="bill.PatientBillDetail.DetCancelReqRaisedStatusId > 1" style="width:16px !important;"
                        uib-tooltip="Adjust Rate" tooltip-placement="bottom">
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="bill.PatientBillDetail.ServiceName"
                        ng-disabled="!bill.isEditable||IsDisabled">
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="bill.PatientBillDetail.Quantity"
                        ng-disabled="!bill.isEditable||IsDisabled" ng-change="calcItem($index,bill, 0, 1)">
                </td>
                <td>
                    Dr. {{bill.Doctor.FirstName}}
                    <!-- <input type="text" class="form-control" ng-model="bill..DoctorId"
                        ng-disabled="!bill.isEditable||IsDisabled" ng-change="calcItem($index,bill, 0, 1)"> -->
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="bill.PatientBillDetail.Comments"
                        ng-disabled="!bill.isEditable||IsDisabled" ng-change="calcItem($index,bill, 0, 1)">
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="bill.BillingRequestStatus.Description"
                        ng-disabled="true">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="pull-right">
        <span>
            <button type="button" class="draftbutton" ng-click="CancelApproved()" translate="Approved">
                <!-- <span><i class="fa fa-print" aria-hidden="true"></i></span> -->
            </button>
        </span>
        <span>
            <button type="button" class="draftbutton" ng-click="CancelRejected()" translate="Rejected">
                <!-- <span><i class="fa fa-print" aria-hidden="true"></i></span> -->
            </button>
        </span>
    </div>
</div>