<link href="app/css/billing-pharmacy-customs.css" rel="stylesheet">
<style>
    .table {
        margin-bottom: 1px;
        /* min-width: 109%; */
    }

    input[type=text] {
        margin-bottom: 2px;
    }

    /* .fsStyle .form-group {
        margin-bottom: 2px !important;
    } */


    .page-header h4 {
        padding-top: 2px;
        padding-left: 9px;
    }

    .padding-top1 {
        padding-top: 2px;
    }

    .filter-area {
        margin: 3px 11px 3px !important;
        box-shadow: 1px 9px 10px -13px rgba(0, 0, 0, .75);
        padding-bottom: 7px;
    }

    .autosearch-div>input,
    .form-group patientsearch.logo {
        background-size: 12.7% !important;
    }

    #mainresponsivetablecontrol>.table>tbody>tr:nth-child(1)>td>autosearch>.autosearch-div>.custom-popup-wrapper>.dropdown-menu {
        background-color: rgba(245, 249, 238, 0) !important;
        border: 0px solid #ccc !important;
    }

    #pmrmaster .formRoot {
        height: 303px !important;
    }

    #pmrmaster .table-control {
        overflow: auto;
    }

    .aside-collapsed .fooder-bg {
        position: sticky;
        bottom: 0;
        width: 99.5% !important;
    }

    .fooder-bg {
        width: 87%;
        text-align: center;
        margin: 0px auto;
        bottom: 0;
    }

    .aside-collapsed .fooder-bg {
        position: sticky;
        bottom: 0;
        width: 97.5% !important;
    }

    .pull-left {
        padding-left: 1% !important;
    }

    #mainresponsivetablecontrol>.table>tbody>tr>td>autosearch>.autosearch-div>.custom-popup-wrapper>.dropdown-menu {
        overflow-x: hidden;
    }

    table.table.table-bordered.table-condensed.dropdown-menu {
        height: auto !important;
    }



    .footerbar {
        margin-top: 0px;
    }

    @media (device-height:100vh) and (device-width:100vw) {
        #pmrmaster .formRoot {
            height: 438px !important;
        }
    }

    .custom-popup-wrapper>table>tbody>tr {
        height: 30px;
    }

    table.table.table-bordered.table-condensed.dropdown-menu {
        height: 151px !important;
    }

    .filter-area,
    .filter-area.row,
    .fooder-bg,
    .panel-footer.formactionbar {
        background-image: none !important;
        background-color: white;
    }
</style>
<div id="pmrmaster">
    <div class="row page-header">
        <h4 class="page-header col-sm-6" translate="linenandlaundry.dhobiissuebook.pagetitle2.lbl"></h4>
        <div class="col-sm-6 text-right">
            <span>
                <button class="btn bt-color2 btn-sm btn-filter" ng-click="addNew()" uib-tooltip="{{ 'linenandlaundry.dhobiissuebook.pagetitle2.lbl' | translate }}"
                    tooltip-placement="bottom">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <strong class="btn-fontsize" translate="common.addnewaction.lbl"> </strong>
                </button>
                <span ng-click="linendashboard()" ng-hide="context == 'emr'">
                    <img src="app/img/icons/laundry.png" class="img-responsive emr-drdashicon" alt="home" uib-tooltip="{{'Linen Dashboard'| translate}} "
                        tooltip-placement="bottom">
                </span>
            </span>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <form id="item_form" name="item_form" role="form">
                <div class="filter-area row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-sm-5 control-label" for="fromfacility" translate="linenandlaundry.dhobiissuebook.issuedate.lbl"></label>
                                <div class="col-sm-7">
                                    <span>:</span>
                                    <displaydate datetime-val="item.LinenStockTransferDate"></displaydate>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-sm-5 control-label" for="stockingpoint" translate="linenandlaundry.dhobiissuebook.stockingpoint.lbl"></label>
                                <div class="col-sm-7">
                                    <span>:</span>
                                    <span>{{item.Department.DepartmentName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-sm-5 control-label" for="disposeddate" translate="linenandlaundry.dhobiissuebook.issueno.lbl"></label>
                                <div class="col-sm-7">
                                    <span>:</span>
                                    <span>{{item.LinenStockTransferNo}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-sm-5 control-label" for="tofacility" translate="linenandlaundry.dhobiissuebook.issueby.lbl"></label>
                                <div class="col-sm-7">
                                    <span>:</span>
                                    <span>{{item.IssuedUser.Title.Description}}&nbsp;{{item.IssuedUser.FirstName}}&nbsp;{{item.IssuedUser.LastName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-sm-5 control-label" for="issueto" translate="linenandlaundry.dhobiissuebook.date.lbl"></label>
                                <div class="col-sm-7">
                                    <span>:</span>
                                    <displaydate datetime-val="item.ReceivedDate"></displaydate>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-sm-5 control-label" for="issueto" translate="linenandlaundry.dhobiissuebook.status.lbl"></label>
                                <div class="col-sm-7">
                                    <span>:</span>
                                    <span>{{item.LinenStockTransferStatus.Description}}</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class=" table-control">
                    <div class=" bg-pattern">
                        <div class="table-height formRoot" id="mainresponsivetablecontrol">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead class="bg-subhead">
                                    <tr>
                                        <th>
                                            <span translate="linenandlaundry.dhobiissuebook.sno#.lbl"></span>
                                        </th>
                                        <th>
                                            <span translate="linenandlaundry.dhobiissuebook.itemname.lbl"></span>
                                        </th>
                                        <th>
                                            <span translate="linenandlaundry.dhobiissuebook.itemcode.lbl"></span>
                                        </th>

                                        <th>
                                            <span translate="linenandlaundry.dhobiissuebook.requestedqty.lbl"></span>
                                        </th>
                                        <th>
                                            <span translate="linenandlaundry.dhobiissuebook.issueqty.lbl"></span>
                                        </th>
                                        <th>
                                            <span translate="linenandlaundry.dhobiissuebook.receiveqty.lbl"></span>
                                        </th>
                                        <th>
                                            <span translate="linenandlaundry.dhobiissuebook.action.lbl"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="item in issuebookDetails | filter:{Status:1}">
                                        <td class="">
                                            <span> {{item.SNo}}</span>
                                        </td>
                                        <td class="">
                                            <autosearch itemid="item.LinenItemMasterId" candisable="isDisabled" rowdata="item" iteminfo="item.SelectedItem" config="vm.linenitemmastercontrolconfig"
                                                itemchange="OnItemselected($index, item)"></autosearch>
                                        </td>
                                        <td>
                                            <span> {{item.LinenItemCode}}</span>
                                        </td>
                                        <td class="">
                                            <input type="text" ng-disabled="isDisabled" class="form-control" ng-model="item.RequestedQuantity">
                                        </td>
                                        <td class="">
                                            <input type="number" ng-disabled="isDisabled" class="form-control" ng-model="item.IssuedQuantity">
                                        </td>
                                        <td class="">
                                            <input type="number" ng-disabled="isDisabled" class="form-control" ng-model="item.ReceivedQuantity">
                                        </td>
                                        <td>
                                            <button type="button" ng-disabled="isDisabled" class="btn btn-danger btn-xs"  uib-tooltip="Delete"  tooltip-placement="bottom"  ng-click="deletedhobiissuebookDetail(item,$index)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12 fooder-bg">
                        <div class="pull-left">
                            <button type="button" class="btn pyr-color10 btn-sm" uib-tooltip="Back to List" tooltip-placement="top" tabindex="-1" ng-click="backtolist()">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="btn-fontsize"> &nbsp; Back</span>
                            </button>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="draftbutton" translate="Receive" ng-show="item.LinenStockTransferStatusId==3" ng-click="receive()"></button>
                            <!-- <button type="button" class="btn dem-color4 text-white btn-sm" translate="common.saveapprove-action.lbl" ng-click="saveandapprove()"></button>
                            <button type="button" class="btn btn-warning btn-sm" translate="common.clearaction.lbl" ng-click="clear()"></button> -->
                            <button type="button" class="draftbutton" translate="common.cancelaction.lbl" ng-show="item.LinenStockTransferStatusId==3"
                                ng-click="cancel()"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>