<div class="row page-header">
    <h4 translate="appointment.doctordashboard.commondashboard.lbl"></h4>
</div>
<div class="col-sm-12" style="margin-top: 20px;">
    <div class="card-flex-box-doctor">
        <div class="card-box-item box-bg-color1" ng-click="generalremarks()"
            ng-if="HasAccess('CommonMastersDashboard', 'General_Remarks')">
            <div class="card-box-header"><i class="fa fa-registered" aria-hidden="true"></i>
                <div translate="appointment.doctordashboard.generalremarks.lbl"></div>
            </div>
            <div>{{Items.registration}}</div>
        </div>
        <div class="card-box-item box-bg-color2" ng-click="cities()"
            ng-if="HasAccess('CommonMastersDashboard', 'Cities')">
            <div class="card-box-header">
                <div> <i class="fa fa-user" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.cities.lbl"></div>
            </div>
            <div>{{Items.opbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color3" ng-click="states()"
            ng-if="HasAccess('CommonMastersDashboard', 'States')">
            <div class="card-box-header">
                <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.states.lbl"></div>
            </div>
            <div>{{Items.directbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color4" ng-click="postcodes()"
            ng-if="HasAccess('CommonMastersDashboard', 'PostCodes')">
            <div class="card-box-header">
                <div> <i class="fa fa-usd" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.postcodes.lbl"></div>
            </div>
            <div>{{Items.labbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color5" ng-click="managereferrals()"
            ng-if="HasAccess('CommonMastersDashboard', 'ManageReferrals')">
            <div class="card-box-header">
                <div><i class="fa fa-money" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.managereferrals.lbl"></div>
            </div>
            <div>{{Items.ipbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color8" ng-click="occupations()"
            ng-if="HasAccess('CommonMastersDashboard', 'Occupations')">
            <div class="card-box-header">
                <div><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.occupations.lbl"></div>
            </div>
            <div>{{Items.dischargesipbilling}}</div>
        </div>
        <div class="card-box-item box-bg-color1" ng-click="locationmaster()">
        <div class="card-box-header"><i class="fa fa-registered" aria-hidden="true"></i>
            <div translate="Location Master"></div>
        </div>
        <div></div>
    </div>
    </div>
</div>
<div class="fooder-bgs"></div>