<div class="row">
    <div class="col-sm-8">
        <h4 class="page-header mt0" translate="Medicine Returns"></h4>
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <span class="drhms-billing-btn drhms-outstandingbill-btn" ng-click="doctor_dashboard()"
                ng-show="context=='emr'" uib-tooltip="Doctor Dashboard" tooltip-placement="bottom">
                <i class="fas fa-th-large" aria-hidden="true"></i>
            </span>
            <button class="btn-add" ng-click="addNew()" uib-tooltip="{{ 'Medicine Returns' | translate }}"
                tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <ippatientbanner patientid="currentcontext.pid" encounterid="currentcontext.eid"></ippatientbanner>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <label class="col-sm-3" for="patientrequeststatus" translate="patientrequests.status.lbl"></label>
        <div class="col-sm-9">
            <ui-select ng-model="currentfilter.PatientReturnStatusId" ng-change="getList()" name="patientrequeststatus">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.PatientReturnStatus | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>