<style>
    .nameinfo {
        font-size: 13px;
        font-weight: 700;
        color: #337ab7;
    }
    
    .nameinfo.mrninfo {
        color: black
    }
    
    .contactinfo {
        font-size: 10px;
        color: #808080
    }
    
    .block {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .linkstyle {
        font-weight: 700;
        text-align: right;
    }
    
    .statusinfo {
        font-size: 13px;
    }
    
    .sr-only {
        height: 22px !important;
    }
    
    .visualize ul.visualize-key {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1.2em;
        margin-top: -6px;
    }
    
    .visualize ul,
    .visualize li {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1em;
    }
    
    .visualize ul.visualize-key li {
        padding: 0;
        margin: 0;
        float: left;
        margin-right: 8px;
        padding-left: 10px;
        position: relative;
        left: 14px;
        white-space: normal;
        text-overflow: ellipsis;
        padding-right: 7px;
        color:#fff;
    }
    
    .visualize ul.visualize-key .visualize-key-color {
        width: 10px;
        height: 10px;
        left: -4px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        border-radius: 6px;
    }
    
    .visualize ul.visualize-key .visualize-key-label {
        /* color: #000; */
        color:#fff;
        font-size: 13px;
    }
</style>
<div class="row page-header">
    <h4 class="col-sm-6 mt0 ng-scope" translate="otregister-list.pagetitle.lbl"></h4>
    <button type="button" class="btn bt-color2 btn-xs pull-right back_but">
        <a href="/www/index.html#/patientportal/patientportal/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;<span class="ng-scope">Back</span></a>
      </button>
</div>

<div class="container-fluid" id="depsheight">
    <div ui-grid="vm.gridConfig" class="table-uigrid table-uigrid-tab "></div>
    <div class="fooder-bgs">
        <div class="row">
            <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex" ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
        </div>
    </div>
</div>

<!--<div class="container-fluid onerow-filter">
    <div ui-grid="vm.gridConfig" class="table-uigrid"></div>
    <div class="foot-color" style="border:1px solid #b3b3b3;background-color:#f6f7e7;">
        <div ng-repeat="item in StatusItems">
             <div style="height:23px;width:30px;border-radius:15px; {{ item.Background }} " class='col-sm-1'></div>
             <div class="col-xs-2 col-sm-2">
                <span style =" {{ item.Colorcode }} "><b>{{item.Text}}</b></span>
             </div>
        </div>
    </div>
    <div class="fooder-bgs">
        <div class="row">
            <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
        </div>
    </div>
</div>-->