<style>
  .header1 {
    font-size: 13px !important;
    position: absolute;
    top: 10px;
  }

  .print-img {
    width: 300px;
    position: absolute;
    right: 40px;
    top: 20px;
  }

  .facilityname {
    font-size: 14px;
  }
.address1 {
font-size: 14px !important;
}
.head-tb .header1{
position:absolute;
right: 0px;
}

</style>
<table align="center" class="head-tb" style="width:70%;text-align: center;">
  <tr>
    <td style="width:20%;">
      <img class="print-img" src="data:image/png;base64,{{data.Preferences.Facilitylogo}}" />
    </td>
    <h3>
      <!--<td class="">
        <div class="header1">
          {{{data.Preferences.printheader}}}
        </div>
      </td>-->
    </h3>
    <td style="width:10%;"></td>
  </tr>
</table>
<span class="watermark">{{data.watermark}}</span>
