<link rel="stylesheet" href="app/css/drhms.css">
<style>
    table.drhms-responsive-table thead th {
        padding: 5px 20px;
        white-space: nowrap;
    }

    input#desc0 {
        width: 260px
    }

    autosearch.inputsearchlogo table.table.table-bordered.table-condensed.dropdown-menu.align {
        margin-left: -200px;
    }

    .fooder-bgs {
        margin-bottom: 290px !important;
        min-height: 50%;
    }
</style>
<div class="row">
    <div class="drhms-filters">
        <div class="col-sm-10">
            <h4 translate="inventory.stockrequests.pagetitle.lbl"></h4>
        </div>
        <div class="col-sm-4">
            <span class="forpadd">
                <span translate="inventory.purchaseorders.status.lbl"></span>:
                <span>{{item.DisplayRequestStatus}}</span>
            </span>
        </div>
        <div class="col-sm-4">
            <ui-select ng-model="item.StoreMasterId" name="fromstore" on-select="SelectedFromStore($select.selected)"
                ng-disabled="item.isDisabled" required>
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.UserStores | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-sm-2">
            <button type="button" tabindex="-1" class="drhms-billing-btn drhms-add-btn" ng-click="addNew()"
                uib-tooltip="{{ 'inventory.stockrequests.pagetitle.lbl' | translate }}" tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <!-- <button type="button" class="drhms-billing-btn drhms-delete-btn" ng-show="canShowCancelBtn"
                uib-tooltip="{{ 'Cancel' | translate }}" uib-tooltip="{{'Cancel'}}" tooltip-placement="bottom"
                ng-click="" tabindex="-1" ng-click="CancelRequest()">
                <i class="fas fa-trash"></i>
            </button> -->
            <!-- <button type="button" class="drhms-billing-btn drhms-previousbill-btn" ng-show="canShowCancelpoBtn"
                uib-tooltip="{{ 'Cancel' | translate }}" uib-tooltip="{{'Cancel'}}" tooltip-placement="bottom"
                ng-click="" tabindex="-1">
                <img class="drhms-edit-button" src="assets/svg/delete.svg" alt="">
            </button> -->
        </div>
    </div>
</div>
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="drhms-table-top-header">
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" for="facility" translate="inventory.stockrequest.tofacility.lbl"></label>
                    <div class="col-sm-8">
                        <ui-select ng-model="item.FacilityId" name="facility" ng-disabled="true" required>
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 20 : 0}}
                                <span ng-if="$select.selected.Text.length>20">...</span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" for="type" translate="inventory.stockrequest.type.lbl"></label>
                    <div class="col-sm-8">
                        <ui-select ng-model="item.StockRequestTypeId" ng-change="getVendorItems()" name="type"
                            class="filter-combo" ng-disabled="item.isDisabled" required>
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 20 : 0}}
                                <span ng-if="$select.selected.Text.length>20">...</span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.StockRequestType | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="inventory.stockrequests.indentno.lbl"></label>
                    <div class="col-sm-8">: {{item.RequestNumber}}
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" for="tostore" translate="inventory.stockrequest.tostore.lbl"></label>
                    <div class="col-sm-8">
                        <ui-select ng-model="item.ToStoreMasterId" name="tostore"
                            on-select="SelectedToStore($select.selected)" ng-disabled="item.isDisabled" required>
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 20 : 0}}
                                <span ng-if="$select.selected.Text.length>20">...</span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.ToStore | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" for="priority" translate="inventory.stockrequest.priority.lbl"></label>
                    <div class="col-sm-8">
                        <ui-select ng-model="item.StockPriorityId" name="priority" ng-disabled="item.isDisabled"
                            required>
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 20 : 0}}
                                <span ng-if="$select.selected.Text.length>20">...</span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.StockPriority | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="inventory.stockrequest.date.lbl"></label>
                    <div class="col-sm-8">:
                        <displaydate date-val="item.RequestedDate"></displaydate>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3 generic">
        <input type="checkbox" class="custom-checkbox" name="isgensearch" ng-model="item.IsGenericSearch"><span> &nbsp;
            Is
            Generic Search</span>
    </div>
</div>
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="drhms-table-control">
            <div class="drhms-bg-pattern">
                <div class="drhms-table-responsive-height">
                    <table class="drhms-responsive-table">
                        <thead class="bg-subhead">
                            <tr>
                                <th>
                                    <span translate="inventory.stockrequest.sno.lbl"></span>
                                </th>
                                <th>
                                    <span translate="inventory.stockrequest.itemname.lbl"></span>
                                </th>
                                <th>
                                    <span translate="inventory.stockrequest.uom.lbl"></span>
                                </th>
                                <th>
                                    <span translate="Pack Qty"></span>
                                </th>
                                <!-- <th>
                                    <span translate="inventory.stockrequest.manufacturname.lbl"></span>
                                </th> -->
                                <th>
                                    <span translate="inventory.stockrequest.availableqty.lbl"></span>
                                </th>
                                <th>
                                    <span translate="inventory.stockrequest.indentqty.lbl"></span>
                                </th>
                                <th>
                                    <span translate="inventory.stockrequest.remarks.lbl"></span>
                                </th>

                                <th>
                                    <span translate="inventory.stockrequest.action.lbl"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stockrequest in stockrequestDetails | filter:{Status:1}">
                                <td class="text-right">
                                    <span> {{ stockrequest.SNo }}</span>
                                </td>
                                <td class="text-center  col-sm-2">
                                    <autosearch itemid="stockrequest.ItemStoreMapId" id="SelectedItem"
                                        iteminfo="stockrequest.SelectedItem" rowdata="stockrequest"
                                        ng-show="item.ToStoreMasterId > 0" config="vm.stockrequestcontrolconfig"
                                        itemchange="onItemSelected($index, stockrequest)" candisable="item.isDisabled"
                                        tabindex="$scope.tabindexmap.detailtabindex">
                                    </autosearch>
                                    </autosearch>
                                </td>
                                <td class=" text-center ">
                                    <span> {{stockrequest.BaseUom.UomCode }}</span>
                                </td>
                                <td class=" text-center ">
                                    <span ng-if="currentcontext.id > 0">{{stockrequest.ItemMaster.PurConQty }}</span>
                                    <span ng-if="currentcontext.id == 0">{{stockrequest.PurConQty }}</span>
                                </td>
                                <td class="text-center ">
                                    <span>{{stockrequest.QuantityOnHand}}</span>
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" id="RequestedQuantity"
                                        ng-change="computeAmount()" tabindex="$scope.tabindexmap.detailtabindex"
                                        ng-model="stockrequest.RequestedQuantity" placeholder="">
                                </td>


                                <td class="text-right ">
                                    <input type="text" class="form-control" tabindex="$scope.tabindexmap.detailtabindex"
                                        id="Comments" ng-model="stockrequest.Comments" ng-disabled="item.isDisabled">
                                </td>

                                <td class="text-center">
                                    <button type="button" class="drhms-edit-button" tabindex="-1" uib-tooltip="Delete"
                                        tooltip-placement="top"
                                        ng-click="deleteStockRequestDetail($index, stockrequest)"
                                        ng-disabled="item.isDisabled">
                                        <img src="assets/svg/delete.svg" alt="">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="comment"
                            translate="inventory.stockadjustments.comments.lbl"></label>
                        <div class="col-sm-8">
                            <input type="text" tabindex="-1" class="form-control field-height inputheightctrl"
                                name="comments" ng-model="item.Comments" placeholder="Comments"
                                ng-disabled="item.isDisabledComments">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fooder-bgs">
                <div class="pull-left">
                    <button type="button" class="btn pyr-color10 btn-sm" uib-tooltip="Back to List"
                        tooltip-placement="top" tabindex="-1" ng-click="backToList()">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="btn-fontsize"> &nbsp; Back</span>
                    </button>
                    <button type="button" class="draftbutton" ng-show="canShowDeleteBtn" tabindex="-1"
                        ng-click="draftDelete()" translate="inventory.purchaseorder.deletepo.lbl"></button>
                </div>
                <div class="pull-right">
                    <button type="button" id="" class="draftbutton" tabindex="-1" hotkey="{'alt+p' : print}"
                        ng-show="canShowPrintBtn" ng-click="print()">
                        <i class="fa fa-print"></i> Preview Print</button>
                    <button type="button" id="savebtnsubmit" class="draftbutton" translate="common.saveaction.lbl"
                        hotkey="{'alt+t' : SaveandDraft}"
                        ng-if="HasAccess('Indent_buttons', 'Indent_Save') && canShowSaveBtn"
                        ng-click="SaveandDraft()"></button>
                    <button type="button" id="approvebtnsubmit" class="draftbutton"
                        translate="common.saveapprove-action.lbl" hotkey="{'alt+a': SaveandApprove}"
                        ng-if="HasAccess('Indent_buttons', 'Indent_Approve') && canShowSaveandApproveBtn"
                        ng-click="SaveandApprove()"></button>
                    <button type="button" id="authorizebtnsubmit" ng-keyup="moveFocus('authorizebtnsubmit')"
                        class="draftbutton" translate="common.authorize.lbl"
                        ng-if="HasAccess('Indent_buttons', 'Indent_Authorize') && canShowAuthorizeBtn"
                        ng-click="SaveandAuthorize() "></button>
                    <button type="button" id="authorizebtnsubmit" ng-keyup="moveFocus('authorizebtnsubmit')"
                        class="draftbutton" translate="Cancel" ng-if="canShowCancelBtn"
                        ng-click="cancel() "></button>
                </div>
            </div>
        </div>
    </form>
</div>