<style>
    .card {
        padding: 5px 0px 0px 15px;
        -webkit-transition: .3s ease;
        min-height: 98px;
        transition: .5s;
        border: 1px solid #f2f2f2;
        display: inline-block;
        position: relative;
        width: 100%;
        border-radius: 4px;
        color: rgba(0, 0, 0, .87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        max-width: 100%;
        border-radius: 21px;
        margin-top: 6px;
    }

    .pharm-img img {
        width: 75px;
        height: 75px;
        border: 1px solid gray;
        border-radius: 50px;
        position: relative;
        top: 7px;
    }

    img.imagaecare {
        width: 78%;
    }

    .vir-img {
        padding: 0;
    }

    img.imagaecare.Obs\..Gynaecology {
        width: 50%;
        position: relative;
        left: 12%;
    }

    .fooder-bgs {
        margin-bottom: 120px !important;
        height: 1% !important;
        margin-top: 2px;
    }

    section.ng-scope {
        margin-top: 60px;
    }

    .text-muted {
        color: #042e71;
        margin: -7px 4px 9px 0;
    }

    div#topnavbut {
        margin-top: 17px;
    }

    .card>.row {
        margin-left: -51px;
        margin-right: -1px;
        margin-top: 5px;
    }

    .card>.row:hover {
        background: #dadada;
    }

    .fontbold {
        color: #042e71;
        font-weight: 500;
        position: relative;
        top: 13px;
    }

    .card>.row {
        padding-left: 27px;
        background: #f1f1f1;
    }

    .card>.row:first-child {
        border-top-left-radius: 8px;
    }

    @media (max-width:767px) {
        section.ng-scope {
            /* overflow: scroll !important; */
            background: #ededed;
            height: 100%;
        }
        label.btn.btn-sm.width.btn-custom-radio.btn-success {
    width: 150px !IMPORTANT;
}

        .row {
            padding-left: 10px !important;
        }

        .card {
            padding-left: 7%;
        }

        .card>.row {
            margin-left: -26px;
            margin-right: 2px;
            margin-top: 5px;
        }

        section.ng-scope {
            background: #ededed;
            margin-top: 0px;
            height: 100%;
        }

        .content-wrapper.ng-scope.ng-fadeInUp {
            margin-top: 0px;
        }

        .content-wrapper.ng-scope.ng-fadeInUp>section.ng-scope {
            padding-top: 20px;
        }

        button.dropbtns {
            position: relative;
            bottom: 10px !IMPORTANT;
            top: 0;
        }

        .layout-fixed .wrapper>section {
            margin-top: 57px !important;
        }
    }

    .aside-collapsed .wrapper>section,
    .aside-collapsed .wrapper>footer {
        margin-left: 0px !important;
    }

    .topnavbar-wrapper>header>.row {
        margin-top: unset;
    }

    @media (max-width:320px) {
        .col-sm-12.col-xs-12.col-md-12.col-lg-12 {
            margin-bottom: 30px;
        }

        .card>.row {
            margin-left: -19px;
            margin-right: 2px;
            margin-top: 5px;
        }
    }

    .inner-sec {
        padding-left: 20%;
        padding-right: 6%;
    }

    .pharamname {
        font-weight: 500;
        font-size: 15px;
        margin-top: 6px;
        color: #042e71;
    }

    .ava,
    .time {
        color: #042e71 !important;
    }

    button.appointbtn {
        border: 1px;
        background: green;
        color: white;
        padding: 5px;
        border-radius: 4px;
        margin-top: 5px;
        width: 160px;
        position: relative;
        bottom: 10px;
    }

    .row.inner-sec {
        position: relative;
        top: 14px;
        min-height: 1px;
        float: left;
        width: 100%;
    }

    .spec .card {
        padding: 6px 2px 13px 50px;
        max-width: 80%;
    }

    .row.inner-sec {
        margin-bottom: 0px !important;
    }

    label.btn.btn-sm.width.btn-custom-radio {
        border: unset;
    }

    label.btn.btn-sm.width.btn-custom-radio.btn-success {
        background: white;
        color: #042e71 !IMPORTANT;
        border-bottom: 2px solid;
        border-radius: 0px !important;
        width: 159px !IMPORTANT;
    }

    label.btn.btn-sm.btn-custom-radio.ng-not-empty.active.btn-success {
        width: 100px;
        box-shadow: unset;
    }

    .addcart {
        padding-left: 20%;
        padding-right: 0%;
    }

    /* input.searchtype {
        background: white;
        width: 51% !IMPORTANT;
        border: 1px solid gainsboro;
        background: antiquewhite !important;
        border-radius: 6px;
    } */

    @media (max-width:767px) {
        .addcart.col-sm-12.col-xs-12 {
            padding-left: 0%;
            padding-right: 0%;
        }
        input.searchtype {
        width: 100% !important;
    }

        section.ng-scope {
            background: #ffffff;
            margin-top: 0px;
            height: 100%;
        }

        .spec .card {
            padding: 6px 2px 13px 33px !important;
            max-width: 100%;
        }

        .inner-sec {
            padding-left: 3% !important;
            padding-right: 0%;
        }

        .pharm-img img {
            left: -11px;
            top: 16px;
        }

        button.appointbtn {
            border: 1px;
            background: green;
            color: white;
            padding: 5px;
            border-radius: 4px;
            margin-top: 5px;
            width: 150px !important;
            position: relative;
            bottom: 3px !important;
            font-size: 15px !important;
        }
        .addcart {
            padding-left: 0% !important;
            padding-right: 0% !important;
            margin-bottom: 14px;
        }
    }

    .search i {
        position: absolute;
        left: 0;
        top: 10px;
        padding: 3px 26px;
        color: #aaa;
        transition: 0.3s;
    }

    a.pgmsg {
        display: none;
    }

    .layout-fixed .wrapper>.aside {
        display: none;
    }

    label.btn.btn-sm {
        font-family: 'Poppins', sans-serif; !important;
        font-weight: 500;
    }

    span.align.fontbold.ng-binding {
        font-size: 14px;
    }

    .pharm-img img {
        width: 85px;
        height: 85px;
        position: absolute;
    }

    @media only screen and (min-width: 768px) {

        .wrapper>section,
        .wrapper>footer {
            margin-left: 0;
        }
    }

    .mySlides {
        display: none;
    }

    img {
        vertical-align: middle;
    }

    /* Slideshow container */

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Caption text */

    .text {
        color: #181717;
        font-size: 15px;
        padding: 8px 12px;
        position: relative;
        bottom: 8px;
        width: 100%;
        text-align: left;
        z-index: 9999999;
    }

    /* Number text (1/3 etc) */

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */

    .dot {
        height: 5px;
        width: 5px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #717171;
    }

    /* Fading animation */

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 4.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    /* On smaller screens, decrease text size */

    @media only screen and (max-width: 300px) {
        .text {
            font-size: 11px
        }
    }

    input.searchtype {
        background: white;
        width: 70%;
        border: 1px solid gainsboro;
        background: antiquewhite !important;
        border-radius: 6px;
    }

    .slideshow-container {
        height: 437px;
    }

    .mySlides img {
        padding-top: 150px;
    }

    .col-sm-3 h3 {
        position: absolute;
        margin-top: 60px;
        font-size: 25px !important;
    }
    .btn-group.col-sm-12 {
    width: 109% !important;
}
</style>
<section>
    <div class="main-chart">
        <!-- <div class="col-sm-6 col-xs-6 col-md-6" align="left">
            <h2>Select Your Speciality / Doctor</h2>
        </div> -->
        <div class="col-sm-9">
            <div class="page-header" ng-show="CanShowConsultInfo">
                <h3 class="col-xs-12 col-sm-6 title2" itemprop="headline" translate="Select your speciality / Doctor">
                </h3>
            </div>
            <div class="col-sm-12 col-xs-12" ng-show="CanShowConsultInfo">
                <div class="addcart col-sm-6 col-xs-12" align="center">
                    <radiogroupcontrol itemid="item.FindTypeId" items="currentcontext.FindTypeOptions">
                    </radiogroupcontrol>
                </div>
                <div class="col-xs-12 col-sm-6 search" ng-show="canShowDoctors()">
                    <input type="text" class="searchtype" on-enter="getUsers()" ng-model="currentcontext.name" placeholder="Search Your Doctor....">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
                <div class="col-xs-12 col-sm-6 search" ng-show="canShowSpecialities()">
                    <input type="text" class="searchtype" on-enter="getVirtualsubcategory()" ng-model="currentcontext.specname" placeholder="Search Your Speciality....">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row inner-sec spec" ng-show="canShowSpecialities()">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" align="center">
                    <div class="card" align="left">
                        <div class="row" ng-repeat="items in VirtualSubCategory | filter:{Status:1}">
                            <div class="col-sm-1 col-xs-2 col-md-1 col-lg-1 vir-img" ng-click="selectorderInfo(items)">
                                <img class="imagaecare {{items.SubCategoryName}}" ng-show="items.Imagepath" data-ng-src="data:image/png;base64,{{items.Image}}"
                                />
                            </div>
                            <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10" ng-click="selectorderInfo(items)">

                                <span class="align fontbold">{{items.SubCategoryName}}</span>

                            </div>
                        </div>
                        <div class="row" ng-click="labresult()" ng-show="CanShowLabResult">
                            <div class="col-sm-1 col-xs-2 col-md-1 col-lg-1 vir-img">
                                <img class="imagaecare" src="app/img/icon/lab_results_icon.png" />
                            </div>
                            <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
                                <span class="align fontbold" translate="Lab Results">
                                </span>
                            </div>
                        </div>
                        <div class="row" ng-click="vaccineresult()" ng-show="CanShowVaccineResult">
                            <div class="col-sm-1 col-xs-2 col-md-1 col-lg-1 vir-img">
                                <img class="imagaecare" src="app/img/icon/advance_vaccine_booking_icon.png" />
                            </div>
                            <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
                                <span class="align fontbold" translate="patientportals.vaccinecertificates.lbl">

                                </span>
                            </div>
                        </div>
                        <!-- <div class="row" ng-click="consulthstry()" ng-show="CanShowConsultInfo">
                            <div class="col-sm-1 col-xs-2 col-md-1 col-lg-1 vir-img">
                                <img class="imagaecare" src="app/img/icon/history_icon.png" />
                            </div>
                            <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
                                <span class="align fontbold" translate="patientportals.apthistory.lbl">
                                    
                                </span>
                            </div>
                        </div> -->
                        <div class="row" ng-click="oxygenhistory()" ng-show="CanShowOxygenInfo">
                            <div class="col-sm-1 col-xs-2 col-md-1 col-lg-1 vir-img">
                                <img class="imagaecare" src="app/img/icon/history_icon.png" />
                            </div>
                            <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
                                <span class="align fontbold">
                                    Oxygen Booking History
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row inner-sec" ng-show="canShowDoctors()">
                <div class="card" ng-repeat="item in UserInfo">
                    <div class="pharmacy">
                        <div class="col-sm-2 col-xs-2">
                            <div class="pharm-img">
                                <img ng-show="item.PhotoPath" data-ng-src="data:image/png;base64,{{item.Photo}}" />
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-7">
                            <div class="col-sm-12 pharamname">{{item.Title.Description}}&nbsp;{{item.FirstName}} &nbsp;{{item.LastName}} {{item.Qualification}}
                            </div>

                            <div class="col-sm-12 ava">
                                <div class="days">
                                    <span translate="Speciality"></span> : {{item.Department.DepartmentName}}
                                </div>
                            </div>
                            <div class="col-sm-12 time">
                                <div class="days">
                                    <span translate="Available Time"></span> : {{item.AvailbleTimings}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-3">
                            <div class="col-sm-12 pharmname">
                                <del class="red">{{item.Amount}}</del>&nbsp;&nbsp;
                                <span translate="Save"></span> {{item.DiscountAmt}}
                            </div>
                            <div class="col-sm-12 pharmname">{{item.ConsultAmt}}</div>
                        </div>
                        <div class="col-sm-12 col-xs-12" align="end">
                            <button class="appointbtn" ng-click="bookapnmnt(item)">
                                <span translate="Book Appointment"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <h3>Advertise Banner</h3>

            <div class="slideshow-container">

                <div class="mySlides fade" align="center" ng-repeat="item in Banner">
                    <div class="numbertext">1 / 3</div>
                    <img class="imagaecare {{item.Image}}"data-ng-src="data:image/png;base64,{{item.Image}}"
                    />
                    <div class="text">{{item.Content}}</div>
                </div>

            </div>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
        <!-- <div class="container-fluid" id="usersheight">
          <div class="fooder-bgs" style="margin-bottom: 57px !important;">
                <div class="pull-left">
                        <a ng-click="backToList()" class="back"><i class="fas fa-arrow-circle-left"></i> Go back</a>
                    </div>
                <div class="row">
                    <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                        ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
                </div>
            </div>
        </div> -->
    </div>
</section>
<div class="fooder-bgs"></div>


<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
</script>