<link rel="stylesheet" href="app/css/patientportal.css" data-ng-if="!app.layout.isRTL">
<style>
    .cards img {
        width: 39%;
        margin-top: 10px;
    }

    .row.health {
        margin-top: 23px;
        margin-bottom: 9px !important;
    }

    .col-sm-12.bot div {
        white-space: break-spaces;
        position: relative;
        top: 10px;
        font-size: 13px !important;
        white-space: normal;
        right: 0px;
        color: #042e71;
        font-weight: 500;
    }

    .banner {
        position: absolute;
        width: 100%;
        height: 68%;
    }

    .banner-content {
        background: url(app/img/icon/banner-user@2x.png) !important;
        height: 100%;
        background-size: cover !IMPORTANT;
        min-height: 100%;
        max-height: 100%;
    }

    h1.banner-font {
        font-size: 30px !important;
        font-weight: 700 !important;
        color: #042e71;
    }

    .col-sm-6.col-xs-6.col-md-6.col-lg-6.banner-fonts {
        padding: 47px 0px 0 116px;
        text-align: center;
    }

    h1.banner-font a {
        color: #4AB6EA;
        font-weight: 500;
    }

    .banner-contents-words {
        background: #042e71;
        width: 100%;
        height: 100%;
        position: relative;
        min-height: 100%;
        float: left;
    }

     .banner-contents-words img {
        width: 122px;
    padding-top: 19px;
    }

    .banner-contents-words h3.ng-binding {
        text-transform: capitalize;
        font-size: 10px !important;
        color: white !IMPORTANT;
        letter-spacing: 1px;
        font-weight: 300 !important;
        padding-top: 10px;
    }

    .col-sm-12.copy {
        position: relative;
        top: 0px;
        font-size: 10px;
        padding: 10px;
        color: white;
        text-align: end;
    }

    .adblock {
        display: block;
        margin-bottom: 0px;
    }

    .footer-content.ng-scope .col-sm-12.copy {
        position: relative;
        top: 0px;
        font-size: 10px;
        padding: 10px;
        color: white;
        text-align: center;
    }

    .col-sm-6.col-xs-12.col-md-6.col-lg-6.banner-fonts {
        padding: 24px 0px 0px 114px;
        text-align: center;
    }

    @media (max-width:767px) {
        .banner-content {
            background: url(app/img/icon/banner-user@2x.png) !important;
            height: 100%;
            background-size: cover !IMPORTANT;
            min-height: 143px;
            max-height: 100%;
            float: left;
            margin-bottom: 31px;
        }

        .banner {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .layout-fixed .wrapper>section {
            margin-top: 0px !important;
        }

        footer.ng-scope {
            z-index: 9999;
            background: #ffffff !important;
            position: absolute;
            right: 17px !IMPORTANT;
            left: 0px;
        }

        .footer-content.ng-scope {
            padding: 6px 0px;
            left: 0px;
        }

        .col-sm-6.col-xs-12.col-md-6.col-lg-6.banner-fonts {
            padding: 24px 0px 0px 24px;
            text-align: center;
        }
    }

    .col-sm-11.col-xs-11.col-lg-11.col-md-11.user-info span a img {
        display: none;
    }

    span.banner-font {
        text-align: center;
        font-size: 30px !important;
        font-weight: 700 !important;
        color: #042e71;
    }

    span.banner-font a {
        color: #4AB6EA;
        font-weight: 500;
    }

    .content-wrapper.ng-scope.ng-fadeInUp {
        margin-top: 35px !important;
        margin-bottom: 85px !important;
    }

    @media only screen and (max-width: 320px) {
        .col-md-3.col-sm-4.col-xs-6.col-lg-3.cards {
            padding: 8px 9px !important;
        }
    }

    .Consultations,
    .Clinics\/Hospitals,
    .Oxygen.Booking {
        display: none;
    }

    .card-type {
        height: 100px;
        box-shadow: 0 0 3px 1px #d8d8d8;
        border-radius: 34px;
        text-align: center;
        margin-bottom: 16px;
    }

    @media only screen and (max-width: 767px) {
        .no-pads {
            padding: 0;
        }

        .cards img {
            width: 36% !important;
        }

        .card-type {
            height: 100px;
            text-align: center;
            box-shadow: 0 0 5px 0 grey;
            border-radius: 14px;
            padding-top: 2px;
            margin-bottom: 14px;
        }
    }

    @media only screen and (max-width: 500px) {
        .no-pads {
            padding: 0;
        }
    }
    .layout-fixed .wrapper>.aside {
    height: 1px;
    min-height: 100%;
    display: none;
}
</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-pads">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 no-pads">

        <div id="cemr_dashboard" style="width: 100%;" class="ng-scope">

            <div class="">
                <div class="row health">
                    <div class="col-md-2 col-sm-4 col-xs-6  col-lg-2 cards {{items.CategoryName}} " ng-click="getvirtualsubcategory(items)" ng-repeat="items in VirtualCategory |orderBy:'Id'| filter:{Status:1}">
                        <div class="card-type">
                            <img class="imagaecare {{items.CategoryName}}" ng-show="items.Imagepath" data-ng-src="data:image/png;base64,{{items.Image}}"
                            />
                            <div class="col-sm-12 bot {{items.CategoryName}}">
                                <span>
                                    <div class="{{items.CategoryName}} ">{{items.CategoryName}}</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6  col-lg-2 cards" ng-click="myhealthrecord()">
                        <div class="card-type">
                            <img class="icons" src="app/img/control img/conf.png">
                            <div class="col-sm-12 bot">
                                <span>
                                    <div translate="My health Data"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6  col-lg-2 cards" ng-click="videoconference()">
                        <div class="card-type">
                            <img src="app/img/icon/video_consultation_icon.png">
                            <div class="col-sm-12 bot">
                                <span>
                                    <div translate="Video Conference"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6  col-lg-2 cards" ng-click="pendings()">
                        <div class="card-type">
                            <img class="icons" src="app/img/icon/medicine_order_icon.png">
                            <div class="col-sm-12 bot">
                                <span>
                                    <div translate="Order Trackers"></div>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6  col-lg-2 cards" ng-click="successstory()">
                        <div class="card-type">
                            <img src="app/img/icon/success_stories_icon.png">
                            <div class="col-sm-12 bot">
                                <span>
                                    <div translate="Success Story"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6  col-lg-2 cards" ng-click="medicineorder()">
                        <div class="card-type">
                            <img class="icons" src="app/img/icon/medicine_order_icon.png">
                            <div class="col-sm-12 bot">
                                <span>
                                    <div translate="Medicine Orders"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6  col-lg-2 cards" ng-click="ordermedicine()">
                        <div class="card-type">
                            <img class="icons" src="app/img/icon/medicine_order_icon.png">
                            <div class="col-sm-12 bot">
                                <span>
                                    <div translate="Order Medicine"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 banner">
            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 banner-content">
                <!-- <img src="app/img/icon/banner-user@2x.png" class="virtual-con"/> -->
            </div>
            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6 banner-fonts">
                <!-- <span class="banner-font" translate="patientportals.yourhealth.lbl"></span>
                <span class="banner-font">
                    <a translate="patientportals.isan.lbl"></a>
                </span>
                <br>
                <span class="banner-font">
                    <span translate="patientportals.investment.lbl"></span></span>
                <br>
                <span class="banner-font">
                    <a translate="patientportals.isan.title"></a>
                </span>
                <span class="banner-font">
                    <span translate="patientportals.expense.title"></span>
                </span> -->
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <aside id="sidebar">
            <div class="banner-contents-words">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img src="app/img/icon/logo.png" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3> {{item.Content}}</h3>
                </div>
                <div class="col-sm-12 copy" align="center">&copy;
                    <span translate="Drhms"></span>
                </div>
            </div>
            <div class="adblock">
                <img class="item-logo-img" ng-show="!!currentcontext.file" ngf-thumbnail="currentcontext.file" />
                <img class="item-logo-img" ng-show="!currentcontext.file && item.Attachment" data-ng-src="data:image/png;base64,{{currentcontext.Image}}"
                />
            </div>
            <div class="col-sm-12" style="padding: 0;">
                <img src="app/img/svg/apple.svg">
        </aside>
        </article>
        </div>
    </div>
    <div class="fooder-bgs"></div>
    <script>
        $(function () {
            $(".fold-table tr.view").on("click", function () {
                $(this).toggleClass("open").next(".fold").toggleClass("open");
            });
        });
    </script>
    <style>
        .fooder-bgs {
            margin-bottom: 26px !important;
            height: 1% !important;
            margin-top: 2px;
        }

        table th,
        table td {
            padding: 7px;
            font-size: 12px;
        }

        td {
            border: 1px solid gainsboro;
        }

        table th {
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        th {
            background: #00689f;
            color: white;
        }

        @import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

        .pcs:after {
            content: " pcs";
        }

        i.fa.fa-eye {
            height: 25px;
            background: #ffffff;
            width: 23px;
            padding: 5px 5px 4px 3px;
            border-radius: 5px;
            color: #2c4964 !important;
        }

        * {
            box-sizing: border-box;
        }

        table {
            width: 100%;
        }

        table th {
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        table th,
        table td {
            padding: .4em;
        }

        table.fold-table>tbody>tr.view td,
        table.fold-table>tbody>tr.view th {
            cursor: pointer;
        }

        table.fold-table>tbody>tr.view td:first-child,
        table.fold-table>tbody>tr.view th:first-child {
            position: relative;
            padding-left: 20px;
        }

        table th,
        table td {
            padding: 8px;
        }

        table.fold-table>tbody>tr.view:nth-child(4n-1) {
            background: #eee;
        }

        table.fold-table>tbody>tr.view:hover {
            background: #fff;
        }

        table.fold-table>tbody>tr.view.open {
            background: tomato;
            color: white;
        }

        table.fold-table>tbody>tr.view.open td:first-child:before,
        table.fold-table>tbody>tr.view.open th:first-child:before {
            transform: rotate(-180deg);
            color: #333;
        }

        table.fold-table>tbody>tr.fold {
            display: none;
        }

        table.fold-table>tbody>tr.fold.open {
            display: table-row;
        }

        .fold-content {
            padding: .5em;
        }

        .fold-content h3 {
            margin-top: 0;
        }

        .fold-content>table {
            border: 2px solid #ccc;
        }

        .fold-content>table>tbody tr:nth-child(even) {
            background: #eee;
        }
    </style>