<style>
    .primary {
        color: white;
        background: #23B7E5;
        border-radius: 3px
    }

    .panel-body .well {
        height: 550px;
        /*width: 869px;*/
    }

    .modal-content .panel-body {
        padding: 1px;
  background: #cccccc57;
        background-repeat: repeat;
        overflow: initial;
        margin: -2px 0 5px;
    }

    /*.fullreg-profiles2 {
        min-height: 22px;
        color: #fff;
        background: -moz-linear-gradient(top, #fff 0, #f3f3f3 50%, #ededed 100%, #fff 100%);
        -moz-box-shadow: 7px 5px 15px -9px rgba(0, 0, 0, .75);
        box-shadow: 7px 5px 15px -9px rgba(0, 0, 0, .75);
        background: url(app/img/header-bg.jpg) repeat-x left top;
    }
    */

    .panel-body .well {
        height: 509px !important;
    }

    .custom_vendorpopup {
        margin-bottom: -5px;
    }
    .text-highlight5 {
    background-color: #fff;
    border-radius: 2px;
    color: #102880;
    font-size: 15px;
    padding: 0;
    margin-top: -13px;
    margin-bottom: 9px;
}
</style>

<div class="modal-header custom-modal-header" ng-if="currentcontext.ismodal">
    <h4 class="col-sm-10 modal-title custom-modal-title">Asset Information</h4>
    <div class="col-sm-2 pull-right">
        <button id="btnCancelForm" style="float:right;" type="button" class="draftbutton" ng-click="backToList()"
                                          translate="X"></button>
 </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
  <div class="formRoot">
                        <div class="panel panel-default">
                        <div class="">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 text-highlight5 plain-text">
                            <b>
                                <span translate='Asset Details'></span>
                            </b>
                        </div>
                        <table id="bannerdetails">
                            <tr>
                                <td translate="assetmanagement.assets.filter_assetname.lbl"></td>
                                <td> {{item.Description}}</td>
                                <td translate="assetmanagement.asset.assetcode.lbl"></td>
                                <td> {{item.AssetName}}</td>
                                <td translate="assetmanagement.asset.shortcode.lbl"></td>
                                <td> {{item.ShortCode}}</td>
                            </tr>
                            <tr>
                                <td translate="assetmanagement.assets.assetcategory.lbl"></td>
                                <td> {{item.AssetCategory.Description}}</td>
                                <td translate="assetmanagement.asset.modelname.lbl"></td>
                                <td> {{item.ModelName}}</td>
                                <td translate="assetmanagement.asset.assettype.lbl"></td>
                                <td> {{item.AssetType.Description}}</td>                               
                            </tr>
                            <tr>
                                <td translate="assetmanagement.asset.serialno.lbl"></td>
                                <td> {{item.Serial}}</td>
                                <td translate="assetmanagement.asset.modelno.lbl"></td>
                                <td> {{item.AssetName}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 text-highlight5 plain-text">
                            <b>
                                <span translate="assetmanagement.asset.pnlpurchasedetails.lbl"></span>
                            </b>
                        </div>
                        <table id="bannerdetails">
                            <tr>
                                <td translate="assetmanagement.asset.manufacturer.lbl"></td>
                                <td> {{item.Manufacturer}}</td>
                                <td translate="assetmanagement.asset.vendorname.lbl"></td>
                                <td> {{item.VendorMaster.VendorName}}</td>
                                <td translate="assetmanagement.asset.currentvalue.lbl"></td>
                                <td> {{item.CurrentValue}}</td>                               
                            </tr>
                            <tr>
                                <td translate="assetmanagement.asset.pono.lbl"></td>
                                <td> {{item.PONum}}</td>
                                <td  translate="assetmanagement.asset.grnnum.lbl"></td>
                                <td> {{item.GRNNum}}</td>
                                <td translate="assetmanagement.assets.purchasevalue.lbl"></td>
                                <td> {{item.PurchaseValue}}</td>
                            </tr>
                            <tr>
                                <td translate="assetmanagement.asset.podate.lbl"></td>
                                <td> {{item.PO}}</td>
                                <td translate="assetmanagement.asset.grndate.lbl"></td>
                                <td> {{item.GRN}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6" style="padding: 0;">
                        <div class="col-sm-12 text-highlight5 plain-text">
                            <b>
                                <span translate="assetmanagement.assets.warrentys.lbl"></span>
                            </b>
                        </div>
                        <div class="col-sm-12">
                            <span style="color: purple" translate='Warranty'></span>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.assets.type.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{warrentyitem.WarrantyType.Description}}</div>
                            </div>
                            <div class="col-sm-12">

                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.asset.fromdate.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{warrentyitem.FromDate}}</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.asset.todate.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{warrentyitem.ToDate}}</div>
                            </div>
                            <div class="col-sm-12">

                                <div class="col-sm-5" style="white-space: nowrap;">
                                    <b>
                                        <span translate="assetmanagement.asset.nooffreeservices.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{warrentyitem.NoOfFreeServices}}</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.asset.pending.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{warrentyitem.NoOfPendingServices}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: 17px; padding: 0;">
                        <div class="col-sm-12">
                            <span style="color: purple" translate="assetmanagement.asset.insurance.lbl"></span>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <b>
                                        <span  translate="Payer Name"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{insuranceitem.InsuranceName}}</div>
                            </div>
                            <div class="col-sm-12">

                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.asset.idvvalue.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{insuranceitem.IDVValue}}</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.asset.premimumamount.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{insuranceitem.PremimumAmount}}</div>
                            </div>
                            <div class="col-sm-12">

                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.asset.fromdate.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{insuranceitem.PeriodStart}}</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.asset.todate.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{insuranceitem.PeriodEnd}}</div>
                            </div>
                            <div class="col-sm-12">

                                <div class="col-sm-5">
                                    <b>
                                        <span translate="assetmanagement.warranty-list.policytype.lbl"></span>
                                    </b>:</div>
                                <div class="col-sm-7">{{insuranceitem.PolicyType.Description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bgs">
                    
                </div>
            </div>
                        </div>
                </div>
        </form>

    </div>