<style>
    .panel-footer {
        background-color: #ccecf5 !important;
    }

    @media (min-height: 675px) and (min-width: 1360px) {
        #patientidentitiesheight .ui-grid-viewport {
            min-height: 447px;
        }
    }
</style>
<!-- ui start-->
<div class="row page-header">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h4 class="page-header mt0" translate="inventory.budget-list.pagetitle.lbl"></h4>
        </div>
        <div class="col-sm-6">

            <button class="btn bt-color3 btn-xs pull-right btn-filter" ng-click="openAdvancedFilter()" uib-tooltip="{{ '  inventory.serviceitem-list.filter-tooltip.lbl' | translate }}"
                tooltip-placement="bottom">
                <i class="fas fa-search" aria-hidden="true"></i>&nbsp;&nbsp;
                <span translate="clinicalmaster.serviceitem-list.filter.lbl"></span>
            </button>

            <span>
                <button class="btn bt-color2 btn-xs pull-right  btn-filter" ng-click="addNew()" uib-tooltip="{{ 'inventory.budget-list.pagetitle.lbl' | translate }}"
                    tooltip-placement="bottom">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <strong class="btn-fontsize" translate="common.addnewaction.lbl"> </strong>
                </button>
            </span>

        </div>
    </div>
</div>


<div class="row filter-area">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <label class="col-sm-4 control-label" for="facility" translate="inventory.producttype.facilityId.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.FacilityId" name="facility" required>
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label filter-lbl" translate="assetmanagement.assets.filter_installeddepartment.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.DepartmentId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 8 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Department | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-4 control-label" for="category" translate="inventory.budget-list.itemcategory.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.CategoryId" name="category" ng-change="getList()" theme="bootstrap" required>
                    <ui-select-match>
                        {{$select.selected.CategoryName | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.CategoryName.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ItemCategory | filter: { CategoryName: $select.search }">
                        <div ng-bind-html="lookupitem.CategoryName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <label class="col-sm-4 control-label" translate="appmanager.dept.activefrom.lbl"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="activefrom" ng-date-object datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}" ng-click="activefromPopup = { opened: true }"
                    is-open="activefromPopup.opened" ng-model="currentfilter.DateFrom">
            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-4 control-label" translate="appmanager.dept.activeto.lbl"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="activeto" ng-date-object datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}" ng-click="activetoPopup = { opened: true }"
                    is-open="activetoPopup.opened" ng-model="currentfilter.DateTo">
            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-4 control-label filter-lbl" translate="clinicalmaster.package-list.filter_status.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.ActiveStatusId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 8 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <!--
        <div class="col-sm-4">
            <label class="col-sm-4 control-label" for="requesteddate" translate="inventory.purchaserequest.prdate.lbl"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="requesteddate" ng-change="getList()" datepicker-options="datePickerOptions"
                    show-button-bar="{{datePickerOptions.showButtonBar}}" uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                    placeholder="{{datePickerOptions.placeholder}}" ng-click="requesteddatePopup = { opened: true }" is-open="requesteddatePopup.opened"
                    ng-model="currentfilter.RequestedDate">
            </div>

        </div>-->

</div>

<div class="container-fluid" id="patientidentitiesheight">
    <div ui-grid="vm.gridConfig" class="table-uigrid table-uigrid-tab "></div>

    <div class="fooder-bgs">
        <div class="row">
            <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
        </div>
    </div>
</div>