<style>
    button {
        margin: 2px 3px;
    }

    .ui-grid-render-container-left .ui-grid-viewport {
        height: 100px !important;
    }

    .ui-grid-canvas,
    .ui-grid-viewport {
        width: none !important;
    }

    /* .ui-grid-viewport{min-height:184px;}  */
    span.btn.btn-default.form-control.ui-select-toggle,
    .form-horizontal input,
    input[type=text] {
        height: 32px !important;
    }

    .modal-dialog.modal-full .ui-grid-render-container-left .ui-grid-viewport {
        /* height:148px !important;
        min-height:148px; */
        height: 60px !important;
        min-height: 50px;
    }

    .filter-area span {
        color: white !important;
    }

    .filter-area {
        color: white !important;
    }
</style>
<div class="modal-header custom-modal-header">
    <h4 class="modal-title custom-modal-title" translate="IP Cancel Reason"></h4>
</div>
<div class="row filter-area panel-favorite">
    <div class="col-sm-12">
        <patientbanner patientid="currentcontext.BannerPatientId"></patientbanner>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"> <br /> </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label class="col-sm-4 control-label" for="remarks"
                translate="Cancel Reason"></label>
            <div class="col-sm-8">
                <input type="text" ng-disabled="SaveCompleted" class="form-control" name="remarks"
                    ng-model="currentcontext.Remarks" placeholder="Reason" autofocus required>
            </div>
        </div>
    </div>
    <div class="col-sm-12"> <br /><br /><br /> </div>
    <div class="fooder-bgs">
        <div class="col-sm-12">
            <div class="col-sm-8 pull-left"></div>
            <div class="col-sm-4 pull-right">
                <button type="button" id="btnSaveApprove" class="btn dem-color4 text-white btn-sm"
                    ng-click="saveAndApprove(1)" translate="Yes"></button>
                <!-- <button id="btnClearForm" type="button" class="btn btn-warning btn-sm ml3" ng-click="clear()"
                    translate="common.clearaction.lbl"></button> -->
                <button id="btnCancelForm" type="button" class="btn dem-color4 text-white btn-sm" ng-click="saveAndApprove(0)"
                    translate="common.cancelaction.lbl"></button>
            </div>
        </div>
    </div>
</div>