<style>
    .custom-modal-header { padding: 0px 11px; }
    .custom-modal-header h4 { margin:4px 0px;}
    .ui-grid-canvas, .ui-grid-viewport{width:101% !important;}
</style>
<div class="appt-root-div">
    <div class="col-sm-12 custom-modal-header">
        <h4 translate="admission.previous-admission.lbl"></h4>
    </div>
    <div class="panel-body">
        <patientbanner patientid="currentcontext.pid"></patientbanner>
            <div class="col-sm-12">
                <div ui-grid="vm.gridConfig" class="table-uigrid"></div>
            </div>
    </div>
    <div class="panel-footer pd0">
        <div class="panel-footer formactionbar">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button id="btnCancelForm" type="button" class="draftbutton" ng-click="cancelCallback()" translate="common.cancelaction.lbl"></button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>