<div class="modal-header custom-modal-header" ng-if="currentcontext.ismodal">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="generalmaster.referraltab.pagetitle.lbl"></h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>

<div class="row" id="fullregistrationheight">
    <div class="col-sm-12">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <!-- <div class="form-group col-sm-3">
                            <label class="col-sm-12 control-label" for="facility" translate="generalmaster.referral-form.facility.lbl"></label>
                            <div class="col-sm-12">
                                <ui-select ng-model="item.FacilityId" name="facility" required>
                                    <ui-select-match>
                                        {{$select.selected.Text | limitTo : 20 : 0}}
                                        <span ng-if="$select.selected.Text.length>20">...</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div> -->
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" for="referraltype"
                    translate="generalmaster.referral-form.referraltype.lbl"></label>
                <div class="col-sm-12">
                    <ui-select ng-model="item.ReferralTypeId" name="referraltype" required>
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="lookupitem.Id as lookupitem in lookup.ReferralType | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" for="code"
                    translate="generalmaster.referral-form.code.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="code" ng-model="item.ReferralCode" placeholder=""
                        required>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" for="referralname"
                    translate="generalmaster.referral-form.referralname.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="referralname" ng-model="item.ReferralName"
                        placeholder="" required>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" for="qualification"
                    translate="generalmaster.referral-form.qualification.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="qualification" ng-model="item.Qualification"
                        placeholder="">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label"
                    translate="generalmaster.referral-form.markettingperson.lbl"></label>
                <div class="col-sm-12">
                    <ui-select ng-model="item.MarketingPersonId">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="lookupitem.Id as lookupitem in lookup.MarketingPerson | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label"
                    translate="generalmaster.referral-form.contactperson.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="contactperson" ng-model="item.ContactPerson"
                        placeholder="">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" translate="generalmaster.referral-form.phoneno.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="mobile" ng-model="item.PhoneNo" ng-minlength="10"
                        ng-pattern="/^\d+$/">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" translate="generalmaster.referral-form.faxno.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="faxno" ng-model="item.FaxNo" placeholder="">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" translate="generalmaster.referral-form.emailid.lbl"></label>
                <div class="col-sm-12">
                    <input type="email" class="form-control" name="email" ng-model="item.Email" placeholder=""
                        ng-required="false">
                </div>
            </div>
            <!-- <div class="form-group col-sm-3">
                            <label class="col-sm-12 control-label" translate="generalmaster.referral-form.activefrom.lbl"></label>
                            <div class="col-sm-12 topright">
                                <input type="text" class="form-control" name="activefrom" ng-date-object uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                                    placeholder="{{datePickerOptions.placeholder}}" ng-click="activefromPopup = { opened: true }"
                                    is-open="activefromPopup.opened" ng-model="item.ActiveFrom">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="col-sm-12 control-label" translate="generalmaster.resource-form.activeto.lbl"></label>
                            <div class="col-sm-12  topright">
                                <input type="text" class="form-control" name="activeto" ng-date-object uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                                    placeholder="{{datePickerOptions.placeholder}}" ng-click="activetoPopup = { opened: true }"
                                    is-open="activetoPopup.opened" ng-model="item.ActiveTo">
                            </div>
                        </div> -->
            <!-- <address addressline1="item.AddressLine1" addressline2="item.AddressLine2" pincodeid="item.PinCodeId" pincode="item.Pincode"
                            area="item.Area" city="item.City" cityid="item.CityId" state="item.State" stateid="item.StateId"
                            country="item.Country" countryid="item.CountryId"></address> -->
            <!-- </div>
            <div class="col-sm-12"> -->
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label"
                    translate="registration.registrationcumvisit.address.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" id="Manualadd" class="form-control" name="addressline1" tabindex="19"
                        ng-model="item.AddressLine1" ng-disabled="item.candisable" placeholder="">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" translate="registration.fullregistration.country.lbl"></label>
                <div class="col-sm-12">
                    <countrycontrol country="item.Country" tabindex="22" countryid="item.CountryId">
                    </countrycontrol>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" translate="registration.fullregistration.state.lbl"></label>
                <div class="col-sm-12">
                    <statecontrol pincodeid="item.PinCodeId" pincode="item.PinCode" area="item.Area" tabindex="21"
                        city="item.City" cityid="item.CityId" state="item.State" stateid="item.StateId"
                        country="item.Country" countryid="item.CountryId">
                    </statecontrol>

                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" translate="registration.patientsearch.city.lbl"></label>
                <div class="col-sm-12">
                    <citycontrol pincodeid="item.PinCodeId" pincode="item.PinCode" area="item.Area" tabindex="20"
                        stateid="item.StateId" city="item.City" cityid="item.CityId">
                    </citycontrol>
                </div>
            </div>
            <!-- </div>
            <div class="col-sm-12"> -->

            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" translate="generalmaster.referral-form.birthdate.lbl"></label>
                <div class="col-sm-12 topright">
                    <input type="text" class="form-control" name="birthdate" ng-date-object
                        uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}" ng-click="birthdatePopup = { opened: true }"
                        is-open="birthdatePopup.opened" ng-model="item.BirthDate">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label"
                    translate="generalmaster.referral-form.anniversarydate.lbl"></label>
                <div class="col-sm-12 topright">
                    <input type="text" class="form-control" name="anniversarydate" ng-date-object
                        uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}"
                        ng-click="anniversarydatePopup = { opened: true }" is-open="anniversarydatePopup.opened"
                        ng-model="item.AnniversaryDate">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-12 control-label" for="isactive"
                    translate="clinicalmaster.allergy-form.isactive.lbl"></label>
                <div class="col-sm-12">
                    <input type="checkbox" name="isactive" class="custom-checkbox" ng-model="item.IsActive">
                </div>
            </div>
            <div class="">
                <div class="row">
                    <div class="pull-right">
                        <!--<button type="button" id="btnsubmit" class="draftbutton" translate="common.saveaction.lbl" ng-click="save()"></button>-->
                        <button type="button" class="draftbutton" translate="common.saveapprove-action.lbl"
                            ng-click="saveAndApprove()"></button>
                        <!-- <button id="btnCancelForm" type="button" class="draftbutton" ng-click="backToList()" translate="common.cancelaction.lbl"></button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>