<!DOCTYPE html>
<html lang="en">

<head>
    <title>Patient Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2"> -->
    <link rel="stylesheet" href="app/css/patientservices.css">
</head>
<style>
    header .navbar {
        margin-bottom: 0px !important;
    }

    .bodycontent {
        /* background: #fff; */
        margin-top: 2%;
        /* padding: 3%; */
    }

   

    .app_box img {
        /* width: 10%; */
    }

    /* .app_box p {
        margin-left: 3%;
    } */

    .app_box h3 {
        /* margin: 4%; */
    }

    button {
        /* margin-top: 3%; */
    }
</style>
<header>
    <nav class="navbar navbar-default0">
        <div class="header">
            <div class="navbar-header col-sm-4 col-md-3">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.gloomsofttech.com/">
                    <img src="app/img/patientservices/logo.png" alt="logo">
                </a>
                <!-- <h2>Patient Services</h2> -->
            </div>
            <div class="head col-sm-7 col-md-6">
                <h2 class="bold text-center">PATIENT SERVICES</h2>
            </div>
            <div class="col-sm-1 col-md-3">
                <button type="button" class="btn btn-primary btn-md pull-right logout" ng-click="logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>

            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</header>
<div class="row page-header ng-scope">
    <div class="col-sm-12">
        <div class="col-sm-4 col-md-6 col-lg-6">
            <!-- <h4 class=" mt0 qr_font" translate="patientservices.newregistration.pagetitle.lbl"></h4> -->
            <h3 class="mt0 qr_font ng-scope" translate="Doctors">
                <span class="ng-scope">Doctors</span>
            </h3>
        </div>

    </div>
</div>

<body class="patientservices_bg">
    <div class="container pd0">
        <div class="doctorlistcontent clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12 app_box">
                    <img class="img-responsive" src="app/img/no-img-female.png">
                    <div class="col-sm-6 psdrname">
                        <h3>Dr.Kannan MD,MS</h3>
                        <p>Opthalmologist,Dermatologist,etc.</p>
                    </div>
                    <div class="col-sm-3 doctlist_time">
                        <p>10.00AM-02.00PM</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-md pull-right doctlist_book" ng-click="bookdoctorappointment()">BOOK</button>
                </div>
                <div class="col-sm-12 app_box">
                    <img class="img-responsive" src="app/img/no-img-female.png">
                    <div class="col-sm-6 psdrname">
                        <h3>Dr.Kavin MD,MS</h3>
                        <p>Opthalmologist,Dermatologist,etc.</p>
                    </div>
                    <div class="col-sm-3 doctlist_time">
                        <p>10.00AM-02.00PM</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-md pull-right doctlist_book">BOOK</button>
                </div>
                <div class="col-sm-12 app_box">
                    <img class="img-responsive" src="app/img/no-img-female.png">
                    <div class="col-sm-6 psdrname">
                        <h3>Dr.Karan MD</h3>
                        <p>Opthalmologist,Dermatologist,etc.</p>
                    </div>
                    <div class="col-sm-3 doctlist_time">
                        <p>10.00AM-02.00PM</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-md pull-right doctlist_book">BOOK</button>
                </div>
                <div class="col-sm-12 app_box">
                    <img class="img-responsive" src="app/img/no-img-female.png">
                    <div class="col-sm-6 psdrname">
                        <h3>Dr.Khan MD</h3>
                        <p>Opthalmologist,Dermatologist,etc.</p>
                    </div>
                    <div class="col-sm-3 doctlist_time">
                        <p>10.00AM-02.00PM</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-md pull-right doctlist_book">BOOK</button>
                </div>
                <div class="col-sm-12 app_box">
                    <img class="img-responsive" src="app/img/no-img-female.png">
                    <div class="col-sm-6 psdrname">
                        <h3>Dr.Kannan MD,MS</h3>
                        <p>Opthalmologist,Dermatologist,etc.</p>
                    </div>
                    <div class="col-sm-3 doctlist_time">
                        <p>10.00AM-02.00PM</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-md pull-right doctlist_book">BOOK</button>
                </div>
                <div class="col-sm-12 app_box">
                    <img class="img-responsive" src="app/img/no-img-female.png">
                    <div class="col-sm-6 psdrname">
                        <h3>Dr.saravanan MD,MS</h3>
                        <p>Opthalmologist,Dermatologist,etc.</p>
                    </div>
                    <div class="col-sm-3 doctlist_time">
                        <p>10.00AM-02.00PM</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-md pull-right doctlist_book">BOOK</button>
                </div>

            </div>

        </div>

    </div>
    </div>


</body>
<div class="back clearfix" >
    <img class="img-responsive" ng-click="home()" src="app/img/patientservices/redo.png">
    <img class="img-responsive ps_home" ng-click="pshome()" src="app/img/patientservices/home.png">

</div>
<div class="footer">
    <footer class="container-fluid bg-4 text-center">
        <p>&copy &nbsp
            <a href="http://www.gloomsoft.com/">Gloomsoft Technologies</a>
        </p>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>