<div id="checkedinpatients" class="doct_checkedinpatients">
    <div class="col-sm-12 col-md-12 col-lg-12 clearfix page-header row smpd3" style="margin-bottom: 10px !important;">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <label class="col-sm-12" style="padding-left: 10px;"  translate="Patient Search"></label>
                <patientsearch class="logo" ng-keyup="moveHeaderFocus('pid')" patientid="currentfilter.PatientId"
                    ng-disabled="RdoPatientId" name="txtpatientsearch" patientinfo="selectedPatient"
                    patientchange="getList()" tabindex="tabindexmap.patienttabindex" style="width:100%;">
                </patientsearch>
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12" for="fromdate" translate="From Date"></label>
                <div class="col-sm-12">
                    <div class="datepicker">
                        <input type="text" class="form-control" name="fromdate" 
                            datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                            uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                            placeholder="{{datePickerOptions.placeholder}}" ng-click="fromdatePopup = { opened: true }"
                            is-open="fromdatePopup.opened" ng-model="currentfilter.FromDate">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12" for="todate" translate="To Date"></label>
                <div class="col-sm-12">
                    <div class="datepicker">
                        <input type="text" class="form-control" name="todate" 
                            datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                            uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                            placeholder="{{datePickerOptions.placeholder}}" ng-click="todatePopup = { opened: true }"
                            is-open="todatePopup.opened" ng-model="currentfilter.ToDate">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="col-sm-8">
                    <button type="button" tabindex="-1" class="draftbutton" translate="Load"ng-click="getList()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>