<style>
    /* .modal-dialog {
        width: 800px;
        margin: 30px auto;
    } */

    .form-horizontal .form-group {
        height: 62px;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="Manage Service Group Rate Mapping">
        </h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>

<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form" ng-submit="saveItem()">
        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label" for="servicegroup"
                translate="Service Group"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="servicegroup" ng-model="item.ServiceGroup"
                    placeholder="Service Group">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label" for="bedtype"
                translate="Bed Type"></label>
            <div class="col-sm-12">
                <ui-select ng-model="item.BedTypeId" name="bedtype">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.BedType | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label" for="amount"
                translate="Amount"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="amount" ng-model="item.Amount"
                    placeholder="Amount">
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label" for="isactive"
                translate="clinicalmaster.serviceratecategory-form.isactive.lbl"></label>
            <div class="col-sm-12">
                <input type="checkbox" name="isactive" class="custom-checkbox" ng-model="item.IsActive">
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="pull-right">
        <button type="button" class="draftbutton text-white btn-sm" translate="common.saveapprove-action.lbl"
            ng-click="saveAndApprove()"></button>
    </div>
</div>