<style>
    .filters div {
        padding-right: 10px;
    }
</style>
<div class="row">
    <div class="col-sm-9">
        <h4 translate="Service Group Rate Mapping"></h4>
    </div>
    <div class="col-sm-3">
        <div class="filters">
            <button type="button" tabindex="-1" class="btn-add" ng-click="addNew()"
                uib-tooltip="{{ 'Manage Service Group Rate Mapping' | translate}}" tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>