<html>

<head>
  <style>
    .title {
      padding-top: 20px;
    }

    .left {
      text-align: left;
      font-size: 8px;
      margin-bottom: 10px;

    }

    .right {
      text-align: right;
      font-size: 10px;

    }

    .pageheader img {
      width: 80% !important;
    }

    .common {
      font-size: 10px;
      width: 100%;
    }

    .rowspace {
      padding-top: 20px !important;
    }

  </style>

</head>

<body>

  <div class="title">
    <b>&nbsp;</b>
  </div>

  <table class="common">
    <tr>
      <td style="width:100%; text-align: center;">
        <h2> {{{include '/Templates/generic/common/header.tpl.html' 'tpl'}}}</h2>
      </td>
    </tr>
   
    <tr>
      <td style="width:100%; text-align: center;">
        <h2><u> Medical Report </u> </h2>
      </td>
    </tr>
  </table>
  <table class="common">
    <tr>
      <td style="width:50%; "><b>{{data.Patient.Title.Description}} {{data.Patient.FirstName}} {{data.Patient.MiddleName}}
        {{data.Patient.LastName}}</b></td>
      <td style="width:50%;">{{data.Patient.Gender.Description}}, {{data.Patient.Age}} Years</td>
    </tr>
    <tr>
      <td style="width:50%; ">Patient Id : {{data.Patient.MRN}}</td>
      <td style="width:50%; ">{{data.Patient.AddressLine1}} {{data.Patient.AddressLine2}}</td>
    </tr>
    <tr>
      <td style="width:50%; ">{{data.Patient.Mobile}}</td>
      <td style="width:50%; "></td>
    </tr>
  </table>
    <div style="width:100%;">
      <hr style="border-top:solid 1px;" />
  </div>
  <table class="common">
    <tr>
      <td style="width:50%; ">By: <b>{{data.PatientSickLeaveForm.Doctor.FirstName}}</b></td>
      <td style="width:50%;">Date:{{data.PatientSickLeaveForm.IssueDate}}</td>
    </tr>
    <tr>
      <td style="width:50%; "></td>
      <td style="width:50%; "></td>
    </tr>
    <tr>
      <td style="width:50%; "></td>
      <td style="width:50%; "></td>
    </tr>
  </table>  
  <table class="common">
    <tr>
      <td style="width:100% "><b>Medical Leave Number : {{data.PatientSickLeaveForm.LeaveFormNumber}}
         </b> </td>
    </tr>
    <tr>
      <td style="width:100%;">This is to certify that the above named is unfit for duty for a period of {{data.PatientSickLeaveForm.DaysCount}} day(s) from {{data.PatientSickLeaveForm.ValidFrom}} to {{data.PatientSickLeaveForm.ValidTo}} inclusive.
        Advised for physiotherapy treatment for 2 weeks. as still the Sacro iliac joint soreness present. Rest is must for faster recovery.
        Issued on:{{data.PatientSickLeaveForm.IssueDate}}</td>
    </tr> 
  </table> 
  <br> 
  <table class="common">
    <tr>
      <td style="width:50%;">Signature:{{#if data.Encounter.Doctor.SignPath}} <img style="height: 30px; width: 100px;" 
        src="{{include data.Encounter.Doctor.SignPath 'fullpath-img'}}"/>{{/if}}</td>
      <td style="width:50%;"></td> 
    </tr>
    <tr>
      <td style="width:50%;">Doctor:<b>{{data.PatientSickLeaveForm.Doctor.FirstName}}</b></td>
      <td style="width:50%;"></td> 
    </tr>
  </table>
</body>  
</html>
