<style>
 .card .title {
    position: relative;
    border-left: 0px solid #01c0c8;
    margin: 0 0 19px;
    padding: 10px 0 2px 15px;
    color: #01c0c8;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.row.ng-scope {
    padding-left: 16px;
    padding: 17px 228px 4px 137px;
}
img.imagaecare {
    width: 75%;
}
.title:before {
    content: "\f0f3 ";
    font: normal normal normal 13px/1 fontawesome;
    position: relative;
    right: 12px;
    color: #ff9800;
    background: #d7d7d7;
    border-radius: 22px;
    padding: 5px;
    margin-left: -17px;
}
.success-story.ng-scope {
    margin-top: 1%;
    padding-left: 11%;
    padding-right: 11%;
}
.card {
    padding: 8px 0 10px;
    -webkit-transition: .3s ease;
    min-height: 168px;
    transition: .5s;
    border: 1px solid #f2f2f2;
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    color: rgba(0, 0, 0, .87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.content-wrapper.ng-scope.ng-fadeInUp {
    height: 82%;
}
.title .col-sm-12:before {
    content: "\f005";
    font: normal normal normal 12px/1 fontawesome;
    position: relative;
    right: 0px;
    color: #57565c;
    /* background: #d7d7d7; */
    border-radius: 22px;
    padding: 5px;
    margin-left: 0px;
}
.col-sm-4.updated {
    margin-top: 20px;
    text-align: end;
}
h3, .h3 {
    font-size: 20px;
    color: #24272d !important;
} 
@media (max-width : 767px) {
.heading div {
    padding: 0;
}
.success-story.ng-scope {
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
img.imagaecare {
    width: 50%;
}
.col-sm-4.updated {
    margin-top: 19px;
    text-align: end;
}
.title:before {
    margin-left: -6px;
}
}
.layout-fixed .wrapper>section {
    margin-top: 11px;
}
</style>
<div class="col-sm-12 col-xs-12">
    <h3 class="col-xs-12 col-sm-12" translate="Success Story"></h3>
</div>
<div class="success-story">
    <div class="col-sm-6" ng-repeat="items in SuccessStory">
        <div class="card">
                    <div class="col-sm-12">
            <div class="heading">
                <div class="col-sm-12">
                    <div class="col-sm-8 title">{{items.Title}}
                        <div class="col-sm-12">
                        ~    {{items.SuccessCategory.Description}}
                        </div>
                    </div>
                    <div class="col-sm-4 update">
                        <displaydate date-val="items.CreatedDate"></displaydate>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        
                        {{items.SuccessStory}}
                    </div>
                    <div class="col-sm-8">
                        <img class="imagaecare" data-ng-src="data:image/png;base64,{{items.Image}}" />
                    </div>
                    <div class="col-sm-4 updated">
                       <div class="bold"> {{items.CreatedUser.Title.Description}} {{items.CreatedUser.FirstName}} {{items.CreatedUser.LastName}} ({{items.ActiveStatus.Description}})</div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="fooder-bgs" style="margin-bottom: 20px !important;"></div>