 <style>
    .pager-div {
        float: right;
        right: 0;
        box-sizing: border-box;
        position: fixed;
        box-sizing: border-box;
    }
    .form-group {
        margin-bottom: 7px !important;
    }
    .custom_table th {
        width: 12%;
    }
    .dischargedetails li {
        padding: 4px;
        list-style-type: none;
        background: #191970;
        color: #fff;
        margin-bottom: 2px;
    }
    ul.dischargedetails {
        margin-bottom: 6px;
    }
    .dischargedetails {
        padding-left: 0px;
    }
    @media screen and (max-width: 1024px) and (orientation: portrait) {
        .custom_tbl {
            vertical-align: top !important;
        }
    }
    @media screen and (max-width: 1024px) and (orientation: landscape) {
        .custom_tbl {
            vertical-align: top !important;
        }
    }
    @media screen and (max-width: 768px) {
        .custom_height {
            height: 70px;
        }

    }
    .product8 {
        background-color: rebeccapurple;
        color: #fff;
    }
    .layout-fixed .wrapper{
       overflow-y: scroll;
   }
   .custom_table{
        height: 276px;
    }
    @media screen and (max-width: 768px) and (orientation: portrait)
{
.wrapper>.aside .aside-inner {
    padding-top: 43px !important;
}}
@media only screen and (max-width:414px){
    .hrvmore{
        margin-top: -19px;
    }
}
.col-md-2{width:16.66666667%;margin:0px;}
</style>
<div class="row page-header">
        <h4 class="col-sm-12 mt0" translate='inventory.dashboard.pagetitle.lbl'>
            <span class="ng-scope">Inventory Dashboard</span>
        </h4>
    </div>
    <!---Inventory content---->
    <div class="col-sm-12 col-md-9 col-lg-10">
        <div class="filter-area content_one">
            <div class="content-color container-fluid clearfix">
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product1 custom_height">
                        <h2>{{Items.purchaseorderCount}}</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-cubes fa-2x  custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/purchaseorders">Purchase Orders</a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product2 custom_height">
                        <h2>{{Items.grnCount}}</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-cart-arrow-down fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/grns">Goods Receipt Notes</a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew lis_align invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product3 custom_height">
                        <h2>{{Items.prCount}}</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-cart-plus fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/purchaserequests">Purchase Request </a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product5 custom_height">
                        <h2>{{Items.stockrequestCount}}</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-shopping-cart fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/storemasters">Stock Request </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-color container-fluid clearfix">
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product6 custom_height">
                        <h2>{{Items.FollowupCount}}</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-edit fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/storeworklists">Store Worklist </a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew lis_align invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product7 custom_height">
                        <h2>{{Items.stockacceptCount}}</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-truck fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/purchasereturns">Stock Receive</a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew invbx invclr">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product10 custom_height">
                        <h2>26</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-truck fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="#">Non Movements</a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew lis_align invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product11 custom_height">
                        <h2>37</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-list-alt fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/updateexpiryprice/">Expiry Items </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-color container-fluid clearfix">
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product9 custom_height">
                        <h2>{{Items.purchasereturnCount}}</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-user-plus fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/purchasereturns">Purchase Returns</a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew lis_align invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product4 custom_height">
                        <h2>22</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-truck fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="#">Inventory Items</a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew lis_align invbx invclr">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product8 custom_height">
                        <h2>12</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-truck fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="/www/index.html#/app/StockRequests">Stock Request</a>
                        </p>
                    </div>
                </div>
                <div class="inner_con1 col-xs-12 col-sm-5 col-md-3 col-lg-2 clearfix addnew lis_align invbx">
                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4 product12 custom_height">
                        <h2>52</h2>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 custom-color custom_height">
                        <i class="fa fa-cube fa-2x custom_icon"></i>
                        <p class="pro-edit">
                            <a href="#">Dynamic Buffer </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-----------------table------------>
        <div class="custom_table inv_tbl table-responsive">
            <div class="table_topic col-md-12">Total Statistics</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="custom_tbl">Product Type</th>
                        <th class="custom_tbl">Opening Stock Value</th>
                        <th class="custom_tbl">Received Value (GRN)</th>
                        <th class="custom_tbl">Purchase Return Value</th>
                        <th class="custom_tbl">Stock Transfer Value</th>
                        <th class="custom_tbl">Patient Sales</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align:center">TOTAL</th>
                        <td colspan="10"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--table ends-->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 inv_right_content">
        <div class="col-sm-12 col-md-12 col-lg-12 outer">
            <h4 style="color:#1786f5;font-weight:bolder;">Today Discharges</h4>
            <hr>
                <!-- ngRepeat: fd in orderdetails -->
                <button ng-click="OrderList()" class="hrvmore info btn-md pull-right rc_view">View more...</button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 outer">
                <h4 style="color:#f51791;font-weight:bolder;">Today PurchaseRequest</h4>
                <hr>
                <ul ng-repeat="fd in purchaserequestdetails" class="dischargedetails">
                    <li>{{fd.PrNumber}}&nbsp;-&nbsp;{{fd.PrStatus.Description}}&nbsp;/&nbsp;{{fd.PrType.Description}} &nbsp;/&nbsp;{{fd.VendorMaster.VendorName}}&nbsp;/&nbsp;{{fd.StoreMaster.StoreName}}
                    </li>
                </ul>
                    <!-- ngRepeat: fd in orderdetails -->
                    <button ng-click="OrderList()" class="hrvmore info btn-md pull-right rc_view">View more...</button>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 outer">
                    <h4 style="color:#6517f5;font-weight:bolder;">Today PurchaseOrder</h4>
                    <hr>
                    <ul ng-repeat="fd in podetails" class="dischargedetails">
                        <li>{{fd.PoNumber}}&nbsp;-&nbsp;{{fd.PoStatus.Description}}&nbsp;/&nbsp;{{fd.PoType.Description}} &nbsp;/&nbsp;{{fd.VendorName}}&nbsp;/&nbsp;{{fd.StoreMaster.StoreName}}
                        </li>
                    </ul>
                        <!-- ngRepeat: fd in orderdetails -->
                        <button ng-click="OrderList()" class="hrvmore info btn-md pull-right rc_view">View more...</button>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 outer">
                        <h4 style="color:#00a2e2;font-weight:bolder;">Today GRNS</h4>
                        <hr>
                        <ul ng-repeat="fd in grndetails" class="dischargedetails">
                                <li>{{fd.GrnNumber}}&nbsp;-&nbsp;{{fd.GrnStatus.Description}}&nbsp;/&nbsp;{{fd.GrnType.Description}} &nbsp;/&nbsp;{{fd.VendorName}}&nbsp;/&nbsp;{{fd.StoreMaster.StoreName}}
                                </li>
                            </ul>
                            <!-- ngRepeat: fd in orderdetails -->
                            <button ng-click="OrderList()" class="hrvmore info btn-md pull-right rc_view">View more...</button>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 outer">
                            <h4 style="color:#259403;font-weight:bolder;">Today GRN Returns</h4>
                            <hr>
                            <ul ng-repeat="fd in purchasereturndetails" class="dischargedetails">
                                <li>{{fd.PrnNumber}}&nbsp;-&nbsp;{{fd.PrnStatusId.Description}}&nbsp;/&nbsp;{{fd.PrnType.Description}} &nbsp;/&nbsp;{{fd.VendorMaster.VendorName}}&nbsp;/&nbsp;{{fd.StoreMaster.StoreName}}
                                </li>
                            </ul>
                                <!-- ngRepeat: fd in orderdetails -->
                                <button ng-click="OrderList()" class="hrvmore info btn-md pull-right rc_view">View more...</button>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 outer">
                                <h4 style="color:#d67d08;font-weight:bolder;">Expiring Items</h4>
                                <hr>
                                    <!-- ngRepeat: fd in orderdetails -->
                                    <button ng-click="OrderList()" class="hrvmore info btn-md pull-right rc_view">View more...</button>
                                </div>
                            </div>
                            <div class="fooder-bg ng-scope custom_footer col-sm-12 col-md-12 col-lg-12">
                                <p class="summary_footer">© 2018 -
                                   <a href="http://www.gloomsoft.com/">Gloomsoft Technologies</a>
                                </p>
                            </div>