<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label" translate="costmanagement.notionalrent.area.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="item.SurfaceArea" placeholder="">
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label" translate="costmanagement.notionalrent.rentpersq.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="item.NotionalRent" ng-change="computeAmount(item)"
                    placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label" translate="costmanagement.notionalrent.pagetitle.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="item.TotalNotionalRent" placeholder="" disabled>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label" translate="costmanagement.notionalrent.procedure.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="item.AvgProcedures" placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-12 control-label"
                translate="costmanagement.notionalrent.rentperprocedures.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="item.NotionalRentProcedures" placeholder="">
            </div>
        </div>
    </form>
</div>
<div class="fooder-bgs">
    <div class="row">
        <div class="pull-left">
            <button type="button" class="btn btn-sm pyr-color10" ng-click="backToList()"><i
                    class="fa fa-angle-left"></i>&nbsp;&nbsp;<span translate="common.backaction.lbl"></span></button>
        </div>
        <div class="pull-right">
            <!--<button type="button" id="btnsubmit"  class="draftbutton" translate="common.printaction.lbl" ng-if="item.ActiveStatusId==1 || item.ActiveStatusId==2" ng-click="print()"></button>-->
            <button type="button" class="draftbutton" ng-click="save()" translate="common.saveaction.lbl"></button>
            <!--<button id="btnClearForm" type="button" class="btn btn-warning btn-sm" ng-click="clear()" translate="common.clearaction.lbl"></button>-->
            <button id="btnCancelForm" type="button" class="draftbutton" ng-click="backToForm()"
                translate="common.cancelaction.lbl"></button>
        </div>
    </div>
</div>