<style>
    textarea.text-comment {
        width: 100%;
        height: 126px;
        border: 1px solid #a29f9f;
    }
</style>
<div class="row">
    <label class="col-sm-12 control-label" for="name" translate="Content"></label>
    <div class="col-sm-8">
        <textarea class="text-comment" ng-model="item.Content"></textarea>
        <!-- <react-component name="RichTextEditor" props="{ richtext: item.Content, onContentChange: onRteChange, height: 420 }"></react-component> -->
    </div>
</div>

<div class="fooder-bgs">
    <!-- <button type="button" class="btn btn-sm pyr-color10" ng-click="backToList()"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;<span translate="common.backaction.lbl"></span></button> -->
    <div class="pull-right">
        <button type="button" class="draftbutton" ng-click="save()"
            translate="common.saveaction.lbl"></button>
        <!-- <button type="button" class="draftbutton" translate="common.saveapprove-action.lbl" ng-click="saveandApprove()"></button> -->
    </div>
</div>