<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="IP Clearence Status"></h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>

<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">

        <div class="row">
            <!-- <fieldset class="" ng-disabled="item.IsBackToSameBed">
                <div ng-repeat="items in item">
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="Bed " translate="Department "></label>
                        <div class="col-sm-12 ">
                            {{items.Department.DepartmentName}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="ward " translate="Patient Name "></label>
                        <div class="col-sm-12 ">
                            {{items.PatientName}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="ward " translate="Visit No "></label>
                        <div class="col-sm-12 ">
                            {{items.VisitNo}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="room " translate="Ward "></label>
                        <div class="col-sm-12 ">
                            {{items.WardMaster.WardName}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="room " translate="Room Bed "></label>
                        <div class="col-sm-12 ">
                            {{items.WardRoomMaster.RoomNo}}&nbsp; {{items.WardRoomBedMaster.BedNo}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="Bed " translate="Admission Status "></label>
                        <div class="col-sm-12 ">
                            {{items.AdmissionStatus.Description}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="Bed " translate="Doctor "></label>
                        <div class="col-sm-12 ">
                            {{items.DoctorName}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="Bed " translate="Doctor "></label>
                        <div class="col-sm-12 ">
                            {{items.IPClearenceStatus.Description}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4 ">
                        <label class="col-sm-12 control-label " for="comments " translate="Remarks "></label>
                        <div class="col-sm-12 ">
                            {{items.Comments}}
                        </div>
                    </div>
                </div>

            </fieldset> -->
            <table class="drhms-responsive-table">
                <thead class="bg-subhead">
                    <tr>
                        <th>
                            <span>Department Name</span>
                        </th>
                        <th>
                            <span>Date</span>
                        </th>
                        <th>
                            <span>Requested By</span>
                        </th>
                        <th>
                            <span>Status</span>
                        </th>
                        <th>
                            <span>Approved By</span>
                        </th>
                        <th>
                            <span>Approved Date</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in item">
                        <td class="text-right">
                            <span> {{items.Department.DepartmentName}}</span>
                        </td>
                        <td class="text-right">
                            <!-- <span> {{items.IPClearenceDate}}</span> -->
                            <span>
                                <displaydate date-val="items.IPClearenceDate"></displaydate>
                            </span>
                        </td>
                        <td class="text-right">
                            <span> {{items.RequestedUser.FirstName}}&nbsp;{{items.RequestedUser.LastName}}</span>
                        </td>
                        <td class="text-right">
                            <span> {{items.IPClearenceStatus.Description}}</span>
                        </td>
                        <td class="text-right">
                            <span> {{items.ApprovedUser.FirstName}}&nbsp;{{items.ApprovedUser.LastName}}</span>
                        </td>
                        <td class="text-right">
                            <span>
                                <displaydate date-val="items.ApprovedDate"></displaydate>
                            </span>
                            <!-- <span> {{items.ApprovedDate}}</span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>