<!-- -->
<style>
    .pager-div {
        float: right;
        right: 0;
        box-sizing: border-box;
        position: fixed;
        box-sizing: border-box;
    }

    /*.site-footer {
    height: 43px!important;
    bottom: 15px!important;
    }*/

    .single-filter .ui-grid-render-container-body .ui-grid-viewport {
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: 462px !important;
    }

    .search i {
        top: 5px;
    }
</style>
<!-- -->
<div class="row page-header">
    <!-- <div class="col-sm-6">
        <button class="btn bt-color3 btn-xs pull-right btn-filter" ng-click="" uib-tooltip="{{ '  clinicalmaster.serviceitem-list.filter-tooltip.lbl' | translate 

 }}" tooltip-placement="bottom"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;<span translate="clinicalmaster.serviceitem-list.filter.lbl"></span></button>
            <button class="btn bt-color2 btn-xs pull-right btn-filter" ng-click="addNew()" uib-tooltip="Product Type" tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i><span translate="clinicalmaster.serviceitem-list.addnew.lbl"></span></button>
    </div> -->
    <div class="col-sm-5">
        <h4 class="col-sm-6 mt0" translate="inventory.producttype.pagetitle1.lbl"></h4>

    </div>
    <div class="col-sm-7">
        <div class="filters">
            <div class="search">
                <input type="text" id="pid" class="form-control" on-enter="getList()" ng-model="currentfilter.producttypename" translate
                    translate-attr-placeholder="inventory.producttypes.filter_producttypename.lbl">
                <i class="fas fa-search" aria-hidden="true"></i>

            </div>
            <button type="button" tabindex="-1" class="btn-add" ng-click="addNew()" uib-tooltip="Product Type"
                tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <!-- <span translate="clinicalmaster.serviceitem-list.addnew.lbl " class="text-white"></span> -->
            </button>
            <button type="button" tabindex="-1" class="btn-add" ng-click="backtoList()" uib-tooltip="Dashboard" tooltip-placement="bottom">
                <i class="fa fa-home" aria-hidden="true"> </i>
            </button>

            <!-- <i class="fa fa-home" align="right" ng-click="backtoList()" uib-tooltip="Dashboard" tooltip-placement="bottom"></i> -->
        </div>
    </div>
</div>
<div class="">
    <div class="col-sm-12">
        <!--  -->

        <!-- <div class="col-sm-3">

            <label class="col-sm-4 control-label filter-lbl" translate="inventory.producttypes.filter_producttypename.lbl"></label>
            <div class="input-group col-sm-8">
                <div class="input-group-addon"><i class="fas fa-search" aria-hidden="true"></i></div>
                <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.producttypename" translate translate-attr-placeholder="inventory.producttypes.filter_producttypename.lbl">
            </div>

        </div> -->
        <table id="bannerdetails" style="width:101%;">
            <tr>
                <td>
                    <label class="col-sm-4 control-label" for="category" translate="inventory.producttypes.filter_category.lbl"></label>
                </td>
                <td>
                    <ui-select ng-model="currentfilter.CategoryId" name="category" ng-change="getList()" theme="bootstrap" required>
                        <ui-select-match>
                            {{$select.selected.CategoryName | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.CategoryName.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ItemCategory | filter: { CategoryName: $select.search }">
                            <div ng-bind-html="lookupitem.CategoryName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <label class="col-sm-4 control-label" for="subcategory" translate="inventory.producttypes.filter_subcategory.lbl"></label>
                </td>
                <td>
                    <ui-select ng-model="currentfilter.SubCategoryId" ng-change="getList()" name="subcategory" theme="bootstrap" required>
                        <ui-select-match>
                            {{$select.selected.SubCategoryName | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.SubCategoryName.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ItemSubCategory | filter: {SubCategoryName: $select.search }">
                            <div ng-bind-html="lookupitem.SubCategoryName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <label class="col-sm-4 control-label filter-lbl" translate="Facility"></label>
                </td>
                <td>
                    <ui-select ng-model="currentfilter.FacilityId" ng-change="getList()" class="filter-combo">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 8 : 0}}
                            <span ng-if="$select.selected.Text.length>8">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <label class="col-sm-4 control-label filter-lbl" translate="inventory.producttypes.filter_status.lbl"></label>
                </td>
                <td>
                    <ui-select ng-model="currentfilter.ActiveStatusId" ng-change="getList()" class="filter-combo">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 8 : 0}}
                            <span ng-if="$select.selected.Text.length>8">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>

            </tr>
        </table>


        <!-- <div class="col-sm-3">
            <label class="col-sm-4 control-label" for="category" translate="inventory.producttypes.filter_category.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.CategoryId" name="category" ng-change="getList()" theme="bootstrap" required>
                    <ui-select-match>
                        {{$select.selected.CategoryName | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.CategoryName.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ItemCategory | filter: { CategoryName: $select.search }">
                        <div ng-bind-html="lookupitem.CategoryName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div> -->
        <!-- <div class="col-sm-3">
            <label class="col-sm-4 control-label" for="subcategory" translate="inventory.producttypes.filter_subcategory.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.SubCategoryId" ng-change="getList()" name="subcategory" theme="bootstrap" required>
                    <ui-select-match>
                        {{$select.selected.SubCategoryName | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.SubCategoryName.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ItemSubCategory | filter: {SubCategoryName: $select.search }">
                        <div ng-bind-html="lookupitem.SubCategoryName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div> -->
        <!-- <div class="col-sm-3">
            <label class="col-sm-4 control-label filter-lbl" translate="inventory.producttypes.filter_status.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.ActiveStatusId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 8 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div> -->
        <!--  -->

    </div>
</div>
<custom-table config="vm.gridConfig"></custom-table>
<div class="container-fluid single-filter">
    <div class="fooder-bgs">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>