<style>
    .page-header {
        margin: 0px 0px 2px 0px !important;
    }

    .fontctrl {
        color: #ffffff;
        text-shadow: 0 1px 1px #194B7E;
    }

    .wobanner {
        background-color: #597A9A
    }

    .calender_align ul {
        left: -6px !important;
    }

    #patientlabresult {
        overflow-x: hidden;
    }

    .icon_emrboard {
        width: 5%;
        float: right;
        margin-right: 1%;
        margin-left: 1%;
        /* border: 1px solid #056def; */
    }

    .icon_home {
        width: 5%;
        float: right;
    }

    .btn-rounded {
        width: 33px;
        height: 24px;
        font-size: 16px !important;
    }

    #print .dropdown-menu {
        top: initial;
        margin-bottom: 6px;
        bottom: 100%;
        background-color: #1e7d9a !important;
        left: -41px;
        min-width: 160px;
    }

    #print .dropdown-menu>li {
        border-bottom: 1px solid #fff;
    }

    #print .dropdown-menu>li>a {
        color: #000000 !important;
    }

    #print .top>li {
        margin-bottom: 0px !important;
    }

    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        background-color: #ad1414 !important;
        text-decoration: none;
        color: #fff;
    }

    #print .dropdown-menu {
        top: initial;
        bottom: 100%;
        background-color: transparent;
        border: none;
        box-shadow: none;
        background-clip: none;
    }

    #print .top>li {
        margin-bottom: 5px;
    }

    #workorder {
        min-height: auto;
    }

    .wostatus {
        color: darkorange;
        font-size: medium;
        margin-left: 145px;
        font-weight: 500;
        font-style: initial;
    }

    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #d3e2e8;
        width: 25%;
        height: 100vh;
    }

    /* Style the buttons inside the tab */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 6px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 13px;
        border-bottom: 1px solid #9E9E9E;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #1d6090;
        color: #fff;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
        background-color: #1d6090;
        color: #fff;
    }

    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 10px 12px;
        /* border: 1px solid #ccc; */
        width: 75%;
        border-left: none;
        height: 100vh;
        overflow-y: scroll;
    }

    #patient_res td,
    th {
        border: none !important;
        border-bottom: 1px solid #ccc !important;
    }

    .lbl-test {
        font-weight: 700;
        color: #000;
        font-size: 15px;
    }

    .dr-name {
        font-weight: 700;
        /* color: #333; */
    }

    .dr-name:hover {
        color: #fff;
    }

    .btn-warning {
        border-radius: 7px !important;
        width: auto !important;
        height: auto !important;
    }

    @media (min-width: 768px) {
        .img-pop .modal-dialog {
            width: 600px;
            margin: 70px auto;
        }
    }

    .modal-backdrop {
        z-index: -1;
    }

    div#assettabs ul {
        display: inline-flex;
        width: 100%;
    }

    div#assettabs {
        margin-bottom: 1px;
        margin-top: -13px;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover {
        background: #dcdcdc70 !important;
        border-top: 3px solid #218ade !important;
    }

    .nav-tabs>li>a {
        background: white !important;
    }

    ul.nav.nav-tabs {
        background: white !important;
        border: unset !important;
        margin-bottom: 4px;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover {
        color: black !important;
        /* border-bottom-color: #e81841; */
        border-top: 2px solid #272a75;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-top-right-radius: 18px;
        border-top-left-radius: 18px;
    }

    .nav-tabs>li>a {
        background: white !important;
        text-align: center;
        padding: 10px !important;
        border-color: white !important;
    }

    div#assettabs ul li a:before {
        color: darkgreen;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 25px !important;
        margin-right: 10px;
        position: relative;
        top: 5px;
    }

    .nav-tabs>li.active>a:before,
    .nav-tabs>li.active>a:hover:before {
        color: white !important;
    }

    div#tablebox h4.col-sm-6.mg0.ng-scope {
        padding: 10px;
    }

    div#tablebox .prv-color12 {
        background-color: #006400c7 !important;
        padding: 5px 25px;
        border-radius: 6px !important;
    }

    .logoimgg {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background: #fff;
        border: 10px solid #d4e4e7;
        box-shadow: 0px 0px 2px 6px #0064005c;
    }

    .aside-collapsed .fooder-bg {
        width: 100% !important;
        left: 0% !important;
        margin-top: 30px;
        background: #d1e3e6 !important;
    }

    h4.mg0.ng-scope {
        padding: 10px;
    }

    footer.ng-scope {
        z-index: 9999 !important;
    }

    .nav>li.disabled>a {

        height: 49px !important;
    }

    #findassets {
        height: 40px;
        width: 80% !important;
        border-radius: 10px;

    }

    .nav-tabs>li>a {
        padding: 4px 15px;
        color: #424141 !important;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        color: #424141 !important;
        background-color: #9e9e9e3d !important;
        height: 37px;
    }

    .btn:active,
    .btn.active {
        /* outline: 0; */
        /* background-image: none; */
        /* -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
        /* box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
        font-variant: small-caps;
        font-size: 14px;
        border: 1px solid #000;
        color: #424141 !important;
        background-color: #9e9e9e3d !important;
        height: 36px;
        border-left: 2px solid #4583d0 !important;
        border-right: 2px solid #3F51B5 !important;
        border-top-right-radius: 8px !important;
        border-top-left-radius: 8px !important;
        border-top: 1px solid blue !important;
        border-bottom: 1px solid white !important;
        /* border: 1px solid #3e3737 !important; */
        border-bottom-color: #fdfdfd !important;
        /* margin-bottom: -1px; */
        border-bottom: unset;
    }
</style>
<script language="javascript">
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<div class="row page-header">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <h4 class="page-header mt0" translate="ordermanagement.labresult-list.pagetitle.lbl"></h4>
        </div>
        <div class="col-sm-8">
            <h4 class="">Status:{{EncounterStatus}}</h4>
        </div>
        <!-- <div class="col-sm-2">
            <div class="col-sm-12">
                <span class="drhms-billing-btn drhms-outstandingbill-btn" ng-click="doctor_dashboard()"
                    ng-if="context=='emr'" uib-tooltip="{{'patientemr.pmhxdashboard.doctordashboard.lbl' | translate}}"
                    tooltip-placement="bottom">
                    <i class="fas fa-th-large" aria-hidden="true"></i>
                </span>
                <img class="imgsrc" src="app/img/main/check-in.png" ng-click="checkedinpatients()"
                    ng-if="context=='emr'" uib-tooltip="{{'patientemr.pmhxdashboard.oplist.lbl' | translate}}"
                    tooltip-placement="bottom" style="margin-top: -3px;width: 35px;">
                <img class="imgsrc" src="app/img/main/hospital.png" ng-click="checkedinpatients()"
                    ng-if="context=='ipemr'" uib-tooltip="{{'  bedmanagement-grid.pagetitle.lbl' | translate}}"
                    tooltip-placement="bottom" style="margin-top: 3px; width: 29px;">
            </div>
        </div> -->
    </div>
</div>
    <emrpatientbanner ng-if="context=='emr'||context=='vorders'" patientid="currentcontext.pid"></emrpatientbanner>
    <ippatientbanner ng-if="context=='ipemr'||context=='aeemr'" patientid="currentcontext.pid"></ippatientbanner>


<!-- <button type="button" class="pull-right btn btn-primary" style="margin: 0 !important;padding: 6px;border-radius: 23px;"
    data-toggle="modal" data-target="#imgs">
    <i class="fa fa-image"></i>
</button> -->

<div class="box1 text-center" style="    float: right;">
    <input type="file" ng-disabled="SaveCompleted" ngf-select style="    display: contents;"
        ng-model="currentcontext.file" tabindex="-1" name="file" id="file-1" class="inputfile inputfile-1"
        ngf-max-size="200MB" ng-change="photoFileChanged()" />
    <label for="file-1" ng-disabled="SaveCompleted" uib-tooltip="Upload" style="margin: 1px;"
        tooltip-placement="bottom">
        <i class="fa fa-upload" aria-hidden="true"></i>
    </label>
</div>
<i class="fa fa-line-chart test" style="float: right; padding: 9px;background: red;color: white;
border: 1px;border-radius: 21px;margin: 0px 8px;" aria-hidden="true" ng-click="resultview()"></i>
<div class="pull-right footer_reg_align">
    <div class="pull-right footer_reg_align">
        <div class="col-sm-6">
            <input type="text" class="form-control" name="from" ng-change="getList(tab)" ng-date-object
                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                ng-click="fromPopup = { opened: true }" is-open="fromPopup.opened" ng-model="currentfilter.From">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="to" ng-change="getList()" ng-date-object
                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                ng-click="toPopup = { opened: true }" is-open="toPopup.opened" ng-model="currentfilter.To">
        </div>

        <!-- <div class="">
            <input type="text" class="form-control" name="to" ng-change="getList()" ng-date-object
                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                ng-click="toPopup = { opened: true }" is-open="toPopup.opened" ng-model="currentfilter.To">
        </div> -->
        <!--<button type="button"  class="draftbutton" ng-disabled="!isPatientActivated()" ng-click="print()" translate="common.printaction.lbl"
                hotkey="{'alt+p': print}"></button>-->
        <!-- <ul class="nav navbar-nav" id="print">
            <li uib-dropdown="" class="dropdown dropdown-list custom-li">
                <button uib-dropdown-toggle="" class="draftbutton" ng-disabled=""
                    hotkey="{'alt+p': print}">
                    <span translate="common.printaction.lbl"></span>&nbsp;&nbsp;&nbsp;
                    <span>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </span>
                </button>
                <ul class="dropdown-menu top" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a class="" ng-click="print2()">
                            <span>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>&nbsp;&nbsp;&nbsp;
                            <span translate="Without Header"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="print1()">
                            <span>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>&nbsp;&nbsp;&nbsp;
                            <span translate="With Header"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul> -->
    </div>
</div>

<div class="row tablebox" id="tablebox" style="width: 26%;margin-top: -11px;margin-bottom: -8px;">
    <div class="col-sm-12">
        <label class="btn btn-secondary top-option" ng-repeat="option in options" ng-click="getList()"
            ng-model="currentcontext.option" uib-btn-radio="option.key">{{option.name}}</label>

        <!-- <uib-tabset active="active" id="assettabs">
            <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-model="currentcontext.tab"
                ng-click="getList(tab)" disable="tab.canDisable">
            </uib-tab>
        </uib-tabset> -->
        <div ui-view></div>
    </div>
</div>
<div class="tab">
    <div ng-repeat="item in vm.orders">
        <button class="tablinks" ng-click="getDetails(item)" id="defaultOpen">
            <displaydate datetime-val='item.OrderRequestDate'></displaydate>/{{item.OrderNumber}}<br>
            <span class="dr-name">{{item.DoctorName}} /{{item.ParentDeparement.DepartmentName}}</span>
        </button>
        <!-- <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button> -->
    </div>
</div>
<div id="patient_res" class="tabcontent">
    <div>
        <displaydate datetime-val='item.OrderRequestDate'></displaydate>/{{item.OrderNumber}}
        {{item.DoctorName}} /{{item.ParentDeparement.DepartmentName}}

        <div ng-if="AttachementImgs" id="mySidenav" class="sidenav">
            <div ng-repeat="AttachementImg in AttachementImgs | orderBy : 'Id' ">
                <div class="imgrow"
                    style="text-align: center;background-color: #fff;
                        border: 1px solid #ccc;border-radius: 10px; float:right; width:auto;height:auto;margin:9px 0px;">
                </div>
            </div>
        </div>
        <div id="" class="emr_labresults">
            <div>
                <div ng-repeat="order in vm.orders">
                    <div id='workorder' ng-repeat="wo in order.PatientWorkorders">

                        <table class="table table-hover table-responsive table-bordered">
                            <!-- <thead class="bg-subhead">
                                <tr>
                                    <th class="col-sm-2">
                                        <span translate="ordermanagement.labresult-list.observation.lbl"></span>
                                    </th>
                                    <th class="col-sm-2">
                                        <span translate="ordermanagement.labresult-list.result.lbl"></span>
                                        <span class="mandatory-asterix">*</span>
                                    </th>
                                    <th class="col-sm-2">
                                        <span translate="ordermanagement.labresult-list.uom.lbl"></span>
                                    </th>
                                    <th class="col-sm-3">
                                        <span translate="ordermanagement.labresult-list.referrence.lbl"></span>
                                    </th>
                                    <th>
                                        <span translate="ordermanagement.labresult-list.phr.lbl"></span>
                                    </th>
                                    <th>
                                        <span translate="common.actions_col.lbl"></span>
                                    </th>
                                </tr>
                            </thead> -->
                            <tbody ng-repeat="test in wo.woDetails">
                                <tr ng-if="test.RootProfileName">
                                    <td colspan="9">
                                        <span class="lbl-profile">{{test.RootProfileName}}</span>
                                    </td>
                                </tr>
                                <tr ng-if="test.ProfileName">
                                    <td colspan="9">
                                        <span class="lbl-profile">{{test.ProfileName}}</span>
                                    </td>
                                </tr>
                                <tr
                                    ng-hide="test.details.length == 1 && test.Testname.toLowerCase() == test.details[0].Analytename.toLowerCase()">
                                    <td colspan="9">
                                        <span class="lbl-test"> {{test.Testname}}</span>
                                    </td>
                                </tr>
                                <tr ng-repeat="item in test.details | filter:{Status:1}">
                                    <td>
                                        <span
                                            style="vertical-align: super; color: #0066cc; font-weight: 700; white-space: nowrap; text-overflow: ellipsis; overflow: auto;">{{item.Analytename}}</span>
                                    </td>
                                    <td colspan="{{item.TestValueType == 3 ? '3' : '1'}}">
                                        <span ng-if="item.QualifierId==1||!item.QualifierId"> {{item.Resultvalue}}
                                        </span>
                                        <span ng-if="item.QualifierId!=1 && item.QualifierId" style="color:red;">
                                            {{item.Resultvalue}}
                                        </span>
                                    </td>
                                    <td ng-if="item.TestValueType != 3">
                                        <span ng-model="item.AnalyteUOM">{{item.AnalyteUOM}}</span>
                                    </td>
                                    <!-- <td ng-if="item.TestValueType != 3">
                                        <span class="pull-left">{{item.Analyterange}}</span>
                                        <span class="pull-right"
                                            style="color: #ff902b; font-weight: 700;">{{item.Qualifier}}</span>
                                    </td> -->
                                    <!-- <td>
                                        <displayyesno input-val='item.IsReleasedToPatient'></displayyesno>
                                    </td> -->
                                    <!-- <td>
                                        <button class="btn btn-primary btn-xs" tabindex="-1" style="vertical-align: super;"
                                            ng-click="openAttachments(item)">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-danger btn-xs" tabindex="-1" style="vertical-align: super;"
                                            ng-click="openObservations(item)">
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                        </button>
                                        <span ng-repeat="AttachementImg in AttachementImgs | orderBy : 'Id' ">
                                            <button type="button" ng-if=" AttachementImg.WODId == item.Id"
                                                class="btn pyr-color10 btn-xs"
                                                ng-click="downloadAttachment(AttachementImg.filepath,AttachementImg.filename, AttachementImg.Id)">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="fooder-bgs">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">

                    <!-- <button type="button"  class="draftbutton" ng-hide="currentcontext.ismodal" ng-click="print()" translate="common.printaction.lbl"></button> -->
                    <!-- <button type="button"  class="draftbutton" ng-click="print1()" translate="common.printaction.lbl"></button> -->
                    <!-- <button style="margin-right:40px" id="btnCancelForm" type="button" class="draftbutton" ng-click="cancelCallback()" translate="common.cancelaction.lbl"></button> -->
                </div>
            </div>
        </div>
    </div>
    <!--
    <div id="London" class="tabcontent">
        <table class="table table-hover table-responsive table-bordered">
            <thead class="bg-subhead">
                <tr>
                    <th class="col-sm-2">
                        <span translate="ordermanagement.labresult-list.observation.lbl"></span>
                    </th>
                    <th class="col-sm-2">
                        <span translate="ordermanagement.labresult-list.result.lbl"></span>
                        <span class="mandatory-asterix">*</span>
                    </th>
                    <th class="col-sm-2">
                        <span translate="ordermanagement.labresult-list.uom.lbl"></span>
                    </th>
                    <th class="col-sm-3">
                        <span translate="ordermanagement.labresult-list.referrence.lbl"></span>
                    </th>
                    <th>
                        <span translate="ordermanagement.labresult-list.phr.lbl"></span>
                    </th>
                    <th>
                        <span translate="common.actions_col.lbl"></span>
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="test in wo.woDetails">
                <tr ng-if="test.RootProfileName">
                    <td colspan="9">
                        <span class="lbl-profile">{{test.RootProfileName}}</span>
                    </td>
                </tr>
                <tr ng-if="test.ProfileName">
                    <td colspan="9">
                        <span class="lbl-profile">{{test.ProfileName}}</span>
                    </td>
                </tr>
                <tr
                    ng-hide="test.details.length == 1 && test.Testname.toLowerCase() == test.details[0].Analytename.toLowerCase()">
                    <td colspan="9">
                        <span class=" btn btn-primary btn-xs"> {{test.Testname}}</span>
                    </td>
                </tr>
                <tr ng-repeat="item in test.details | filter:{Status:1}">
                    <td>
                        <span
                            style="margin-left:24px;  vertical-align: super; color: #0dbef1; font-weight: 700; white-space: nowrap; text-overflow: ellipsis; overflow: auto;">{{item.Analytename}}</span>
                    </td>
                    <td colspan="{{item.TestValueType == 3 ? '3' : '1'}}">
                        <span ng-if="item.QualifierId==1"> {{item.Resultvalue}} </span>
                        <span ng-if="item.QualifierId!=1" style="color:red;"> {{item.Resultvalue}} </span>
                    </td>
                    <td ng-if="item.TestValueType != 3">
                        <span ng-model="item.AnalyteUOM">{{item.AnalyteUOM}}</span>
                    </td>
                    <td ng-if="item.TestValueType != 3">
                        <span class="pull-left">{{item.Analyterange}}</span>
                        <span class="pull-right" style="color: #ff902b; font-weight: 700;">{{item.Qualifier}}</span>
                    </td>
                    <td>
                        <displayyesno input-val='item.IsReleasedToPatient'></displayyesno>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" tabindex="-1" style="vertical-align: super;"
                            ng-click="openAttachments(item)">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger btn-xs" tabindex="-1" style="vertical-align: super;"
                            ng-click="openObservations(item)">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                        </button>
                        <span ng-repeat="AttachementImg in AttachementImgs | orderBy : 'Id' ">
                            <button type="button" ng-if=" AttachementImg.WODId == item.Id"
                                class="btn pyr-color10 btn-xs"
                                ng-click="downloadAttachment(AttachementImg.filepath,AttachementImg.filename, AttachementImg.Id)">
                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <!--
    <div id="Paris" class="tabcontent">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="Tokyo" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div> -->
</div>

<div class="img-pop modal fade" id="imgs" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Uploaded Images</h4>
            </div>
            <div class="modal-body">
                <div ng-if="AttachementImgs">
                    <div ng-repeat="AttachementImg in AttachementImgs | orderBy : 'Id' ">
                        <div class="imgrow" style="text-align: center;
                        border: 1px solid #333; border-radius: 10px; width:100%;height:auto;">
                            <img class="img-responsive"
                                data-ng-src="data:image/png;base64,{{AttachementImg.ImgEncData}}" />
                            <button type="button" class="btn btn-primary odrprocess_view0 img_name"
                                ng-click="downloadAttachment(AttachementImg.filepath,AttachementImg.filename, AttachementImg.Id)">
                                <i class="fa fa-eye" style="font-size:14px;color:#fff;"
                                    aria-hidden="true"></i>&nbsp;&nbsp;
                                <strong class="btn-fontsize ng-scope ">{{AttachementImg.filename}}
                                </strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>