<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="patientreturns.pagetitle.lbl"></h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="event-name b-greensea">
            <span class="forpadd"
                uib-tooltip=" {{item.PatientReturnDateTime | date : 'dd-MMM-yyyy'}}&nbsp;  {{item.PatientReturnDateTime | date : 'HH:mm'}}"
                tooltip-placement="bottom">
                <span translate="patientreturn.date.lbl"></span> :
                <span> {{item.PatientReturnDateTime | date : 'dd-MMM-yyyy'}}&nbsp; {{item.PatientReturnDateTime | date :
                    'HH:mm'}} </span>
            </span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="event-name b-greensea">
            <span class="forpadd" uib-tooltip="{{item.PatientReturnNumber}}" tooltip-placement="bottom">
                <span translate="patientreturn.returnno.lbl"></span>:
                <span> {{item.PatientReturnNumber}} </span>
            </span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="event-name b-greensea">
            <span class="forpadd" uib-tooltip=" {{item.DisplayReturnStatus}} " tooltip-placement="bottom">
                <span translate="patientreturn.status.lbl"></span>:
                <span> {{item.DisplayReturnStatus}} </span>
            </span>
        </div>
    </div>
</div>
<!-- <div class="row">
    <button class="btn-add" ng-click="addNew()" ng-hide="currentcontext.ismodal"
        uib-tooltip="{{ 'patientreturns.addnew-tooltip.lbl' | translate }}" tooltip-placement="bottom">
        <i class="fas fa-plus" aria-hidden="true"></i>
    </button>
</div> -->

<div class="row">
    <patientbanner patientid="item.PatientId" delegatefn="setBannerDelegate(cmp)"></patientbanner>
</div>
<div class="row">
    <ippatientbanner patientid="currentcontext.pid" encounterid="currentcontext.eid"></ippatientbanner>
</div>

<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="form-group col-sm-3">
            <label class="col-sm-12 control-label" for="type" translate="patientreturn.facility.lbl"></label>
            <div class="col-sm-12">
                <ui-select ng-model="item.FacilityId" name="facility" ng-disabled="item.CanDisableHeader">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-12 control-label" for="tostore" translate="patientreturn.tostore.lbl"></label>
            <div class="col-sm-12">
                <ui-select ng-model="item.ToStoreId" name="tostore" ng-disabled="item.CanDisableHeader">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.ToStore | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-12 control-label" for="wardroom" translate="patientrequest.wardroom.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="wardroom" ng-model="item.WardRoom" placeholder=""
                    id="disabledInput" disabled>
            </div>
        </div>
        <div class="form-group col-sm-3" ng-if="item.EncounterId > 0" style="margin-top: 25px;">
            <button type="button" class="drhms-billing-btn drhms-previousbill-btn" ng-click="openPreviousReturns()"
                uib-tooltip="{{ 'patientreturn.previousreturns-tooltip.lbl' | translate }}" tooltip-placement="bottom">
                <i class="fas fa-search" aria-hidden="true"></i>
            </button>
            <button type="button" class="drhms-billing-btn drhms-picklist-btn" ng-click="openDispensedList()"
                uib-tooltip="{{ 'patientreturn.picklist-tooltip.lbl' | translate }}" tooltip-placement="bottom">
                <i class="fas fa-hand-holding-medical"></i>
            </button>
        </div>
    </form>
</div>
<div class="row">
    <table class="editable-table table-striped table-bordered">
        <thead class="bg-subhead">
            <tr>
                <th class="fs-12 col-sm-2">
                    <span translate="patientreturn.itemname.lbl"></span>
                </th>
                <!--
                                <th class="fs-12 col-sm-1">
                                    <span translate="patientreturn.billnumber.lbl"></span>
                                </th>
                                -->
                <th class="fs-12 col-sm-1">
                    <span translate="patientreturn.billedqty.lbl"></span>
                </th>
                <th class="fs-12 col-sm-1">
                    <span translate="patientreturn.returnedqty.lbl"></span>
                </th>
                <th class="fs-12 col-sm-1">
                    <span translate="patientreturn.returnqty.lbl"></span>
                </th>
                <th class="fs-12 col-sm-1">
                    <span translate="patientreturn.price.lbl"></span>
                </th>
                <th class="fs-12 col-sm-1">
                    <span translate="patientreturn.amount.lbl"></span>
                </th>
                <th class="fs-12 col-sm-1">
                    <span translate="patientreturn.action.lbl"></span>
                </th>
            </tr>
        </thead>
        <tbody ng-show="item.EncounterId > 0">
            <tr ng-repeat="patientstockreturn in PatientStockReturnDetails | filter:{Status:1}">
                <!--
                                <td class="fs-12" ng-if="item.IsPicked == 0">
                                    <autosearch itemid="patientstockreturn.ItemMasterId" iteminfo="patientstockreturn.SelectedItem" rowdata="patientstockreturn"
                                        config="vm.pharmacyitemcontrolconfig" itemchange="onItemSelected($index, patientstockreturn)"
                                        class="inputsearchlogo" candisable="patientstockreturn.CanDisableDetails" isrequired="true"
                                        tabindex="patientstockreturn.tabindex"></autosearch>
                                </td>
                                -->
                <td class="fs-12" ng-if="item.IsPicked == 1">
                    <span> {{patientstockreturn.ItemName}}</span>
                </td>
                <!--
                                <td class="fs-12">
                                    <span> {{patientstockreturn.BillNumber}}</span>
                                </td>
                                -->
                <td class="fs-12">
                    <span> {{patientstockreturn.BilledQuantity}}</span>
                </td>
                <td class="fs-12">
                    <span> {{patientstockreturn.ReturnedQuantity}}</span>
                </td>
                <td class="fs-12">
                    <input type="number" min="0" class="form-control" ng-model="patientstockreturn.ReturnQuantity"
                        name="returnquantity" ng-disabled="patientstockreturn.CanDisableDetails"
                        ng-change="computeAmount(patientstockreturn)" tabindex="patientstockreturn.tabindex"
                        placeholder="" ng-pattern="/^\d+$/" ng-keypress="numberonly($event)">
                </td>
                <td class="fs-12">
                    <span>{{(patientstockreturn.Mrp | displaycurrency)}}</span>
                </td>
                <td class="fs-12">
                    <span>{{patientstockreturn.NetAmount | displaycurrency}}</span>
                </td>
                <td class="text-center">
                    <button class="drhms-edit-button" uib-tooltip="History" tooltip-placement="top"
                        ng-click="History(patientstockreturn, $index)">
                        <i class="fa fa-history fa-xs" aria-hidden="true"></i>
                    </button>
                    <button class="drhms-edit-button" uib-tooltip="Stock" tooltip-placement="top"
                        ng-click="Stock(patientstockreturn, $index)">
                        <i class="fa fa-database fa-xs" aria-hidden="true"></i>
                    </button>
                    <button tabindex="-1" class="drhms-edit-button" uib-tooltip="Delete" tooltip-placement="top"
                        ng-click="deletePatientReturnDetail($index, patientstockreturn)"
                        ng-disabled="patientstockreturn.CanDisableDetails">
                        <img src="assets/svg/delete.svg" alt="">
                        <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-4">
        <span class="col-sm-4 control-label" for="comments" translate="patientreturn.comments.lbl"></span>
        <div class="col-sm-8">
            <input type="text" class="form-control field-height inputheightctrl" name="comments"
                ng-model="item.Comments" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <label class="col-sm-4 control-label" for="remarks" translate="patientreturn.remarks.lbl"></label>
        <div class="col-sm-8">
            <ui-select ng-model="item.RemarkId" name="remarks" ng-change="remarkChange($select.selected)"
                ng-disabled="canDisableRemarksDiv()">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 15 : 0}}
                    <span ng-if="$select.selected.Text.length>15">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.Remark | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-4">
        <span class="col-sm-4 control-label" for="totalnetamount" translate="patientreturn.totalnetamount.lbl"></span>
        <div class="col-sm-8">
            <input type="text" value="{{(item.TotalNetAmount | displaycurrency)}}" class="inputbox form-control"
                disabled>
        </div>
    </div>
</div>
<div class="">
    <div class="row">
        <div class="pull-left">
            <button class="draftbutton" uib-tooltip="Attachments" tooltip-placement="top" ng-click="openAttachments()">
                <i class="fa fa-paperclip fa-xs" aria-hidden="true">&nbsp;&nbsp;(0)</i>
            </button>
            <button class="draftbutton" uib-tooltip="History" tooltip-placement="top" ng-show="canShowHistoryBtn"
                ng-click="history()">
                <i class="fa fa-history fa-xs" aria-hidden="true"></i>
            </button>
            <button type="button" class="draftbutton" ng-show="canShowCancelBtn" ng-click="CancelRequuest()"
                translate="patientrequest.cancelrequest.lbl"></button>
        </div>
        <div class="pull-right">
            <button type="button" class="draftbutton" ng-show="canShowPrintBtn" ng-click="print()"> <i
                    class="fa fa-print"></i> Preview Print</button>
            <button type="button" class="draftbutton" translate="common.saveaction.lbl" ng-show="canShowSaveBtn"
                ng-click="SaveandDraft()"></button>
            <button type="button" class="draftbutton" translate="common.saveapprove-action.lbl"
                ng-show="canShowSaveandApproveBtn" ng-click="SaveandApprove()"></button>
            <!--<button type="button" id="authorizebtnsubmit" class="btn btn-info btn-sm" translate="common.authorize.lbl" ng-show="canShowAuthorizeBtn"
                            ng-click="SaveandAuthorize() "></button>-->
            <!-- <button type="button" class="draftbutton" translate="common.clearaction.lbl" ng-show="canShowClearBtn"
                ng-click="Clear()"></button> -->
        </div>
    </div>
</div>