<html>

<head>
    <style>
        .table1 {
            border: 1px solid black;
            border-bottom: 0px solid black;
            font-size: 13px;
        }

        .border {
            border: 1px solid black;
            font-size: 13px;
            border-bottom: 0px solid black;
        }

        .borderleft {
            border-left: 0px;
            border-right: 0px;
        }

        .table2 {
            border: 1px solid black;
            border-bottom: 0px solid black;
            font-size: 13px;
        }
        .table5 {
            border: 1px solid black;
            border-top: 1px solid black;
            font-size: 13px;
        }
	.table3 tr td{
	padding-bottom:10px;
	}
	.table6 {
            border: 1px solid black;
            border-top: 1px solid black;
            border-bottom: 0px solid black;
            font-size: 13px;
        }
        .table4 {
            border: 1px solid black;
            border-bottom: 1px solid black;
            border-top: 0px solid black;
            font-size: 13px;
        }

        .table3 {
            border: 1px solid black;
            border-bottom: 0px solid black;
            border-top: 0px solid black;
            font-size: 13px;
            border-collapse: collapse;
        }

        .center {
            text-align: center;
            font-size: 13px;
        }

        .size {
            font-size: 13px;
        }

     {{ include '/Templates/assets/css/core.css'}}
    </style>
</head>

<body style="margin: 0 20px;">
    <div id="pageHeader">
        {{{include '/Templates/bewell-hospital/common/headerwithqr.tpl.html' 'tpl'}}}
    </div>

    <div id="pageHeader-2";style='font-size:13px;'>
            <br>
    <br>
    <br>
    <br>
    <br>
    <br>
       <table class="size">
           <tr>
                <td style="width:10%;"><b> Name</b></td>
                <td>:</td>
                <td style="width:30%;"><b>{{data.Patient.Title.Description}} {{data.Patient.FirstName}} {{data.Patient.MiddleName}} {{data.Patient.LastName}}</b></td>
                <td style="width:15%;"><b>Age / Sex</b></td>
                <td>:</td>
                <td style="width:15%;"><b>{{ageonlyyear data.Patient.DOB}} / {{data.Patient.Gender.Description}}</b></td>
                <td style="width:15%;"><b>OP / IP NO</b></td>
                <td>:</td>
                <td style="width:15%;"><b>{{data.Encounter.VisitIdentifier}}</b></td>
           </tr>
       </table>
           <hr style="border-top:solid 1px;" />
    </div>
    <div id="pageHeader-3";style='font-size:13px;'>
            <br>
    <br>
    <br>
    <br>
    <br>
    <br>
       <table class="size">
           <tr>
                <td style="width:10%;"><b> Name</b></td>
                <td>:</td>
                <td style="width:30%;"><b>{{data.Patient.Title.Description}} {{data.Patient.FirstName}} {{data.Patient.MiddleName}} {{data.Patient.LastName}}</b></td>
                <td style="width:15%;"><b>Age / Sex</b></td>
                <td>:</td>
                <td style="width:15%;"><b></b>{{ageonlyyear data.Patient.DOB}} / {{data.Patient.Gender.Description}}</b></td>
                <td style="width:15%;"><b>OP / IP NO</b></td>
                <td>:</td>
                <td style="width:15%;"><b>{{data.Encounter.VisitIdentifier}}</b></td>
           </tr>
       </table>
           <hr style="border-top:solid 1px;" />
    </div>
    <div id="pageHeader-4";style='font-size:13px;'>
            <br>
    <br>
    <br>
    <br>
    <br>
    <br>
       <table class="size">
           <tr>
                <td style="width:10%;"><b> Name</b></td>
                <td>:</td>
                <td style="width:30%;"><b>{{data.Patient.Title.Description}} {{data.Patient.FirstName}} {{data.Patient.MiddleName}} {{data.Patient.LastName}}</b></td>
                <td style="width:15%;"><b>Age / Sex</b></td>
                <td>:</td>
                <td style="width:15%;"><b>{{ageonlyyear data.Patient.DOB}} / {{data.Patient.Gender.Description}}</b></td>
                <td style="width:15%;"><b>OP / IP NO</b></td>
                <td>:</td>
                <td style="width:15%;"><b>{{data.Encounter.VisitIdentifier}}</b></td>
           </tr>
       </table>
           <hr style="border-top:solid 1px;" />
    </div>
    <div id="pageHeader-5";style='font-size:13px;'>
            <br>
    <br>
    <br>
    <br>
    <br>
    <br>
       <table class="size">
           <tr>
                <td style="width:10%;"><b> Name</b></td>
                <td>:</td>
                <td style="width:30%;"><b>{{data.Patient.Title.Description}} {{data.Patient.FirstName}} {{data.Patient.MiddleName}} {{data.Patient.LastName}}</b></td>
                <td style="width:15%;"><b>Age / Sex</b></td>
                <td>:</td>
                <td style="width:15%;"><b>{{ageonlyyear data.Patient.DOB}} / {{data.Patient.Gender.Description}}</b></td>
                <td style="width:15%;"><b>OP / IP NO</b></td>
                <td>:</td>
                <td style="width:15%;"><b>{{data.Encounter.VisitIdentifier}}</b></td>
           </tr>
       </table>
           <hr style="border-top:solid 1px;" />
    </div>
    <div id="pageFooter">
        {{{include '/Templates/prakriya/common/footer.tpl.html' 'tpl'}}}
    </div>
    <table style="width:100%;">
        <tr>
            <td height="30" style="vertical-align:text-middle;font-size:16px;" align="center"><b>Non Medical Bill</b></td>
        </tr>
    </table>
    <table Style="width:100%;">
        <tr>
            <td colspan="5"></td>
            <td style="width:20%;">
                <!-- <img style="height: 30px; width: 100px;" src="{{barcode data.Encounter.PatientMrn}}" /> -->
            </td>
        </tr>
    </table>
    <table Style="width:100%;">
        <tr>
            <td colspan="5"></td>
            <td style="width:20%;"></td>
        </tr>
    </table>
    <table Class="table1" Style="width:100%;">
        <tr>
            <td style="width:20%;"><b>IP No</b></td>
            <td>:</td>
            <td style="width:30%;">{{data.Encounter.VisitIdentifier}}</td>
            <td style="width:25%;"><b>Bill No</b></td>
            <td>:</td>
            <td style="width:25%;"></td>
        </tr>
        <tr>
            <td><b>PHID No</b></td>
            <td>:</td>
            <td><b>{{data.Patient.MRN}}</b></td>
            <td><b>Bill Date</b></td>
            <td>:</td>
            <td></td>
        </tr>
        <tr>
            <td><b> Name</b></td>
            <td>:</td>
            <td><b>{{data.Patient.Title.Description}} {{data.Patient.FirstName}} {{data.Patient.MiddleName}} {{data.Patient.LastName}}</b></td>
            <td><b>Age / Sex</b></td>
            <td>:</td>
            <td>{{ageonlyyear data.Patient.DOB}} / {{data.Patient.Gender.Description}}</td>
        </tr>
        <tr>
            <td><b>Address</b></td>
            <td>:</td>
            <td>{{data.Patient.AddressLine1}} {{data.Patient.Area}}<br>{{data.Patient.City}} {{data.Patient.State}}{{data.Patient.Pincode}}<br>{{data.Patient.Country}}</td>
            <td><b>Guarantor</b></td>
            <td>:</td>
            <td>{{data.Encounter.PatientGuarantor.GuarantorName}}</td>
        </tr>
         <tr>
            <td><b>Room / Bed</b></td>
            <td>:</td>
            <td>{{data.Encounter.WardRoomMaster.RoomNo}} / {{data.Encounter.WardRoomBedMaster.Description}} </td>
            <td>{{#if data.Encounter.PatientGuarantor.Tpa}}<b>TPA</b>{{/if}}</td>
            <td>{{#if data.Encounter.PatientGuarantor.Tpa}}:{{/if}}</td>
            <td>{{#if data.Encounter.PatientGuarantor.Tpa}} {{data.Encounter.PatientGuarantor.Tpa.Description}} {{/if}}</td>
        </tr>
        <tr>
            <td><b>Ward</b></td>
            <td>:</td>
            <td>{{data.Encounter.WardMaster.WardName}}</td>
            <td><b>Admission Date & Time</b></td>
            <td>:</td>
            <td>{{datetimeformat data.Encounter.AdmissionDate}}</td>
        </tr>
        <tr>
            <td><b>Doctor Name</b></td>
            <td>:</td>
            <td>{{data.Encounter.Doctor.Title.Description}} {{data.Encounter.Doctor.FirstName}} {{data.Encounter.Doctor.LastName}} ({{data.Encounter.Department.DepartmentName}})</td>
            <td><b>Discharge Date & Time</b></td>
            <td>:</td>
           <td>{{#if data.Encounter.DischargeDate}} {{data.Encounter.DischargeDate}} {{/if}} {{data.currentdate}}</td>
        </tr>
    </table>
    <table  border class="table3" Style="width:100%;">
        <tr>
            <th style="width:5%" align="left"><b>S.No.</b></th>
            <th style="width:36%" align="left"><b>Service Group Name</b></th>
            <!-- <th style="width:36%" align="left"><b>Doctor Name</b></th> -->
            <th style="width:17%" align="left"><b>Qty</b></th>
            <th style="width:20%" align="left"><b>Rate</b></th>
            <th style="width:11%" align="left"><b>Insurance Amount</b></th>
            <th style="width:11%" align="left"><b>Self Amount</b></th>
        </tr>
    </table>
    <table class="table3" Style="width:100%;">
        {{#each data.BillDetails }}
        <tr>
            <td colspan="3" align="left "><b>{{ServiceCategory.ServiceCategoryName}}</b></td>
            <td colspan="2" style="text-align:right;"><b>Total :</b></td>
            <td style="width:10%;" align="right "><b>{{currencyformat Amount}}</b></td>
            <td style="width:21%"></td>
        </tr>
        {{#each SplitedValue}}
        <tr>
                {{setVariable 'AliasId' AliasId}}
                {{setVariable 'AliasName'  AliasName}}
                {{setVariable 'PatientBillStatusId' PatientBillStatusId}}
                {{setVariable 'ServiceName' ServiceName}}
            <td style="width:5% " align="left ">{{inc @index}}</td>
            <td style="width:30% " align="left ">
                    {{#ifCond 'g.AliasId' '==' null}}
                    {{#ifCond 'g.PatientBillStatusId' '==' 2}}
                        <strike> <b> {{getVariable 'g.ServiceName'}} </b> </strike>
                    {{/ifCond}}
                    {{#ifCond 'g.PatientBillStatusId' '!=' 2}}
                        <b> {{getVariable 'g.ServiceName'}} </b>
                    {{/ifCond}}
                    <br><div>{{#each ServiceItem.ServiceItemPackageMaps}}</div><div>{{ServiceName}}</div>{{/each}}
                    {{/ifCond}}
                {{#ifCond 'g.AliasId' '!=' null}}
                    <b> {{getVariable 'g.AliasName'}} ({{getVariable 'g.AliasId'}}) </b>
                {{/ifCond}}
            </td>
            <!-- <td style="width:36% " align="left ">{{User.Title.Description}} {{User.FirstName}}{{User.LastName}} {{#if User.LicenseNo}} ({{User.LicenseNo}}) {{/if}}</td> -->
            <td style="width:17% " align="center">{{Quantity}}</td>
            <td style="width:20% " align="center">{{currencyformat Rate}}</td>
            <td style="width:11% " align="center">{{currencyformat InsNetAmount}}</td>
            <td style="width:11% " align="center">{{currencyformat PatNetAmount}}</td>
        </tr>
        {{/each}} {{/each}}
    </table>
      <table   class="table6" style="width:100%">
        <tr>
            <td style="width:25%" align="Right"></td>
            <td></td>
            <td style="width:32%" align="left"></td>
            <td style="width:28%" align="center"><b>Total Gross Amount</b></td>
            <td>:</td>
            <td style="width:15%" align="center"><b>{{currencyformat data.TotalGrossAmount}}</b></td>
        </tr>
        <tr>
            <td style="width:25%" align="Right"></td>
            <td></td>
            <td style="width:32%" align="left"></td>
            <td style="width:28%" align="center"><b>Discount Amount</b></td>
            <td>:</td>
            <td style="width:15%" align="center"><b>{{currencyformat data.TotSupplmDisc}}</b></td>
        </tr>

        <!-- <tr>
             <td style="width:25%" align="Right"></td>
            <td></td>
            <td style="width:32%" align="left"></td>
            <td style="width:28%" align="Right"><b>Discount Amount</b></td>
            <td>:</td>
            <td style="width:15%" align="right"><b>{{currencyformat data.TotalDiscount}}</b></td>

        </tr> -->
    <!-- <tr>
             <td style="width:25%" align="Right"></td>
            <td></td>
            <td style="width:32%" align="left"></td>
            <td style="width:28%" align="Right"><b>Net Amount</b></td>
            <td>:</td>
            <td style="width:15%" align="right"><b>{{currencyformat data.TotalNetAmount}}</b></td>
        </tr> -->
        <!--<tr>
             <td style="width:25%" align="Right"><b></b></td>
            <td></td>
            <td style="width:32%" align="left"><b></b></td>
            <td style="width:28%" align="Right"><b>Paid Amount</b></td>
            <td>:</td>
            <td style="width:15%" align="right"><b>{{currencyformat data.PaidAmount}}</b></td>
        </tr>
        <tr>
             <td style="width:25%" align="Right"><b></b></td>
            <td></td>
            <td style="width:32%" align="left"><b></b></td>
            <td style="width:28%" align="Right"><b>Balance Amount</b></td>
            <td>:</td>
            <td style="width:15%" align="right"><b>{{currencyformat data.BalanceAmount}}</b></td>
        </tr>-->
    </table>
    <table class="border" style="width:100%;font-size: 13px;">
        <tr>
            <td style="width:20%" align="left"><b>Amount In Words</b></td>
            <td>:</td>
            <td style="width:80%" align="left"><b>Rupees {{decimalnrInWords1 data.TotalNetAmount}} Only</b></td>
        </tr>
    </table>
    <table class="table5" style="width:100%;">
        <!--<tr>
            <td colspan="8"><u>Receipt Details</u></td>
        </tr>
         <tr>{{#each data.PatientPaymentDetails}}
            <td colspan="8"><b>{{ReceiptType.Description}}: {{ReceiptNumber}} {{#if ReceiptDateTime}} , {{/if}} {{datetimeformat ReceiptDateTime}} {{#if AmountPaid}} , {{/if}} {{currencyformat AmountPaid}} {{#if PaymentType.Description}} , {{/if}} {{PaymentType.Description}} {{#if Bank.Description}} , {{/if}} {{Bank.Description}} {{#if AuthorizedCode}} , {{/if}} {{AuthorizeNumber}} {{#if AuthorizeNumber}} , {{/if}} {{AuthorizedCode}}</b></td>
        </tr>{{/each}}
       <tr>
            <td  colspan="8"><u>Refund Details</u></td>
        </tr>
        <tr>
            <td colspan="8" ><b>{{data.PatientRefund.Refundidentifier}}  {{data.PatientRefund.RefundDateTime}}</b></td>
        </tr>-->
      <tr>
            <td colspan="4"></td>
            <td colspan="4" style="text-align:right;">{{data.PrintUser.Title.Description}} {{data.PrintUser.FirstName}} {{data.PrintUser.LastName}}</td>
        </tr>
        <tr>
            <td colspan="4">Patient Signature</td>
            <td colspan="4" style="text-align:right;">Billing Incharge</td>
        </tr>
      </table>
</body>
    <div style="width:100%; font-size:13px;">Printed On: {{now}}</div>
     <div class="center"> ***** End of Page ***** </div>
</html>
