<html>

<head>
  <style>
    .table1 {
      border: 1px solid black;
      font-size: 8px;
    }

    .table2 {
      border: 1px solid black;
      border-top: 0px solid black;
      font-size: 8px;
    }

    {{include '/Templates/assets/css/core.css'}}

  </style>
</head>

<body>
  <div id="pageHeader">
    {{{include '/Templates/kumar/common/header.tpl.html' 'tpl'}}}
  </div>
  <div style="text-align:center;font-size: 16px;"><b>IP Statistics By Ward</b></div>
  <table class="table1" style="width:100%;"> 
    <tr style='vertical-align: top'>
      <td style="width:5%;"><b>FromDate</b></td>
      <td>:</td>
      <td style="width:25%;"><b>{{data.FromDate}}</b></td>
      <td style="width:5%;"><b>ToDate</b></td>
      <td>:</td>
      <td style="width:25%;"><b>{{data.ToDate}}</b></td>
      <td style="width:5%;"><b></b></td>
      <td></td>
      <td style="width:25%;"><b></b></td>
      <td style="width:5%;"><b></b></td>
      <td></td>
      <td style="width:25%;"><b></b></td>
    </tr>  
  </table> 
  <table class="table1" style="width:100%;">
    <tr>
      <td style="width:10%;"><b>S.No</b></td>
      <td style="width:20%"><b>Ward Name</b></td> 
      <td style="width:20%"><b>Admission Count</b></td> 
      <td style="width:10%"><b>Discharge Count</b></td> 
      <td style="width:10%"><b>Death Count</b></td> 
      <td style="width:10%"><b>Transfer In</b></td> 
      <td style="width:10%"><b>Transfer Out</b></td>

    </tr>
  </table>
  <table class="table2" style="width:100%;">
    {{#each data.NetIPStatistics}}
    <tr>
      <td style="width:10%;">{{inc @index}}</td>
      <td style="width:20%">{{Key}}</td> 
      <td style="width:20%">{{AdmissionCount}}</td> 
      <td style="width:10%">{{DischargeCount}}</td> 
      <td style="width:10%">{{DeathCount}}</td> 
      <td style="width:10%">{{TransferInCount}}</td> 
      <td style="width:10%">{{TransferOutCount}} </td>
    </tr>{{/each}}
  </table> 
  <table class="table2" style="width:100%;"> 
    <tr>
      <td style="width:10%;"></td>
      <td style="width:20%">Total</td> 
      <td style="width:20%">{{data.TotAdmissionCount}}</td> 
      <td style="width:10%">{{data.TotDischargeCount}}</td> 
      <td style="width:10%">{{data.TotDeathCount}}</td> 
      <td style="width:10%">{{data.TotTransferInCount}}</td> 
      <td style="width:10%">{{data.TotTransferOutCount}}</td>
    </tr> 
  </table> 

</body>
<div style="width:100%; font-size:8px;">Printed On: {{now}}</div>

</html>
