<!-- 

<style>
    .autosearch-div .custom-popup-wrapper>.dropdown-menu,
    .autosearch-div .custom-popup-wrapper {
        width: 100% !important;
    }

    .modal-content .panel-body {
        background-image: none !important;
        margin-top: 10px;
        height: 37vh !important;
        width: 50vh !important;
    }

    .modal-content {
        width: 60% !important;
    }

    h4.col-sm-12.header {

        text-align: -webkit-center;
        font-size: x-large;
        font-weight: 500;
    }

    .col-sm-12.footer {
        margin: 55px 78px;
    }

    .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
        margin-left: 16px;
        margin-top: 33px;
    }

    .formRoot {
        overflow: inherit;
    }

    .modal-content .panel-body {
        overflow: inherit;
    }

    .modal-lg {
        width: 500px;
    }

    .panel-body {
        padding: 15px;
        margin-left: 0px;
        margin-top: -53px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(app/img/bg-body.jpg);
        background-repeat: repeat;
        overflow: auto;
    }

    .modal-content .panel-body {
        overflow: inherit;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 0px;
        border: 1px solid #ededed;
        border-radius: 4px;
        background: rgb(233, 246, 253);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(233, 246, 253, 1) 0%, rgba(211, 238, 251, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(233, 246, 253, 1) 0%, rgba(211, 238, 251, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, rgb(247, 252, 253) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e9f6fd', endColorstr='#d3eefb', GradientType=0);
        /* IE6-9 */
        box-shadow: 4px 2px 13px -7px rgba(0, 0, 0, 0.75);
    }

    .formactionbar {
        padding: 5px 15px;
        height: 40px;
        background-color: #ccecf5;
    }

    .panel-title {
        font-size: 19px !important;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: -1px 3px 20px 7px rgba(249, 244, 244, 0.5);
        /* width: 330px !important; */
        margin-left: 24%;
    }

    #facility-popup .form-horizontal input,
    input[type=text] {
        border: 2px solid gray;
        /* width: 273px !important; */
        border-radius: 0px;
    }

    #facility-popup button.btn.btn-danger.btn-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    #facility-popup button#btnsubmit {
        width: 126px;
        font-weight: 700;
        background: #24b145 !important;
        font-weight: 500px;
        font-size: 13px;
        border: none;
    }

    #facility-popup .ui-select-bootstrap .ui-select-choices-row>span {
        font-size: 14px;
    }

    #facility-popup .row {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 5px;
    }

    #facility-popup .form-control {

        display: block;
        width: 100%;
        height: 35px;
        padding: 6px 16px;
        font-size: 14px;
        line-height: 1.52857143;
        color: #3a3f51;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid gray;

        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #facility-popup .btn-group-sm>.btn,
    .btn-sm {
        padding: 5px 10px !important;
        font-size: 12px !important;
        line-height: 1.5 !important;
        border-radius: 3px !important;
    }


    #facility-popup h3.panel-title.ng-scope span,
    h4.panel-title.ng-scope span {
        color: #fff;
        font-size: 19px !important;
    }

    #facility-popup .btn-group-sm>.btn,
    .btn-sm {
        padding: 7px 10px !important;
        color: #ffffff;
        background-color: #f05050 !important;
        border-color: #f04b4b !important;
    }

    #facility-popup .btn-group-sm>.btn,
    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 19px;
        line-height: 1;
        border-radius: 0.2rem;
    }

    #facility-popup .ui-select-bootstrap>.ui-select-match {
        text-align: left;
        width: 300px !important;
        border-radius: 0px;
    }

    .modal-header {
        padding: 4px 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    input.form-control.ng-pristine.ng-untouched.ng-valid.ng-not-empty {
        color: grey;
        font-size: 14px;
    }

    .form-group label {
        color: black;
        font-size: 16px !important;
    }

    .filter-lbl {
        margin-top: 4px !important;
        font-weight: 100 !important;
    }

    .modal-content {
        width: 37% !important;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
        box-shadow: -1px 3px 20px 7px rgb(249 244 244 / 50%);
        margin-left: 30%;
        margin-top: 14%;
    }
</style> -->
<style>
    .modal-dialog {
        width: 500px;
        margin: 0px auto;
        margin-top: 18%;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-6">
        <h4 class="panel-title" translate="Hospital"></h4>
    </div>
    <div class="col-sm-6">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>
<div class="containet" id="facility-popup">
    <div class="row">
        <div class="col-sm-12">
            <form id="item_form" name="item_form" class="form-horizontal" role="form" ng-submit="saveItem()">
                <div class="col-lg-12" align="center">
                    <!-- <ui-select id="title" ng-change="" name="facility" ng-model="item.FacilityId"> -->
                    <ui-select id="title" ng-change="setFacility(Facility)" name="facility" ng-model="Facility">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 50 : 0}}
                            <span ng-if="$select.selected.Text.length>50">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem in lookup.Facility | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div>
                    <div class="pull-right">
                        <!-- <button type="button" id="cancelbutton" tabindex="-1" class="cancelbutton btn-danger text-white"
                            ng-click="cancelCallback()">Cancel</button> -->
                        <button type="button" style="margin-top:20px !important;" id="" class="draftbutton" translate="Submit"
                            ng-click="saveAndApprove()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>