<link href="app/css/dashboard.css" rel="stylesheet">
<div class="row page-header second_nav">
    <h4 class="col-sm-12 mt0" translate="appointment.doctordashboard.pagetitle5.lbl"></h4>
</div>
<div class="col-sm-12" style="margin-top: 20px;">
    <div class="card-flex-box-doctor">
        <div class="card-box-item box-bg-color1" ng-if="HasAccess('RisDashboard', 'Ris_OrderAcceptances')"
            ng-click="acceptances()">
            <div class="card-box-header"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                <div translate="appointment.doctordashboard.orderacceptances.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color2" ng-if="HasAccess('RisDashboard', 'Ris_ResultEntries')"
        ng-click="resultentries()">
            <div class="card-box-header">
                <div> <i class="fa fa-user" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.resultentries.lbl"></div>
            </div>
            <div>0</div>
        </div>
        <div class="card-box-item box-bg-color3" ng-if="HasAccess('RisDashboard', 'Ris_ResultApprovals')"
        ng-click="resultapprovals()">
            <div class="card-box-header">
                <div><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.resultapprovals.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color4" ng-if="HasAccess('RisDashboard', 'Ris_ResultReleases')"
        ng-click="resultreleases()">
            <div class="card-box-header">
                <div> <i class="fa fa-usd" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.resultreleases.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color5" ng-if="HasAccess('RisDashboard', 'Ris_ResultTemplates')"
        ng-click="resulttemplates()">
            <div class="card-box-header">
                <div><i class="fa fa-list" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.resulttemplates.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color6" ng-if="HasAccess('RisDashboard', 'Ris_RateEnquiry')"
        ng-click="rateenquiry()">
            <div class="card-box-header">
                <div><i class="fa fa-inr" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.rateenquiry.lbl"></div>
            </div>
            <div>{{Items.appoinmentCount}}</div>
        </div>
        <div class="card-box-item box-bg-color7" ng-if="HasAccess('RisDashboard', 'Ris_ManageTests')"
        ng-click="managetests()">
            <div class="card-box-header">
                <div><i class="fa fa-percent" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.managetests.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color8" ng-if="HasAccess('RisDashboard', 'Ris_ManageParameter')"
        ng-click="manageparam()">
            <div class="card-box-header">
                <div><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.manageparam.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
        <div class="card-box-item box-bg-color9" ng-if="HasAccess('RisDashboard', 'Ris_Reports')"
        ng-click="radiologyreports()">
            <div class="card-box-header">
                <div><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
                <div translate="appointment.doctordashboard.reports.lbl"></div>
            </div>
            <div>{{Items.checkedincount}}</div>
        </div>
    </div>
</div>