<link rel="stylesheet" href="app/css/drhms.css">
<style>
    .drhms-receipt span {
        font-size: 12px;
    }

    .table-bordered {
        margin-bottom: 20px;
    }
</style>
<div class="row">
    <div class="drhms-filters">
        <div class="col-sm-10">
            <h4 translate="billing.pharmacy.staffcreditpayment.lbl"></h4>
        </div>
        <div class="col-sm-4">
            <autosearch ng-keyup="moveHeaderFocus('pid')" itemid="item.StaffId" iteminfo="item.SelectedItem"
                rowdata="item" config="vm.patientcontrolconfig" itemchange="patientChange()" placeholder="'Staff Name'"
                name="patientname">
            </autosearch>
        </div>
        <div class="col-sm-3">
            <button type="button" class="drhms-billing-btn drhms-add-btn"
                b-tooltip="{{ 'billing.pharmacy.staffcreditpayment.lbl' | translate}}" tooltip-placement="bottom"
                ng-click="clear()">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
            <span class="drhms-billing-btn drhms-home-btn"><i class="fas fa-home" ng-click="Dashboard()"
                    uib-tooltip="Dashboard" tooltip-placement="bottom"></i></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-4">
        <label class="col-sm-4 control-label" translate="billing.pharmacy.fromdate.lbl"></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="invoicedate" datepicker-options="datePickerOptions"
                show-button-bar="{{datePickerOptions.showButtonBar}}"
                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                ng-click="invoicefromdatePopup = { opened: true }" is-open="invoicefromdatePopup.opened"
                ng-change="loadBills()" ng-model="currentfilter.billingfromdate">
        </div>
    </div>
    <div class="form-group col-sm-4">
        <label class="col-sm-4 control-label" translate="billing.pharmacy.todate.lbl"></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="invoicetodate" datepicker-options="datePickerOptions"
                show-button-bar="{{datePickerOptions.showButtonBar}}"
                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                ng-click="invoicetodatePopup = { opened: true }" is-open="invoicetodatePopup.opened"
                ng-change="loadBills()" ng-model="currentfilter.billingtodate">
        </div>
    </div>
    <div class="form-group col-sm-4">
        <div class="col-sm-12">
            <span class="drhms-special-count">Due Amount: {{item.TotalOutstandingAmount | displaycurrency }}</span>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-responsive table-bordered" ng-hide="StaffCreditPaymentDetails.length>0">
        <thead class="bg-subhead">
            <tr>
                <th>
                    <span>
                        <input type="checkbox" ng-model="currentcontext.selectall" ng-click="selectAllItems()">
                    </span>
                </th>
                <th>
                    <span translate="billing.pharmacy.billdate.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.billno.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.billamt.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.discount.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.paidamt.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.dueamt.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.receiptamt.lbl"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in StaffCreditPayment">
                <td>
                    <center>
                        <span>
                            <input type="checkbox" class="case" ng-disabled="item.IsAllOrderReadOnly"
                                ng-model="item.IsAllPaymentSelected"
                                ng-click="LineItemSelect(StaffCreditPayment, item)" />
                        </span>
                    </center>
                </td>
                <td>
                    <displaydate datetime-val="item.BillDateTime"></displaydate>
                </td>
                <td>
                    {{item.BillNumber}}
                </td>
                <td>
                    <span> {{item.BillAmount}}</span>
                </td>
                <td class="currency-align">
                    <span>{{item.BillDiscount|displaycurrency}}</span>
                </td>
                <td class="currency-align">
                    <span>{{item.PaidAmount|displaycurrency}}</span>
                </td>
                <td class="currency-align">
                    <span>{{item.OutStandingAmount|displaycurrency}}</span>
                </td>
                <td>
                    <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-empty ng-touched"
                        name="receivedamt" id="receivedamt" ng-model="item.ReceivedAmount"
                        ng-disabled="!item.IsSelected" ng-change="CalculateNetAmt(item)" placeholder="">
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-responsive table-bordered" ng-show="StaffCreditPaymentDetails.length>0">
        <thead class="bg-subhead">
            <tr>
                <th>
                    <span translate="billing.pharmacy.billdate.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.billno.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.billamt.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.discount.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.paidamt.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.dueamt.lbl"></span>
                </th>
                <th>
                    <span translate="billing.pharmacy.receiptamt.lbl"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in StaffCreditPaymentDetails ">
                <td>
                    <displaydate datetime-val="item.BillDate"></displaydate>
                </td>
                <td>
                    {{item.BillNumber}}
                </td>
                <td>
                    <span> {{item.BillAmount}}</span>
                </td>
                <td class="currency-align">
                    <span>{{item.BillDiscount|displaycurrency}}</span>
                </td>
                <td class="currency-align">
                    <span>{{item.PaidAmount|displaycurrency}}</span>
                </td>
                <td class="currency-align">
                    <span>{{item.BalanceAmount|displaycurrency}}</span>
                </td>
                <td>
                    <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-empty ng-touched"
                        name="receivedamt" id="receivedamt" ng-model="item.PaidAmount" ng-disabled="!item.IsSelected"
                        ng-change="CalculateNetAmt(item)" placeholder="">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="col-sm-8">
            <div class="col-sm-4">
                <div>
                    <label class="col-sm-12 " for="paymenttype"
                        translate="billing.opbilling-list.paymenttype.lbl"></label>
                    <div class="col-sm-12 toprighttext">
                        <ui-select id="paymenttype" ng-keyup="FooterFocus('paymenttype')"
                            ng-model="item.StaffCreditPaymentTypeId" ng-disabled="RdoPaymentTypeId" name="paymenttype"
                            required>
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 20 : 0}}
                                <span ng-if="$select.selected.Text.length>20">...</span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.PaymentType | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                                </div>
                            </ui-select-choices>
                        </ui-select>
                        <button type="button" ng-if="MultiPay" ng-click="addPay()" class=" btn btn-xs btn-success">
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
                <div>
                    <label class="col-sm-12 ng-scope" for="receivedamt"
                        translate="billing.opbilling-list.receiptamount.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-empty ng-touched"
                            name="receivedamt" ng-disabled="true" id="receivedamt" ng-keyup="FooterFocus('receivedamt')"
                            ng-model="currentcontext.ReceiptAmt" disabled>
                    </div>
                </div>
                <div ng-if="currentcontext.TotBalanceAmt>0 ">
                    <label class="col-sm-12 ng-scope" for="creditapprover"
                        translate="billing.directbilling.creditapprover.lbl"></label>
                    <div class="col-sm-12">
                        <ui-select id="creditapprover" tabindex="14" ng-keyup="FooterFocus('creditapprover')"
                            ng-model="item.PrivateDueId" ng-disabled="currentcontext.RdoGuarantorDue"
                            name="creditapprover" required>
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 20 : 0}}
                                <span ng-if="$select.selected.Text.length>20">...</span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.PrivateDueApprover | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div ng-if="item.StaffCreditPaymentTypeId > 1 && item.StaffCreditPaymentTypeId != 7">
                    <label class="col-sm-12 control-label" for="bankname"
                        translate="billing.receipt-form.bankname.lbl"></label>
                    <div class="col-sm-12 toprightbankname">
                        <ui-select id="BankName" ng-keyup="FooterFocus('BankName')" ng-model="item.BankId"
                            ng-disabled="item.isCompleted">
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 20 : 0}}
                                <span ng-if="$select.selected.Text.length>20">...</span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.Bank | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div ng-if="item.StaffCreditPaymentTypeId == 2">
                    <label class="col-sm-12 control-label" for="chequeno"
                        translate="billing.receipt-form.chequeno.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="chequeno" id="chequeno"
                            ng-keyup="FooterFocus('chequeno')" ng-model="item.ChequeNo" ng-disabled="item.isCompleted"
                            placeholder="" required>
                    </div>
                </div>
                <div ng-if="item.StaffCreditPaymentTypeId == 3">
                    <label class="col-sm-12 control-label" for="ddno" translate="billing.receipt-form.ddno.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="ddno" id="ddno" ng-keyup="FooterFocus('ddno')"
                            ng-model="item.DDNumber" ng-disabled="item.isCompleted" placeholder="" ng-minlength=""
                            ng-pattern="/^\d+$/" required>
                    </div>
                </div>
                <div ng-if="item.StaffCreditPaymentTypeId == 4">
                    <label class="col-sm-12 control-label" for="transationno"
                        translate="billing.receipt-form.transationno.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="transationno" id="transationno"
                            ng-keyup="FooterFocus('transationno')" ng-model="item.WireTransferId" placeholder=""
                            ng-disabled="item.isCompleted" required>
                    </div>
                </div>
                <div ng-if="item.StaffCreditPaymentTypeId == 5 || item.StaffCreditPaymentTypeId == 6">
                    <label class="col-sm-12 control-label" for="cardno"
                        translate="billing.receipt-form.authorisedcode.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="" id="cardno" ng-keyup="FooterFocus('cardno')"
                            ng-model="item.AuthorizeNumber" maxlength="8" ng-disabled="item.isCompleted" placeholder="" required>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div ng-if="item.StaffCreditPaymentTypeId == 2">
                    <label class="col-sm-12 control-label" translate="billing.receipt-form.Chequedate.lbl"></label>
                    <div class="col-sm-12 toprightchequedate">
                        <input type="text" class="form-control" name="Chequedate" ng-date-object
                            datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                            uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                            placeholder="{{datePickerOptions.placeholder}}"
                            ng-click="activefromPopup = { opened: true }" is-open="activefromPopup.opened"
                            id="Chequedate" ng-keyup="FooterFocus('Chequedate')" ng-model="item.ChequeDate"
                            ng-disabled="item.isCompleted">
                    </div>
                </div>
                <div ng-if="item.StaffCreditPaymentTypeId == 3">
                    <label class="col-sm-12 control-label" translate="billing.receipt-form.dddate.lbl"></label>
                    <div class="col-sm-12 toprightchequedate">
                        <input type="text" class="form-control" name="dddate" ng-date-object
                            datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                            uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                            placeholder="{{datePickerOptions.placeholder}}" ng-click="activetoPopup = { opened: true }"
                            is-open="activetoPopup.opened" id="dddate" ng-keyup="FooterFocus('dddate')"
                            ng-model="item.DDDate" ng-disabled="item.isCompleted">
                    </div>
                </div>
                <div ng-if="item.StaffCreditPaymentTypeId == 4">
                    <label class="col-sm-12 control-label" translate="billing.receipt-form.transferredon.lbl"></label>
                    <div class="col-sm-12  toprightchequedate">
                        <input type="text" class="form-control" name="transferredon" ng-date-object
                            datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                            uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                            placeholder="{{datePickerOptions.placeholder}}"
                            ng-click="transationfromPopup = { opened: true }" is-open="transationfromPopup.opened"
                            id="transferredon" ng-keyup="FooterFocus('transferredon')" ng-model="item.WireTransferDate"
                            ng-disabled="item.isCompleted">
                    </div>
                </div>
                <div
                    ng-if="item.StaffCreditPaymentTypeId == 4 || item.StaffCreditPaymentTypeId == 3 || item.StaffCreditPaymentTypeId == 2">
                    <label class="col-sm-12 control-label" translate="billing.receipt-form.Collected On.lbl"></label>
                    <div class="col-sm-12 toprightcollectedon">
                        <input type="text" class="form-control" name="Collected On" id="CollectedOn"
                            ng-keyup="FooterFocus('CollectedOn')" ng-date-object datepicker-options="datePickerOptions"
                            show-button-bar="{{datePickerOptions.showButtonBar}}"
                            uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                            placeholder="{{datePickerOptions.placeholder}}"
                            ng-click="activefromPopup = { opened: true }" is-open="activefromPopup.opened"
                            ng-model="item.CollectedOn" ng-disabled="item.isCompleted">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="billingbanner">
                <table id="bannerdetails" class="foot">
                    <tr>
                        <td>Gross Amount</td>
                        <td ng-model="item.GrossAmount" class="currency-align">
                            {{item.TotalBillAmount | displaycurrency}}
                        </td>
                    </tr>
                    <tr>
                        <td>Paid Amount</td>
                        <td class="currency-align">{{item.TotalPaidAmount | displaycurrency}}</td>
                    </tr>
                    <td>Receiving Amount</td>
                    <td class="currency-align">{{item.TotalReceivedAmount | displaycurrency}}</td>
                    </tr>
                    <tr>
                        <td class="drhms-special-count">Total OutStandingAmount Amount</td>
                        <td class="drhms-special-count currency-align">
                            {{item.TotalOutstandingAmount || 0 | displaycurrency}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="fooder-bgs">
        <div class="pull-left">
            <button type="button" class="btn pyr-color10 btn-sm" ng-click="backToList()" ss>
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="btn-fontsize"> &nbsp; Back</span>
            </button>
        </div>
        <div class="pull-right">
            <button id="btnSave" type="button" class="draftbutton" translate="billing.pharmacy.creditpayment.lbl"
                ng-click="saveAndApprove()"></button>
        </div>
    </div>
</div>