<link rel="stylesheet" href="app/css/drhms.css">
<style>
    .drhms-receipt span {
        font-size: 12px;
    }

    .drhms-table-control {
        margin-bottom: 20px;
    }

    patientsearch.logo .custom-popup-wrapper {
        margin-left: -200px;
    }
</style>
<div class="row">
    <div class="drhms-filters">
        <div class="col-sm-10">
            <h4 translate="Pharmacy Clearance"></h4>
        </div>
        <div class="col-sm-4">
            <patientsearch class="logo" ng-keyup="moveHeaderFocus('pid')" patientid="currentfilter.PatientId"
                name="txtpatientsearch" patientinfo="selectedPatient" patientchange="getPatient()"
                tabindex="tabindexmap.patienttabindex">
            </patientsearch>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="drhms-table-top-header">
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Patient Name"></label>
                    <div class="col-sm-8">:
                        <span class="head-title">
                            <strong
                                ng-click="patientprofiledetails(selectedPatient)">{{selectedPatient.Title.Description}}
                                {{selectedPatient.FirstName}}</strong></span> <span class="comments pull-right"
                            type="button" ng-click="patcmnts()" title="Comments"><i class="fas fa-comments"></i></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Ward / Room/ Bed"></label>
                    <div class="col-sm-8">:
                        <span class="head-title">
                            <strong>{{items.WardMaster.WardName}} / {{items.WardRoomMaster.RoomNo}} /
                                {{items.WardRoomBedMaster.BedNo}}</strong></span> <span class="comments pull-right"
                            type="button" ng-click="Bedoccupancy()" title="Room"><i
                                class="fa fa-info-circle"></i></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Date Of Admission"></label>
                    <div class="col-sm-8">:
                        <displaydate datetime-val="items.DOA"></displaydate>
                    </div>
                </div>

            </div>
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Age / Sex"></label>
                    <div class="col-sm-8">:
                        <span class="head-title">{{selectedPatient.Age}} / {{selectedPatient.Gender.Description}}</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Doctor/ReferralName"></label>
                    <div class="col-sm-8">:
                        <span class="head-title">{{items.DoctorName}}/{{items.ReferralName}}
                        </span> <span class="comments pull-right" type="button" ng-click="addDoctor()"
                            title="Referral Name"> <i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Date Of Discharge"></label>
                    <div class="col-sm-8">:
                        {{EncounterDetails.DischargeDate | date : 'dd-MMM-yyyy'}}&nbsp;{{EncounterDetails.DischargeDate
                        |
                        date : 'HH:mm' }}
                    </div>
                </div>
            </div>
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="UHID"></label>
                    <div class="col-sm-8">:
                        {{selectedPatient.MRN}}
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Insurance/Scheme"></label>
                    <div class="col-sm-8">:
                        {{selectedPatient.Guarantor.GuarantorName}}/{{items.GuarantorScheme.PromotionSchemeName}}
                        <span class="comments pull-right" type="button" ng-click="addGuarantor()"
                            title="Add Guarantor"><i class="fa fa-info-circle"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-12">
    <span translate="billing.pharmacy-billdetails.billdetails.lbl"></span>
</div>
<div class="col-sm-12">
    <div class="drhms-table-control">
        <div class="drhms-bg-pattern">
            <div class="drhms-table-height">
                <table class="drhms-responsive-table">
                    <thead>
                        <tr>
                            <th>
                                <span translate="billing.pharmacy-billdetails.serialno.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.billno.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.billdate.lbl"></span>
                            </th>
                            <!-- <th>
                                <span translate="billing.pharmacy-billdetails.patient.lbl"></span>
                            </th> -->
                            <th>
                                <span translate="billing.pharmacy-billdetails.opipno.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.doctor.lbl"></span>
                            </th>
                            <th>
                                <span translate="SaleType"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.billamount.lbl"></span>
                            </th>

                            <th>
                                <span translate="billing.pharmacy-billdetails.discount.lbl"></span>
                            </th>
                            <!-- <th>
                                <span translate="billing.pharmacy-billdetails.roundoff.lbl"></span>
                            </th> -->
                            <!-- <th>
                                <span translate="billing.pharmacy-billdetails.outstand.lbl"></span>
                            </th> -->
                            <!-- <th>
                                <span translate="billing.pharmacy-billdetails.netamount.lbl"></span>
                            </th> -->
                            <th>
                                <span translate="billing.pharmacy-billdetails.paidamount.lbl"></span>
                            </th>
                            <th>
                                <span translate="Return Amount"></span>
                            </th>
                            <th>
                                <span translate="Refunded Amount"></span>
                            </th>
                            <th>
                                <span translate="Due Amount"></span>
                            </th>
                            <th>
                                <span translate="">
                                    <input type="checkbox" class="custom-checkbox"
                                        ng-model="currentcontext.selectallchk"
                                        ng-click="SelectAll(currentcontext.selectallchk)" />
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detail in PatientPharmacyBills">
                            <td>{{detail.SalesSerialNo}}</td>
                            <td>{{detail.BillNumber}}</td>
                            <td>
                                <displaydate date-val="detail.BillDateTime"></displaydate>
                            </td>
                            <!-- <td>{{detail.Patient.Title.Description}}&nbsp;
                                {{detail.Patient.FirstName}}&nbsp;
                                {{detail.Patient.LastName}}/
                                {{detail.Patient.MRN}}/
                                {{detail.Patient.Age}}/
                                {{detail.Patient.Gender.Description}}
                            </td> -->
                            <td>{{detail.Encounter.VisitIdentifier}}</td>
                            <td>{{detail.User.Title.Description}}&nbsp;
                                {{detail.User.FirstName}}&nbsp;
                                {{detail.User.LastName}}
                            </td>

                            <td>{{detail.PharmacySaleType.Description}}</td>
                            <td>{{detail.BillAmount | displaycurrency}}</td>

                            <td>{{detail.BillDiscount | displaycurrency}}</td>
                            <!-- <td>{{detail.RoundOffValue}}</td> -->
                            <!-- <td>{{detail.OutStandingAmount}}</td> -->
                            <!-- <td>{{detail.NetAmount}}</td> -->
                            <td>{{detail.PaidAmount | displaycurrency}}</td>
                            <td>{{detail.ReturnAmount | displaycurrency}}</td>
                            <td>{{detail.RefundedAmount | displaycurrency}}</td>
                            <td>{{detail.DueAmount | displaycurrency}}</td>
                            <td>
                                <input type="checkbox" class="custom-checkbox" id="select{{$index}}"
                                    ng-model="detail.select" ng-change="selectionChangedCal(detail)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12" ng-if="PatientPharmacyReturns.length > 0">
    <span translate="billing.pharmacy-billdetails.returndetails.lbl"></span>
</div>
<div class="col-sm-12" ng-if="PatientPharmacyReturns.length > 0">
    <div class="drhms-table-control">
        <div class="drhms-bg-pattern">
            <div class="drhms-table-height">
                <table class="drhms-responsive-table">
                    <thead>
                        <tr>
                            <th>
                                <span translate="billing.pharmacy-billdetails.serialno.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.returnno.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.returndate.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.billno.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.billdate.lbl"></span>
                            </th>
                            <!-- <th>
                                    <span translate="billing.pharmacy-billdetails.patient.lbl"></span>
                                </th> -->
                            <th>
                                <span translate="billing.pharmacy-billdetails.opipno.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.doctor.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.returnamount.lbl"></span>
                            </th>
                            <!-- <th>
                                <span translate="billing.pharmacy-billdetails.roundoff.lbl"></span>
                            </th> -->
                            <!-- <th>
                                    <span translate="Patient Amount"></span>
                                </th>
                                <th>
                                    <span translate="Insurance Amount"></span>
                                </th> -->
                            <th>
                                <span translate="billing.pharmacy-billdetails.netamount.lbl"></span>
                            </th>
                            <th>
                                <span translate="billing.pharmacy-billdetails.refundamount.lbl"></span>
                            </th>
                            <!-- <th>
                                <span translate="">
                                    <input type="checkbox" class="custom-checkbox"
                                        ng-model="currentcontext.selectallchk1"
                                        ng-click="SelectAll1(currentcontext.selectallchk1)" />
                                </span>
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detail in PatientPharmacyReturns">
                            <td>{{detail.ReturnSerialNo}}</td>
                            <td>{{detail.ReturnNumber}}</td>
                            <td>
                                <displaydate date-val="detail.ReturnDateTime"></displaydate>
                            </td>
                            <td>{{detail.BillNumber}}</td>
                            <td>
                                <displaydate date-val="detail.BillDateTime"></displaydate>
                            </td>
                            <!-- <td>{{detail.Patient.Title.Description}}&nbsp;
                                    {{detail.Patient.FirstName}}&nbsp;
                                    {{detail.Patient.LastName}}/
                                    {{detail.Patient.MRN}}/
                                    {{detail.Patient.Age}}/
                                    {{detail.Patient.Gender.Description}}
                                </td> -->
                            <td>{{detail.Encounter.VisitIdentifier}}</td>
                            <td>{{detail.User.Title.Description}}&nbsp;
                                {{detail.User.FirstName}}&nbsp;
                                {{detail.User.LastName}}
                            </td>
                            <td>{{detail.ReturnAmount | displaycurrency}}</td>
                            <!-- <td>{{detail.RoundOffValue}}</td> -->
                            <!-- <td>{{detail.RetPatientAmount}}</td>
                                <td>{{detail.RetInsuranceAmount}}</td> -->
                            <td>{{detail.NetReturnAmount | displaycurrency}}</td>
                            <td>{{detail.RefundedAmount | displaycurrency}}</td>
                            <!-- <td>
                                <input type="checkbox" class="custom-checkbox" id="select1{{$index}}"
                                    ng-model="detail.select1" ng-change="selectionChangedCal()" />
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-3">
        <div class="col-sm-6" style="padding:0;">
            <label class="col-sm-12 " for="discountvalue" translate="Discount Type" readonly></label>
            <div class="col-sm-12" id="discountdrp">
                <ui-select ng-model="currentfilter.DiscountModeId" ng-disabled="currentcontext.RdoBillDiscountMode"
                    ng-change="BillDiscountModechange($select.selected)" tabindex="-1" name="headerdiscountmode">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.DiscountMode | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- <label class="col-sm-12 multi" for="multiplepay" translate="Is Multiple Payment"
                    readonly></label>
                <div class="col-sm-7">
                    <input ng-model="item.IsMultiplePayment" type="checkbox"
                        class="custom-checkbox"> -->
        </div>

        <div class="col-sm-12">
            <div class="col-sm-6 no-padding">
                <label class="col-sm-12 " for="discountvalue" ng-show="CanShowLineItemDiscount"
                    translate="billing.opbilling-list.linediscount.lbl" readonly></label>
                <label class="col-sm-12 " for="discountvalue" ng-hide="CanShowLineItemDiscount"
                    translate="billing.opbilling-list.discount.lbl" readonly></label>
                <label class="col-sm-12 " for="discountvalue" ng-show="!ShowHeaderDisc" translate="Discount Approver"
                    readonly></label>
                <div class="col-sm-12">
                    <div class="col-sm-6" style="padding: 0px;" ng-show="ShowHeaderDisc">
                        <input type="text" class="form-control" name="discountvalue" tabindex="9"
                            ng-change="HeaderDiscountValueChange()" ng-disabled="currentcontext.RdoBillDiscount"
                            ng-model="currentcontext.BillDiscount" placeholder="">
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-12 " for="approvedby" ng-if="item.TotDiscAmount>0"
                    translate=" billing.opbilling-list.discountapprover.lbl" readonly></label>

                <div class="col-sm-12" ng-if="item.TotDiscAmount>0">
                    <ui-select ng-model="currentcontext.DiscountApprovedBy" tabindex="10"
                        ng-change="setDiscountLimit($select.selected)" ng-disabled="RdoApprovedById" tabindex="-1"
                        name="approvedby" uib-tooltip="{{$select.selected.Text | limitTo : 20 : 0}}"
                        tooltip-placement="right" required>
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="lookupitem.Id as lookupitem in lookup.DiscountApprover | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

        </div>
        <div>
            <label class="col-sm-12" for="remarks" translate="billing.receipt-form.remarks.lbl"></label>
            <div class="col-sm-12">
                <input type="text" class="form-control" tabindex="-1" name="remarks" uib-tooltip="{{item.Comments}}"
                    tooltip-placement="bottom" ng-disabled="IsDue" ng-model="item.Comments" placeholder="Remarks">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-4">
            <div>
                <label class="col-sm-12 " for="settlementtype" translate="Settlement Type"></label>
                <ui-select ng-model="currentcontext.FSTypeId" name="fstype" ng-change="changeFSTType()" required>
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.SettlementType | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div>
                <label class="col-sm-12 " for="paymenttype" translate="billing.opbilling-list.paymenttype.lbl"></label>
                <div class="col-sm-12 toprighttext">
                    <ui-select id="paymenttype" ng-keyup="FooterFocus('paymenttype')" tabindex="-1"
                        ng-model="item.PaymentTypeId" ng-disabled="RdoPaymentTypeId" name="paymenttype" required>
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="lookupitem.Id as lookupitem in lookup.PaymentType | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                    <button type="button" ng-if="MultiPay" ng-click="addPay()" class=" btn btn-xs btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
            <a class="link" ng-show="item.PaymentTypeId==7" ng-click="AdjustAgainstAdvance()"
                style="margin-left: 46px;">
                Adjustment
            </a>
            <div>
                <label class="col-sm-12 ng-scope" for="receivedamt"
                    translate="billing.opbilling-list.receiptamount.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" tabindex="-1"
                        class="form-control ng-valid ng-dirty ng-valid-parse ng-empty ng-touched" name="receivedamt"
                        ng-disabled="currentcontext.RdoReceiptAmt" id="receivedamt"
                        ng-keyup="FooterFocus('receivedamt')" ng-model="currentcontext.ReceiptAmt"
                        ng-focus="updateReceiptAmt()" ng-change="CalculateNetAmt()" placeholder="" disabled>
                </div>
            </div>
            <div ng-if="currentcontext.TotBalanceAmt > 0" ng-hide="item.IsMultiplePayment==true">
                <label class="col-sm-12 ng-scope" for="creditapprover"
                    translate="billing.directbilling.creditapprover.lbl" ng-if="item.GuarantorTypeId==1"></label>
                <div class="col-sm-12">
                    <ui-select id="creditapprover" tabindex="-1" ng-keyup="FooterFocus('creditapprover')"
                        ng-change="setDueLimit($select.selected)" ng-model="item.PrivateDueId"
                        ng-if="item.GuarantorTypeId==1" ng-disabled="currentcontext.RdoGuarantorDue"
                        name="creditapprover">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="lookupitem.Id as lookupitem in lookup.PrivateDueApprover | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select id="creditapprover" ng-keyup="FooterFocus('creditapprover')"
                        ng-model="item.GuarantorDueId" ng-disabled="true" ng-if="item.GuarantorTypeId>1"
                        name="creditapprover">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="lookupitem.Id as lookupitem in lookup.User | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div ng-if="item.PaymentTypeId > 1 && item.PaymentTypeId != 7">
                <label class="col-sm-12 control-label" for="bankname"
                    translate="billing.receipt-form.bankname.lbl"></label>
                <div class="col-sm-12 toprightbankname">
                    <ui-select id="BankName" name="bankname" required ng-keyup="FooterFocus('BankName')"
                        ng-model="item.BankId" ng-disabled="item.isCompleted">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="lookupitem.Id as lookupitem in lookup.Bank | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div ng-if="item.PaymentTypeId == 2">
                <label class="col-sm-12 control-label" for="chequeno"
                    translate="billing.receipt-form.chequeno.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="chequeno" id="chequeno"
                        ng-keyup="FooterFocus('chequeno')" ng-model="item.ChequeNo" ng-disabled="item.isCompleted"
                        placeholder="" required>
                </div>
            </div>
            <div ng-if="item.PaymentTypeId == 11">
                <label class="col-sm-12 control-label" for="upirefno" translate="Ref Number"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="upirefno" id="upirefno"
                        ng-keyup="FooterFocus('upirefno')" ng-model="item.UPIRefNumber" ng-disabled="item.isCompleted"
                        placeholder="" required>
                </div>
            </div>
            <div ng-if="item.PaymentTypeId == 3">
                <label class="col-sm-12 control-label" for="ddno" translate="billing.receipt-form.ddno.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="ddno" id="ddno" ng-keyup="FooterFocus('ddno')"
                        ng-model="item.DDNumber" ng-disabled="item.isCompleted" placeholder="" ng-minlength=""
                        ng-pattern="/^\d+$/" required>
                </div>
            </div>
            <div ng-if="item.PaymentTypeId == 4">
                <label class="col-sm-12 control-label" for="transationno"
                    translate="billing.receipt-form.transationno.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="transationno" id="transationno"
                        ng-keyup="FooterFocus('transationno')" ng-model="item.WireTransferId" placeholder=""
                        ng-disabled="item.isCompleted" required>
                </div>
            </div>
            <div ng-if="item.PaymentTypeId == 5 || item.PaymentTypeId == 6">
                <label class="col-sm-12 control-label" for="cardno"
                    translate="billing.receipt-form.authorisedcode.lbl"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="cardno" required id="cardno"
                        ng-keyup="FooterFocus('cardno')" ng-model="item.AuthorizeNumber" maxlength="4"
                        ng-disabled="item.isCompleted" placeholder="">
                </div>
            </div>

        </div>
        <div class="col-sm-4">


            <div ng-if="item.PaymentTypeId == 2">
                <label class="col-sm-12 control-label" translate="billing.receipt-form.Chequedate.lbl"></label>
                <div class="col-sm-12 toprightchequedate">
                    <input type="text" class="form-control" name="Chequedate" ng-date-object
                        datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                        uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}" ng-click="activefromPopup = { opened: true }"
                        is-open="activefromPopup.opened" id="Chequedate" ng-keyup="FooterFocus('Chequedate')"
                        ng-model="item.ChequeDate" ng-disabled="item.isCompleted">
                </div>
            </div>
            <div ng-if="item.PaymentTypeId == 3">
                <label class="col-sm-12 control-label" translate="billing.receipt-form.dddate.lbl"></label>
                <div class="col-sm-12 toprightchequedate">
                    <input type="text" class="form-control" name="dddate" ng-date-object
                        datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                        uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}" ng-click="activetoPopup = { opened: true }"
                        is-open="activetoPopup.opened" id="dddate" ng-keyup="FooterFocus('dddate')"
                        ng-model="item.DDDate" ng-disabled="item.isCompleted">
                </div>
            </div>
            <div ng-if="item.PaymentTypeId == 4">
                <label class="col-sm-12 control-label" translate="billing.receipt-form.transferredon.lbl"></label>
                <div class="col-sm-12  toprightchequedate">
                    <input type="text" class="form-control" name="transferredon" ng-date-object
                        datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                        uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}"
                        ng-click="transationfromPopup = { opened: true }" is-open="transationfromPopup.opened"
                        id="transferredon" ng-keyup="FooterFocus('transferredon')" ng-model="item.WireTransferDate"
                        ng-disabled="item.isCompleted">
                </div>
            </div>
            <div ng-if="item.PaymentTypeId == 4 || item.PaymentTypeId == 3 || item.PaymentTypeId == 2">
                <label class="col-sm-12 control-label" translate="billing.receipt-form.Collected On.lbl"></label>
                <div class="col-sm-12 toprightcollectedon">
                    <input type="text" class="form-control" name="Collected On" id="CollectedOn"
                        ng-keyup="FooterFocus('CollectedOn')" ng-date-object datepicker-options="datePickerOptions"
                        show-button-bar="{{datePickerOptions.showButtonBar}}"
                        uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}" ng-click="activefromPopup = { opened: true }"
                        is-open="activefromPopup.opened" ng-model="item.CollectedOn" ng-disabled="item.isCompleted">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="billingbanner">
            <table id="bannerdetails" class="foot">
                <tr>
                    <td>Gross Amount :</td>
                    <td class="currency-align">
                        {{currentfilter.TotalGrossAmount | displaycurrency}}
                    </td>
                </tr>
                <tr>
                    <td>Discount :</td>
                    <td class="currency-align">
                        {{currentfilter.TotalDiscountAmount | displaycurrency}}
                    </td>
                </tr>

                <tr>
                    <td>Available Advance :</td>
                    <td class="currency-align">
                        {{currentfilter.TotalAvailableAmount | displaycurrency}}
                    </td>
                </tr>
                <tr>
                    <td>Advance Refunded:</td>
                    <td class="currency-align">
                        {{currentfilter.TotalAdvanceReturned | displaycurrency}}
                    </td>
                </tr>
                <tr ng-if="currentfilter.TotalReturnAmount > 0">
                    <td>Return Amount:</td>
                    <td class="currency-align">
                        {{currentfilter.TotalReturnAmount | displaycurrency}}
                    </td>
                </tr>
                <tr>
                    <td>Paid Amount :</td>
                    <td class="currency-align">
                        {{currentfilter.TotalPaidAmount | displaycurrency}}
                    </td>
                </tr>
                <tr>
                    <td>Refunded Amount:</td>
                    <td class="currency-align">
                        {{currentfilter.TotalRefundAmount | displaycurrency}}
                    </td>
                </tr>
                <tr ng-if="currentfilter.TotalDueAmount > 0">
                    <td>Refunded Amount Used:</td>
                    <td class="currency-align">
                        {{currentfilter.TotalRefundAmount | displaycurrency}}
                    </td>
                </tr>

                <tr>
                    <td>Due Amount :</td>
                    <td class="currency-align">
                        {{currentfilter.TotalDueAmount | displaycurrency}}
                    </td>
                </tr>

                <tr>
                    <td class="drhms-special-count">
                        Net Amount</td>
                    <td class="drhms-special-count currency-align">
                        <!-- {{currentfilter.TotalSalesAmount | displaycurrency}}</td> -->
                        {{currentfilter.TotalDueAmount | displaycurrency}}
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="fooder-bgs">
    <div class="pull-left">
        <button class="draftbutton" ng-click="openAdanace()" ng-show="currentfilter.PatientId > 0">Pay Advance
        </button>
        <button type="button" class="draftbutton" tabindex="-1" hotkey="{'alt+p' : print}" ng-click="print()">
            <i class="fa fa-print"></i>Print</button>
        <!-- <button type="button" class="draftbutton" ng-click="backToList()" translate="Back"></button> -->
    </div>
    <div class="pull-right">
        <button type="button" ng-if="ShowPrintBtn==1" class="draftbutton" ng-click="dmPrint()">DM
            Print</button>
        <button type="button" class="draftbutton" translate="Pay Due" ng-click="pay_pharmacybills()"
            ng-show="currentfilter.TotalDueAmount > 0"></button>
            <button type="button" class="draftbutton" translate="Refund" ng-click="refund_pharmacybills()"
            ng-show="currentfilter.TotalAvailableAmount > 0"></button>
        <button type="button" ng-keyup="FooterFocus('saveAndApproveid')" class="draftbutton"
            translate="Pharmacy Approved" ng-disabled="items.IsPharmacyClearance==true || currentcontext.ReceiptAmt > 0"
            ng-click="approve_pharmacybills()" ng-show="currentfilter.PatientId > 0"></button>
    </div>
</div>