<style>
    .col-sm-4 {
        margin-bottom: 8px;
    }

    i.fa.fa-home {
        position: relative;
        bottom: 4px;
    }

    table#bannerdetails {
        width: 99%;
    }

    #lidatepicker button.btn.btn-default.btn-sm.uib-title {
        margin-left: 0%;
        width: 100% !important;
        background: white;
    }
</style>
<div class="row page-header">
    <h4 class="col-sm-6 mt0" translate="assetmanagement.assetaudit.pagetitle.lbl"></h4>
    <div class="col-sm-6">
        <!-- <button class="btn bt-color3 btn-xs pull-right btn-filter" ng-click="" uib-tooltip="{{ '  clinicalmaster.serviceitem-list.filter-tooltip.lbl' | translate}}"
            tooltip-placement="bottom">
            <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;
            <span translate="common.searchaction.lbl"></span>
        </button> -->
        <button class="btn-add" ng-click="addNew()" uib-tooltip="{{ 'assetmanagement.assetaudit.tooltip.lbl' | translate
}}" tooltip-placement="bottom">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <!-- <span ng-click="Asset_dashboard()" class="text-right" style="float:right;">
            <img src="app/img/assetimgs/asset.png" class="img-responsive emr-patienticon" alt="home"
                uib-tooltip="Asset Dashboard" tooltip-placement="bottom">
        </span> -->
        <button type="button" tabindex="-1" class="btn-add" ng-click="Asset_dashboard()" uib-tooltip="Dashboard" tooltip-placement="bottom">
            <i class="fa fa-home" aria-hidden="true"> </i>
        </button>

        <!-- <i class="fa fa-home" align="right" style="float: right;" ng-click="Asset_dashboard()" uib-tooltip="Dashboard"
            tooltip-placement="bottom" aria-hidden="true"></i> -->

    </div>
    <table id="bannerdetails">
        <tr>
            <td translate="assetmanagement.assets.filter_installeddepartment.lbl"></td>
            <td>
                <ui-select ng-model="currentfilter.FromDepartmentId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 25 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.Department | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
            <td translate="assetmanagement.assetaudit.location.lbl"></td>
            <td>
                <ui-select ng-model="currentfilter.LOCATIONId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 30 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.Location | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
            <td translate="assetmanagement.assetaudit.auditname.lbl"></td>
            <td>
                <ui-select ng-model="currentfilter.AuditName" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 30 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.User | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
        </tr>
        <tr>
            <td translate="assetmanagement.assetaudit.auditon.lbl"></td>
            <td>
                <div class="datepicker"> <input type="text" class="form-control" name="GRNdate" ng-date-object
                        uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}" ng-click="grnPopup = { opened: true }"
                        is-open="grnPopup.opened" ng-model="item.StartDate">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </td>
            <td translate="assetmanagement.assetaudit.auditstatus.lbl"></td>
            <td>
                <ui-select ng-model="currentfilter.AuditStatusId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 40 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.AuditStatus | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="tablebox">
        <!-- <div class="">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <label class="col-sm-4 control-label filter-lbl" translate="assetmanagement.assets.filter_installeddepartment.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.FromDepartmentId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 25 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Department | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label filter-lbl"
                translate="assetmanagement.assetaudit.location.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.LOCATIONId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 30 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.Location | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label filter-lbl"
                translate="assetmanagement.assetaudit.auditname.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.AuditName" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 30 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.User | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label" translate="assetmanagement.assetaudit.auditon.lbl"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="GRNdate" ng-date-object
                    uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                    placeholder="{{datePickerOptions.placeholder}}" ng-click="grnPopup = { opened: true }"
                    is-open="grnPopup.opened" ng-model="item.StartDate">
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label filter-lbl"
                translate="assetmanagement.assetaudit.auditstatus.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.AuditStatusId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 40 : 0}}
                        <span ng-if="$select.selected.Text.length>8">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.AuditStatus | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>


    </div>
</div> -->
        <custom-table config="vm.gridConfig"></custom-table>
    </div>
    <div class="container-fluid onerow-filter">
        <div class="fooder-bgs">
            <div class="row">
                <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
                    items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                    ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
            </div>
        </div>
    </div>