<style>
    .nameinfo {
        font-size: 13px;
        font-weight: 700;
        color: #337ab7;
    }

    .nameinfo.mrninfo {
        color: black
    }

    .contactinfo {
        font-size: 10px;
        color: #808080
    }

    .block {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .linkstyle {
        font-weight: 700;
        text-align: right;
    }

    .statusinfo {
        font-size: 13px;
    }

    .countbg {
        background-color: #fff;
        padding: 0px 7px;
        border: 1px solid #d4c8c8;
        border-radius: 6px;
    }

    .form-group {
        margin-bottom: 7px !important;
    }

    .sr-only {
        height: 22px !important;
    }

    .well {
        padding: 5px;
    }

    @media only screen and (min-width: 993px) {
        .table-uigrid {
            margin-left: 10px;
            margin-right: 10px;
            height: 390px !important;
        }
    }
</style>
<div class="">
    <!-- <div class="col-sm-12">
        <div class="col-sm-4">
            <label class="col-sm-5  col-md-4 control-label filter-lbl" translate="billmodifications.ipbillmodification.filter_billnumber.lbl"></label>
            <div class="input-group col-sm-7  col-md-8">
                <div class="input-group-addon">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.BillNumber" translate translate-attr-placeholder="billmodifications.ipbillmodification.filter_billnumber.lbl">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="sr-only col-sm-5 col-md-4 control-label filter-lbl" translate="billmodifications.ipbillmodification.filter_patientname.lbl"></label>
                <div class="input-group col-sm-7 col-md-8">
                    <div class="input-group-addon">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>
                    <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.NameMrn" placeholder="NAME/MRN">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label" translate="billmodifications.ipbillmodification.billdate.lbl"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="billdatetime" ng-change="getList()" datepicker-options="datePickerOptions"
                    show-button-bar="{{datePickerOptions.showButtonBar}}" uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                    placeholder="{{datePickerOptions.placeholder}}" ng-click="billdatetimePopup = { opened: true }" is-open="billdatetimePopup.opened"
                    ng-model="currentfilter.BillDateTime">
            </div>
        </div>
    </div> -->
    <table id="bannerdetails">
        <td translate="billmodifications.ipbillmodification.filter_billnumber.lbl"></td>
        <td> <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.BillNumber" translate
                translate-attr-placeholder="billmodifications.ipbillmodification.filter_billnumber.lbl"></td>
        <td translate="billmodifications.ipbillmodification.filter_patientname.lbl"></label>></td>
        <td> <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.NameMrn"
                placeholder="NAME/MRN"></td>
        <td translate="billmodifications.ipbillmodification.billdate.lbl"></td>
        <td> <input type="text" class="form-control" name="billdatetime" ng-change="getList()"
                datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                ng-click="billdatetimePopup = { opened: true }" is-open="billdatetimePopup.opened"
                ng-model="currentfilter.BillDateTime"></td>
    </table>
</div>
<div class="container-fluid" id="specialitysheight">
    <!-- <div ui-grid="vm.gridConfig" class="table-uigrid table-uigrid-tab "></div> -->
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>