<html>

<head>
    <style>
        .table1 {
            font-size: 10px;
        }

        .table4 {
            border-right: 2px solid;
        }

        .patientinfo {
            border: 1px solid;
            border-radius: 10px;
        }

        .table2,
        .table2 th,
        .table2 td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table.table2 {
            border-radius: 10px;
            border-collapse: collapse;
            overflow: inherit;
		font-size: 10px;
        }

        .amountinfo {
            border: 1px solid;
            border-radius: 10px;
            margin-top: 5px;
        }

        table.table3 {
            border-radius: 10px;
            border-collapse: collapse;
            overflow: inherit;
font-size: 10px;
        }



        {
            {
                include '/Templates/SDH/assets/css/core.css'
            }
        }
    </style>
</head>

<body>
    <div id="pageHeader"class="pageheader" >
        <table style="width:100%;">
            <tr>
               <!--  <td style="width:30%;">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:100%;">
                                <img width="100px" height="60px" src="data:image/png;base64,{{data.Preferences.Facilitylogo}}" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width:70%;">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:100%;">
                                <td style="width:100%">
                                    <div class="center" style="font-size:20px;text-align: center"><b>DSMCH</b></div>

                                    <div class="center" style="font-size:14px;text-align: center">Trichy Main Road, Siruvachur (PO), Perambalur - 621 113</div>
                                    <div class="center" style="font-size:14px;text-align: center">Ph : 04328 - 254 500,254 600, Fax : 04328 - 254 505</div>

                                </td>
                            </td>
                        </tr>
                    </table>
                </td> -->
                <td style="width:20%;">
                    <img width="100px" height="45px" src="data:image/png;base64,{{data.Preferences.Facilitylogo}}" />
                </td>
                <td style="width:80%;text-align:left;margin:0 auto;">
                    <table>
                        <tr>
                            <td style="width:100%">
                            <div class="center" style="font-size:20px;text-align: center"><b>DSMCH Pharmacy</b></div>

                            <div class="center" style="font-size:12px;text-align: center">Trichy Main Road, Siruvachur (PO), Perambalur - 621 113</div>
                            <div class="center" style="font-size:12px;text-align: center">Ph : 04328 - 254 500,254 600, Fax : 04328 - 254 505</div>
                            <div class="center" style="font-size:12px;text-align: center">GST No : 33AAHFG4238P1Z3</div>
                            </td>
                        </tr>
                    </table>
                </td>
                <!--<td style="width:5%;"><img width="100px" src="{{include '/Templates/assets/images/NABHLOGO.png' 'img'}}" /></td>-->
            </tr>
        </table>
    </div>
    <br>
    <div class="patientinfo" style="margin-top:0px;">
        <div style="text-align:center;border-bottom:1px solid;">
            <b>Customer Invoice</b>
        </div>
        <div>
            <table style="width:100%;">
                <tr>
                    <td class="table4" style="width:70%;">
                        <table class="table1" style="width:100%;">
                            <tr>
                                <td style="width:100%;text-align:left;font-size:10px"><b>Customer Code : &nbsp; {{data.CustomerBills.CustomerMaster.CustomerCode}}</b></td>
                            </tr>
                            <tr>
                                <td style="width:100%;text-align:left;font-size:10px"><b> M/s. &nbsp;&nbsp;{{data.CustomerBills.CustomerName}}</b></td>
                            </tr>
                            <tr>
                                <td style="width:100%;text-align:left;font-size:10px;text-transform: uppercase"><b> {{data.CustomerBills.CustomerMaster.CustomerContacts.AddressLine1}}&nbsp; , &nbsp;{{data.CustomerBills.CustomerMaster.CustomerContacts.AddressLine2}}</b></td>
                            </tr>
                            <tr>
                                <td style="width:100%;text-align:left;font-size:10px"><b>Mobile : &nbsp; {{data.CustomerBills.CustomerMaster.MobileNumber}}
                                    &nbsp;&nbsp; Email : &nbsp; {{data.CustomerBills.CustomerMaster.EmailAddress}}
                                </b></td>
                            </tr>
                            <tr>
                                <td style="width:100%;text-align:left;font-size:10px"><b>GST No : &nbsp; {{data.CustomerBills.CustomerMaster.GSTNumber}}</b></td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:30%;">
                        <table class="table1" style="width:100%;">
                            <tr>
                                <td style="width:20%;text-align:left;font-size:10px"><b>Bill No </b></td>
                                <td> : </td>
                                <td style="width:80%;text-align:left;font-size:10px"><b>{{data.CustomerBills.BillNumber}}</b></td>
                            </tr>
                            <tr>
                                <td style="width:20%;text-align:left;font-size:10px"><b>Bill Date</b></td>
                                <td> : </td>
                                <td style="width:80%;text-align:left;font-size:10px"><b>{{dateformat data.CustomerBills.BillDateTime}}</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div>

        <!-- <table class="table1" style="width:100%;">
            <tr>
                <td style="width:5%;"><b></b></td>
                <td style="width:15%;text-align:right;"><b>No :</b></td>
                <td style="width:15%;"><b>{{data.CustomerBills.BillNumber}}</b></td>
                <td style="width:20%;"><b></b></td>
                <td style="width:20%;text-align:right;"><b>Messers :</b></td>
                <td style="width:20%;"><b>{{data.CustomerBills.CustomerName}}</b></td>
                <td style="width:5%;"><b></b></td>
            </tr>
            <tr>
                <td style="width:5%;"><b></b></td>
                <td style="width:15%;text-align:right;"><b>Invoice No :</b></td>
                <td style="width:15%;"><b>{{data.CustomerBills.BillNumber}}</b></td>
                <td style="width:20%;"><b></b></td>
                <td style="width:20%;text-align:right;"><b>Address :</b></td>
                <td style="width:20%;"><b>{{data.CustomerBills.CustomerMaster.AddressLine1}}, {{data.CustomerBills.CustomerMaster.AddressLine2}}</b></td>
                <td style="width:5%;"><b></b></td>
            </tr>
            <tr>
                <td style="width:5%;"><b></b></td>
                <td style="width:15%;text-align:right;"><b>Date :</b></td>
                <td style="width:15%;"><b>{{dateformat data.CustomerBills.BillDateTime}}</b></td>
                <td style="width:20%;"><b></b></td>
                <td style="width:20%;text-align:right;"><b>VAT No :</b></td>
                <td style="width:20%;"><b>{{data.CustomerBills.VATNumber}}</b></td>
                <td style="width:5%;"><b></b></td>
            </tr>
            <tr>
                <td style="width:5%;"><b></b></td>
                <td style="width:15%;text-align:right;"><b>Delivery Date :</b></td>
                <td style="width:15%;"><b>{{dateformat data.CustomerBills.BillDateTime}}</b></td>
                <td style="width:20%;"><b></b></td>
                <td style="width:20%;text-align:right;"><b>Customer Number :</b></td>
                <td style="width:20%;"><b>{{data.CustomerBills.CustomerMaster.CustomerCode}}</b></td>
                <td style="width:5%;"><b></b></td>
            </tr>
        </table> -->

    </div>
    <table class="table2" style="width:100%;margin-top:5px;border-radius: 10px;">
        <tr>
            <th style="width:3%" align="right">S.No</th>
            <th style="width:6%" align="left">HSN</th>
            <th style="width:15%" align="left">Item Name</th>
            <th style="width:10%" align="left">Manufacturer</th>
            <th style="width:6%" align="left">Batch No</th>
            <th style="width:6%" align="center">Exp Date</th>
            <th style="width:4%" align="right">Qty</th>
            <th style="width:4%" align="right">Fr Qty</th>
            <th style="width:6%" align="right">Unit Price</th>
            <th style="width:6%" align="right">MRP</th>
            <th style="width:5%" align="right">Disc(%)</th>
            <th style="width:8%" align="right">Discount</th>
            <th style="width:5%" align="right">GST(%)</th>
            <th style="width:6%" align="right">GST</th>
            <th style="width:10%" align="right">Net Amount</th>
        </tr>
    </table>
    <table rules="cols" class="table3" style="width:100%;border-radius: 10px;;border:1px solid;">
        {{#each data.CustomerDetails}}
        <tr style="vertical-align:text-top;}">
            <td style="width:3%;text-align:right;">{{inc @index}}</td>
            <td style="width:6%;text-align:left;">{{ItemMaster.ProductRegNo}}</td>
            <td style="width:15%;text-align:left;">{{ItemName}}</td>
            <td style="width:10%;text-align:left;">{{ItemMaster.ManufacturerName}}</td>
            <td style="width:6%;text-align:left;">{{BatchId}}</td>
            <td style="width:6%;text-align:center;">{{expdateformat ExpiryDate}}</td>
            <td style="width:4%;text-align:right;">{{Quantity}}</td>
            <td style="width:4%;text-align:right;">{{FreeQty}}</td>
            <td style="width:6%;text-align:right;">{{Rate}}</td>
            <td style="width:6%;text-align:right;">{{StockSerialItem.Mrp}}</td>
            <td style="width:5%;text-align:right;">{{DiscountValue}}</td>
            <td style="width:8%;text-align:right;">{{DiscountAmount}}</td>
            <td style="width:5%;text-align:right;">{{GstPercentage}}</td>
            <td style="width:6%;text-align:right;">{{GstAmount}}</td>
            <td style="width:10%;text-align:right;">{{NetAmount}}</td>
        </tr>
        {{/each}}
    </table>
    <div class="amountinfo">
        <table style="width:100%;" class="table1">

	  <tr>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;text-align:right;"><b>Gross Amount:</b></td>
                <td style="width:10%;text-align:right;"><b>{{data.CustomerBills.GrossAmount}}</b></td>
            </tr>
            <tr>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;text-align:right;"><b>Discount:</b></td>
                <td style="width:10%;text-align:right;"><b>{{data.CustomerBills.LineTotalDiscount}}</b></td>
            </tr>
            <tr>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;text-align:right;"><b>GST Total:</b></td>
                <td style="width:10%;text-align:right;"><b>{{data.CustomerBills.GstAmount}}</b></td>
            </tr>
            <tr>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;text-align:right;"><b>{{#if data.CustomerBills.RoundOffValue}}Round Off: {{/if}}</b></td>
                <td style="width:10%;text-align:right;"><b>{{#if data.CustomerBills.RoundOffValue}}{{data.CustomerBills.RoundOffValue}}{{/if}}</b></td>
            </tr>
            <tr>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;"></td>
                <td style="width:10%;text-align:right;"><b>Net Amount:</b></td>
                <td style="width:10%;text-align:right;"><b>{{data.CustomerBills.NetAmount}}</b></td>
            </tr>
        </table>
    </div>

</body>

</html>
