<style>
    button {
        margin: 2px 3px;
    }

    .ui-grid-render-container-left .ui-grid-viewport {
        height: 300px !important;
    }

    .formactionbar {
        margin-bottom: 5px;
        padding: 5px 15px;
        height: 40px;
        /* background-color: #ccecf5; */
        position: fixed;
        bottom: 0px;
    }

    .table-uigrid {
        height: 500px !important;
    }

    .ui-grid-render-container-body .ui-grid-viewport {
        height: 185px !important;
    }

    .ui-grid-canvas,
    .ui-grid-viewport {
        width: 100% !important;
    }

    .modal-lg {
        width: 1200px !important;
    }

    .info_popup {
        height: 330px;
        overflow: hidden;
    }

    .table-uigridr {
        height: 185px !important;
        overflow-y: scroll !important;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: auto;
    }

    .modal-dialog.modal-lg .fooder-bg {
        position: fixed !important;
    }

    .modal-content {
        height: 92vh;
    }

    .custom-table.table-striped.table-bordered {
        height: 33vh;
    }

    .padding-top5 {
        padding-top: 84px;
        position: fixed;
    }

    button.btn.btn-xs.btn-danger {
        height: 33px !important;
    }
</style>
<div class="modal-header custom-modal-header">
    <h4 class="mt0 col-sm-11 text-white" translate="billing.patientfinance.pagetitle.lbl"></h4>
    <div class="col-sm-1">
        <button id="btnCancelForm" type="button" class="btn btn-danger btn-sm ng-scope" ng-click="cancelCallback()">
            <span class="ng-scope">X</span>
        </button>
    </div>
</div>

<!-- <div class="modal-header custom-modal-header">
    <h4 class="modal-title custom-modal-title" translate="billing.patientfinance.pagetitle.lbl"></h4>
</div> -->
<div class="bg-pattern info_popup">
    <div class="row filter-area panel-favorite">
        <div class="dynamicform-content">
            <dynamicform modeldata="modeldata" schema="schema"></dynamicform>
            <div class="form-group col-sm-3">
                <button type="button" class="draftbutton  {{action.cls}}" ng-repeat="action in schema.actions"
                    ng-click="actionClick(action.type)" translate="{{action.translate}}"></button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 grid-div pad0">
        <custom-table config="vm.gridConfig"></custom-table>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-4  padding-top5">
            <label>Total Bill Amount</label>&nbsp;:&nbsp;
            <span class="countbg">{{currentcontext.TotalBillAmount}}</span>
        </div>
        <div class="fooder-bgs">
            <div class="col-sm-12">
                <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
                    items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                    ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
            </div>
            <!-- <div class="col-sm-1">
                <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="cancelCallback()" translate="common.cancelaction.lbl"></button>
            </div> -->
        </div>
    </div>
</div>