<html>

<head>
  <style>
    .table {
      border: 1px solid #000;
      border-collapse: collapse;
      width: 100%;
    }

    .table th,
    .table td {
      padding: 10px;
      border: 1px solid #000;
      text-align: left;
    }

    th,
    td {
      width: auto;
    }

    .table th {
      font-weight: 700;
    }

    .table td {
      font-weight: 500;
    }

    h4 {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <h4>INTENSIVE CARE UNIT - ADMISSION DOCUMENTS</h4>
    </div>
  </div>
  <div class="container table-bordered">
    <table class="table">
      <thead>
        <tr>
          <th colspan="4">Name : {{data.Patient.Title.Description}} {{data.Patient.FirstName}} {{data.Patient.MiddleName}}
            {{data.Patient.LastName}}</th>
          <th>Age : {{age data.Patient.DOB}}</th>
          <th>Sex : {{data.Patient.Gender.Description}}</th>
        </tr>
        <tr>
          <th colspan="4">Marital Status : {{data.Patient.MaritalStatus}}</th>
          <th colspan="2">Occupation : {{data.Patient.Occupation}}</th>
        </tr>
        <tr>
          <th colspan="6">Spouse / Parent / Guardian's Name :</th>
        </tr>
        <tr>
          <th colspan="6">Address : <b>{{data.Patient.Facility.FacilityName}},</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{data.Patient.AddressLine1}}</th>
        </tr>
        <tr>
          <th colspan="5">UHID : {{data.Patient.MRN}}</th>
          <th>IP NO.: {{data.Patient.VisitIdentifier}}</th>
        </tr>
        <tr>
          <th colspan="4">Date of Admission : {{datetimeformat data.Patient.Encounters.[0].AdmissionDate}}</th>
          <th>Date of Discharge : {{datetimeformat data.Patient.Encounters.[0].DischargeDate}}</th>
          <th>Length of Hospitalization :</th>
        </tr>
        <tr>
          <th>Consultant/Unit : {{data.Patient.Encounters.[0].WardMaster.WardName}}/{{data.Patient.Encounters.[0].WardRoomBedMaster.BedNo}}</th>
          <td colspan="5"></td>
        </tr>
        <tr>
          <th rowspan="5">FINAL DIAGNOSIS (IN BLOCK LETTERS)<br>Write Principal Diagnosis First</th>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <th rowspan="5">SECONDARY DIAGNOSIS AND COMPLICATIONS (IN BLOCK LETTERS)<br>Write Principal Diagnosis First
          </th>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <th rowspan="5">OPERATIVE PROCEDURE (IN BLOCK LETTERS)<br>Write Principal Diagnosis First</th>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <th>Discharge Status</th>
          <td>Recovered</td>
          <td>Improved</td>
          <td>Incharged</td>
          <td>Worse</td>
          <td>Expired</td>
        </tr>
        <tr>
          <th>Discharged against Medical Advice</th>
          <td colspan="5" style="text-align: center;">Yes / No</td>
        </tr>
        <tr>
          <th rowspan="2">CAUSE OF DEATH</th>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <th>AUTOPSY :</th>
          <td colspan="5" style="text-align: center;">Yes / No</td>
        </tr>
        <tr>
          <th rowspan="2">SIGNATURE</th>
          <td colspan="5">House Staff :</td>
        </tr>
        <tr>
          <td colspan="5">Head Of Unit :</td>
        </tr>
        <tr>
          <th colspan="12">FOR MEDICAL RECORDS DEPARTMENT USE :</th>
        </tr>
        <tr>
          <th colspan="12">NO OF SHEETS IN RECORD :</th>
        </tr>
        <tr>
          <th colspan="12">Checked By :</th>
        </tr>
        <tr>
          <th colspan="12">Signature :</th>
        </tr>
      </thead>
    </table>
  </div>
</body>

</html>