<style>
    .btn {
        white-space: normal !important;
    }
    
    .ui-select-multiple {
        min-height: 100px !important;
    }
    
    #fullregistrationheight .well {
        min-height: 500px;
    }
    
    .autosearch-div .custom-popup-wrapper {
        position: absolute;
        width: 125%!important;
    }
</style>
<div class="modal-header custom-modal-header">
    <h4 class="modal-title custom-modal-title" translate="inventory.itemrackmapping.pagetitle3.lbl"></h4>
</div>
<div class="row" id="fullregistrationheight">
    <div class="col-sm-12">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <div class="formRoot">
                <div class="panel panel-default bg-pattern">
                    <!--<div class="panel-heading"><h3 class="panel-title" translate="inventory.itemrackmapping.pagetitle4.lbl"></h3></div>-->
                    <div class="panel-body form-panel">
                        <div class="col-sm-12 ">

                            <!-- leftpanel -->
                            <div class="col-sm-6">
                                <div class="col-sm-12 well">

                                    <div class="form-group">
                                        <label class="col-sm-7 col-md-5 control-label" for="facilityId" translate="inventory.itemmaster.facilityId.lbl"></label>
                                        <div class="col-sm-5 col-md-7">
                                             <input type="text" class="form-control" name="facilityId" ng-model="item.FacilityId" placeholder="" ng-disabled="true"  required uppercase>
                                           
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-sm-7 col-md-5 control-label" for="store" translate="inventory.itemmaster.store.lbl"></label>
                                        <div class="col-sm-5 col-md-7">
                                            <input type="text" class="form-control" name="store" ng-model="item.StoreMasterId" placeholder="" ng-disabled="true"  required uppercase>
                                           
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-7 col-md-5 control-label" for="code" translate="inventory.itemmaster.code.lbl"></label>
                                        <div class="col-sm-5 col-md-7">
                                            <input type="text" class="form-control" name="code" ng-model="item.ItemCode" ng-disabled="item.isDisabled" placeholder=""
                                                 required uppercase ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-7 col-md-5 control-label" for="name" translate="inventory.itemmaster.name.lbl"></label>
                                        <div class="col-sm-5 col-md-7">
                                            <input type="text" class="form-control" name="name" ng-model="item.ItemName" placeholder="" ng-disabled="true"  required uppercase>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-7 col-md-5 control-label" translate="inventory.itemmaster.description.lbl"></label>
                                        <div class="col-sm-5 col-md-7">
                                            <input type="text" class="form-control" name="description" ng-model="item.ItemDescription" placeholder="" uppercase>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="cssdtype" translate="inventory.itemmaster.cssdtype.lbl"></label>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="item.CSSDTypeId" name="cssdtype">
                                                <ui-select-match>
                                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.CSSDType | filter: { Text: $select.search }">
                                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="usagetype" translate="inventory.itemmaster.usagetype.lbl"></label>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="item.UsageTypeId" name="usagetype">
                                                <ui-select-match>
                                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.UsageType | filter: { Text: $select.search }">
                                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-sm-4 control-label" for="steriletempeture" translate="inventory.itemmaster.steriletempeture.lbl"></label>
                                        <div class="col-sm-8">
                                             <input type="text" class="form-control" name="steriletempeture" ng-model="item.SterileTemperature" placeholder=""  required uppercase>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-sm-4 control-label" for="sterileinstruction" translate="inventory.itemmaster.sterileinstruction.lbl"></label>
                                        <div class="col-sm-8">
                                            <textarea name="sterileinstruction" ng-model="item.Instructions" maxlength="4000" style="width:100%;" class="notes-textarea" ng-disabled="item.isl"
                                                tabindex="-1"></textarea>
                                        </div>
                                    </div>
                                                                    
                                   

                                </div>
                            </div>
                            <!-- rightpanel -->
                            <div class="col-sm-6">
                                <div class="col-sm-12 well">


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="isreusable" translate="inventory.itemmaster.isreusable.lbl"></label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" name="isreusable" class="custom-checkbox" ng-model="item.IsReusable" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="minusage" translate="inventory.itemmaster.minusage.lbl"></label>
                                        <div class="col-sm-8">
                                             <input type="text" class="form-control" name="minusage" ng-model="item.MinUsage" placeholder=""  required uppercase>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="maxusage" translate="inventory.itemmaster.maxusage.lbl"></label>
                                        <div class="col-sm-8">
                                             <input type="text" class="form-control" name="maxusage" ng-model="item.MaxUsage" placeholder=""  required uppercase>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="iswashingrequired" translate="inventory.itemmaster.iswashingrequired.lbl"></label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" name="iswashingrequired" class="custom-checkbox" ng-model="item.IsWashingRequired" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"  translate="inventory.itemmaster.washingtype.lbl"></label>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="item.WashingTypeId"  >
                                                <ui-select-match>
                                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.WashingType | filter: { Text: $select.search }">
                                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="packagerequired" translate="inventory.itemmaster.packagerequired.lbl"></label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" name="packagerequired" class="custom-checkbox" ng-model="item.IsPackingRequired" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"  translate="inventory.itemmaster.packagetype.lbl"></label>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="item.packingTypeId" >
                                                <ui-select-match>
                                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.packingType | filter: { Text: $select.search }">
                                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                   
                                   
                                   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="site-footer panel-footer">
        <!--<button class="btn btn-sm pyr-color10" ng-click="backToList()"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;<span translate="common.backaction.lbl"></span></button>-->
        <div class="footer-right">
            <button type="button" class="draftbutton" ng-click="save()" translate="common.saveaction.lbl"></button>
            <button type="button" class="btn dem-color4 text-white btn-sm" translate="common.saveapprove-action.lbl" ng-click="saveAndApprove()"></button>
            <button id="btnClearForm" type="button" class="btn btn-warning btn-sm" ng-click="clear()" translate="common.clearaction.lbl"></button>
            <!--<button id="btnCancelForm" type="button" class="draftbutton" ng-click="backToList()" translate="common.cancelaction.lbl"></button>-->
        </div>
    </div>
    </form>
</div>
</div>