<style>
    .form-horizontal .form-group {
    height: 80px;
}
</style>
<div class="modal-header custom-modal-header">
    <h4 class="col-sm-11 mt0" translate="billing.drpaymentmodifyform.pagetitle.lbl"></h4>
    <button id="btnCancelForm" style="width: 33px;" type="button" class="col-sm-1 btn btn-danger btn-sm" ng-click="cancelCallback()"
    translate="X"></button>

</div>

<form id="item_form" name="item_form" class="form-horizontal" role="form">

    <div class="bg-pattern">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4 form-group paddingtop">
                    <div class="col-sm-12">
                        <label class="col-sm-12 control-label" translate="billing.drpaymentmodifyform.drname.lbl"></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" disabled="true" ng-model="item.oldDrName"
                                placeholder="">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 form-group">
                    <div class="col-sm-12">
                        <label class="col-sm-12 control-label" translate="billing.drpaymentmodifyform.changedrname.lbl"></label>
                        <div class="col-sm-12">
                            <autosearch controlid="'DoctorId'" itemid="item.DoctorId" iteminfo="" rowdata="" name="'doctor'"
                                config="vm.doctorcontrolconfig" candisable="SaveCompleted" isrequired="false"></autosearch>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 form-group paddingtop">
                    <div class="col-sm-12">
                        <label class="col-sm-12 control-label" translate="billing.drpaymentmodifyform.amount.lbl"></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" disabled="true" ng-model="item.NetAmount"
                                placeholder="">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 form-group paddingtop">
                    <div class="col-sm-12">
                        <label class="col-sm-12 control-label" translate="billing.drpaymentmodifyform.drshare.lbl"></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" ng-model="item.DoctorShare"
                            ng-keypress="numberonly($event)"
                            ng-keyup="DrShareValidation()"
                            placeholder="">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 form-group paddingtop">
                    <div class="col-sm-12">
                        <label class="col-sm-12 control-label" translate="billing.drpaymentmodifyform.remarks.lbl"></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" ng-model="item.Remarks" placeholder="">
                        </div>
                    </div>
                </div>


            </div>


        </div>


        <div class="fooder-bgs">
            <div class="pull-right">
                <div class="col-sm-12">
                    <button id="btnCancelForm" type="button" class="draftbutton" ng-click="saveitem()"
                        translate="common.saveapprove-action.lbl"></button>
                   </div>
            </div>
        </div>
    </div>

</form>