<style>
    strong {
        color: #F44336;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title">{{currentfilter.title}} {{currentfilter.itemname}} {{'['}}
            {{currentfilter.itemcode}} {{']'}}</h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>

<div class="row">
    <!-- <div ui-grid="vm.gridConfig" class="table-uigrid table-uigrid-tab"> -->
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="row">
    <div class="pull-right">
        <div><strong>Total Quantity: {{item.TotalQuantity}}</strong></div>
    </div>
</div>
<!-- <div class="fooder-bg ">
        <div class="pull-right">
            <div class="col-sm-12">
                <button id="btnCancelForm" type="button" class="draftbutton" ng-click="cancelCallback()" translate="common.cancelaction.lbl"></button>
            </div>
        </div>
    </div> -->
</div>