<style>
    .nav-tabs > li > a {padding: 4px 15px;}
</style>
<!-- <div class="row page-header">
<h4 class="active col-sm-12 mt0" translate="dashboard.pagetitle2.lbl"></h4>    
</div> -->
<div class="row">
    <div class="col-sm-12">
         <!-- <uib-tabset active="active">
            <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="switchTab(tab)" disable="tab.canDisable">
            </uib-tab>
            <button class="btn btn-xs btn-default pull-right" style="margin-right:10px;"><span><i class="fa fa-refresh" aria-hidden="true"></i></span></button>
        </uib-tabset> -->
     	<div ui-view></div>
    </div>
</div>
