<link href="api/node_modules/morrisjs/morris.css" rel="stylesheet">
<link href="app/css/dashboard1.css" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="app/js/waves.js"></script>
<style>
    /* .charts {
        width: 206px !important;
        height: 121px !important;
    } */

    .col-md-4.col-sm-12.col-xs-12 .card {
        min-height: 27px !important;
        height: 316px;
    }


    .charts {
        width: 206px !important;
        height: 121px !important;
        position: relative;
        left: 44px;
        margin-top: 60px;
    }

    .card {
        box-shadow: unset;
    }

    /* #bannerdetails tr td:nth-child(odd) {
        background: #ffffff !important;
        color: #080364 !important;
    } */

    td,
    th {
        padding: 0;
        border: unset !IMPORTANT;
        border-bottom: 1px solid #f5f7f9 !important;
    }

    thead tr td span {
        color: black !IMPORTANT;
        font-weight: 600;
    }

    td {
        font-size: 14px;
        color: #1a1919 !important;
        font-weight: 500;
        font-family: Poppins, sans-serif !important;
    }

    .col-md-6.col-lg-6.col-sm-12.col-xs-12 .card-body {
        width: 68%;
        height: 415px;
    }

    .page-wrapper.ng-scope {
        margin-bottom: 140px;
    }

    .layout-fixed.aside-collapsed .col-md-6.col-lg-6.col-sm-12.col-xs-12 .card-body {
        height: 470px !important;
    }

    /* .info_table2.clearfix {
        height: 369px;
    } */

    table#bannerdetails {
        WIDTH: 100%;
    }

    tr.Total {
        /* position: absolute; */
        bottom: 0;
    }

    td.revenue {
        width: 130px;
    }

    /* #bannerdetails tr.Total td.revenue {
        background: #f6abd3 !important;
    } */

    /* .card.section-item {
        height: 40vh;
        overflow: auto;
    } */

    /* table#bannerdetails tbody tr:nth-child(even) {
        background-color: transparent !important;
    } */

    table th {
        padding: 6px !important;
        font-size: 13px;
        font-weight: 700;
        color: #01145f;
        white-space: nowrap;
        text-transform: capitalize;
        font-family: nunito, sans-serif;
        background: #0074d930;
        height: 40px;
    }


    tr.backgroundColor-propertity {
        font-weight: 400;
        white-space: nowrap;
        text-transform: capitalize;
        /* font-family: barlow, sans-serif; */
        /* background: #f6f7f8; */
    }

    tr.backgroundColor-propertity td {
        color: #ff7f57 !important;
        background: #fff0eb;
        font-weight: 700;
    }

    tr.backgroundColor-propertity1:last-child td {
        color: #ff7f57 !important;
        background: #fff0eb;
        font-weight: 700;
    }

    /* ::-webkit-scrollbar-thumb {
        background: #64c5b1;
    } */

    ::-webkit-scrollbar {
        width: 3px;
    }

    .card-box {
        padding: 8px;
        -webkit-transition: .3s ease;
        transition: .5s;
        height: 40vh;
        overflow: auto;
        border: 1px solid #f2f2f2;
        display: inline-block;
        position: relative;
        width: 100%;
        border-radius: 4px;
        color: rgba(0, 0, 0, .87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    }

    .background-color {
        background: #edf1f5;
    }

    .currencyAlign {
        text-align: right;
    }
</style>
<div class="row">
    <div class="background-color">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-7 align-self-center">
                    <h4 class="text-themecolor">Dashboard</h4>
                </div>
                <div class="col-md-5 align-self-center">
                    <!-- <div class="col-sm-6">
                        <div class="datepicker">
                            <input type="text" class="form-control" name="from" datepicker-options="datePickerOptions"
                                show-button-bar="{{datePickerOptions.showButtonBar}}"
                                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" ng-change="LoadDashboard()"
                                placeholder="{{datePickerOptions.placeholder}}"
                                ng-click="fromdatePopup = { opened: true }" is-open="fromdatePopup.opened"
                                ng-model="currentcontext.CurrentDate">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div> -->
                    <div class="col-md-4 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div> 
            <div id="dash-board">
                <div class="col-sm-6 clearfix" style=" margin-top: 18px;">
                   
                    <div class="col-sm-12 col-md-6 col-lg-6 info_table" style=" margin-top: 18px;">
                        <div class="card-box section-item">
                            <table class="card-body" id="bannerdetails">
                                <thead>
                                    <th class="" style="width: 165px;">
                                        <span translate="Referral Doctor"></span>
                                    </th>
                                    <th class="cus-col tbl-header tab2 currencyAlign">
                                        <span translate="OP"></span>
                                    </th>
                                    <th class="cus-col tbl-header tab2 currencyAlign">
                                        <span translate="IP"></span>
                                    </th>
                                    <th class="cus-col tbl-header tab2 currencyAlign">
                                        <span translate="Total"></span>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ref in ReferralDoctor">
                                        <td class="cus-col tbl-header"><span>{{ref.Referral}}</span></td>
                                        <td class="currencyAlign">{{ref.OpCount}}</td>
                                        <td class="currencyAlign">{{ref.IpCount}}</td>
                                        <td class="currencyAlign">{{ref.TotalCount}}</td>
                                    </tr>
                                    <tr class="backgroundColor-propertity">
                                        <td class="cus-col tbl-header cust_total0 ">
                                            Total
                                        </td>
                                        <td class="cus-col tbl-header cust_total0 currencyAlign">
                                            {{TotOP}}
                                        </td>
                                        <td class="cus-col tbl-header cust_total0 currencyAlign">
                                            {{TotIP}}
                                        </td>
                                        <td class="cus-col tbl-header cust_total0 currencyAlign">
                                            {{TotTotCount}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 clearfix" style=" margin-top: 18px;">
                   
                    <div class="col-sm-12 col-md-6 col-lg-6 info_table" style=" margin-top: 18px;">
                        <div class="card-box section-item">
                            <table class="card-body" id="bannerdetails">
                                <thead>
                                    <th class="" style="width: 165px;">
                                        <span translate="Payer Type"></span>
                                    </th>
                                    <th class="cus-col tbl-header tab2 currencyAlign">
                                        <span translate="Payer Name"></span>
                                    </th>
                                    <th class="cus-col tbl-header tab2 currencyAlign">
                                        <span translate="Expiry Date"></span>
                                    </th> 
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ins in Insurance">
                                        <td class="cus-col tbl-header"><span>{{ins.GuarantorType.Description}}</span></td>
                                        <td class="currencyAlign">{{ins.GuarantorName}}</td>
                                        <td class="currencyAlign">{{ins.ContractExpiryDate}}</td> 
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- .row --> 

            <!-- /.row -->
            <!--row --> 
        </div>
        <!-- <div class="fooder-bgs"></div> -->
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctx = document.getElementById('myCharts').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                datasets: [
                    {
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    },
                    {
                        label: '# of Votes',
                        data: [3, 6, 16, 9, 2, 20],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
        });

        var ctx = document.getElementById('myChartmulti').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                datasets: [{
                    label: '# of Votes',
                    data: ["12", 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart - Multi Axis'
                    }
                },
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                    },
                    y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',

                        // grid line settings
                        grid: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    },
                }
            },
        });


        var ctx = document.getElementById('myChartop').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                datasets: [
                    {
                        label: '# of Votes',
                        data: [3, 6, 16, 9, 2, 20],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
        });
    </script>