<link rel="stylesheet" href="style/css/bootstrap.min.css" />
<link rel="stylesheet" href="app/EHR-style/fonts/font-awesome.min.css" />
<link rel="stylesheet" href="app/EHR-style/fonts/font-awesome.min.css" />
<!--<link rel="stylesheet" href="app/EHR-style/css/style.css" />-->
<link rel="stylesheet" href="app/EHR-style/css/timeline.css" />
<link rel="stylesheet" href="app/EHR-style/css/mycustom-progressnotes.css" />
<link rel="stylesheet" href="app/EHR-style/css/bootstrap-responsive.css" />
<!--<script src="app/style/vendor/jquery.min.js"></script>-->
<!--<script src="app/style/js/bootstrap.min.js"></script>-->
<script src="app/EHR-style/js/timeline-min.js"></script>
<!--<script src="app/style/js/swipe.min.js"></script>-->
   <style>
.well {
         background-color: transparent;
	}
	 select {
    width: 228px !important;
}
.body-bg {
    border-right: 5px solid #59aaf7;
    border-left: 5px solid #59aaf7;
    border-top: 5px solid #59aaf7;
    border-bottom: 5px solid #59aaf7 !important;
}
.scr1 {
    height: 511px;
    overflow-y: auto;
    cursor: -webkit-grab;
    position: static;
}
.profile-header1 {
    height: 40px;
    background-color: #75c0d7;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
/*timeline*/
.sub-header{padding:5px;font-size:12px;margin-top:10px; border:1px solid #74a5d5;margin-right:10px;margin-left:10px;
border-radius:5px;color: #636672;}
.sub-title{color:#564e4e;background-color:#90cbef;font-size:14px;margin:-5px -5px 5px -5px;padding:5px;}
#mytimeline h6{margin:0; background-color:#F00; display:inline-block; padding:0 5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;	}
.recentlyViewed li {border-bottom: 1px solid #CCCCCC;list-style: none outside none;}
    .dashboard-div {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(app/img/bg-body.jpg);
        background-repeat: repeat;
        overflow: auto;
        padding-top: 7px;
    }
.panel-footer {
    padding: 0px;
    background-color: #ccecf5;
    border-top: 1px solid #ccecf5;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.formactionbar {
    padding: 5px 15px;
    height: 40px;
    background-color: #ccecf5;}
.page-header{margin-bottom:0px;}

/**********D_M**********/
@media screen and (max-width: 360px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 73px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    .pat_details td.td_age_1 {
    padding-left: 55px !important;
}
.page-header {
    padding-top: 15px !important ;
}
}
@media screen and (max-width: 640px) and (orientation: landscape)
{
.layout-fixed .wrapper>section {
    margin-top: 74px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    td.td_age_1 {
    padding-left: 62px !important;
}

}
@media screen and (max-width: 375px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 75px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    .pat_details td.td_age_1 {
    padding-left: 40px !important;
}
.page-header {
    padding-top: 14px !important;
}
}
@media screen and (max-width: 667px) and (orientation: landscape)
{
.layout-fixed .wrapper>section {
    margin-top: 74px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    td.td_age_1 {
    padding-left: 62px !important;
}
}
@media screen and (max-width: 414px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 74px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: 0px !important;
    background-color: #009ea1;}
    .pat_details td.td_age_1 {
    padding-left: 57px !important;
}
.page-header {
    padding-top: 14px !important;
}
}
@media screen and (max-width: 736px) and (orientation: landscape)
{
.layout-fixed .wrapper>section {
    margin-top: 74px !important;
}
li.custom_logout.dropdown.dropdown-list.custom-li.logout_color{position: relative;
    top: -9px !important;
    background-color: #009ea1;}
    td.td_age_1 {
    padding-left: 49px !important;
}
}
@media screen and (max-width: 768px) and (orientation: portrait)
{
.layout-fixed .wrapper>section {
    margin-top: 62px !important;
}
.pat_details td.td_age_1 {
    padding-left: 44px !important;
}
td.td_age.ng-binding {
    padding-left: 19px !important;
}
}
@media screen and (max-width:320px) and (orientation:portrait){.pat_details td.td_age_1 {
   padding-left: 12px !important; 
}}
@media screen and (max-width: 360px) and (orientation: portrait)
{
.pat_details td.td_age_1 {
    padding-left: 42px !important;
}}
@media screen and (max-width: 320px) and (orientation: portrait)
{
.pat_details td.td_age_1 {
    padding-left: 14px !important;
}}
/************custom_nav*****/
.wrapper{overflow: auto;}
  </style>
</style>
<div class="row page-header">
        <h4 class="col-sm-12 mt0" translate="Dashboard" style="width:50%; display: block;float: left"></h4>
        <button type="button" class="btn bt-color2 btn-xs pull-right back_but">
        <a href="/www/index.html#/patientportal/patientportal/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;<span class="ng-scope">Back</span></a>
      </button>
    </div>
<!--new-->
<div class="container-fluid">
  <div class="">
    <div class="col-sm-9">
        <div class="col-sm-8">
      <div class="sub-header">
                                <div class="sub-title"><strong>Vitals</strong></div>
                                <table class="application-table table-striped table-bordered">
                                    <thead class="bg-subhead">
                                        <!--TABLE HEADING -->
                                        <tr>
                                            <th><input class="custom-checkbox select-all invisible" type="checkbox" /><span class="valign-top">&nbsp;Date</span>
                                                <th class="text-center">Height
                                                    <th class="text-center">Weight
                                                        <th class="text-center">BMI
                                                            <th class="text-center"><span class="visible-md-block visible-lg-block">Temperature</span>
                                                                <span class="visible-sm-block visible-xs-block">Temp</span>
                                                            </th>
                                                            <th class="text-center">Pulse Rate</tr>
                                    </thead>
                                    <tbody>
                                        <!--TABLE CONTENT-->
                                        <tr>
                                            <td><span class="visible-md-block visible-lg-block"><input name="check[]" class="custom-checkbox invisible" type="checkbox"/><span class="valign-top">&nbsp;15-Sep-2016 , 10:00 AM</span></span>
                                                <span class="visible-xs-block visible-sm-block"><input class="custom-checkbox" type="checkbox" /><span class="valign-top">&nbsp;15-Sep-2016</span></span>
                                            </td>
                                            <td class="text-center">5'8" ft/in</td>
                                            <td class="text-center">150 lbs</td>
                                            <td class="text-center">24.30 kg/m<sup>2</sup></td>
                                            <td class="text-center">101<sup>o</sup> F</td>
                                            <td class="text-center">72 beats/min</td>
                                        </tr>
                                        <tr>
                                            <td><span class="visible-md-block visible-lg-block"><input name="check[]" class="custom-checkbox invisible" type="checkbox"/><span class="valign-top">&nbsp;15-Sep-2016 , 10:00 AM</span></span>
                                                <span class="visible-xs-block visible-sm-block"><input class="custom-checkbox" type="checkbox" /><span class="valign-top">&nbsp;15-Sep-2016</span></span>
                                            </td>
                                            <td class="text-center">5'8" ft/in</td>
                                            <td class="text-center">150 lbs</td>
                                            <td class="text-center">24.30 kg/m<sup>2</sup></td>
                                            <td class="text-center">101<sup>o</sup> F</td>
                                            <td class="text-center">72 beats/min</td>
                                        </tr>
                                        <tr>
                                            <td><span class="visible-md-block visible-lg-block"><input name="check[]" class="custom-checkbox invisible" type="checkbox"/><span class="valign-top">&nbsp;15-Sep-2016 , 10:00 AM</span></span>
                                                <span class="visible-xs-block visible-sm-block"><input class="custom-checkbox" type="checkbox" /><span class="valign-top">&nbsp;15-Sep-2016</span></span>
                                            </td>
                                            <td class="text-center">5'8" ft/in</td>
                                            <td class="text-center">150 lbs</td>
                                            <td class="text-center">24.30 kg/m<sup>2</sup></td>
                                            <td class="text-center">101<sup>o</sup> F</td>
                                            <td class="text-center">72 beats/min</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--sub-header-->
                           </div> 
                           <div class="col-sm-12">
                               <div class="sub-header">
                                <div class="sub-title"><strong>Timeline's</strong></div>
                                <div id="mytimeline">
                                    <div data-spy="scroll" data-target=".navbar">
                                        <div class="container">
                                            <div class="navbar-affix" style="z-index:500">
                                                <div class="well well-small">
                                                    <div class="btn-group pull-left">
                                                        <a class="btn btn-small btn-success" href="javascript:;" onClick="goBack()" rel="external"><i class="icon-chevron-left"></i> Back to Notes</a>
                                                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                                                             <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu recentlyViewed">
                                                            <li><a href="#"><i class="icon-time"></i> Aug 31, 2012 19:23 / <strong>Dr. Vincent Hawkes</strong><br><span class="label label-warning">Fever</span></a></li>
                                                            <li><a href="#"><i class="icon-time"></i> Aug 31, 2012 19:23 / <strong>Dr. Vincent Hawkes</strong><br><span class="label label-warning">General Visit</span></a></li>
                                                            <li><a href="#"><i class="icon-time"></i> Aug 31, 2012 19:23 / <strong>Dr. Vincent Hawkes</strong><br><span class="label label-warning">Fever</span></a></li>
                                                            <li><a href="#"><i class="icon-time"></i> Aug 31, 2012 19:23 / <strong>Dr. Vincent Hawkes</strong><br><span class="label label-warning">Fever</span></a></li>
                                                            <li><a href="#"><i class="icon-time"></i> Aug 31, 2012 19:23 / <strong>Dr. Vincent Hawkes</strong><br><span class="label label-warning">Fever</span></a></li>
                                                        </ul>
                                                    </div>&nbsp;
                                                    <!-- <a href="#" class="dropdown-toggle title-dropmenu-large">100647 / Steve Williams / 62y / M</a>&nbsp;&nbsp;    -->
                                                    <div class="dropdown pull-right">
                                                        <a class="btn btn-small" title="Quick Notes"><i class="icon-list-alt"></i></a>&nbsp;&nbsp;
                                                        <a class="dropdown-toggle title-dropmenu" data-toggle="dropdown" href="#">More<span class="caret"></span></a>&nbsp;&nbsp;
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <li><a href="#">Manage Profiles</a></li>
                                                            <li><a href="#">Current Note Settings</a></li>
                                                            <li><a href="#">Save Current note settings as profile</a></li>
                                                        </ul>
                                                   </div>
                                                </div>
                                                <!--//WELL-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="sub-header">
                                <div class="sub-title"><strong>Pending Orders</strong></div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">780.60</div>
                                    <div class="col-md-4">Fever Unspecified</div>
                                    <div class="col-md-4"><span class="text-highlight4">&nbsp;Undefined&nbsp;</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">493.82</div>
                                    <div class="col-md-4">Cough Variant</div>
                                    <div class="col-xs-4"><span class="text-highlight3">&nbsp;Active&nbsp;</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">780.60</div>
                                    <div class="col-md-4">Fever Unspecified</div>
                                    <div class="col-xs-4"><span class="text-highlight2">Undefined</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="sub-header">
                                <div class="sub-title"><strong>Alert's</strong></div>
                                <p style="text-align:center;font-size:14px;color:#f70065;">
                                    <h5 style="color:#c100ff;"><b>Making Payments is now easier than ever before.</b></h5>Use our online gateway payment to make payment to our Hospital.</br>"Stay Connected For
                                    all the latest events here at
                                    <a href=# ">Gloomsoft.</a>"</p>

                            </div>
                        </div>
                    </div>
    </div><!--col-sm-9>-->

    <div class="col-sm-3 sidenav od_dashbrd_imgg">
      <div class="row">
                        <div class="col-xs-12">
                            <p>
                                <a href="#"><img src="app/EHR-style/assets/add.jpg" width="200px" class="img-responsive pull-right" /></a>
                            </p>
                        </div>
                    </div>
                    <div clas="col-xs-12">
                            <p>
                                <a href="#"><img src="app/EHR-style/assets/add2.jpg" width="200px" class="img-responsive pull-right" /></a>
                            </p>
                        </div>
    </div><!--col-sm-3-->
  </div>
</div>
<!--end-->


<script>
    var timeline;
        var data;
        // Called when the Visualization API is loaded.
        function drawVisualization() {
            // Create a JSON data table
            data = [
					{
                    'start': new Date(2016,6,5), 'end': new Date(2017,2,5),
                    'content': '<h6>Malaria</h6>'
                },
				{
                    'start': new Date(2016,6,5),
                    'content': '<h6>Heart Surgery</h6> <br>Initial Visit - Heart Surgery <a href="progressnotes_gynec.html" class="label label-inverse">View</a>'
                },
				{
                    'start': new Date(2016,9,5),
                    'content': '<h6>General Surgery</h6> <br>Visit - First Trimester<a href="progressnotes_gynec.html" class="label label-inverse">View</a>'
                },
				{
                    'start': new Date(2016,0,5),
                    'content': '<h6>Pregnancy</h6> <br>Visit - Second Trimester <a href="progressnotes_gynec.html" class="label label-inverse">View</a>'
                },
                /*{
                    'start': new Date(2012,7,23,23,0,0),
                    'content': 'Lab Order <a href="#" class="label label-inverse">View</a><br><small>by Dr. Tommy Jones</small>'
                },
                {
                    'start': new Date(2012,7,24,16,0,0),
                    'content': 'Appointment<br><small>with Dr. Sharon Williams</small>'
                },
                {
                    'start': new Date(2012,7,26),
                    'content': 'Lab Result <a href="#" class="label label-inverse">View</a>'
                },
                {
                    'start': new Date(2012,7,28),
                    'content': 'Appointment<br><small>with Dr. Amy Davidson</small>'
                },
                {
                    'start': new Date(2012,7,29),
                    'content': 'Appointment Reminder Sent <a href="#" class="label label-inverse">View</a>'
                },
                {
                    'start': new Date(2012,7,29),
                    'content': 'Rx Refill<br><small>by Dr. Tommy Jones</small>'
                },
                {
                    'start': new Date(2012,8,4,12,0,0),
                    'content': 'Visit - Fever <a href="progressnotes.html" class="label label-inverse">View</a><br><small>Dr. Tommy Jones</small>'
                }*/
            ];
            // specify options
            var options = {
                'width':  '100%',
                'height': '300px',
                'editable': false,   // enable dragging and editing events
                'style': 'box',
				'showMajorLabels': 'true',
				showNavigation: true,
				animate: true,
            };
            // Instantiate our timeline object.
            timeline = new links.Timeline(document.getElementById('mytimeline'));
            function onRangeChanged(properties) {
                document.getElementById('info').innerHTML += 'rangechanged ' +
                        properties.start + ' - ' + properties.end + '<br>';
            }
            // attach an event listener using the links events handler
            links.events.addListener(timeline, 'rangechanged', onRangeChanged);
            // Draw our timeline with the created data and options
            timeline.draw(data, options);
        }
		
$(document).ready(function(){
    
    //invoke show_browse
    drawVisualization();
});

</script>