<div class="modal-header custom-modal-header">
    <div class="col-sm-12">
        <h4 class="mt0 col-sm-12 active" translate="lis.testmasteranalytemap.pnltestmasteranalytemap.lbl"></h4>
    </div>
</div>
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="form-group col-sm-4">
            <label class="col-sm-7 col-md-5 control-label" translate="lis.testmasteranalytemap.analyteId.lbl"></label>
            <div class="col-sm-5 col-md-7">
                <ui-select ng-model="item.AnalyteId" on-select="onAnalyteSelected($select.selected)">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.TestOrAnalyteMaster | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-7 col-md-5 control-label"
                translate="lis.testmasteranalytemap.testanalytename.lbl"></label>
            <div class="col-sm-5 col-md-7">
                <input type="text" class="form-control" name="TestAnalyteName" ng-model="item.TestAnalyteName"
                    placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-7 col-md-5 control-label" translate="lis.testmasteranalytemap.displayid.lbl"></label>
            <div class="col-sm-5 col-md-7">
                <input type="text" class="form-control" name="DisplayID" ng-model="item.DisplayID" placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-7 col-md-5 control-label" translate="lis.testmasteranalytemap.mnemonics.lbl"></label>
            <div class="col-sm-5 col-md-7">
                <input type="text" class="form-control" name="Mnemonics" ng-model="item.Mnemonics" placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <div class="col-sm-12">

                <label class="col-sm-7 col-md-5 control-label"
                    translate="lis.testmasteranalytemap.ismanditory.lbl"></label>
                <div class="col-sm-5 col-md-7">
                    <div class="row col-sm-2">
                        <input type="checkbox" name="IsManditory" class="custom-checkbox" ng-model="item.IsManditory">
                    </div>

                    <div class="col-sm-10">
                        <label class="col-sm-9 control-label"
                            translate="lis.testmasteranalytemap.excludefromprint.lbl"></label>
                        <div class="col-sm-2">
                            <input type="checkbox" name="Excludefromprint" class="custom-checkbox"
                                ng-model="item.Excludefromprint">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-7 col-md-5 control-label" translate="lis.testmasteranalytemap.loinccode.lbl"></label>
            <div class="col-sm-5 col-md-7">
                <input type="text" class="form-control" name="Loinccode" ng-model="item.Loinccode" placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-7 col-md-5 control-label" translate="lis.testmasteranalytemap.loincname.lbl"></label>
            <div class="col-sm-5 col-md-7">
                <input type="text" class="form-control" name="Loincname" ng-model="item.Loincname" placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-7 col-md-5 control-label" translate="lis.testmasteranalytemap.methodology.lbl"></label>
            <div class="col-sm-5 col-md-7">
                <input type="text" class="form-control" name="Methodology" ng-model="item.Methodology" placeholder="">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-7 col-md-5 control-label" for="isactive"
                translate="clinicalmaster.allergy-form.isactive.lbl"></label>
            <div class="col-sm-5 col-md-7">
                <input type="checkbox" name="isactive" class="custom-checkbox" ng-model="item.IsActive">
            </div>
        </div>
    </form>
</div>

<div class="fooder-bgs">
    <div class="row">
        <div class="footer-right">
            <button type="button" class="draftbutton" ng-click="save()"
                translate="common.saveaction.lbl"></button>
            <button type="button" class="draftbutton text-white btn-sm" translate="common.saveapprove-action.lbl"
                ng-click="saveAndApprove()"></button>
            <button id="btnClearForm" type="button" class="btn btn-warning btn-sm" ng-click="clear()"
                translate="common.clearaction.lbl"></button>
            <button id="btnCancelForm" type="button" class="draftbutton" ng-click="backToList()"
                translate="common.cancelaction.lbl"></button>
        </div>
    </div>
</div>