<style>
    .td-action {
        text-align: right !important;
    }

    .lnk-portlet-action {
        margin-left: 10px !important;
        text-decoration: none;
    }

    .lnk-portlet-header-action {
        margin-left: 15px !important;
        color: white;
    }

    .dashboard-div {
        overflow: auto !important;
    }

    .portlet-panel-heading {
        height: 25px !important;
        padding: 2px 10px !important;
        background: #52cccc !important !important;
    }

    .portlet-tr td {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .portlet-panel-body {
        overflow: auto !important;
        overflow-y: scroll;
        min-height: 89px;
        margin-bottom: 8px;
        margin-top: 8px;
        padding: 1px 6px !important;
    }
    /* new style */

    .panel-primary .panel-heading,
    .partition-primary .panel-heading {
        background-color: #23b7e5;
    }

    .panel-body-bg .panel-white,
    .partition-white {
        background-color: #ffffff;
        position: relative;
        color: #5b5b60;
        border: 1px solid rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.34);
        box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.34);
    }

    .panel {
        margin-bottom: 10px;
        box-shadow: 1px -1px 12px -3px rgba(109, 98, 98, 0.5);
    }

    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        border-bottom: 2px solid #fff !important;
        /* color: #5b5b60 !important; */
        border-top: none;
    }

    .page-header {
        padding-top: 4px;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .table>tbody>tr>td {
        padding: 0px 5px !important;
        border-bottom: 1px solid #e2e2e4;
        line-height: 1.228571;
    }

    .table td {
        background: #f3f0f1;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f0f1', endColorstr='#eeeeee', GradientType=0);
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        position: relative;
    }

    

    .table td:last-child {
        border-top-right-radius: 9px;
        border-bottom-right-radius: 10px;
        border-right: none;
    }

    .table td:last-child:before {
        width: 0px;
    }

    .table td:before {
        content: '';
        width: 1px;
        background: #e2e2e4;
        right: 0;
        top: 5px;
        bottom: 5px;
        position: absolute;
    }

    .btn-rounded {
        width: 17px;
        height: 17px;
        text-align: center;
        padding: 0px 2px;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 3px;
    }

    .btn-circle {
        /*width: 17px;
    height: 17px;*/
        text-align: center;
        padding: 1px 2px;
        font-size: 12px;
        line-height: 1.428571429;
        padding: 1px 2px;
        color: #ccc !important;
        background-color: #000000 !important;
    }

    .dashboard-div {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(app/img/bg-body.jpg);
        background-repeat: repeat;
        overflow: auto;
        padding-top: 7px;
    }

    .panel-footer {
        padding: 0px;
        background-color: #ccecf5;
        border-top: 1px solid #ccecf5;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .formactionbar {
        padding: 5px 15px;
        height: 40px;
        background-color: #ccecf5;
    }
    /* new style */
	    .col-xs-10.col-sm-6.col-md-6.col-lg-6.nav_cus_cont.name_width{font-size: 12px;}
    @media screen and (max-width:768px){li.dropdown.dropdown-list.custom-li.cust_logout{top:0px !important;}
    .dashboard-div .col-md-12{padding:0px;}
    }
    .panel-info > .panel-heading{
    background: #553ce487;
}
.lefcol1{
          /* color:#FF01A8 !important; */
          color:#9c9595 !important;
          font-weight:bolder;
      }
      .lefcol2{
          /* color:#0000ff; */
          color:#007cff;
          font-weight:bolder;
      }
      .lefcol3{
          /* color:#097909; */
          color:#da5809;
          font-weight:bolder;
      }
      .lefcol4{
          color:rgb(9, 82, 82);
          font-weight: 700;
      }
      .lefcol5{
          color:#808000;
          font-weight: 500;
      }
      .lefcol6{
          color: #2f4f4f;
          font-weight: 500;
      }
      .lefcol7{
          background:rgb(232, 136, 17);
          color: #fff;
      }
      .lefcol8{
          color: #0a1358;
          font-weight: 500;
      } 
      strong.ng-scope {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
.panel-body.portlet-panel-body {
    background: url(app/img/bg-body.jpg);
   height:120px;
}
i.fa.fa-angle-down{
    font-size: 24px;
}
.lefcol1,.lefcol2,.lefcol3{width:28%;}
.lefcol4{width:40%;}
tr.portlet-tr.ng-scope {
    height: 30px;
}
.unit{color:#000 !important;}
.portlet-panel-heading {
    height: 30px !important;
    padding: 7px 20px !important;
}
</style>
<div id="emrdashboard">
    <div class="row page-header">
        <div class="col-sm-12">
            <h4 class="col-sm-6 col-md-6 page-header mt0" translate="patientemr.ipdashboard.pagetitle.lbl"></h4>
            <!-- <button class="btn btn-xs pull-right btn-filter" ng-click="collapsed=true"  ng-click="addNew()" id="portal_collapse"  style="background:#6fb944;" uib-tooltip="" tooltip-placement="bottom"><i class="fa fa-" aria-hidden="true"></i>&nbsp;&nbsp;<span translate="" class="ng-scope"><span class="ng-scope">Collapse All</span></span></button>
            <button class="btn btn-xs pull-right btn-filter" ng-click="collapsed=false" ng-click="addNew1()" id="portal_expand"  style="background:rgba(10, 140, 216, 0.83);" uib-tooltip="" tooltip-placement="bottom"><i class="fa fa-" aria-hidden="true"></i>&nbsp;&nbsp;<span translate="" class="ng-scope"><span class="ng-scope">Expand All</span></span></button> -->
        </div>
    </div>
    <div class=" dashboard-div">
        <div class="col-md-12">
            <div ng-repeat="section in sections" class="col-sm-12 col-md-12 col-lg-12" ng-include="section.tmpl"></div>
        </div>
    </div>
</div>
