<style>
.pager-div{float:right; right:0; box-sizing: border-box;position: fixed;box-sizing: border-box;}
</style>
<div class="row page-header">
<h4 class="col-sm-6 mt0" translate="lis.externalproviders.pagetitle.lbl"></h4>
<div class="col-sm-6">
    <button class="btn bt-color3 btn-xs pull-right btn-filter" ng-click="" uib-tooltip="{{'clinicalmaster.serviceitem-list.filter-tooltip.lbl' | translate }}" 
    tooltip-placement="bottom"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;<span translate="clinicalmaster.serviceitem-list.filter.lbl"></button>
    <button class="btn-add" ng-click="addNew()"uib-tooltip="{{ 'lis.externalprovider.addnew-tooltip.lbl' | translate }}" tooltip-placement="bottom">
                        <i class="fa fa-plus" aria-hidden="true"></i><span translate="lis.containertypes.addnew.lbl"></span></button>
</div>
</div>
  <div class="row filter-area">
        <div class="col-sm-12">  
               <div class="col-sm-4 col-md-4">
                    <label class="col-sm-6 col-md-5 control-label filter-lbl tex-right" translate="lis.externalproviders.aliasname.lbl"></label>
                    <div class="col-sm-6 col-md-6 input-group"><div class="input-group-addon"><i class="fas fa-search" aria-hidden="true"></i></div>
                        <input type="text" class="form-control" autofocus on-enter="getList()" ng-model="currentfilter.codemnemonicsnamedesc" translate translate-attr-placeholder="lis.externalproviders.aliasname.lbl">
                    </div>                    
                </div>  
                <div class="col-sm-4 col-md-4">
                    <label class="col-sm-6 col-md-5 control-label tex-right filter-lbl" translate="lis.externalproviders.aliascode.lbl"></label>
                    <div class="col-sm-6 col-md-6 input-group"><div class="input-group-addon"><i class="fas fa-search" aria-hidden="true"></i></div>
                        <input type="text" class="form-control" autofocus on-enter="getList()" ng-model="" translate translate-attr-placeholder="lis.externalproviders.aliascode.lbl">
                    </div>                    
                </div> 
                <div class="col-sm-4">
                    <label class="col-sm-6 col-md-5 control-label tex-right filter-lbl" translate="lis.ticksheetmasters.status.lbl"></label> 
                    <div class="col-sm-6 col-md-6"> 
                      <ui-select ng-model="currentfilter.ActiveStatusId" ng-change="getList()" class="filter-combo">
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 8 : 0}}
                                <span ng-if="$select.selected.Text.length>8">...</span>
                            </ui-select-match>
                            <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select> 
                    </div>                    
                </div>
                

               <!-- <div class="col-sm-2">
                    <button class="btn btn-default btn-sm pull-right" ng-click="addNew()" uib-tooltip="Add New Container Type" tooltip-placement="left">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <!--
                    <button class="btn btn-default btn-sm pull-right btn-filter">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </button>
                   
                </div> --> 
        </div>
</div>

<div class="container-fluid single-filter">    
    <div ui-grid="vm.gridConfig" class="table-uigrid height-control"></div>
    <div class="fooder-bgs">
     <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
        ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>