<style>
    .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
        outline: 0;
        margin: 0 3px 3px 0;
        color: #0073bc;
        background: transparent;
    }

    .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
        font-size: 1.6em;
        color: #0073bc;
        line-height: 1;
        opacity: 1;
        background: transparent;
    }

    .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
        background-color: transparent !important;
        border: none !important;
        outline: none;
    }
    .ui-select-multiple {
    height: auto !important;
}
</style>
<div class="row">
    <div class="col-sm-12">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <div class="panel panel-default">
                <div class="form-group">
                    <label class="col-sm-12 control-label"
                        translate="inventory.itemmasterstoremapping.stores.lbl"></label>
                    <div class="col-sm-8">
                        <ui-select multiple ng-model="item.map" class="ui-select-multiple" ng-map-control
                            pivot-prop="ItemMasterId" map-prop="StoreMasterId" pivot-prop-val="{{currentcontext.id}}">
                            <ui-select-match>{{$item.StoreName }}</ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.StoreMaster | filter: { StoreName: $select.search }">
                                <div ng-bind-html="lookupitem.StoreName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="fooder-bgs">
                <div class="pull-right">
                    <button type="button" class="draftbutton" ng-click="saveItem()"
                        translate="common.saveaction.lbl"></button>
                    <!-- <button type="button" class="darftbutton" translate="common.saveapprove-action.lbl" ng-click="saveAndApprove()"></button> -->
                    <!-- <button id="btnClearForm" type="button" class="btn btn-warning btn-sm" ng-click="clear()" translate="common.clearaction.lbl"></button>
                    <button id="btnCancelForm" type="button" class="draftbutton" ng-click="backToList()" translate="common.cancelaction.lbl"></button>						 -->
                </div>
            </div>
        </form>
    </div>
</div>