<style>
    #btnAddMember {
        margin-left: 15px;
        margin-top: -12px;
    }

    .panel-body {
        padding: 15px;
        margin-left: 0px;
        margin-top: -53px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: unset !important;
        background-repeat: repeat;
        overflow: auto;
    }

    .modal-content .panel-body {
        overflow: inherit;
    }

    /* .table-uigrid-members {
        height: 200px !important;
    } */

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 0px;
        border: 1px solid #ededed;
        border-radius: 0px;
        background: rgb(233, 246, 253);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(233, 246, 253, 1) 0%, rgba(211, 238, 251, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(233, 246, 253, 1) 0%, rgba(211, 238, 251, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, rgb(247, 252, 253) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e9f6fd', endColorstr='#d3eefb', GradientType=0);
        /* IE6-9 */
        box-shadow: 4px 2px 13px -7px rgba(0, 0, 0, 0.75);
    }

    .formactionbar {
        padding: 5px 15px;
        height: 40px;
        background-color: #ccecf5;
    }

    .custom-modal-header {
        margin-bottom: 10px;
        color: #000;
    }


    .modal-header {
        padding: 4px 10px;
        /* border-bottom: 1px solid #e5e5e5; */
        border: unset !important;
    }

    .grid-root {
        padding-right: 0px;
        padding-left: 0px;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 19px;
        color: inherit;
    }

    .modal-header.custom-modal-header.ng-scope {
        /* background-color: #6390a742; */
        /* margin-bottom: 20px !important;
        padding: 10px; */
    }

    span.btn.btn-default.form-control.ui-select-toggle {
        height: 32px !important;
        padding: 8px;
        border-radius: 2px !important;
    }

    /* h3.panel-title.ng-scope span,
    h4.panel-title.ng-scope span {
        color: #0b541c !important;

    } */

    .formactionbar {
        padding: 5px 15px;
        height: 50px;
        margin-bottom: 0px;
        margin-top: 20px;
        background-color: #d6e2e8 !important;
    }

    script#customPopupTemplate.html+.autosearch-div {

        width: 50% !important;
        float: right;
        padding-bottom: 7px;
    }

    body.layout-fixed.aside-collapsed autosearch.ng-isolate-scope {
        border: none !important;
        width: 50%;
        box-sizing: unset !important;
        float: right;
    }

    .form-group label {
        color: #3a3f51;
    }

    .form-group {
        height: 72px;
    }



    /*  .form-group label span {
        color: #333;
        font-family: 'Rubik', sans-serif !important;
        font-weight: 300 !important; 
        font-size: 13px;
    }*/
</style>
<div class="modal-header">
    <h4 class="col-sm-10 modal-title custom-modal-title" translate="assetmanagement.assettransfer.managegatepass.lbl">
    </h4>
    <div class="col-sm-2">
        <!-- <button id="btnCancelForm" type="button" class="draftbutton" style="float: right;" ng-click="backToList()" translate="X"></button> -->
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <div class="col-sm-12">
                <div class="col-sm-12 page-header">
                    <div class="col-sm-3" style="padding: 0px 15px !important;margin-left: 15px; ">
                        <h3 class="panel-title" translate="assetmanagement.assettransfer.pnlassetinformation.lbl"></h3>
                    </div>

                    <!-- <div class="col-sm-9">
                        <autosearch itemid="item.AssetId" iteminfo="item.selecteditem" rowdata=""
                            config="vm.assettransfercontrolconfig" itemchange="getList()" placeholder="'Asset'" style="width: 50%;padding-bottom: 5px;">
                        </autosearch>
                    </div> -->
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Search"></label>
                            <autosearch itemid="item.AssetId" iteminfo="item.selecteditem" rowdata=""
                                config="vm.assettransfercontrolconfig" itemchange="" placeholder="'Asset'">
                            </autosearch>
                            <!-- <input type="text" class="form-control" name="type" ng-model="item.AssetTypeId"
                                    placeholder="Asset Type" disabled> -->
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Type"></label>
                            <ui-select ng-model="item.AssetTypeId" ng-disabled="true">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 10 : 0}}
                                    <span ng-if="$select.selected.Text.length>10">...</span>
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="lookupitem.Id as lookupitem in lookup.AssetType | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Department"></label>
                            <ui-select ng-model="item.DepartmentId" ng-disabled="true">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 10 : 0}}
                                    <span ng-if="$select.selected.Text.length>10">...</span>
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="lookupitem.Id as lookupitem in lookup.Department | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-bottom: 20px !important;">
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Asset Name"></label>
                            <input type="text" class="form-control" name="type" ng-model="item.AssetName"
                                placeholder="Asset Type" disabled>
                            <!-- <input type="text" class="form-control" name="name" ng-model="item.Serial" placeholder="Serial Number" disabled> -->
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Serial Number"></label>
                            <input type="text" class="form-control" name="name" ng-model="item.SerialNo"
                                placeholder="Serial Number" disabled>

                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Model Number"></label>
                            <input type="text" class="form-control" name="name" ng-model="item.ModelNo"
                                placeholder="Model Number" disabled>

                            <!-- <input type="text" class="form-control" name="name" ng-model="item.ModelNum" placeholder="Model Number" disabled> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="page-header" style="padding: 0px 15px !important;margin-left: 15px !important; ">
                    <h3 class="panel-title" translate="Gate Pass"></h3>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Get Pass Type"></label>
                            <ui-select ng-model="item.GatePassTypeId">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="lookupitem.Id as lookupitem in lookup.GatePassType | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Company"></label>
                            <ui-select ng-model="item.FacilityId" placeholder="Company">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="lookupitem.Id as lookupitem in lookup.Company | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Gate Pass purpose"></label>
                            <input type="text" class="form-control" name="type" ng-model="item.GatePassPurpose"
                                placeholder="Gatepass Purpose">
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Dispose By"></label>
                            <ui-select ng-model="item.DisposedBy">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="lookupitem.Id as lookupitem in lookup.User | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- rightpanel -->
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Dispatch Type"></label>
                            <ui-select ng-model="item.DispatchedTypeId">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="lookupitem.Id as lookupitem in lookup.DispatchedType | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Vendor Name"></label>
                            <ui-select ng-model="item.VendorId">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="lookupitem.Id as lookupitem in lookup.VendorMaster | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Date"></label>
                            <input type="text" class="form-control" name="GRNdate" ng-date-object
                                uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                                placeholder="{{datePickerOptions.placeholder}}" ng-click="grnPopup = { opened: true }"
                                is-open="grnPopup.opened" ng-model="item.GatePassDate">
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <label translate="Approved By"></label>
                            <ui-select ng-model="item.ApprovedBy">
                                <ui-select-match>
                                    {{$select.selected.Text | limitTo : 20 : 0}}
                                    <span ng-if="$select.selected.Text.length>20">...</span>
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="lookupitem.Id as lookupitem in lookup.User | filter: { Text: $select.search }">
                                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="footer-bgs" style="margin-bottom: 140px !important;">
        <div class="pull-right">
            <button type="submit" class="draftbutton" ng-click="save()" translate="Submit"></button>
            <!-- <button type="button" class="btn dem-color4 text-white btn-sm" translate="common.saveapprove-action.lbl" ng-click="saveAndApprove()"></button> -->
        </div>
    </div>
</div>