<style>
    .form-group {
        height: 62px;
    }
</style>
<div class="row">
    <div class="col-sm-9">
        <h4 translate="billing.claimprocess.pagetitle.lbl"></h4>
    </div>
    <div class="col-sm-3">
        <div class="filters">
            <div class="search">
                <input type="text" id="pid" class="form-control" on-enter="getList()" ng-model="currentfilter.BatchNo"
                    placeholder="Batch No.">
                <div class="drhms-search-icon"><i class="fas fa-search" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-2">
        <label class="col-sm-12 control-lable" translate="billing.claimprocess.namemrn.lbl"></label>
        <div class="col-sm-12">
            <ui-select ng-model="currentfilter.FacilityId" ng-change="getList()" class="filter-combo"
                ng-disabled="true">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 25 : 0}}
                    <span ng-if="$select.selected.Text.length>25">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group col-sm-2">
        <label class="col-sm-12 control-lable" translate="billing.claimsubmission-list.fromdate.lbl"></label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="from" ng-change="getList()"
                datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                ng-click="fromdatePopup = { opened: true }" is-open="fromdatePopup.opened"
                ng-model="currentfilter.FromDate">
        </div>
    </div>
    <div class="form-group col-sm-2">
        <label class="col-sm-12 control-lable" translate="billing.claimsubmission-list.todate.lbl"></label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="to" ng-change="getList()"
                datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                uib-datepicker-popup="{{datePickerOptions.dateFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                ng-click="todatePopup = { opened: true }" is-open="todatePopup.opened" ng-model="currentfilter.ToDate">
        </div>
    </div>
    <div class="form-group col-sm-2">
        <label class="col-sm-12 control-lable" translate="billing.claimprocess.insurancename.lbl"></label>
        <div class="col-sm-12">
            <ui-select ng-model="currentfilter.GuarantorId" ng-change="getList()" class="filter-combo">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 25 : 0}}
                    <span ng-if="$select.selected.Text.length>25">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.Guarantor | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group col-sm-2">
        <label class="col-sm-12 control-lable" translate="billing.claimsubmission-list.status.lbl"></label>
        <div class="col-sm-12">
            <multiselectchk list="lookup.ClaimSubmissionStatus" selected="currentfilter.ClaimSubmissionStatusId"
                change="getList()"></multiselectchk>
        </div>
    </div>
</div>
<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>