<style>
    .patientprofile-img {
        width: 70px !important;
        height: 70px !important;
    }

    .panel-body .well {
        height: 300px;
    }

    .fullreg-profiles2 {
        min-height: 22px;
        color: #fff;
        background: -moz-linear-gradient(top, #fff 0, #f3f3f3 50%, #ededed 100%, #fff 100%);
        -moz-box-shadow: 7px 5px 15px -9px rgba(0, 0, 0, .75);
        box-shadow: 7px 5px 15px -9px rgba(0, 0, 0, .75);
        background: url(app/img/header-bg.jpg) repeat-x left top;
    }

    .custom-modal-header {
        padding: 0px 7px !important;
    }

    .custom-modal-header {
        padding: 0px 11px;
    }

    .custom-modal-header h4 {
        margin: 4px 0px;
        font-size: 14px;
    }

    .panel-body .well {
        padding: 0px 19px !important;
    }

    .panel {
        margin-bottom: 0;
    }

    .top {
        margin: 4px !important;
    }
</style>

<div class="modal-header custom-modal-header">
    <h4 class="col-sm-6" translate="billing.dispatch-detail.pagetitle.lbl"></h4>
    <div class="col-sm-6">
            <div class="filters">
                <img src="../../../../../assets/svg/close.svg"  ng-click="cancelCallback()">
            </div>
        </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <div class="panel panel-default">
                <div class="panel-body form-panel">
                    <div class="col-sm-12">
                        <!-- leftpanel -->
                        <div class="">
                            <div class="col-sm-6 form-group">
                                <label class="col-sm-12 control-label" for="submittedon" translate="billing.dispatch-detail.submittedon.lbl"></label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="submittedon" datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                                        datetime-picker="{{datePickerOptions.dateTimeFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                                        ng-click="submitedonPopup = { opened: true }" is-open="submitedonPopup.opened" ng-model="item.SubmittedOn"
                                        required>
                                </div>

                            </div>
                            <div class="col-sm-6 form-group">
                                <label class="col-sm-12 control-label" for="dispatchedon" translate="billing.dispatch-detail.dispatchedon.lbl"></label>
                                <div class="col-sm-12">
                                        <input type="text" class="form-control" name="dispatchedon" datepicker-options="datePickerOptions" show-button-bar="{{datePickerOptions.showButtonBar}}"
                                        datetime-picker="{{datePickerOptions.dateTimeFormat}}" placeholder="{{datePickerOptions.placeholder}}"
                                        ng-click="dispatchedonPopup = { opened: true }" is-open="dispatchedonPopup.opened" ng-model="item.DispatchedOn"
                                        required>
                                </div>

                            </div>
                            <div class="col-sm-6 form-group">
                                <label class="col-sm-12 control-label" for="TrackingNumber" translate="billing.dispatch-detail.trackingno.lbl"></label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="TrackingNumber" ng-model="item.TrackingNumber" placeholder="" required>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label class="col-sm-12 control-label" for="comments" translate="billing.dispatch-detail.dispatchedby.lbl"></label>
                                <div class="col-sm-12">
                                    <ui-select ng-model="item.DispatchedById" name="" class="filter-combo" ng-disabled="true" required>
                                        <ui-select-match>
                                            {{$select.selected.Title.Description}}&nbsp;
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.User | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label class="col-sm-12 control-label" for="comments" translate="billing.dispatch-detail.comments.lbl"></label>
                                <div class="col-sm-12">
                                    <textarea rows="3" name="comments" ng-disabled="" ng-model="item.Comments" maxlength="4000" style="width:100%;" class="notes-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bgs">
                <div class="pull-right">
                    <button id="btnCancelForm" type="button" class="draftbutton" ng-click="save()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>