<style>
  .facilityname {
    font-size: 18px;
text-align:center;
  }
.print-img {
    width: 100%;
    height: 100%; 
  }
.print-img1 {
    width: 80px;
    background:transparent;
    margin-top:-13px;

  }
.address1 {
font-size: 10px !important;
text-align:center;
}
.head-tb .header1{
position:relative;
left: -50px;
top:-4px;
text-align:center;
}

.image-fit {
height:50px;
width:50px;
}
.tst{
margin-top:-3px;
font-size: 11px;
}
</style>
<table align="center" class="head-tb" style="width:100%;text-align: center;">
  <tr>
  <td style="width:15%;"> 
<div class="image-fit"><img class="print-img1" src="https://chart.googleapis.com/chart?chs=90x90&cht=qr&chl={{data.QrInfo}}" />
</div>
</td>
    <td style="width:20%;">
<div class="image-fit">
      <img class="print-img" src="data:image/png;base64,{{data.Preferences.Facilitylogo}}" />
</div>
    </td>
      <td class="" style="width:55%;padding-left:20px;">
        <div class="header1" align="center">
          {{{data.Preferences.pharmacyprintheader}}}
        </div>
      </td>  
 <td style="width:10%;">
<div class="image-fit" style="height:50px;">
      <img class="print-img" src="{{include '/Templates/shivasundaram/assets/nabh.png''img'}}" />
</div>
    </td>
  </tr>
</table>
<span class="watermark">{{data.watermark}}</span>
