<style>
    .modal-header-inline {
        display: inline;
    }

    .fooder-bgs {
        margin-bottom: 50px !important;
        height: 1% !important;
        margin-top: 2px;
        padding: 13px 9px 0px 2px;
    }

    button.btn.btn-sm.btn-success {
        margin: 9px;
    }

    .dynamicform-modal-content {
        padding: 10px 0px;
        background-color: #ffffff;
        background-image: url(../../app/img/patterns-bg/paper-fibers.png) !important;
    }
    .btn-sm {
  
    background: linear-gradient(270deg, #698700 0%, #c61f1f 100%);
    border-radius: 30px !important;
    width: auto;
    padding: 0 20px;
    height: 32px;
    margin: 0 2px;
    border: 0;
    color: #000000 !important;
}    
</style>

<div class="modal-header custom-modal-header">
    <div class="col-sm-6">
        <h4 class="modal-title custom-modal-title modal-header-inline" translate="{{schema.title}}"></h4>
    </div>
    <div class="col-sm-6">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg"  ng-click="cancelCallback()">
        </div>
    </div>
</div>
<div class="col-sm-12 dynamicform-modal-content">
    <dynamicform modeldata="modeldata" schema="schema"></dynamicform>
</div>
<div class="fooder-bgs">
    <div class="pull-left"></div>
    <div class="pull-right">
        <button type="button" class="btn-sm btn-success" ng-repeat="action in schema.actions"
            ng-click="actionClick(action.type)" translate="{{action.translate}}"></button>
    </div>
</div>