<style>
    .consult-modal-body {
        height: 150px;
    }

    .tab-content-div {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .sidetab-content-div {
        z-index: 9999;
    }

    .modal.modal-slide-in-right .modal-dialog {
        opacity: 0;
        -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        -o-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        -webkit-transition: all .1s cubic-bezier(.25, .5, .5, .9) 0s;
        -o-transition: all .1s cubic-bezier(.25, .5, .5, .9) 0s;
        transition: all .1s cubic-bezier(.25, .5, .5, .9) 0s;
    }

    .modal.modal-slide-in-right.in .modal-dialog {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    #tab-sidebar {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

    .side_popup .right-tab a {
        background: red;
        color: #fff;
        padding-left: 0px;
        padding-right: 0px;
    }

    .side_popup .right-tab a:hover {
        background: gray;
        color: #fff;
    }

    div#tab-sidebar {
        background: #DAD5D5;
        padding: 0px;
    }

    div#tab-sidebar ul {
        right: 15px;
        top: 6px;
    }

    .custom-modal-header {
        margin-bottom: 2px !important;
        background-color: #193858;
        color: #fff;
    }

    .panel-footer.formactionbar {
        width: 87%;
        text-align: center;
        margin: 0px auto;
        position: fixed;
        bottom: 0px;
        left: 13%;
        z-index: 999;
    }

    .aside-collapsed .panel-footer.formactionbar {
        width: 97.8% !important;
        left: 2% !important;
        text-align: center;
        margin: 0px auto;
        position: fixed !important;
        bottom: 0px;
    }

    .header {
        color: #592be2;
        text-align: center;
        margin: 0px auto;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
    }

    .status {
        color: #ec2424;
        font-size: 18px;
        font-weight: 600;
    }

    .header span {
        font-weight: 700;
        font-size: 15px;
        padding: 0px 4px;
    }

    /* .modal-dialog.modal-lg{margin:0px auto;} */

    .panel-favorite .panel-body {
        /* height: auto; */
        height: 140px;
    }

    .con_hdate {
        color: #13D;
    }

    .con_hname {
        color: #05a4f3;
    }

    .con_hdesc {
        color: #13D;
    }

    .con_hmaster {
        color: #05a4f3;
    }

    .hnotes {
        background: #a52a2a;
        color: #fff;
    }

    label.col-sm-2.control-label {
        color: #1190dd !important;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        font-size: 18px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .side_popup {
        height: 460px;
        overflow-x: scroll;
        overflow-x: hidden;
    }

    @media (device-width:100vw) and (device-height:100vh) {
        .side_popup {
            height: 550px;
            overflow-x: hidden;
        }
    }

    .icon_home {
        width: 2.5%;
        float: right;
    }

    .icon_emrboard {
        width: 2.5%;
        float: right;
        margin-right: 8px;
        margin-left: 1%;
    }

    @media (min-width:1200px) {
        .side_popup {
            min-height: 406px;
            height: 407px;
        }
    }

    @media (min-width:1360px) {
        .side_popup {
            min-height: 460px;
            height: 460px;
        }
    }
    .col-sm-12.tab-content-div {
        border: 1px solid gainsboro;
    padding-left: 0px;
    margin-top: 7px;
}
</style>
<script type="text/ng-template" id="cn-dummy.html">
    <div class="col-sm-12">
        No data found!
    </div>
</script>

<div class="row page-header">
    <!-- <h4 class="col-sm-3 mt0" translate="patientemr.consultation.pagetitle.lbl"></h4> -->
    <div class="col-sm-12">
        <!-- <div class="header">
            <span class="con_hdate">{{item.CreatedAt|date:'dd:MM:yyyy'}} {{item.CreatedAt|date:'HH:mm'}}</span>|
            <span class="con_hname">{{item.Encounter.DoctorName}}</span>|
            <span class="con_hdesc">{{item.VisitType.Description}}</span>|
            <span class="con_hmaster">{{item.ProfileMaster.Name}}</span>|
            <span class="status hnotes">{{item.ProgressNoteStatus.Description}}</span>
            <span class="con_hstatus" ng-click="update()" uib-tooltip="{{ 'Update' | translate }}" tooltip-placement="bottom">
                <i class="icon-info-sign btn-circle cust_info" aria-hidden="true"></i>
            </span>
        </span>
        </div> -->
        <!-- <div class="col-sm-5">
            <label class="col-sm-4 control-label" translate="patientemr.consultation.consultationname.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="cncontext.consultationid" ng-change="consultationChanged()">
                    <ui-select-match>
                        {{$select.selected.Name | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Name.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="lookupitem.Id as lookupitem in cncontext.consultations | filter: { Name: $select.search }">
                        <div ng-bind-html="lookupitem.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div> -->
        <div class="col-sm-7 pull-right">
            <!-- <button class="btn bt-color2 btn-xs pull-right btn-filter" ng-click="openConsultModal()"><i class="fa fa-plus" aria-hidden="true"></i><span translate="clinicalmaster.serviceitem-list.addnew.lbl"></span></button> -->

        </div>
    </div>
</div>


<div class="col-md-12" style="padding: 5px; border: 1px solid gray;border-radius: 5px;">
    <div class="col-sm-4 form-group">
        <label class="col-sm-5 control-label" translate="patientemr.consultation.profile.lbl"></label>
        <div class="col-sm-7">
            <ui-select ng-disabled= "consultationloaded"  ng-model="profileinfo.profileid" ng-change="profilePrefChanged($select.selected)">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Profile | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary btn-xs" type="button" ng-disabled= "consultationloaded" ng-click="saveItem()">Save</button>
        <button class="btn btn-danger btn-xs" type="button" ng-disabled= "!consultationloaded" ng-click="deleteItem()">Delete</button>
    </div>
    <div class="col-sm-4">
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <uib-tabset active="active">
                <uib-tab index="$index" ng-repeat="item in cncontext.tabstop" heading="{{item.title}}" ng-click="switchTopTab(item)"></uib-tab>
                <!-- <button class="btn bt-color2 btn-sm pull-right btn-filter" style="background-color: #13D;color: #fff;
                border: 1px solid #ccc;" ng-click="reviewNote()">
                <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
                Review Note</button> -->
            </uib-tabset>
        </div>
        <div class="col-sm-12 side_popup0">
            <div class="col-sm-12 tab-content-div">
                <!-- <div ng-include="cncontext.currenttmpl"></div> -->
                <tab ng-show="cncontext.currentsection" currentsection="cncontext.currentsection"></tab>
            </div>
            <!-- <div class="col-sm-1 right-tab" class="formRoot" id="tab-sidebar" style="height:445px";>
                <ul class="nav nav-tabs tabs-right sideways">
                    <li ng-repeat="item in cncontext.tabsright">
                        <a data-toggle="tab" ng-click="switchSideTab(item)">{{item.title}}</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>