<style>
    label.btn.btn-sm.width.btn-custom-radio:before {
        content: ".";
        position: absolute;
        left: -8px;
        height: 14px;
        width: 14px;
        border: 1px solid black;
        color: transparent;
        top: 9px;
    }

    label.btn.btn-sm.width.btn-custom-radio.active {
        background: none;
        border: none;
        color: black;
    }

    .admission-form .btn-feedback-selected:hover {
        color: #000000 !important;
        background-color: transparent !important;
    }

    label.btn.btn-sm.width.btn-custom-radio.active:after {
        left: -4px;
        top: 10px;
        width: 6px;
        height: 10px;
        border: solid #302d2d;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        content: ".";
        position: absolute;
        color: transparent;
    }

    label.btn.btn-sm.width.btn-custom-radio {
        margin-right: 30px;
    }

    label.btn.btn-sm.width.btn-custom-radio span {
        position: relative;
        margin-left: 9px;
        top: 1px;
    }

    .admission-form .btn:focus {
        border: unset !important;
    }

    .flex-wrap {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }

    h4 {
        color: #00125a;
    }

    .drhms-user_image {
        height: 190px;
    }

    .drhms-outer_ilayer {
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>
<div class="row page-header">
    <div class="col-sm-6">
        <h3 class="panel-title" translate="Manage Incident Reporting"></h3>
    </div>
    <div class="col-sm-6">
        <button class="btn-add" ng-click="addNew()" uib-tooltip="Add Incident Reporting" tooltip-placement="bottom">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>

    </div>
</div>

<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="col-sm-12">
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label" for="type" translate="Type"></label>
                <div class="col-sm-12">
                    <ui-select ng-model="item.IncidentReportingTypeId" name="type" required>
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 20 : 0}}
                            <span ng-if="$select.selected.Text.length>20">...</span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="lookupitem.Id as lookupitem in lookup.IncidentReportingType | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Reported by: "></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.ReportedBy">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Emp ID:"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.EmpId">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Department:"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.Department">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Involved person’s name:"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.InvolvedPersonName">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Age/Sex:"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.AgeGender">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="UHID no / Emp ID:"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.UHID">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Incident details
            </h4>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Date"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.IncidentDate">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Time"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.IncidentTime">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Location"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model="item.IncidentLocation">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Incident occurred to
            </h4>
            <div class="col-sm-12 flex-wrap">
                <radiogroupcontrol itemid="item.IncidentOccurredId" items="lookup.IncidentOccurred">
                </radiogroupcontrol>
                <div ng-show="item.IncidentOccurredId==4">
                    <input type="text" class="form-control" name="oreason" ng-model="item.OtherIncident" placeholder="">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Classification of the incident
            </h4>
            <div class="col-sm-12">
                <radiogroupcontrol itemid="item.ClassificationIncidentId" items="lookup.ClassificationIncident">
                </radiogroupcontrol>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Type of Incident : Medication error
            </h4>
            <div class="col-sm-12">
                <radiogroupcontrol itemid="item.TypeOfIncidentId" items="lookup.TypeOfIncident">
                </radiogroupcontrol>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>
                Adverse drug event
            </h4>
            <div class="col-sm-12">
                <radiogroupcontrol itemid="item.AdverseDrugId" items="lookup.AdverseDrug">
                </radiogroupcontrol>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>
                Fall
            </h4>
            <div class="col-sm-12">
                <radiogroupcontrol itemid="item.FallId" items="lookup.Fall">
                </radiogroupcontrol>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Surgical error
            </h4>
            <div class="col-sm-12 flex-wrap">
                <radiogroupcontrol itemid="item.SurgicalErrorId" items="lookup.SurgicalError">
                </radiogroupcontrol>
                <div ng-show="item.SurgicalErrorId==6">
                    <input type="text" class="form-control" name="oreason" ng-model="item.OtherSurgicalError"
                        placeholder="Surgical Error">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Patient care related
            </h4>
            <div class="col-sm-12">
                <radiogroupcontrol itemid="item.PatientCareId" items="lookup.PatientCare">
                </radiogroupcontrol>
            </div>
            <div class="form-group col-sm-12" ng-show="item.PatientCareId==4">
                <input type="text" class="form-control" name="oreason" ng-model="item.OtherPatientCare" placeholder="">
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Miscellaneous
            </h4>
            <div class="col-sm-12 flex-wrap">
                <radiogroupcontrol itemid="item.MiscellaneousId" items="lookup.Miscellaneous">
                </radiogroupcontrol>
                <div ng-show="item.MiscellaneousId==8">
                    <input type="text" class="form-control" name="oreason" ng-model="item.OtherMiscellaneous"
                        placeholder="Other Miscellaneous">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Equipment related
            </h4>
            <div class="col-sm-12">
                <radiogroupcontrol itemid="item.EquipmentId" items="lookup.Equipment">
                </radiogroupcontrol>
            </div>
        </div>
        <div class="col-sm-12">
            <h4>
                Security
            </h4>
            <div class="col-sm-12 flex-wrap">
                <radiogroupcontrol itemid="item.SecurityId" items="lookup.Security">
                </radiogroupcontrol>
                <div ng-show="item.SecurityId==6">
                    <input type="text" class="form-control" name="oreason" ng-model="item.OtherSecurity"
                        placeholder="Other Security">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Description of the Incident"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" ng-model="item.IncidentDescription">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Root Cause Analysis"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" ng-model="item.RootCause">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Corrective Action"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" ng-model="item.CorrectiveAction">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Preventive Action"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" ng-model="item.PreventiveAction">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-12 control-label0" translate="Head Of Department / Supervisor’s Comments"></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" ng-model="item.SupervisorComments">
                </div>
            </div>
            <div class="form-group col-sm-6">
                <h4>
                    Photograph (Immediate after Incident)
                </h4>
                <div class="drhms-user_image">
                    <img class="patient-img drhms-img-thumbnail" tabindex="-1" ng-show="!!currentcontext.fileAtt1"
                        ngf-thumbnail="currentcontext.fileAtt1" />
                    <img ng-show="!currentcontext.fileAtt1 && item.Attachment1"
                        data-ng-src="data:image/png;base64,{{currentcontext.Attachment1}}" tabindex="-1"
                        class="patient-img drhms-img-thumbnail" />
                    <img ng-show="!currentcontext.fileAtt1 && !item.Attachment1" src="app/img/main/img.jpg"
                        tabindex="-1" class="drhms-img-thumbnail ">
                </div>
                <div class="drhms-outer_ilayer">
                    <div class="drhms-profile-upload-btn">
                        <input type="file" ngf-select ng-model="currentcontext.fileAtt1" tabindex="-1" name="file"
                            id="drhms-input-file" class="inputfile" ngf-max-size="200MB"
                            ng-change="attachment1FileChanged()" />
                        <label for="file-1" class="drhms-upload-btn" tabindex="-1" uib-tooltip="Upload"
                            tooltip-placement="bottom">
                            <span class="drhms-registration-btn">Upload</span>
                        </label>
                        <button type="button" class="drhms-webcam-btn" tabindex="-1" ng-show="item.Attachment1"
                            ng-click="downloadFile1(item)">
                            <span class="drhms-registration-btn">Download</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <h4>
                    Photograph (After complete wound healing)
                </h4>
                <div class="drhms-user_image">
                    <img class="patient-img drhms-img-thumbnail" tabindex="-1" ng-show="!!currentcontext.fileAtt2"
                        ngf-thumbnail="currentcontext.fileAtt2" />
                    <img ng-show="!currentcontext.fileAtt2 && item.Attachment2"
                        data-ng-src="data:image/png;base64,{{currentcontext.Attachment2}}" tabindex="-1"
                        class="patient-img drhms-img-thumbnail" />
                    <img ng-show="!currentcontext.fileAtt2 && !item.Attachment2" src="app/img/main/img.jpg"
                        tabindex="-1" class="drhms-img-thumbnail ">
                </div>
                <div class="drhms-outer_ilayer">
                    <div class="drhms-profile-upload-btn">
                        <input type="file" ngf-select ng-model="currentcontext.fileAtt2" tabindex="-1" name="file"
                            id="drhms-input-file" class="inputfile" ngf-max-size="200MB"
                            ng-change="attachment2FileChanged()" />
                        <label for="file-1" class="drhms-upload-btn" tabindex="-1" uib-tooltip="Upload"
                            tooltip-placement="bottom">
                            <span class="drhms-registration-btn">Upload</span>
                        </label>
                        <button type="button" class="drhms-webcam-btn" tabindex="-1" ng-show="item.Attachment2"
                            ng-click="downloadFile2(item)">
                            <span class="drhms-registration-btn">Download</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<div class="fooder-bgs">
    <div class="form-group col-sm-12">
        <div class="pull-left">
            <button type="button" class="btn pyr-color10 btn-sm" ng-click="backToList()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;
                <span class="btn-fontsize" translate="common.backaction.lbl"></span>
            </button>

        </div>
        <div class="pull-right">
            <button type="button" class="draftbutton" ng-click="print()" id="visibility">
                <i class="fa fa-print"></i> Preview Print
            </button>
            <button id="btnSave" type="button" class="draftbutton" translate="common.saveaction.lbl"
                ng-click="save()"></button>
            <button id="btnSaveApprove" tabindex="tabindexmap.patienttabindex" type="button"
                class="draftbutton   focusbtns" translate="common.saveapprove-action.lbl"
                ng-click="saveAndApprove()"></button>
        </div>
    </div>
</div>