<style>
    .filters>i {
        border-right: 0;
    }
</style>
<link rel="stylesheet" href="app/css/drhms.css">
<div class="row">
    <div class="drhms-filters">
        <div class="col-sm-10">
            <h4 translate="Stock Status For all Items"></h4>
        </div>
        <div class="col-sm-2">
            <span class="drhms-billing-btn drhms-home-btn" ng-if="Context =='store'|| Context =='pharmacy'"><i
                    class="fas fa-home" ng-click="backtoList()" uib-tooltip="Dashboard"
                    tooltip-placement="bottom"></i></span>
        </div>
        <div class="filters">
            <i class="icofont-file-excel" uib-tooltip="Excel" tooltip-placement="bottom" ng-click="excelDownload()"></i>
        </div>
    </div>
</div>
<div class="row">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="form-group col-sm-4">
            <label class="col-sm-4" translate="inventory.stockstatus.producttype.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.ProductTypeId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.ProductType | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-4" translate="inventory.stockstatus.itemsearch.lbl"></label>
            <div class="col-sm-8">
                <autosearch itemid="currentfilter.ItemMasterId" iteminfo="" placeholder="'Item Code/Name/Generic'"
                    rowdata="" config="vm.stockitemcontrolconfig" onenter="getList()" itemchange="getList()"></autosearch>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="col-sm-4" translate="inventory.stockstatus.store.lbl"></label>
            <div class="col-sm-8">
                <ui-select ng-model="currentfilter.StoreMasterId" ng-change="getList()" class="filter-combo">
                    <ui-select-match>
                        {{$select.selected.Text | limitTo : 20 : 0}}
                        <span ng-if="$select.selected.Text.length>20">...</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="lookupitem.Id as lookupitem in lookup.UserStores | filter: { Text: $select.search }">
                        <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <span class="drhms-special-count" style="font-weight: 600;">Total Quantity: {{(TotalQuantity)}}</span>
    </div>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>