<style>
    .modal-content {
        width: 35%;
    }

    .modal-dialog {
        height: 90%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    label.col-sm-6 {
        margin-bottom: 20px;
    }

    .fooder-bgs {
        margin-bottom: 20px !important;
        min-height: 7%;
    }
</style>
<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="Order History - {{currentcontext.ServiceName}}">
            <span></span>
        </h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4 no-padding">
            <label class="col-sm-12" for="createdby" translate="Created By" readonly></label>
        </div>
        <div class="col-sm-8">
            <span
                ng-if="currentcontext.CreatedUser.Title">{{currentcontext.CreatedUser.Title.Description}}</span><span>{{currentcontext.CreatedUser.FirstName}}</span><span
                ng-if="currentcontext.CreatedUser.LastName"> {{currentcontext.CreatedUser.LastName}}</span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4 no-padding">
            <label class="col-sm-12" for="discountvalue" translate="Created Date" readonly></label>
        </div>
        <div class="col-sm-8"><span>{{currentcontext.CreatedAt| date: 'dd-MMM-yyyy HH:mm'}}</span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4 no-padding">
            <label class="col-sm-12" for="discountvalue" translate="Cancelled By" readonly></label>
        </div>
        <div class="col-sm-8"><span ng-if="currentcontext.PatientBillStatusId == 2"><span
                    ng-if="currentcontext.CancelledUser.Title">{{currentcontext.CancelledUser.Title.Description}}</span><span>{{currentcontext.CancelledUser.FirstName}}</span>
                <span ng-if="currentcontext.CancelledUser.LastName"> {{currentcontext.CancelledUser.LastName}}</span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4 no-padding">
            <label class="col-sm-12" for="discountvalue" translate="Cancelled Date" readonly></label>
        </div>
        <div class="col-sm-8"><span
                ng-if="currentcontext.CancelledBy > 0 && currentcontext.PatientBillStatusId == 2">{{currentcontext.UpdatedAt|
                date: 'dd-MMM-yyyy HH:mm'}}</span< /div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4 no-padding">
            <label class="col-sm-12" for="discountvalue" translate="Remarks" readonly></label>
        </div>
        <div class="col-sm-8"><span ng-if="currentcontext.PatientBillStatusId == 2">{{currentcontext.CancelReason| date:
                'dd-MMM-yyyy HH:mm'}}</span></div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-4 no-padding">
            <label class="col-sm-12" for="discountvalue" translate="Last Modified By" readonly></label>
        </div>
        <div class="col-sm-8"><span
                ng-if="currentcontext.UpdatedUser.Title">{{currentcontext.UpdatedUser.Title.Description}}</span><span>{{currentcontext.UpdatedUser.FirstName}}</span>
            <span ng-if="currentcontext.UpdatedUser.LastName"> {{currentcontext.UpdatedUser.LastName}}</span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4 no-padding">
            <label class="col-sm-12 control-label filter-lbl" translate="Last Modified Date"></label>
        </div>
        <div class="col-sm-8"><span>{{currentcontext.UpdatedAt| date: 'dd-MMM-yyyy HH:mm'}}
            </span></div>

    </div>
</div>

<div class="fooder-bgs">
    <div class="row">
        <!-- <label class="col-sm-3 control-label pull-left" translate="billing.consolidate.billamount.lbl"> :
            {{currentcontext.BillAmount | displaycurrency}}</label>
        <label class="col-sm-3 control-label pull-left" translate="billing.consolidate.discount.lbl"> :
            {{currentcontext.BillDiscount | displaycurrency}}</label>
        <label class="col-sm-3 control-label pull-left" translate="billing.consolidate.netamount.lbl"> :
            {{currentcontext.TotalNet | displaycurrency}}</label> -->
        <!-- <div class="col-sm-3">
            <button type="button" class="draftbutton" ng-click="applyDiscount()"
                translate="Apply Discount" tabindex="-1"></button>
        </div> -->
    </div>
</div>