<style>
    .modal-lg {
        width: 65%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#itembtn").click(function () {
            $(".items").toggle();
        });
    });
    $(document).ready(function () {
        $("#categorybtn").click(function () {
            $(".catogories").toggle();
        });
    });
</script>
<div class="modal-header custom-modal-header">
    <h4 class="col-sm-11 modal-title custom-modal-title">{{ServiceCategoryName}}</h4>
    <div class="col-sm-1">
            <button id="btnCancelForm" type="button" class="draftbutton" ng-click="cancelCallback()" translate="X"></button>
    </div>
</div>
<div class="bg-pattern">
    <patientbanner patientid="PatientId"></patientbanner>
    <div class=" table-control">
        <div class="table-height" id="">
            <table class="table table-hover table-responsive table-bordered">
                <thead class="bg-subhead">
                    <tr>
                        <th>
                            <span translate="billing.intermediatebill-details.date.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.intermediatebill-details.transactionid.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.intermediatebill-details.doctor.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.intermediatebill-details.amount.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.intermediatebill-details.discount.lbl"></span>
                        </th>
                        <th>
                            <span translate="billing.intermediatebill-details.netamount.lbl"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="servicecategorybill in ServiceCategoryBills | filter:{Status:1}">
                        <td>
                            <label>
                                <span>{{servicecategorybill.BillDateTime | date : 'dd-MMM-yyyy'}}&nbsp;{{bill.BillDateTime| date:
                                    'HH:mm'}}
                            </label>
                        </td>
                        <td>
                            <label>{{servicecategorybill.BillNumber}}</label>
                        </td>
                        <td>
                            <label>{{servicecategorybill.DoctorName}}</label>
                        </td>
                        <td class="currency-align">
                            <label>{{servicecategorybill.Amount | displaycurrency}}</label>
                        </td>
                        <td class="currency-align">
                            <label>{{servicecategorybill.Discount | displaycurrency}}</label>
                        </td>
                        <td class="currency-align">
                            <label>{{servicecategorybill.NetAmount | displaycurrency}}</label>
                        </td>
                    </tr>
                </tbody>
                <!--
                <tbody>
                    <tr ng-repeat="return in IntermediateReturnDetails | filter:{Status:1}">
                        <td>
                            <label>
                                <span>{{return.BillDateTime | date : 'dd-MMM-yyyy'}}&nbsp;{{return.BillDateTime| date: 'HH:mm'}}</label>
                        </td>
                        <td>
                            <label>{{return.BillNumber}}</label>
                        </td>
                        <td>
                            <label>{{return.DoctorName}}</label>
                        </td>
                        <td>
                            <label>{{return.BillAmount | displaycurrency}}</label>
                        </td>
                        <td>
                            <label>{{return.BillDiscount | displaycurrency}}</label>
                        </td>
                        <td>
                            <label>{{return.BillAmount | displaycurrency}}</label>
                        </td>
                    </tr>
                </tbody>
                -->
            </table>
        </div>
    </div>
</div>
<div class="fooder-bg ipbill_footer">
    <div class="pull-right">
        <div class="col-sm-12">
            <!--<button type="button" ng-if="IntermediateBillDetails.length > 0"  class="draftbutton" ng-click="confirmCallback({method:'print',categoryid:CategoryId,categoryname:ServiceCategoryName})"
                translate="common.printaction.lbl"></button>-->
            
        </div>
    </div>
    <div class="pull-right">
        <div class="col-sm-12">
            <!--<span translate="billing.intermediatebill-details.total.lbl"></span> :-->
            <span class="">{{TotalAmount | displaycurrency}}</span>
        </div>
    </div>
</div>