<style>
    .nav > li.disabled > a:hover,
    .nav > li.disabled > a:focus {
        color: #000000 !important;
        text-decoration: none;
        background-color: #3c5a76;
        cursor: not-allowed;
    }
    
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover {
        color: #000000 !important;
        border-bottom-color: #fff;
        background-color: #3c5a76 !important;
    }
    
    .nav-tabs > li > a {
        padding: 4px 15px;
    }
    #opbillingcontrol .ui-grid-viewport {
    /* height: 409px; */
    /* height:388px !important; */
}
@media (device-width:100vw) and (device-height:100vh){
    /* #opbillingcontrol .ui-grid-viewport {
   
    height:500px !important;
} */
#depsheight>.table-uigrid, .fullreg-profiles:before{
     height:620px !important;  
    
}
.table-uigrid{
    height:500px;
}
.fullreg-profiles.visualize{
    bottom:5%;
}
#opbillingcontrol .ui-grid-viewport{
    height: 67vh !important;
}
.fullreg-profiles.visualize{
    bottom:5%;
}
}
.fullreg-profiles.visualize{
    position: fixed;
    bottom: 6%;
    width: 100%;
}

/* @media (min-width:1200px) and (min-height:637px){#opbillingcontrol .ui-grid-viewport{min-height:389px;}}
@media(min-width:1360px) and (min-height:675px){#opbillingcontrol .ui-grid-viewport{min-height:420px;}} */
 .ui-grid-viewport{
    height: 64vh !important;
    min-height:64vh !important;
}

</style>


<div class="row page-header">
    <div class="col-sm-12">
        <div class="col-sm-8 col-lg-7 col-md-7">
        
                 <h4 class=" mt0" translate="billing.ipbillingtab.pagetitle.lbl"></h4>
      
        </div>
        <div class="col-sm-4 col-lg-5 col-md-5">
            <div class="pull-right">
               
     
              
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <uib-tabset active="active">
            <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="switchTab(tab)" disable="tab.canDisable">
            </uib-tab>
        </uib-tabset>

        <div ui-view></div>
    </div>
</div>