<style>
    #specialitysheight .ui-grid-viewport {
        width: 100%;
        /* height: 384px!important; */
    }

    .table-uigrid {
        margin-left: 10px;
        margin-right: 10px;
        height: 413px !important;
    }

    #specialitysheight .ui-grid-viewport {
        /* height: 384px!important; */
    }

    .linkstyle {
        font-weight: 700;
        text-align: right;
    }

    .statusinfo {
        font-size: 13px;
    }

    .countbg {
        background-color: #fff;
        padding: 0px 7px;
        border: 1px solid #d4c8c8;
        border-radius: 6px;
    }

    .form-group {
        margin-bottom: 7px !important;
    }

    .sr-only {
        height: 22px !important;
    }

    .filter-area {
        margin-top: 5px;
    }

    .aside-collapsed .fooder-bg {
        position: relative !important;
    }

    .fullreg-profiles {
        /* background: linear-gradient(to bottom, #ececec 0, #e8e4e4 50%, #cec0cc 100%, #fff 100%)!important */
    }

    @media (device-width:100vw) and (device-height:100vh) {
        #specialitysheight .ui-grid-viewport {
            /* height: 530px!important; */
        }

        .table-uigrid {
            /* height: 540px!important; */
        }

        .ui-grid-viewport {
            height: 68vh !important;
        }

    }

    .sub-footer span {
        color: #fff;
    }

    .table-uigrid.ui-grid .ui-grid-row {
        min-height: 40px !important;
    }

    /* .col-sm-12.fullreg-profiles {
        position: absolute;
        bottom: -62px;
    } */

    .footerbar {
        position: fixed;
        width: 100%;
        bottom: 41px;
    }

    .ui-grid-viewport {
        height: 62vh !important
    }

    .fooder-bgs {
        margin-bottom: 120px !important;
    }

    .filter-area {
        box-shadow: none;
        padding-bottom: 4px;
        border: 0px !important;
        margin: 0px !important;
    }

    .row.filter-area .col-sm-4.pull-right button:first-child {
        padding: 6px;
    }

    .row.filter-area .col-sm-4.pull-right button.prv-color12 {
        background-color: #3a59a9 !important;
        color: white !important;
    }

    .row.filter-area .col-sm-4.pull-right button.bt-color2 {
        background-color: #178e83;
        border-color: #178e83;
        box-shadow: unset !important;
        border: none !important;
        padding: 8px !important;
        color: white !important;
    }

    .row.filter-area .col-sm-4.pull-right button span {
        color: white !important;
    }

    .row.filter-area .col-sm-4.pull-right button.btn-info.btn-xs {
        padding: 5px 9px;
    }

    .row.filter-area .col-sm-4.pull-right {
        float: right;
        text-align: center !important;
    }

    .table-uigrid.ui-grid .ui-grid-row:nth-child(odd) {
        background-color: #cfddfe63 !important;
    }


    .table-uigrid.ui-grid .ui-grid-cell,
    .table-uigrid.ui-grid .ui-grid-row {
        min-height: 45px !important;
        padding-top: 1px;
    }

    .table-uigrid.ui-grid .ui-grid-row {
        min-height: 47px !important;
    }


    .sub-footer span {
        color: #01748b !important;
    }

    .ui-grid-viewport {
        height: 100% !important;
    }

    .ui-grid-viewport.ng-isolate-scope {
        overflow: hidden !important;

    }

    .ui-grid-header-cell-wrapper {
        position: relative;
        display: table;
        box-sizing: border-box;
        height: 100%;
        width: 100% !important;
    }

    .ui-grid-header-cell .sortable {
        cursor: pointer;
        padding: 0px 10px !important;
    }

    .row.filter-area {
        box-shadow: unset !important;
    }

    button.btn.pyr-color10.btn-sm {
        background: #6d84bd !important;
        border-radius: 4px !important;
    }

    .row.filter-area .col-sm-4.pull-right i.fa.fa-plus {
        font-size: 15px;
        position: relative;
        top: 3px;
        margin-right: 3px;
    }

    button.btn.pyr-color10.btn-sm {
        background: #eae6e6 !important;
        border-radius: 4px !important;
    }

    .ui-grid-viewport.ng-isolate-scope {
        border-bottom: 1px solid #8080804a;
    }

    .table-uigrid.ui-grid .ui-grid-row:nth-child(odd) {
        background-color: #cfddfe00 !important;
    }

    .ui-grid-cell-contents.actionbuttons.ng-scope span i {
        font-size: 18px !important;
        padding: 0px !important;
        margin: 8px !important;
    }

    .ui-grid-cell-contents.actionbuttons.ng-scope .btn-danger {
        color: red;
        background-color: transparent !important;
        border-color: transparent;
        font-size: 23px !important;
        position: relative;
        bottom: 11px !important;
        right: 8px;
    }

    i.fa.fa-print {
        color: #03A9F4;
    }

    #specialitysheight table.table>thead>tr>th {
        padding: 7px 8px;
        color: #888;
    }
</style>
<link href="app/css/billing-pharmacy-customs.css" rel="stylesheet">

<div id="opbillingcontrol">

    <div class="row filter-area">
        <div class="col-sm-12">


            <!-- <div class="col-sm-3">

                <label class="col-sm-5 control-label filter-lbl" translate="billing.receipt-list.filter_receipt.lbl"></label>
                <div class="input-group col-sm-7">
                    <div class="input-group-addon">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>
                    <input type="text" class="form-control" on-enter="getList()" ng-model="currentfilter.receipt" translate translate-attr-placeholder="billing.receipt-list.filter_receiptno.lbl">
                </div>

            </div>

            <div class="col-sm-2">
                <label class="col-sm-4 control-label" translate="billing.receipt-list.date.lbl"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="registereddate" ng-change="getList()" datepicker-options="datePickerOptions"
                        show-button-bar="{{datePickerOptions.showButtonBar}}" uib-datepicker-popup="{{datePickerOptions.dateFormat}}"
                        placeholder="{{datePickerOptions.placeholder}}" ng-click="registereddatePopup = { opened: true }" is-open="registereddatePopup.opened"
                        ng-model="currentfilter.ReceiptDate">
                </div>
            </div>

            <div class="col-sm-3">
                <label class="col-sm-4 control-label filter-lbl" translate="appmanager.specialitys.filter_type.lbl"></label>
                <div class="col-sm-8">
                    <ui-select ng-model="currentfilter.ReceiptTypeId" ng-change="getList()" class="filter-combo">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 8 : 0}}
                            <span ng-if="$select.selected.Text.length>8">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ReceiptType | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="col-sm-4 control-label filter-lbl" translate="appmanager.specialitys.filter_status.lbl"></label>
                <div class="col-sm-8">
                    <ui-select ng-model="currentfilter.ReceiptStatusId" ng-change="getList()" class="filter-combo">
                        <ui-select-match>
                            {{$select.selected.Text | limitTo : 8 : 0}}
                            <span ng-if="$select.selected.Text.length>8">...</span>
                        </ui-select-match>
                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ReceiptStatus | filter: { Text: $select.search }">
                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div> -->
            <div class="col-sm-4 pull-right">
                <!-- <input type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-date ng-touched" name="currentfilter.doddate"  datepicker-options="datePickerOptions" show-button-bar="false" uib-datepicker-popup="dd/MM/yyyy" placeholder="DD/MM/YYYY" ng-click="doddatePopup = { opened: true }" is-open="doddatePopup.opened" ng-model="currentfilter.doddate" style=""> -->
                <!-- <button type="button" class="text-white btn prv-color12 btn-xs" ng-click="AdjustAgainstFund()"
                    translate='billing.opbilling-list.adjustments.lbl'>

                </button> -->

                <button class="btn-add" ng-click="addReceipt()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add New
                </button>
                <!-- <button class="btn-info btn-xs" uib-tooltip="{{'billing.summary.transfer.lbl' | translate}}" tooltip-placement="bottom" ng-click="advanceTransfer()">
                        <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    </button> -->
            </div>
        </div>
    </div>


    <div class="container-fluid" id="specialitysheight">
        <!-- <div ui-grid="vm.gridConfig" class="table-uigrid table-uigrid-tab "></div> -->
        <custom-table config="vm.gridConfig"></custom-table>
        <div class="col-sm-3" style="float: right;">
            <table id="bannerdetails">
                <tr>
                    <td><span> Total :</span></td>
                    <td class="fontbold currency-align"> <span class="fontbold">{{TotalAmt | displaycurrency}}</span></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- <div class="footerbar">
        <div class="sub-footer">
            <div class="row">
                <div class="col-sm-12  ">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7" style="text-align: center;">
                        <span> Total :</span>
                        <span class="">{{TotalAmt | displaycurrency}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="fooder-bgs">
        <div class="col-sm-12">
            <div class="col-sm-2">
                <button type="button" class="btn pyr-color10 btn-sm" ng-click="backToList()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;
                    <span class="btn-fontsize" translate="common.backaction.lbl"></span>
                </button>
            </div>
            <div class="col-sm-10">
                <!-- <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                    ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul> -->
            </div>
        </div>
    </div>
    <!-- <div class="fooder-bgs">
        <div class="row">
            <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
                ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
        </div>
    </div> -->
</div>