<div class="summary-bill-lock">
    <button type="button" class="drhms-common-btn" ng-click="AdjustAgainstFund()" translate='billing.opbilling-list.adjustments.lbl'>
    </button>
    <button type="button" class="drhms-common-btn" ng-click="addReceipt()" ng-if="HasAccess('IPRECEIPT_DETAILS','IPRECEIPT_ADVANCE')">
        Advance
    </button>
</div>
<div class="">
    <custom-table config="vm.gridConfig"></custom-table>
    <div style="float: right;width: 30%;">
        <table id="bannerdetails">
            <tr>
                <td class="drhms-special-count"><span> Total :</span></td>
                <td class="drhms-currency-align drhms-special-count"> <span>{{TotalAmt | displaycurrency}}</span></td>
            </tr>
        </table>
    </div>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems" items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex" ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>
<!-- <div class="col-sm-12">
    <div class="pull-left">
        <button type="button" class="drhms-common-back-btn" ng-click="backToList()">
            <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;
            <span class="btn-fontsize" translate="common.backaction.lbl"></span>
        </button>
    </div>
</div> -->