<link rel="stylesheet" href="app/css/drhms.css">
<div class="row page-header">
    <div class="col-sm-12">
        <h4 class="mt0" translate="MRD File Receive"></h4>
    </div>
</div>
<div class="col-sm-12">
    <form id="item_form" name="item_form" class="form-horizontal" role="form">
        <div class="drhms-table-top-header">
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Patient Name"></label>
                    <div class="col-sm-8">:
                        <span class="head-title"
                            ng-click="patientprofiledetails(selectedPatient)"><strong>{{item.Patient.Title.Description}}
                                {{item.Patient.FirstName}}</strong></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Patient Id"></label>
                    <div class="col-sm-8">:
                        {{item.PatientMrn}}
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Age / Sex"></label>
                    <div class="col-sm-8">:
                        <span class="head-title">{{item.Patient.Age}} / {{item.Patient.Gender.Description}}</span>
                    </div>
                </div>
            </div>
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="IP #"></label>
                    <div class="col-sm-8">:
                        <span class="head-title">{{item.VisitNo}}</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="Doctor Name"></label>
                    <div class="col-sm-8">:
                        {{item.DoctorName}}
                    </div>
                </div>
            </div>
            <div class="drhms-table-head-border">
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="DOA"></label>
                    <div class="col-sm-8">:
                        <displaydate datetime-val='item.AdmissionDate'></displaydate>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4" translate="DOD"></label>
                    <div class="col-sm-8">:
                        <displaydate datetime-val='item.DischargeDate'></displaydate>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-12">
    <div class="col-sm-6 form-group">
        <label class="col-sm-6 control-label" for="loginname" translate="Returned By"></label>
        <div class="col-sm-6">
            <span
                class="readonly">{{item.ReturnedUser.Title.Description}}&nbsp;{{item.ReturnedUser.FirstName}}&nbsp;{{item.ReturnedUser.LastName}}</span>
        </div>
    </div>
    <div class="col-sm-6 form-group">
        <label class="col-sm-6 control-label" for="loginname" translate="Returned Date"></label>
        <div class="col-sm-6">
            <span class="readonly">
                <displaydate datetime-val='item.ReturnDate'></displaydate>
            </span>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-6 form-group">
        <label class="col-sm-6 control-label" for="loginname" translate="Received By"></label>
        <div class="col-sm-6">
            <span
                class="readonly">{{item.ReceivedUser.Title.Description}}&nbsp;{{item.ReceivedUser.FirstName}}&nbsp;{{item.ReceivedUser.LastName}}</span>
        </div>
    </div>
    <div class="col-sm-6 form-group">
        <label class="col-sm-6 control-label" for="loginname" translate="Received Date"></label>
        <div class="col-sm-6">
            <span class="readonly">
                <displaydate datetime-val='item.ReceivedDate'></displaydate>
            </span>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-6 form-group">
        <label class="col-sm-6 control-label" for="loginname" translate="Status"></label>
        <div class="col-sm-6">
            <span class="green">{{item.DisplayStatus}}
        </div>
    </div>
</div>
<div class="fooder-bgs">
    <div class="row">
        <div class="pull-left">
            <button class="btn pyr-color10 btn-sm" type="button" ng-click="backToList()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;
                <span class="btn-fontsize" translate="common.backaction.lbl"></span>
            </button>
        </div>
        <div class="pull-right">
            <button type="button" class="draftbutton" translate="Incomplete" ng-show="item.MRDIPFileStatusId == 2"
                ng-click="incomplete()"></button>
            <button id="btnSaveApprove" type="button" class="draftbutton" translate="Receive"
                ng-hide="item.MRDIPFileStatusId == 2" ng-click="saveAndApprove()"></button>
        </div>
    </div>
</div>