
<style>
    .text-primary {
        color: #fff;
    }

    .layout-fixed .wrapper>section {
        margin-top: 90px;
        margin-left: 0px !important;
    }

    .input-group[class*="col-"] {
        float: left;
        padding-left: 0px;
        padding-right: 10px;
    }

    .fullreg-profiles {
        min-height: 22px;
        padding-top: 1px;
        background: linear-gradient(to bottom, #ececec 0, #e8e4e4 50%, #cec0cc 100%, #fff 100%);
        border: 1px solid #ccc;
        box-shadow: none;
    }

    .filter-area .btn {
        padding: 3px;
    }

    #opbillingcontrol .panel-body {
        height: 415px !important;
    }

    .filter-area {
        padding-top: 6px !important;
        background-color: #e3ecef !important;
        background-image: url(../../app/img/patterns-bg/paper-fibers.png) !important;
        height: auto;
        border: 1px solid rgba(245, 245, 245, 0);
        margin: 0 11px 3px !important;
        border-radius: 5px;
        box-shadow: 1px 4px 24px -10px rgba(0, 0, 0, .75);
    }

    .col-sm-6 {
        padding-right: 0px;
    }
    .layout-fixed .wrapper>.aside{
        display:none;
    }
    .content-wrapper.ng-scope.ng-fadeInUp{
        height: 71vh;
    }
    .fooder-bg{
        bottom:8%;
        left:0px;
        width:100%;
        background: #ddd;
    }

    /* .col-sm-6.col-md-4.col-lg-4{clear: both;} */
    @media only screen and (max-width: 768px) {
        .page-header {
            padding-top: 26px;
        }

        .panel-body.form-panel.bg-pattern {
            padding-top: 0px;
        }

        .panel-body.form-panel.bg-pattern h1 {
            margin-top: 0px;
        }
    }

    @media only screen and (max-width:414px) {
        .form-horizontal .control-label {
            float: left;
        }

        .dsprofile .col-sm-6 {
            float: left;
        }

        .col-sm-12.clearfix.dsprofile {
            padding: 0px;
        }

        .form-group {
            margin-bottom: 0px !important;
        }

        label>span {
            display: none;
        }

        .col-sm-12.clearfix.dsprofile label,
        span {
            font-size: 12px;
        }

        .page-header {
            padding-top: 12px;
        }

        .dnone {
            display: none;
        }
    }

    @media only screen and (max-width:1024px) {
        .col-sm-6.col-md-6.col-lg-6 {
            padding-right: 0px;
        }
    }

    .lefcol3 span {
        /* color:#097909; */
        color: #da5809 !important;
        font-weight: bolder;
    }

    .lefcol5 {
        color: #808000 !important;
        font-weight: 500
    }

    @media only screen and (max-width:360px) {
        .page-header {
            padding-top: 8px !important;
        }
    }

    @media screen and (max-width: 360px) and (orientation: portrait) {
        .layout-fixed .wrapper>section {
            margin-top: 70px !important;
        }
    }
</style>
<div class="row page-header">
    <h4 class="col-sm-6 mt0" translate="medicalcertificate.dischargesummary-list.pagetitle.lbl" style="width:60%;float:left;"></h4>
    <!-- <button type="button" class="btn bt-color2 btn-xs pull-right back_but" ng-click="backToList()">
        <a><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;<span class="ng-scope">Back</span></a>
      </button> -->
      <button class="btn pull-right btn-xs bgportalbk" ng-click="backToList()" uib-tooltip="Back" tooltip-placement="bottom">
        <i class="fa fa-chevron-circle-left"></i>
    </button>
    <div class="col-sm-6">
    </div>
</div>
<div id="opbillingcontrol">
    <div class="row">
        <div class="col-sm-12">
            <form id="item_form" name="item_form" class="form-horizontal" role="form">
                <div class="filter-area row">
                    <div class="col-sm-12 clearfix dsprofile">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-6 col-lg-4 control-label" for="dischargetype" translate="patientportal.dischargesummaryform.dischargetype.lbl"></label>
                                <div class="col-sm-6 col-md-6 col-lg-8">
                                    <label class="lefcol1"> {{item.DischargeTypeId}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-6 col-lg-4 control-label" for="doctorname" translate="patientportal.dischargesummaryform.doctorname.lbl"></label>
                                <div class="col-sm-6 col-md-6 col-lg-8">
                                    <label class="lefcol5"> {{item.DoctorId}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-6 col-lg-4 control-label" for="department" translate="patientportal.dischargesummaryform.department.lbl"></label>
                                <div class="col-sm-6 col-md-6 col-lg-8">
                                    <label class="lefcol2">{{item.DepartmentId}}</label>
                                </div>
                            </div>
                        </div>
                    <!-- </div>
                    <div class="col-sm-12"> -->
                        <div class="col-sm-6 col-md-4 col-lg-4 dnone">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-6 col-lg-4 control-label" translate="patientportal.dischargesummaryform.doa.lbl"></label>
                                <div class="col-sm-6 col-md-6 col-lg-8">
                                    <displaydate class="lefcol3" datetime-val='item.AdmissionDate'></displaydate>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 calignn" >
                            <div class="form-group">
                                <label class="col-sm-6 col-md-6 col-lg-4 control-label" translate="patientportal.dischargesummaryform.dod.lbl"></label>
                                <div class="col-sm-6 col-md-6 col-lg-8">
                                    <displaydate class="lefcol3" datetime-val='item.DischargeDate'></displaydate>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-6 col-lg-4 control-label" translate="patientportal.dischargesummaryform.dos.lbl"></label>
                                <div class="col-sm-6 col-md-6 col-lg-8">
                                    <displaydate class="lefcol3" datetime-val='item.DischargeDate'></displaydate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body form-panel bg-pattern">
                    <div class="col-sm-12">
                        <!-- leftpanel -->
                        <p ng-bind-html="item.DataTemplate"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="fooder-bgs">
    <div class="col-sm-12">
        <div class="pull-left">
            <button type="button" class="btn pyr-color10 btn-md" ng-click="backToList()"><i class="fa fa-angle-left" aria-hidden="true" ></i>&nbsp;&nbsp;<span class="btn-fontsize"  translate="common.backaction.lbl"></span></button>
        </div>
        <div class="pull-right ">
            <button type="button"  class="draftbutton" ng-click="print()"  translate="common.printaction.lbl"></button>
        </div>
    </div>
</div>
</div>