<html>
<style>
    .regform ,span {
	float: left;
}
.text-center{margin:0px auto;float:none;border-bottom:1px solid #000;}
.checkbox{    border-radius: 20%;
    width: 10%;
    height: 18px;
    border: 1px solid;
   }
  .regform div{float: left;
  padding-top:30px;font-size:15px;}
{{include '/Templates/champion/assets/css/core.css'}}
    </style>
<div id="pageHeader">
    {{{include '/Templates/champion/common/header.tpl.html' 'tpl'}}}
</div>
    <div class="regform" style="width:100%;">

        <!-- <div style="width:100%;">
            <h4 class="text-center">REQUEST FORM {{data.Encounter.AdmissionDate}}</h4>
		</div> -->
		<div class="text-center" style="width:100%">
            <div style="width:70%;text-align:right;font-weight:bold;font-size:20px;">
				REQUEST FORM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
            <div style="width:30%">Date : {{datetimeformat data.Encounter.AdmissionDate}}</div>
        </div>
        <div style="width:100%;padding-top:0px;">
            <div style="width:15%;font-weight:bold;padding-top:10px;">Name</div>
            <div style="width:40%;padding-top:10px;" class="patinfo">:{{data.Patient.Title.Description}} {{data.Patient.FirstName}}
                {{data.Patient.MiddleName}} {{data.Patient.LastName}}</div>
            <div style="width:15%;font-weight:bold;padding-top:10px;">UHID</div>
            <div class="patinfo" style="width:10%;padding-top:10px;">:{{data.Patient.MRN}}</div>
            <!-- <span style="width:3%">Age/Sex</span>
                            <span class="patinfo" style="width:35%">:{{age data.Patient.DOB}}/{{data.Patient.Gender.Description}}</span>
                            <span style="width:5%">Consultant</span>
                            <span class="patinfo" style="width:20%">:{{data.Encounter.DoctorName}}</span> -->
        </div>
        <div style="width:100%">
            <div style="width:15%;font-weight:bold;">Age/Sex</div>
            <div class="patinfo" style="width:40%">:{{age data.Patient.DOB}}/{{data.Patient.Gender.Description}}</div>
            <div style="width:15%;font-weight:bold;">Consultant</div>
            <div class="patinfo" style="width:30%">:{{data.Encounter.DoctorName}}</div>
        </div>
	 <div style="width:100%">
		<table style="width:100%">
			<tr>
				<td style="width:25%;font-weight:bold;">Consultation :</td>
				<td style="width:25%;font-weight:bold;">New <input class="checkbox" type="radiobox" name="name"></td>
				<td style="width:25%;font-weight:bold;">Review  <input class="checkbox" type="radiobox" name="name"></td>
				<td style="width:25%;font-weight:bold;">X-Ray :</td>
			</tr>
				<tr>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
			 </tr>

			<tr>
				<td style="width:25%;font-weight:bold;">Procedure  :</td>
				<td style="width:25%;font-weight:bold;"></td>
				<td style="width:25%;font-weight:bold;">  </td>
				<td style="width:25%;font-weight:bold;"></td>
			</tr>
                        <tr>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
			 </tr>
			 <tr>
				<td style="width:25%;font-weight:bold;">FM & Consultation  :</td>
				<td style="width:10%;font-weight:bold;"></td>
				<td style="width:10%;font-weight:bold;">  </td>
				<td style="width:55%;font-weight:bold;">Blood Test : </td>
			 </tr>
 <tr>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
			 </tr>

			<tr>
				<td style="width:25%;font-weight:bold;">FM  :</td>
				<td style="width:25%;font-weight:bold;"></td>
				<td style="width:25%;font-weight:bold;">  </td>
				<td style="width:25%;font-weight:bold;">Dressing  :</td>
			</tr>
 <tr>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
			 </tr>

			<tr>
				<td style="width:25%;font-weight:bold;">USG  :</td>
				<td style="width:25%;font-weight:bold;"></td>
				<td style="width:25%;font-weight:bold;">  </td>
				<td style="width:25%;font-weight:bold;">Injections  :</td>
			</tr>
 			<tr>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
			 </tr>

				<tr>
				<td style="width:25%;font-weight:bold;">Pelvic Examination  :</td>
				<td style="width:25%;font-weight:bold;"></td>
				<td style="width:25%;font-weight:bold;">  </td>
				<td style="width:25%;font-weight:bold;"></td>
			</tr>
			<tr>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
				<td style="width:25%;font-weight:bold;"> &nbsp; </td>
				<td style="width:25%;font-weight:bold;">&nbsp;</td>
			 </tr>
		</table>
		<table style="width:100%">
				<tr>
					<td style="width:25%;font-weight:bold;"></td>
					<td style="width:25%;font-weight:bold;"></td>
					<td style="width:35%;font-weight:bold;"> </td>
					<td style="width:15%;font-weight:bold;">Doctor Sign</td>
				</tr>
		</table>
	</div>



</html>
