<style>
    #setheight .formRoot {
        height: 506px
    }
    
    #setheight .well {
        min-height: 464px !important;
    }
    
    .durationtxt {
        width: 50px !important;
        float: left;
        margin-right: 5px;
    }
    
    .ui-select-grid {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    element.style {
        height: 419px !important;
    }
    
    .header-panel {
        margin-bottom: 5px !important;
    }
    
    .header-second-row {
        margin-bottom: -7px !important;
    }
    
    #fullregistrationheight2 .formRoot {
        height: 485px;
        overflow: auto;
    }
    
    #fullregistrationheight2 .well {
        min-height: 423px;
    }
    
    .panel-footer {
        background-color: #ccecf5 !important;
    }
    
    .header-panel-body {
        padding: 3px !important;
        background-color: #e3ecef;
    }
    
    .bg-subhead {
        background-color: #597a9a;
        color: #fff;
        font-size: 14px;
        width: 100%;
    }
    
    .profile-header {
        height: 29px;
    }
    
    .mt0 {
        font-size: 15px;
        margin-top: 5px !important;
    }
    
    .footerbar .well {
        padding: 4px !important;
    }
    
    .field-height {
        height: 20px;
    }
    
    .countbg {
        padding: 0 55px !important;
    }
    
    .inputheightctrl {
        height: 19px !important;
        margin-top: 6px;
    }
    
    .page-header h4 {
        padding-top: 2px;
        padding-left: 9px;
    }

    .padding-top1 {
        padding-top: 2px;
    }
    
    .filter-area {
        margin: 3px 11px 3px!important;
    }
</style>
<div id="purchaserequest">
    <link href="app/css/billing-pharmacy-customs.css" rel="stylesheet">
    <!--
    <div class="row page-header">
        <h4 class="col-sm-2 page-header" translate="billing.stockdispense.pagetitle.lbl"></h4>
        <div class="col-sm-10 padding-top1 ">
            <div class="page-calendar1 col-sm-8">
                <div class="col-sm-4">
                    <div class="event-name b-greensea">
                        <span class="forpadd" uib-tooltip="  {{item.isDisabled ? (item.DispenseDateTime &nbsp;|&nbsp; date : 'dd-MMM-yyyy HH:MM a') : ''}}" tooltip-placement="bottom"> 
                      <span translate="billing.stockdispense.dispensedatetime.lbl" ></span> : <span>     {{item.isDisabled ? (item.DispenseDateTime &nbsp;|&nbsp; date : 'dd-MMM-yyyy HH:MM a') : ''}}
                     </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="event-name b-greensea  ">
                        <span class="forpadd" uib-tooltip="  {{item.isDisabled ? item.DispenseNumber : ''}} " tooltip-placement="bottom"> 
                      <span translate="billing.stockdispense.dispensenumber.lbl"></span>:<span>    {{item.isDisabled ? item.DispenseNumber : ''}}  
                   </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="event-name b-greensea  ">
                        <span class="forpadd" uib-tooltip=" {{item.DisplayDispenseStatus}} " tooltip-placement="bottom"> 
                      <span translate="billing.stockdispense.dispensestatus.lbl"></span>:<span>   {{item.DisplayDispenseStatus}} </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <div class="row page-header">
        <h4 class="col-sm-2 mt0" translate="billing.stockdispense.pagetitle.lbl"></h4>
        <div class="col-sm-4 page-calendar ">
            <div class="event-name b-greensea" ng-module="currentcontext.patinfo" ng-if="selectedPatient.MRN.length > 0">
                <span class="forpadd" uib-tooltip="{{ selectedPatient.Title.Description }} {{selectedPatient.FirstName}} | {{selectedPatient.MRN}} | {{selectedPatient.Gender.Description}} | {{selectedPatient.Age}} Years | {{selectedPatient.DOB | date : 'dd/MMM/yyyy' }}"
                    tooltip-placement="bottom"><span>{{selectedPatient.Title.Description}} {{selectedPatient.FirstName}}
                <span ng-click="patientprofiledetails()"><i class="icon-info-sign"></i></span> | {{selectedPatient.MRN}} | {{selectedPatient.Gender.Description}} | {{selectedPatient.Age}} Years </span>
                </span>
            </div>
        </div>
        <div class="col-sm-6 padding-top1 ">
            <div class="page-calendar1 col-sm-8">
                <div class="col-sm-4">
                    <div class="event-name b-greensea  ">
                        <span class="forpadd" uib-tooltip="{{item.DispenseNumber}}" tooltip-placement="bottom"> 
                      <span translate="billing.stockdispense.dispensenumber.lbl" ></span> : <span>{{item.DispenseNumber}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="event-name b-greensea ">
                        <span class="forpadd" uib-tooltip="{{item.DispenseDateTime | date : 'dd-MMM-yyyy'}}&nbsp;{{item.DispenseDateTime | date : 'HH:mm' }}" tooltip-placement="right"> 
                          <span>Date</span> : <span>{{item.DispenseDateTime | date : 'dd-MMM-yyyy'}}&nbsp;{{item.DispenseDateTime | date : 'HH:mm' }}</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="event-name b-greensea  ">
                        <span class="forpadd"> 
                      <span translate="billing.stockdispense.encounterno.lbl"></span>:<span>{{encounter.VisitIdentifier}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-12">
            <form id="item_form" name="item_form" class="form-horizontal" role="form">
                <div class="filter-area row">
                    <!-- first row -->
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="facility" translate="billing.stockdispense.facility.lbl"></label>
                                <div class="col-sm-7">
                                    <ui-select ng-model="item.FacilityId" name="facility" ng-disabled="item.ReadOnly" required>
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="mystore" translate="billing.stockdispense.mystore.lbl"></label>
                                <div class="col-sm-7">
                                    <ui-select ng-model="item.StoreMasterId" ng-change="getStoreItems()" name="mystore" class="filter-combo" ng-disabled="item.ReadOnly" required>
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.UserStores | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="patientrequestnumber" translate="billing.stockdispense.requestno.lbl"></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="patientrequestnumber" ng-model="item.PatientRequestNumber" placeholder="" id="disabledInput" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- second row -->
                    <!--
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="tofacility" translate="billing.stocktransfer.tofacility.lbl"></label>
                                <div class="col-sm-7">
                                    <ui-select ng-model="item.ToFacilityId" name="tofacility" ng-disabled="item.ReadOnly" required>
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ToFacility | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="tostore" translate="billing.purchaserequest.tostore.lbl"></label>
                                <div class="col-sm-7">
                                    <ui-select ng-model="item.ToStoreMasterId" name="tostore" ng-disabled="item.ReadOnly" required>
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.ToStore | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="transfertype" translate="billing.stocktransfer.transfertype.lbl"></label>
                                <div class="col-sm-7">
                                    <ui-select ng-model="item.TransferTypeId" name="transfertype" ng-disabled="item.ReadOnly" required>
                                        <ui-select-match>
                                            {{$select.selected.Text | limitTo : 20 : 0}}
                                            <span ng-if="$select.selected.Text.length>20">...</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="lookupitem.Id as lookupitem in lookup.TransferType | filter: { Text: $select.search }">
                                            <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <div class=" table-control  bg-pattern">
                    <div class="table-height formRoot" id="mainresponsivetablecontrol">
                        <!-- grid area starts -->
                        <table class="table table-hover table-responsive table-bordered">
                            <thead class="bg-subhead">
                                <tr>
                                    <th class="fs-12 col-sm-2"><span translate="billing.stockdispense.itemname.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.manufacturer.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.totalqty.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.batchqty.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.reqqty.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.disqty.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.qty.lbl"></span></th>
                                    <th class="fs-12 col-sm-1"><span translate="billing.stockdispense.batch.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.expirydate.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.mrp.lbl"></span></th>
                                    <th class="fs-12 "><span translate="billing.stockdispense.amount.lbl"></span></th>
                                    <th class="fs-12 col-sm-1"><span translate="billing.stockdispense.action.lbl"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="patientdispense in PatientDispenseDetails | filter:{Status:1}">
                                    <td class="fs-12">
                                        <span> {{patientdispense.ItemName }}</span>
                                    </td>
                                    <td class="fs-12">
                                        <span> {{patientdispense.ManufacturerName }}</span>
                                    </td>
                                    <td class="fs-12">
                                        <span> {{patientdispense.TotalAvailableQuantity }}</span>
                                    </td>
                                    <td class="fs-12">
                                        <span> {{patientdispense.QuantityBeforeTransfer }}</span>
                                    </td>
                                    <td class="fs-12">
                                        <span> {{patientdispense.RequestedQuantity }}</span>
                                    </td>
                                    <td class="fs-12">
                                        <span> {{patientdispense.ServedQuantity }}</span>
                                    </td>
                                    <td class="fs-12">
                                        <input type="number" min="0" class="form-control" ng-model="patientdispense.DispensedQuantity" placeholder="" ng-disabled="item.isDisabled" ng-change="computeAmount(patientdispense)">
                                    </td>
                                    <td class="fs-12">
                                        <ui-select ng-model="patientdispense.BatchId" on-select="onBatchSelected(patientdispense, $select.selected, $index)" name="screen" class="ui-select-grid" ng-disabled="item.isDisabled">
                                            <ui-select-match>
                                                {{$select.selected.BatchId | limitTo : 20 : 0}}
                                                <span ng-if="$select.selected.BatchId.length>20">...</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="lookupitem.BatchId as lookupitem in patientdispense.BatchDetails | filter: { BatchId: $select.search }">
                                                <div ng-bind-html="lookupitem.SerialDetails | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td class="fs-12">
                                        {{patientdispense.ExpiryDate &nbsp;|&nbsp; date : 'dd-MMM-yyyy'}}
                                    </td>
                                    <td class="fs-12 currency-align">
                                        <span>{{(patientdispense.MrPrice | displaycurrency)}}</span>
                                    </td>
                                    <td class="fs-12 currency-align">
                                        <span>{{(patientdispense.NetAmount | displaycurrency)}}</span>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-info btn-xs" tabindex="-1" uib-tooltip="Alternates" tooltip-placement="top" ng-click="alternateDetails($index,patientdispense)" ng-disabled="item.isDisabled"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>
                                        <button type="button" class="text-white btn dem-color4 btn-xs " tabindex="-1" uib-tooltip="Stock" tooltip-placement="top" ng-click="Stock($index,patientdispense)"><i class="fa fa-database fa-xs" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-danger btn-xs" tabindex="-1" uib-tooltip="Delete" tooltip-placement="top" ng-click="deletePatientDispenseDetail($index,patientdispense)" ng-disabled="item.isDisabled"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- grid area ends -->
                    </div>
                </div>

                <div class=" col-sm-12 footerbar" style="margin-top: -35px;padding: 0px">
                    <div class="col-sm-12 well">
                        <div class="col-sm-9"></div>


                        <div class="col-sm-3">
                            <span class="col-sm-4 control-label" for="comments" translate="billing.stockdispense.total.lbl"></span>
                            <div class="col-sm-8">
                                <input type="text" value="{{item.NetAmount}}" class="inputbox form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 fooder-bg">
                    <div class="pull-left">
                        <button type="button" class="btn pyr-color10 btn-sm" tabindex="-1" ng-click="backToList()"><i class="fa fa-angle-left" aria-hidden="true"></i><span class="btn-fontsize"> &nbsp; Back</span></button>
                        <button type="button" class="draftbutton" tabindex="-1" uib-tooltip="Attachments" tooltip-placement="top" ng-click="openAttachments()"><i class="fa fa-paperclip fa-xs" aria-hidden="true">&nbsp;&nbsp;(0)</i></button>
                        <button type="button" class="btn btn-info texthover btn-sm ng-scope" tabindex="-1" uib-tooltip="History" tooltip-placement="top" ng-click="history()"><i class="fa fa-history fa-xs" aria-hidden="true"></i></button>
                    </div>
                    <div class="pull-right">
                        <button type="button"   tabindex="-1"  class="draftbutton" ng-show="canShowPrintBtn" translate="common.printaction.lbl" ng-click="print()"></button>
                        <!--<button type="button"   class="draftbutton" ng-show="canShowSaveBtn" translate="common.saveaction.lbl" ng-click="SaveandDraft()"></button>-->
                        <button type="submit" class="draftbutton" ng-show="canShowSaveandApproveBtn" translate="common.saveapprove-action.lbl" ng-click="SaveandApprove()"></button>
                        <!--<button type="button"   class="btn btn-info btn-sm" ng-show="canShowAuthorizeBtn" translate="common.authorize.lbl" ng-click="SaveandAuthorize() "></button>-->
                        <button type="button" id="btnClearForm" class="btn btn-warning btn-sm" ng-show="canShowClearBtn" translate="common.clearaction.lbl" ng-click="Clear()"></button>
                        <!--<button type="button" id="btnCancelForm" class="draftbutton" ng-show="canShowCancelBtn" translate="common.cancelaction.lbl" ng-click="Cancel()"></button>-->
                        <button type="button" id="btnLockForm" class="draftbutton" ng-show="canShowLockTitle" translate="billing.stockdispense.lockmsg.lbl"></button>
                        <button type="button" id="btnDischargeForm" class="draftbutton" ng-show="canShowDischargeTitle" translate="billing.stockdispense.dischargemsg.lbl"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>