<!-- <link href="app/css/regbilling.css" rel="stylesheet"> -->
<div class="row page-header">
    <h4 class="col-sm-6 mt0" translate="clinicalmaster.panelmaster-list.pagetitle1.lbl"></h4>
    <div class="col-sm-6">
        <div class="filters">
            <div class="search">
                <input type="text" id="pid" class="form-control" name="filter_name" on-enter="getList()"
                    ng-model="currentfilter.Name" translate
                    translate-attr-placeholder="clinicalmaster.panelmaster-list.filter_name.lbl"> <i
                    class="fas fa-search" aria-hidden="true"></i>
            </div>
            <button type="button" tabindex="-1" class="btn-add" ng-click="addNew()"
                uib-tooltip="{{ 'clinicalmaster.panelmaster-list.addnew-tooltip.lbl' | translate }}"
                tooltip-placement="bottom">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <!-- <span translate="clinicalmaster.serviceitem-list.addnew.lbl " class="text-white"></span> -->
            </button>
            <span class="drhms-billing-btn drhms-home-btn"><i class="fas fa-home" ng-click="backtoList()"
                    uib-tooltip="Dashboard" tooltip-placement="bottom"></i></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="col-sm-4" translate="clinicalmaster.panelmaster-list.filter_paneltype.lbl"></label>
        <div class="col-sm-8">
            <ui-select ng-model="currentfilter.TemplateTypeId" ng-change="getList()" class="filter-combo">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 20 : 0}}
                    <span ng-if="$select.selected.Text.length>20">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.TemplateType | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-4">
        <label class="col-sm-4" translate="clinicalmaster.favoritemaster-form.accessibletype.lbl"></label>
        <div class="col-sm-8">
            <ui-select ng-model="currentfilter.AccessibleTypeId" ng-change="getList()" class="filter-combo">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 8 : 0}}
                    <span ng-if="$select.selected.Text.length>8">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.AccessibleType | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-4">
        <label class="col-sm-4" translate="clinicalmaster.panelmaster-list.filter_status.lbl"></label>
        <div class="col-sm-8">
            <ui-select ng-model="currentfilter.ActiveStatusId" ng-change="getList()" class="filter-combo">
                <ui-select-match>
                    {{$select.selected.Text | limitTo : 8 : 0}}
                    <span ng-if="$select.selected.Text.length>8">...</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="lookupitem.Id as lookupitem in lookup.ActiveStatus | filter: { Text: $select.search }">
                    <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <custom-table config="vm.gridConfig"></custom-table>
</div>
<div class="fooder-bgs">
    <div class="row">
        <ul uib-pagination total-items="vm.gridConfig.pagerObj.totalItems"
            items-per-page="vm.gridConfig.pagerObj.pageSize" start-index="vm.gridConfig.pagerObj.startIndex"
            ng-model="vm.gridConfig.pagerObj.currentPage" ng-change="getList()"></ul>
    </div>
</div>