<div class="row filter-area">
    <div class="col-sm-12 margin-top">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
           <button class="btn-add" ng-click="addNew()" uib-tooltip="{{ 'inventory.storemaster.pnlstoremaster.lbl' | translate }}"
                tooltip-placement="bottom"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <!--<button class="btn bt-color3 btn-xs pull-right btn-filter" ng-click="addNew()" uib-tooltip="{{ 'inventory.storeapprovalmatrix.filter-tooltip.lbl' | translate }}"
                    tooltip-placement="left"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Filter</button>-->
        </div>
    </div>
</div>
<custom-table config="vm.gridConfig"></custom-table>	 
<div class="container-fluid" id="patientsearchheight">
    <!-- <div ui-grid="vm.gridConfig" class="table-uigrid height-control"></div> -->
</div>