<!-- <style>
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
</style> -->
<div class="modal-header custom-modal-header">
    <div class="col-sm-10">
        <h4 class="modal-title custom-modal-title" translate="inventory.storeracks.pagetitle.lbl"></h4>
    </div>
    <div class="col-sm-2">
        <div class="filters">
            <img src="../../../../../assets/svg/close.svg" ng-click="cancelCallback()">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <form id="item_form" name="item_form" class="form-horizontal" role="form">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="col-sm-12 control-label" for="facility"
                        translate="inventory.storeracks.facility.lbl"></label>
                    <div class="col-sm-12">
                        <ui-select ng-model="item.FacilityId" name="facility" ng-disabled="true">
                            <ui-select-match>
                                {{$select.selected.Text | limitTo : 20 : 0}}
                                <span ng-if="$select.selected.Text.length>20">...</span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="lookupitem.Id as lookupitem in lookup.Facility | filter: { Text: $select.search }">
                                <div ng-bind-html="lookupitem.Text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-12  control-label text-right filter-lbl" for="storecode"
                        translate="inventory.storeracks.storecode.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="item.StoreCode" translate
                            translate-attr-placeholder="inventory.storeracks.storecode.lbl" disabled>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-12 control-label" for="storename"
                        translate="inventory.storeracks.storename.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="item.StoreName" translate
                            translate-attr-placeholder="inventory.storeracks.storename.lbl" disabled>
                    </div>
                </div>
 
                <div class="form-group col-sm-6">
                    <label class="col-sm-12  control-label text-right filter-lbl" for="rackid"
                        translate="inventory.storeracks.rackid.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="item.RackId" translate
                            translate-attr-placeholder="inventory.storeracks.rackid.lbl">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-12  control-label text-right filter-lbl" for="rackcode"
                        translate="inventory.storeracks.rackcode.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="item.RackCode" translate
                            translate-attr-placeholder="inventory.storeracks.rackcode.lbl">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-12 control-label" for="rackname"
                        translate="inventory.storeracks.rackname.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="rackname" ng-model="item.RackName"
                            translate translate-attr-placeholder="inventory.storeracks.rackname.lbl"
                            required>
                    </div>
                </div>
            
                <div class="form-group col-sm-6">
                    <label class="col-sm-12 control-label" for="rackdescription"
                        translate="inventory.storeracks.rackdescription.lbl"></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="item.RackDescription" translate
                            translate-attr-placeholder="inventory.storeracks.rackdescription.lbl">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-12 control-label" for="isactive"
                        translate="clinicalmaster.allergy-form.isactive.lbl"></label>
                    <div class="col-sm-12">
                        <input type="checkbox" name="isactive" class="custom-checkbox"
                            ng-model="item.IsActive">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="pull-right">
                    <button type="button" id="btnsavesubmit" class="draftbutton"
                        translate="common.saveaction.lbl" ng-click="save()"></button>
                    <button type="button" id="btnsaveandapprovesubmit" class="draftbutton"
                        translate="common.saveapprove-action.lbl" ng-click="SaveandApprove()"></button>
                    <!-- <button type="button" id="btncancelsubmit" class="draftbutton" translate="common.cancelaction.lbl" ng-click="backToList()"></button> -->
                </div>
            </div>
        </form>
    </div>
</div>